---
layout: book_chapter
title: Chapter 6. How to get your next promotion
tagline: Learn more about getting promoted at work
excerpt: Key concepts to help you plan and request your next promotion at work.
last_modified_at: 2016-06-24
share_title: Learn more about getting promoted at work
chapter_number: 6
section: 11
---
{% assign excerpt_list = site.book_excerpts | where:"chapter", "promotion" %}
{% assign excerpt_list = excerpt_list | sort:"section" %}
			
{% for book_excerpt in excerpt_list %}
<h2 class="excerpt-header">{{ book_excerpt.title }}</h2>
<div class="oc-excerpt">
	<p>{% if book_excerpt.description %}{{ book_excerpt.description }}{% else %}{{ book_excerpt.excerpt }}{% endif %} <a href="{{ book_excerpt.url | prepend: site.baseurl }}">Read More</a></p>
</div>
{% endfor %}
