.checkbox-list__item__unchecked {
  line-height: 1.5em;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.checkbox-list__item__unchecked:before {
  display: block;
  height: 1em;
  width: 1em;
  overflow: hidden;
  line-height: 1em;
  content: "\e600";
  position: absolute;
  top: .25em;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  border-radius: 100%;
	border: 1px solid #666666;
	background-color: #EEEEEE;
  padding: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.button--book {
  border: 1px solid #00FF6F;
  background: -webkit-linear-gradient( top , #00FF6F, #00CA58);
  background: linear-gradient(to bottom, #00FF6F, #00CA58);
}

.button--book:active {
  background: -webkit-linear-gradient( bottom , #008038, #00CA58);
  background: linear-gradient(to top, #008038, #00CA58);
}

/* Bootstrap tooltip stuff */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* Script generator inputs */
.script-fields__left {
  margin-bottom: 2em;
}

@media only screen and (min-width: 650px) {
  .script-fields__left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .script-fields__left:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 650px) {
  .script-fields__right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .script-fields__right:last-child {
    margin-right: 0;
  }
}

/* Styling the displayed counteroffer for the salary negotiation script page */
.counteroffer {
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	color: red;
}

/**
 * Book Blurb
 */
.book-blurb {
  padding-top: 2em;
}

@media only screen and (min-width: 650px) {
  .book-blurb {
    padding-top: 2em;
  }
  .levels-wp .book-blurb {
    padding-top: 0;
    padding-bottom: 2em;
  }
}

.book-blurb:before {
  content: '';
  width: 100%;
  height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient( left , #00A9FF, #0077b3);
  background: linear-gradient(to right, #00A9FF, #0077b3);
}

.book-blurb--centered {
  text-align: center;
}

.book-blurb__title {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
  line-height: 1.0;
  color: #00A9FF;
  margin: 0;
  text-decoration: none;
}

@media only screen and (min-width: 650px) {
  .book-blurb__title {
    font-size: 2.5em;
  }
}

.book-blurb__title a {
  color: #00A9FF;
  text-decoration: none;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.book-blurb__title a:hover {
  color: #0087cc;
}

.book-blurb__sub-title {
  font-style: italic;
  font-size: 1.4em;
  color: #999;
  margin: .25em 0 .25em 0;
}

@media only screen and (min-width: 650px) {
  .book-blurb__sub-title {
    font-size: 1.4em;
  }
}

/* To hide things on small devices */
@media only screen and (max-width: 1023px) {
	.hidden-xs {
		display: none;
	}
}

.article-header {
	padding-top: 2em;
}

/* Bio box separated a bit from wahtever is above it */
.author__container {
	margin-top: 1em;
}