/* Making long-form more readable */
body {
  font-family: 'Helvetica', sans-serif;
}

.checkbox-list__item__unchecked {
  line-height: 1.5em;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.checkbox-list__item__unchecked:before {
  display: block;
  height: 1em;
  width: 1em;
  overflow: hidden;
  line-height: 1em;
  content: "\e600";
  position: absolute;
  top: .25em;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  border-radius: 100%;
	border: 1px solid #666666;
	background-color: #EEEEEE;
  padding: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.button--book {
  border: 1px solid #00FF6F;
  background: -webkit-linear-gradient( top , #00FF6F, #00CA58);
  background: linear-gradient(to bottom, #00FF6F, #00CA58);
}

.button--book:active {
  background: -webkit-linear-gradient( bottom , #008038, #00CA58);
  background: linear-gradient(to top, #008038, #00CA58);
}

/* Bootstrap tooltip stuff */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

/* Script generator inputs */
.script-fields__left {
  margin-bottom: 2em;
}

.script-form {
	background-color: #EEE;
	padding: 20px 10px 10px 10px;
}

@media only screen and (max-width: 320px) {
	.script-form {
		padding: 20px 0px 10px 0px;
	}
}

@media only screen and (min-width: 650px) {
  .script-fields__left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .script-fields__left:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 650px) {
  .script-fields__right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .script-fields__right:last-child {
    margin-right: 0;
  }
}

/* Styling the displayed counteroffer for the salary negotiation script page */
.counteroffer {
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	color: red;
}

.counteroffer-reminder {
	text-align: center;
	font-weight: bold;
	color: red;
}
/**
 * Book Blurb
 */
.book-blurb {
  padding-top: 2em;
  background: #000a0f url(../../images/topo-map-bg-2.png);
  background-size: 1000px 1000px;
	color: #fff;
  box-shadow: 0 0 0 1px rgba(151, 151, 151, 0.2);
  margin-left: 0;
}

.book-blurb p {
  color: #fff;
	font-weight: 400;
}

@media only screen and (min-width: 650px) {
  .book-blurb {
    padding: 1.5em 0 0 0;
    margin: 1em 0;
  }
  .levels-wp .book-blurb {
    padding-top: 0;
    padding-bottom: 2em;
  }
}

.book-blurb:before {
  content: '';
  width: 100%;
  height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient( left , #00A9FF, #0077b3);
  background: linear-gradient(to right, #00A9FF, #0077b3);
}

.book-blurb--centered {
  text-align: center;
}

.book-blurb__title {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  /*font-style: italic;*/
  font-size: 2.5em;
  line-height: 1.0;
  color: #00A9FF;
  margin: 0;
  text-decoration: none;
}

@media only screen and (min-width: 650px) {
  .book-blurb__title {
    font-size: 2.5em;
  }
}

.book-blurb__title a {
  color: #00A9FF;
  text-decoration: none;
  -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.book-blurb__title a:hover {
  color: #0087cc;
}

.book-blurb__sub-title {
  /*font-style: italic;*/
  font-size: 1.3em;
  color: #999;
  margin: .25em 0 .25em 0;
}

.book-blurb__author-name {
  font-size: 1em;
}

@media only screen and (max-width: 320px) {
	.hidden-xs {
		display: none;
	}
}

@media only screen and (max-width: 649px) {
	.hidden-sm {
		display: none;
	}
}

@media only screen and (min-width: 650px) {
  .book-blurb__sub-title {
    font-size: 1.3em;
  }
	.hidden-sm-up {
		display: none;
	}
}

/* To hide things on small devices */
@media only screen and (max-width: 1023px) {
	.hidden-md {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.hidden-md-up {
		display: none;
	}
}

.article-header {
	padding-top: 2em;
}

/* Bio box separated a bit from wahtever is above it */
.author__container {
	margin-top: 1em;
}

.header__title {
  color: #F37021;
}

/* Question lists */
.question-list {
  list-style: none;
  padding: 0 0 0 15px;
  overflow: auto;
  box-sizing: content-box;
}

.question-list__item {
  line-height: 1.5em;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: .5em;
}

.question-list__item:before {
  display: block;
	text-align: center;
  height: 1em;
  width: 1em;
  overflow: hidden;
  line-height: 1em;
  font-family: FontAwesome;
  content: "\f128";
  position: absolute;
  top: .25em;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  border-radius: 100%;
  padding: 4px;
  margin-right: 10px;
  font-size: 14px;
  background: -webkit-linear-gradient( top , #00A9FF, #0077b3);
  background: linear-gradient(to bottom, #00A9FF, #0077b3);
}

/* Fixing Levels bug */

.package__feature-details {
	z-index: 1;
}

.package__button {
  max-width: 450px;
}

h2 {
  font-weight: bold;
	font-size: 200%;
	line-height: 1;
}

h2.excerpt-header {
	margin-bottom: 0;
}

p.book-excerpt-footer {
	margin-bottom: 10px;
}

.individual {
	min-height: 50vh;
}

.divider {
	min-height: 30vh;
	margin-bottom: 20px;
}

/* Page footer columns */

@media only screen and (min-width: 650px) {
  .footer__col--normal {
    float: left;
    display: block;
    margin-right: 10%;
    width: 45%;
  }
  .footer__col--normal:last-child {
    margin-right: 0;
  }
}

.footer__col--last {
  margin-right: 0;
}

/* share buttons */

ul.share-buttons {
	float: left;
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons img {
  width: 32px;
}

i {
  display: inline-block;
	text-decoration: none;
  padding-right: .35em;
}

li a {
  color: #00A9FF !important;
  text-decoration: underline;
}

/* Ad box for HTML book */
.ad-box {
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	background-color: #EEEEEE;
	border-radius: 10px;
	border: 1px solid #888;
}

.ad-box p.more-info {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.ad-box p:last-child {
	margin-bottom: 0px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* chapter nav box */
/**
 * Callout Box
 */
.chapter-nav-box {
  background: #777;
	color: white;
  margin-bottom: 20px;
	display: flex;
}

.chapter-nav-box p {
	margin-bottom: 0;
}

.chapter-nav-box a, .chapter-nav-box a:hover, .chapter-nav-box a:active {
	text-decoration: none;
	color: white;
	font-weight: 800;
}

.chapter-nav-box__content-left {
	flex: 1;
	padding: 10px 20px;
}

.chapter-nav-box__content-right {
	flex: 1;
	padding: 10px 20px;
	text-align: right;
	border-left: 1px solid white;
}

.chapter-nav-box__content-right i {
	padding-right: 0;
}

.cnapter-nav-box--spaced {
  margin: 4em 0 2em 0;
}

/* coaching options boxes */
.coaching-nav-box {
	color: white;
  margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.coaching-nav-box p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 2em;
  line-height: 1.0;
}

.coaching-nav-box a, .coaching-nav-box a:hover, .coaching-nav-box a:active {
	text-decoration: none;
	color: white;
  display:block;
	height: 100%;
  width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
}

@media only screen and (min-width: 650px) {
	.coaching-nav-box p {
		font-size: 3em;
	}
}


.coaching-nav-box__content-left {
  background: #00A9FF;
	border: 1px solid #0088cc;
	flex: 1;
	margin-right: 5%;
	border-radius: 10px;
}

.coaching-nav-box__content-right {
  background: #00A9FF;
	border: 1px solid #0088cc;
	flex: 1;
	border-radius: 10px;
}

.coaching-nav-box__content-left:hover, .coaching-nav-box__content-right:hover {
  background-color: #00A9FF;
	border: 1px solid #006599;
}

.coaching-nav-box__content-left:active, .coaching-nav-box__content-right:active {
  background-color: #006599;
	border: 1px solid ;
}

h3.ck_form_title {
	line-height: 1;
}

/* blockquotes */

.quote__image {
	border-radius: 100%;
	width: 90px;
	height: 90px;
}

.quote__text {
  font-size: 1.7em;
  line-height: 1.2;
}

.u-left {
  text-align: left;
}

/* styling sample emails */

.sample-email {
	padding: 10px 15px 0px 15px;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 15px;
	background: #e6f7ff;
  /*font-style: normal;
  font-weight: 400;*/
}

/* Drip forms */

.drip_form {
  /* divider image */
	background-color: #EEEEEE;
	line-height: 1.5em;
	overflow: hidden;
	color: #666;
	font-size: 16px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 20px 0px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #888;
	width: 100%;
	padding: 0 4% 3% 4%;
}

.drip_form p {
	padding: 0px;
}

.drip_form h3 {
	color: #555;
  font-weight: bold;
	font-size: 200%;
	line-height: 1;
}

.drip_form label {
	display: none;
}

.drip_form, .drip_form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Form fields */

.drip_form input[type="text"], .drip_form input[type="email"] {
	font-size: 18px;
	padding: 10px 8px;
	width: 34%;
	border: 1px solid #d6d6d6; /* stroke */
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px; /* border radius */
  border: 1px solid #aaa;
	background-color: #fff; /* layer fill content */
	height: auto;
	float: left;
	margin: 0px;
	margin-right: 1%;
	margin-bottom: 5px;
	height: 42px;
}

.drip_form input[type] {
	margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888;
}

.drip_form input[type="text"]:focus, .drip_form input[type="email"]:focus {
	outline: none;
	border-color: #888;
}

.drip_form input[type="submit"] {
  width: 100%;
  color: #fff;
  padding:  9px 0px;
  font-size: 18px;
	font-weight: bold;
  background: #F37021;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  cursor: pointer;
  border: none;
  text-shadow: none;
  width: 30%;
  float: left;
  height: 42px;
}

.drip-tab .drip-content .drip-description ul, .drip-tab .drip-content .drip-description ol {
	font-size: inherit;
	margin: 8px 0px 8px 0px;
	padding-left: 30px;
}

@media all and (max-width: 403px) {	
	.drip_form input[type="submit"], .drip_form input[type="text"], .drip_form input[type="email"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}
}

@media all and (max-width: 599px) {
	.drip_form input[type="submit"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

	.drip_form input[type="text"], .drip_form input[type="email"] {
		width: 100%;
		margin-right: 0px;
	}
}

/* styling tables */
table {
    border-collapse: collapse;
    width: 100%;
		margin-bottom: 20px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
		font-weight: bold;
    text-align: center;
    background-color: #00A9FF;
    color: white;
}