.roadmap-table {
  display: flex;        /* Flex layout so items have equal height  */
  flex-direction: row;  /* Allow items to wrap into multiple lines */
	justify-content: space-around;
  margin: 0 auto;
	margin-bottom: 30px;
	padding: 0px 20px 0px 20px;
}

.roadmap-table .item { 
  display: flex;        /* Lay out each item using flex layout */
  flex-flow: column;    /* Lay out item’s contents vertically  */
	padding: 20px 20px;
	margin: 30px 0;
	border-radius: 10px;
  width: 20em;
	-webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.item__header {
	margin-bottom: 20px;
}

/* Styles not relevant to flexbox */

.roadmap-table .item {
	background: #e6f7ff;
}

.item__option {
	margin: 0;
	padding: .15em;
	width: 1.75em;
	height: 1.75em;
	margin-bottom: 10px;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	color: #00A9FF;
	background-color: #ccefff;
}

.item__header {
  text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.item__cta {
  display: flex;
  align-items: center;
  margin-top: auto;     /* Auto top margin pushes button to bottom */
	margin-bottom: 10px;
}

.item__cta span {
	margin: auto !important;
}

.item + .item {
    margin-left: 1em;
}

@media only screen and (max-width: 768px) {
	.roadmap-table {
	  display: flex;        /* Flex layout so items have equal height  */
	  flex-direction: column;  /* Allow items to wrap into multiple lines */
	  justify-content: center;
	  align-items: center;
	}
	
	.roadmap-table .item {
		margin: 10px 0; /* Allow items to wrap into multiple lines */
		max-width: 20em;
	}
}