p.resume-image img {
	box-shadow: 8px 8px 10px #aaa;
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin: 2em 0em;
}