---
layout: squeeze
title: Thanks for your interest in Get Your Next Raise!
tagline: Keep an eye on your inbox!
context: sales-page
metatags: noindex
sitemap: false
---
<div class="container container--normal">
<p>I'm hard at work on <em>Get Your Next Raise</em> and can't wait to tell you more about it! Keep an eye on your inbox for updates and a chance to share your input so <em>Get Your Next Raise</em> is useful for your specific situation!</p>

<h2 class='u-center'>Feedback from previous students...</h2>

{% include testimonials/john_li.html %}

{% include testimonials/thai_wood.html %}
</div>