---
layout: squeeze
title: Your next lesson is on the way!
metatags: noindex
sitemap: false
---
<div class="container container--normal">
	<p>Thanks for sharing! By better understanding who you are, I can better shape this course for you.</p>
	
	<h2 class='u-center'>In a hurry? I'll show you how to negotiate your salary in less than 90 minutes!</h2>
	<p>Your salary negotiation is important and there's a lot on the line. If your job offer is for $50,000, a 5% improvement is worth $2,500! And that's <em>before</em> negotiating non-salary benefits like vacation or a signing bonus.</p>
	
	<p>But you need to respond <em>now</em>—where do you start?</p>
	
	<p>My coaching clients use a step-by-step process to improve their job offers by an average of 8%. You can learn that same process in less than 90 minutes with <em>Fearless Salary Negotiation</em>.</p>
</div>
	
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Fearless Salary Negotiation</p>
		<p class="item__description">The Complete Bundle</p>
		<span class="image"><img src="/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li><strong>4 Valuable Worksheets</strong> to walk you through your negotiation</li>
			<li><strong>Over 20 Email templates</strong> with the exact words to say</li>
			<li><strong>Counter offer email video walkthrough</strong> showing you <em>exactly</em> how to compose <em>your</em> counter offer email</li>
			<li><strong>5 Video courses</strong> to show you valuable key concepts</li>
			<li><strong>PLUS:</strong> Case studies, expert interviews, and more</li>
    </ul>

		<div class="item__cta">
				<a href="/get-started/" class='guide-btn large' data-track-click="true" data-event-action="Click thanks-again/negotiate CTA" data-event-label="Get started">Get Instant Access →</a>
		</div>
  </section>
</div>

<div class="container container--widened">	
	<h2 class='u-center'>What people are saying...</h2>
	<div class="testimonial-series">
		{% include testimonials/allie.html short=true %}

		{% include testimonials/arthur.html short=true %}

		{% include testimonials/deborah.html short=true %}
	</div>
</div>

{% include featured_logos.html %}

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">