<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Get Your Next Raise</p>
		<p class="item__description">Finally ask for the raise that you deserve</p>
		<span class="image"><img src="/images/GetYourNextRaise.png" class="package__feature-details-img" alt="Get Your Next Raise thumbnail" width=150></span>
		<ul>
			<li><strong>7 short video lessons</strong> - Short but detailed video lessons cover each step to build your case and request your raise.</li>
			<li><strong>Worksheets to help you build your case</strong> - Estimate your market value and bulid your case with simple worksheets.</li>
			<li><strong>Email templates to help you tactfully communicate with your manager throughout the process</strong> - 7 email templates to help you use the right words throughout the process.</li>
			<li><strong>The exact process I use for my coaching clients</strong> - This is exactly what I do with my coaching clients who pay $1,000+ for me to walk through the process with them.</li>
    </ul>
		
		<span class="fsn-full-price"><p class="item__price">$97</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="ttps://transactions.sendowl.com/packages/35515/2DFA8744/purchase" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">