<div class="author__container">
  <div class="container container--grid">
    <div class="author__left">
      <img src="{{ site.baseurl }}/images/josh-doody-300px-circle.png" alt="Josh Doody headshot" class="author__image">
    </div>
    <div class="author__right">
    	<p>I'm Josh Doody—a Computer & Electrical Engineer, MBA, author of <em>Fearless Salary Negotiation</em>, consultant, and salary negotiation coach. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. I began negotiating and <em class='u-highlight'>I doubled my salary in three years</em>.</p>
			<p>As a manager, when one of my team members asked to talk about getting a raise or promotion, I would say, "Here's what I need from you..." <strong>Get Your Next Raise</strong> is based on the process I built to collaborate with my team on how and when to pursue raises and promotions.</p>
		  <p>I live and work in Gainesville, FL, home of the University of Florida.</p>
    </div>
  </div>
</div>