<div class="gynr-buy-button">
	<span class='gynr-sale-price hidden'>
		<a href="https://transactions.sendowl.com/packages/35515/2DFA8744/add_to_cart?discount_code=GYNRSale20" rel="nofollow" class="button button--bright package__button">
			<span class="package__button-price"><s>$247</s> $197</span>
	    <span class="package__button-text">Buy now</span>
		</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
	</span>

	<span class='gynr-full-price'>
		<a href="https://transactions.sendowl.com/packages/35515/2DFA8744/purchase" rel="nofollow" class="button button--bright package__button">
			<span class="package__button-price">$247</span>
	    <span class="package__button-text">Buy now</span>
		</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
	</span>
</div>

