	<div class="subscriber anonymous hidden">
		<div class="gynr-sale-price u-center hidden">
			<h2>Save 20% when you buy now!</h2>
			<div class="clock" style="display: inline-block; width: auto;"></div>
		</div>
		<!-- {% include get_your_next_raise/gynr_buy_button.html %} -->
		<div class='ad-box'><h2 class='u-center'>Coming soon!</h2>
			<p class='u-center'><a href="{{ site.baseurl }}/get-your-next-raise/start/"><strong>Click for a <em>free</em> preview of the first lesson</strong></a></p>
		</div>
	</div>