<div class="container container--normal">		
	<div class="ad-box u-center">
		<img src="{{ site.baseurl }}/images/GetYourNextRaiseContent.png" width="100%" alt="Self-paced course to navigate the raise and promotion process at work">
		<p><strong><em>Get Your Next Raise</em> will walk you through the raise process step-by-step, so you know exactly what to do to get your next raise at work.</strong></p>
		<p><a href="{{ site.baseurl }}/get-your-next-raise/start/">Click here to preview the first lesson for free</a></p>
	</div>
</div>