<div class='sample-email'>
	<h2 class='u-center'>Course lessons</h2>
	<ul>
		<li class='lesson-1'>Lesson 1: Start now</li>
		<li class='lesson-2'>Lesson 2: Estimate your market value</li>
		<li class='lesson-3'>Lesson 3: Set your goal</li>
		<li class='lesson-4'>Lesson 4: Build your case</li>
		<li class='lesson-5'>Lesson 5: Put your case in writing</li>
		<li class='lesson-6'>Lesson 6: Ask your manager for your raise</li>
		<li class='lesson-7'>Lesson 7: Plan your next steps</li>
	</ul>
</div>
<!-- <div class='sample-email'>
	<h2 class='u-center'>Lessons</h2>
	<ul class="lesson-list">
		<li class='lesson-1'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/start">Lesson 1: Start now</a></li>
		<li class='lesson-2'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/estimate">Lesson 2: Estimate your market value</a></li>
		<li class='lesson-3'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/goal">Lesson 3: Set your goal</a></li>
		<li class='lesson-4'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/build">Lesson 4: Build your case</a></li>
		<li class='lesson-5'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/write">Lesson 5: Put your case in writing</a></li>
		<li class='lesson-6'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/ask">Lesson 6: Ask your manager for your raise</a></li>
		<li class='lesson-7'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/ask-for-a-raise-course/plan">Lesson 7: Plan your next steps</a></li>
	</ul>
</div> -->