---
layout: squeeze
title: A special offer for Chasing Product listeners
tagline: A free chapter on how to get a raise at work
excerpt: A special offer for Chasing Product listeners
last_modified_at: 2017-08-19
canonical_url: 'https://fearlesssalarynegotiation.com/how-to-get-your-next-raise/'
---
<div class="container container--normal">
  <h2 class='section-heading' id="#sell-more">You missed the free drawing, but you can still get the free chapter!</h2>
  <p>You need to demonstrate what additional value you bring to the table as a result of your time with the company. But how do you do that?</p>
  <p><strong>I'll show you how to make and present a strong case for your next raise in a compelling way that will get your manager's attention.</strong></p>
	{% include /drip_forms/raise.html %}
	
	{% include testimonials/josh_kaufman.html %}
</div>