---
layout: squeeze
title: Welcome Learn to Code With Me listeners!
tagline: Get 5 free email templates to ask your boss for a raise
excerpt: A special offer for Learn to Code With Me listeners—email templates to get your next raise
last_modified_at: 2017-10-23
canonical_url: 'https://fearlesssalarynegotiation.com/request-salary-increase-email-templates'
---
<div class="container container--normal">
	{% include /drip_forms/salary-increase-email-templates.html %}
  
	{% include testimonials/mike_g.html %}

  <h2>Hi, <em>Learn to Code With Me</em> listeners!</h2>
	<p>Nice to meet you! Thanks for listening to my conversation with Laurence. It was a lot of fun to talk salary negotiation and career management.</p>
	<p>I hope you find these email template useful as you pursue your next raise. The sooner you get started, the sooner you'll get paid what you're worth!</p>
	<p>I'm happy to answer your salary negotiation questions and I'm available for <a href="{{ site.bsaeurl }}/coach/">1-on-1 coaching</a> when when you're preparing for your next interview, salary negotiation, or raise!</p>
	<p>Thanks for listening!</p>
	<p>– Josh</p>
</div>