---
layout: squeeze
title: Welcome StartHereFM listeners!
tagline: Get a free guide and email templates to ace your next interview
excerpt: A special offer for StartHereFM listeners—a set of resources to ace your next interview
last_modified_at: 2016-06-21
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>How to ace your next interview</strong>—a step-by-step guide to excel in every phase of the interview process and get the best job offer possible</li>
    <li class="checkbox-list__item"><strong>Three email templates</strong>—simple email templates to follow up and communicate clearly throughout the interview process</li>
	</ul>
	{% include /drip_forms/interview.html %}

	{% include testimonials/josh_kaufman.html %}

  <h2>Hi, <em>StartHereFM</em> listeners!</h2>
	<p>Thanks for listening to my conversation with Dain. It was fun to talk about job interviewing and salary negotiation tactics!</p>
	<p>I hope you find this guide and email templates useful as you prepare for your next job interview.</p>
	<p>You can always get in touch with me using <a href="http://www.joshdoody.com/contact" target="_blank">this simple form</a> or you can <a href="https://twitter.com/JoshDoody" target="_blank">find me on Twitter</a>. I'm happy to answer your job interview and salary negotiation questions and I'm available for <a href="{{ site.bsaeurl }}/coach/">1-on-1 coaching</a> when you're preparing for your next interview, salary negotiation, or raise!</p>
	<p>Thanks for listening!</p>
	<p>– Josh</p>
</div>