---
layout: sales-page
title: 25% off Fearless Salary Negotiation for Black Friday
headline: Save 25% on ALL Fearless Salary Negotiation products for Black Friday!
excerpt: A slam-dunk career investment just got even better! Save 25% on ALL Fearless Salary Negotiation products for a limited time!
context: sales-page
last_modified_at: 2018-11-17
extra_css:
  - countdown.css
  - blackfriday.css
extra_js:
  - countdown.timer.js
  - fsn_blackfriday_sale.js
---
<section class="white">
	<div class="container container--normal">
		<h2 class='u-center'>“The money I spent on your book was the best ROI on anything I've bought. :)” – Amy</h2>
		<br>
		<p><strong>To give as a gift</strong>, just click the <img src="/images/SendOwlGiftIcon.png" width="16"/> icon at checkout! You can even schedule your gift delivery for a later date so you don't forget 😉</p>
		
		<p>Save 25% on...</p>
		<ul>
			<li><a href="#fsn">The <em>Fearless Salary Negotiation</em> bundles</a></li>
			<li><a href="#esnep">The Essential Salary Negotiation Email Pack</a></li>
			<li><a href="#sncc">The Salary Negotiation Crash Course</a></li>
			<li><a href="#gynr">Get Your Next Raise</a></li>
		</ul>
		
		{% include black_friday_sale_two_column.html %} 
		
		{% include testimonials/amy_fsn.html %}
		
		{% include featured_logos.html %}
	</div>
</section>