---
layout: squeeze
title: Book a Strategy Session for expert salary negotiation coaching
headline: “I got the job plus an extra $6,000!”
excerpt: Get expert guidance on your most pressing salary negotiation, job interview, and career planning concerns.
context: sales-page
last_modified_at: 2017-04-08
---
<div class="container container--normal">
	<h2>Not confident you'll say the right things?</h2>
	
	<p><strong>You have a job offer in hand.</strong> You're relieved and might even celebrate a little bit. Then you feel a sense of dread as you realize you're not sure what to say next.</p>
	
	<p>Do you just accept the offer? Counter offer? How much?</p>
	
	<h2>Imagine knowing exactly what to say</h2>
	
	<p><strong>Imagine this</strong> - Imagine replacing that sense of dread with complete confidence. Imagine having a clear plan to respond to your job offer and negotiate your salary like a seasoned negotiator. Imagine knowing exactly how to negotiate so everyone is satisfied with a win-win result <em>and</em> knowing you didn't leave anything on the table.</p>
	
	<h2>Speak with a seasoned salary negotiation expert</h2>
	
	<p><strong>Get the <em>exact</em> words to negotiate with confidence.</strong> Your intuition is good - you <em>know</em> you're leaving money on the table if you don't negotiate. All you need is the steps to get it done. I'll tell you exactly how to negotiate your salary with a clear, easy-to-follow plan.</p>
			
  <p>I'll reach out right away to schedule our call where you'll get expert guidance to help you with your most pressing career concerns. Common topics for my strategy sessions are:</p>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Salary negotiation strategy</strong> Not sure how to respond to your job offer? I'll give you a clear plan to get the best compensation package.</li>
		<li class="checkbox-list__item"><strong>Mock interviews</strong> Need to work on your interviewing skills? I can help!</li>
		<li class="checkbox-list__item"><strong>Positioning strategy</strong> I will show you how to differentiate yourself from other candidates in your interviews.</li>
		<li class="checkbox-list__item"><strong>Raise and promotion strategy</strong> I'll help you put a plan together for your next raise or promotion.</li>
	</ul>

	<div class="ad-box">
		<p class='u-center'><strong><a href="#purchase">I'm ready to book!</a></strong></p>
	</div>
</div>

{% include testimonials/emily_kaneff.html %}
	
<div class="container container--normal">
	 <p>There are simple tactics you can use to ace your interviews and confidently negotiate your starting salary. I’ve used them myself to get great job offers and negotiate my own salary. I’ve many helped others use them to do the same at companies like <strong>Google</strong>, <strong>Amazon</strong>, <strong>IBM</strong>, and <strong>Tesla</strong>.</p>
	 <p>During our call, I'll ask targeted questions to learn exactly what I need to know about your situation. Then I'll work with you to plan your next steps to get the best job offer and negotiate your starting salary.</p>
</div>

{% include testimonials/natalie_m.html %}

<div class="container container--normal">
	<h2>I will walk you through the entire process</h2>
	<p>When you work with me, you’ll know exactly what to expect every step of the way, and you’ll have a clear plan to follow.</p>
	<p>I will help you...</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Prepare for your interviews</strong> so that you stand out from other candidates, impress everyone you talk to, and set yourself up with the best job offer possible.</li>
		<li class="checkbox-list__item"><strong>Avoid common mistakes</strong> that could cost you thousands of dollars in your interviews and starting salary negotiation.</li>
		<li class="checkbox-list__item"><strong>Prepare a plan for every phase of your starting salary negotiation</strong> so you
maximize your starting salary and other benefits.</li>
	</ul>
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#purchase">I'm ready to book!</a></strong></p>
	</div>
	
	<h2>What's included?</h2>
	<p>Expert coaching tailored for your unique situation.</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>One-hour strategy call</strong>—I'll talk you through a personalized plan for your situation, tell you what's coming next, and tell you exactly how to negotiate the maximum starting salary.</li>
		<li class="checkbox-list__item"><strong>Expert feedback</strong>—Once you get your job offer, I will work with you to evaluate the offer and create a custom strategy for negotiating the best possible result.</li>
		<li class="checkbox-list__item"><strong>Tactics to recover from common interview and negotiation mistakes</strong>—If you already made common interview and salary negotiation mistakes, I can help. Maybe you already declared your salary expectations or mentioned that your current job ends soon. That's ok! I'll work with you to find ways to recover from those mistakes and get you back on track to negotiate the best salary possible.</li>
		<li class="checkbox-list__item"><strong>BONUS: You'll get the <a href="{{ site.baseurl }}#complete">Complete Bundle</a> of Fearless Salary Negotiation (a $239 value)</strong> so you'll have everything you need for our engagement, and so you can review everything you learn later on.</li>
	</ul>
</div>

{% include testimonials/shawn_tuckett.html %}

<div class="container container--normal">
	<h2>Common questions and answers</h2>
	<p><strong>Have you negotiated with any big companies?</strong></p>
	<p>Yes! I've coached people in negotiations with <strong>Google</strong>, <strong>Amazon</strong>, <strong>IBM</strong>, <strong>Tesla</strong>, and other companies you've probably heard of. I've also coached people through negotiations with small startups and small businesses you probably haven't heard of.</p>
	
	<p><strong>When is the best time to work with you?</strong></p>
	<p>The ideal time for us to start working together is right when you get a job offer. Once you have the offer in hand, we can talk through your situation, evaluate the offer, and build a custom salary negotiation strategy just for your situation.</p>
	
	<p><strong>I'm interviewing with a big famous company. Can you help me?</strong></p>
	<p>Yes. I've helped clients negotiate great compensation packages at Google, Amazon, Tesla and other companies you've heard of.</p>
	
	<p><strong>What's the cost and is it worth it?</strong></p>
	<p>On average, my Strategy Session clients increase their salaries by $5,000 or more. They also get a lot of value from knowing that they're making all the right moves and that they will get the best result possible in the end.</p>
	<p>A Strategy Session is $499. That's a fantastic ROI on its own. But you also get the Complete Bundle of <em>Fearless Salary Negotiation</em>, which is a $239 value.</p>
	<p>And if we work together and you decide it wasn't worth it, I'll refund my fee and you can keep the Complete Bundle.</p>
	<p>There's no risk when you book a Strategy Session.</p>
	
	<p><strong>Can you help me negotiate multiple job offers?</strong></p>
	<p>Absolutely! We'll start by prioritizing your opportunities to determine which ones are the most attractive, then we'll create a strategy you can use to focus on those opportunities and get the best possible outcome.</p>
	
	<p><strong>Do you do mock interviews and negotiations?</strong></p>
	<p>Yep! You can schedule a strategy session to do a mock interview, mock salary negotiation, discuss your positioning, plan your strategy to ask for a raise, or even discuss your long-term career plans.</p>
</div>
	
{% include testimonials/acree_m.html %}
				
<div class="container container--normal">		
	<p><strong>Does this actually work?</strong></p>
	<p>Yep! Most of <a href="{{ site.baseurl }}/testimonials">these testimonials</a> are from people I helped directly. I've been coaching people for almost 2 years and my clients have gotten great results.</p>
	
	<p><strong>Can I get my money back if it doesn’t work?</strong></p>
	<p>Yes. I guarantee you will be satisfied with the results or I will happily refund your money. And the bonus <strong>Complete Bundle</strong> book and video courses are yours to keep.</p>
	
	<p><strong>How long does this take?</strong></p>
	<p>We'll talk for up to an hour to make sure you're completely ready to negotiate your salary. </p>
</div>

{% include strategy_session_package.html %}

<div class="container container--normal">	
	<h2>Money back guarantee</h2>
  <p>I guarantee you will be satisfied with your results, or <strong>I’ll happily refund your money.</strong> And the bonus <strong>Complete Bundle</strong> book and video courses are yours to keep.</p>

	<h2>So how does this work?</h2>
  <p>Here's a detailed summary of the entire process so you know exactly what to expect.</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>You'll purchase the Strategy Session plus Complete Bundle</strong> and you'll get instant access to the <em>Fearless Salary Negotiation</em> book, video courses and other materials in the Complete Bundle.</li>
		<li class="checkbox-list__item"><strong>I'll email you to schedule a time for your Strategy Session.</strong> You'll be able to choose a time that works best for you.</li>
		<li class="checkbox-list__item"><strong>I may reach out with some clarifying questions so I can be fully prepared for our call.</strong> I will make absolutely sure you get the most value possible from our conversation.</li>
		<li class="checkbox-list__item"><strong>We'll talk for up to an hour to plan your salary negotiation.</strong> We'll discuss your counter offer and negotiation strategy, do mock salary negotiations, and cover anything else you need to be fully prepared to negotiate the best compensation package possible.</li>
		<li class="checkbox-list__item"><strong>Email me any time with follow-up questions or updates.</strong> I'll be there for you if you have questions ahead of your negotiation, and I love to hear all about my clients' results!</li>
	</ul>
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#purchase">I'm ready to book!</a></strong></p>
	</div>

	<h2>Who are you? Why should I work with you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, consultant, salary negotiation coach, and author of <em>Fearless Salary Negotiation: A step-by-step guide to getting paid what you're worth</em>.</p>
	<p>I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	<p>Now I use everything I learned from my own experience to help others make tens of thousands more dollars negotiating with companies like <strong>Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM</strong>, and other companies you've probably heard of.</p>

	<h2>PS You don’t get many opportunities to change companies and negotiate a big salary increase.</h2>
	<p>Whether you work with me directly, read my book, take my courses, or find your own way, do yourself a favor and make the most of this rare opportunity.</p>
	
	<div class="ad-box">
		<p><strong>Ready to get schedule a Strategy Session?</strong> <a href="#purchase">Click here to book now!</a></p>
	</div>
</div>