---
layout: post
title: Recent articles
excerpt: Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.
---

    <ul style="list-style-type: none;">
    {% for post in site.posts %}
			{% unless post.chapter %}
      <li style="list-style-type: none;">
        <span class="book-blurb__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</span>
        <div class="oc-excerpt">
          <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
        </div>
      </li>
			{% endunless %}
    {% endfor %}
		</ul>