---
layout: squeeze
title: Optimize your salary like you optimize your code
tagline: A 30-day class to help you ask for your next raise or promotion
excerpt: A 30-day class—lessons, teamwork, and accountability—for software developers and engineers to finally ask for a raise or promotion.
og-image: 30DayClass.png
---
<div class="container container--normal">
	<p>You optimize every system you can, tweaking each line until its just right, but are you doing the same for your salary? Most devs I know are underpaid because they either don't know their value or they don't know where to start when it comes to asking for a raise or promotion. This 30-day class will help you know your value and plan for your next raise or promotion to optimize your salary.</p>
		
	<div class="ad-box">
		<div class="u-center">
			<a href="https://gumroad.com/l/fearless-salary-raise-class/sept16"><img src="{{ site.baseurl }}/images/30DayClass.png" width="100%" alt="30-Day Class for Software Developers"></a>
		</div>
	  <a href="https://gumroad.com/l/fearless-salary-raise-class/sept16" class="button button--bright">
	    <span class="package__button-price"><s>$500</s> $250</span>
	    <span class="package__button-text">Enroll Now</span>
	  </a>
	</div>
</div>
	
{% include testimonials/patrick_mckenzie.html %}

<div class="container container--normal">
	<h2>You could be asking for a raise in 30 days</h2>
	<p>The <em>Fearless Salary Negotiation</em> process for getting a raise or promotion is simple. But <em>knowing</em> the process and <em>doing</em> the process are two different things. If you just keep putting it off and waiting until later, you may never follow through.</p>
	<p>Waiting just six months to get a $5,000 raise will cost you $2,500.</p>
	
	<h2>This class will cost <s>$500</s> $250 when you join the first group in September</h2>
	<p>Hundreds of people have read <em>Fearless Salary Negotiation</em> and taken the video courses. And I've worked with many people 1-on-1 to walk them through this process with great results. Now I'm offering the same process and coaching in a group format.</p>
	<p>I'll be refining the process and learning what works for you as we go, so I'm offering this first class for only $250.</p>
</div>

{% include testimonials/shawn_tuckett.html %}

<div class="container container--normal">
	<h2>Work alongside your peers</h2>
	<p>This 30-day class will help you set your goal and build your case for your next raise or promotion. You'll work alongside other developers doing the same thing, so you can quickly get answers to questions and feedback on your progress.</p>
	<h3>Weekly lessons, action items, and check-ins</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Weekly assignments with clear action items to keep you moving forward.</strong> We'll approach the process in four manageable phases so you don't get overwhelmed.</li>
		<li class="checkbox-list__item"><strong>Weekly live check-ins to learn about the goal for that week.</strong> Don't worry if you can't make it! They'll be recorded so you can watch later on.</li>
		<li class="checkbox-list__item"><strong>Access to a Slack channel with me and the other participants in the class, so you can get feedback on your progress and ask questions.</strong> You will work with peers who are going through exactly the same process at exactly the same time.</li>
		<li class="checkbox-list__item"><strong>Motivation and accountability.</strong> By joining other developers and making a financial commitment to invest in yourself, you'll have motivation to get the most out of your investment and you'll have weekly goals and accountability with the group.</li>
	</ul>
	
	<h3>You'll also get...</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>The Raise and Promotion Edition of <em>Fearless Salary Negotiation</em> (an $89 value).</strong> That includes the eBook, worksheets, email templates, and three video courses you can use to reinforce what you learn in this class throughout your career.</li>
	</ul>
	
	<h2>Our 30-day schedule</h2>
	<h3>Week 1–Estimating your market value and setting your goal</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Before our first check-in, you will estimate your market value</strong> so you can set your target salary for your raise, or your target job for your promotion. This is an easy process and you'll have all the tools you need to get it done in less than an hour.</li>
		<li class="checkbox-list__item"><strong>In our first check-in, you'll set your target salary or target job</strong> so you know your goal.</li>
		<li class="checkbox-list__item"><strong>We'll wrap up by discussing the framework you'll use to build your case.</strong></li>
	</ul>
	
	<h3>Week 2–Building your case</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Before our second check-in, you will assemble the basic components of your case that you have earned your raise or promotion.</strong> This is the beginning of the case you will present to your manager at the end of the month.</li>
		<li class="checkbox-list__item"><strong>We will review the components to strengthen your case</strong> so you are focused on how to appeal to your manager and the business goals of the company.</li>
	</ul>
	
	<h3>Week 3—Documenting your case</h3>	
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Before our third check-in, you will create your first draft of your written case.</strong> Putting your case in writing will make it stronger and allow us to review it and improve it together.</li>
		<li class="checkbox-list__item"><strong>The group will be encouraged to share feedback and collaborate on each other's written cases.</strong> Our goal is to make your case as compelling as possible from your manager's perspective.</li>
	</ul>
	
	<h3>Week 4—Preparing to ask for your raise or promotion</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You will prepare to deliver your case to your manager in a 1-on-1.</strong> We will talk about that meeting, what it's like, and how to approach it.</li>
		<li class="checkbox-list__item"><strong>We will prepare you to follow up on your 1-on-1 by emailing your written case.</strong> This follow-up is a crucial part of the process.</li>
		<li class="checkbox-list__item"><strong>We will discuss all of the possible outcomes and plan for each one.</strong> You will be totally prepared for all possible outcomes.</li>
	</ul>
	
	<h2>Who are you? Why should I work with you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	            <p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
	            <p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and individual coaching have helped many people earn tens of thousands more dollars.</p>
	<p>The best results have come from my coaching 1-on-1 coaching clients, and I created this class from my coaching curriculum so that I can help more people at once.</p>
	
	<div class="ad-box">	
		<div class="u-center">
			<a href="https://gumroad.com/l/fearless-salary-raise-class/sept16"><img src="{{ site.baseurl }}/images/30DayClass.png" width="100%" alt="30-Day Class for Software Developers"></a>
		</div>
	  <a href="https://gumroad.com/l/fearless-salary-raise-class/sept16" class="button button--bright">
	    <span class="package__button-price"><s>$500</s> $250</span>
	    <span class="package__button-text">Enroll Now</span>
	  </a>
	</div>
</div>

{% include testimonials/mike_g.html %}