---
layout: squeeze
title: '"I wanted a raise, but didn&#39;t know where to start."'
excerpt: Software developers and engineers, take this self-paced class to build your case and ask for your next raise or promotion at work.
og-image: 30DayClass.png
---
<div class="container container--normal">
	<!--p>You optimize every system you can, tweaking each line until its just right, but are you doing the same for your salary? Most devs I know are underpaid because they either don't know their value or they don't know where to start when it comes to asking for a raise or promotion. This 30-day class will help you know your value and plan for your next raise or promotion to optimize your salary.</p-->
	
	<p>Every Monday you start a new work week. You check your email, review your calendar, and plan for all your big meetings. Then you have a quiet moment and that same old thought creeps in:</p>
	
	<p><strong><em>What's next?</em></strong></p>
	
	<p>You've had that thought every week for <em>months</em>, and every week you find the same answer:</p>
	
	<p><strong><em>I'll figure it out next week.</em></strong></p>
	
	<p>Then you go back to checking your email, reviewing your calendar, and getting ready for all those meetings. The same emails. The same schedule. The same meetings. The same job. The same paycheck. It's all the same.</p>
</div>

{% include testimonials/t.html %}

<div class="container container--normal">
	<h2>How many weeks has it been?</h2>
	
	<p>How many weeks has it been since you first thought, "What's next?" All those weeks with a smaller paycheck than you could've gotten.</p>
		
	<p>What if you could go back in time to that first Monday when this thought first crept in and <em>do something about it</em> right then? Where would you be right now?</p>
	
	<p>There are three possibilities—all of them are good for your long-term career:</p>
	
	<ul>
		<li><strong>You could already be there</strong>, at the next level <em>doing</em> your new job and <em>collecting</em> that bigger paycheck—$50 a week, $100 a week, $200 a week, or more.</li>
		<li><strong>You could be executing a plan with a clear timeline</strong> that you and your manager put together to get you to the next level. You would be making progress, not sitting still.</li>
		<li><strong>You could be looking ahead to better opportunities</strong> if the raise or promotion you feel you've earned simply isn't available to you at your current company.</li>
	</ul>
	
	<p>But you haven't even <em>started</em> doing something about it yet. So could be leaving money on the table every week while your career stagnates.</p>
		
	<h2>Why haven't you started?</h2>
	
	<p>That's the question, isn't it? If you're literally leaving money on the table every time you get a paycheck, then what's holding you back?</p>
	
	<p>Maybe you don't know <em>where</em> to start or <em>what</em> to do. "I want a raise." or "I want a promotion." isn't a plan, it's a dream. But you don't need a dream, you need a plan.</p>
	
	<h2>This is your plan</h2>
	<p>The <em>Fearless Salary Negotiation</em> process for getting a raise or promotion is simple. But <em>knowing</em> the process and <em>doing</em> the process are two different things. If you just keep putting it off and waiting until later, you may never follow through.</p>
	<p>Waiting just six months to get a $5,000 raise will cost you $2,500—that's <em>ten times</em> the cost of this class!</p>
	
	<p>Hundreds of people have read <em>Fearless Salary Negotiation</em> and taken the video courses. And I've worked with many people 1-on-1 to walk them through this process with great results. Now I'm offering the same process as self-paced, interactive course for only <s>$250</s> $200 when you pre-register.</p>
		
	<div class="ad-box">
		<div class="u-center">
			<a href="https://gumroad.com/l/fearless-salary-raise-class/preregister"><img src="{{ site.baseurl }}/images/30DayClass.png" width="100%" alt="Self-paced course for Software Developers to get a raise or promotion"></a>
		</div>
	  <a href="https://gumroad.com/l/fearless-salary-raise-class/preregister" class="button button--bright">
	    <span class="package__button-price"><s>$250</s> $200</span>
	    <span class="package__button-text">Pregister now!</span>
			<hr>
			<span class="package__button-text">Get instant access to the course materials, plus get each new module as it's released</span>
	  </a>
	</div>
</div>	
{% include testimonials/patrick_mckenzie.html %}

{% include testimonials/shawn_tuckett.html %}

<div class="container container--normal">
	<h2>What is it?</h2>
	<p>This course will help you set your goal and build your case for your next raise or promotion. You'll work at your own pace—as quickly or casually as you like—and get answers to questions and feedback directly from me on your progress.</p>
	<h3>Checkins, action items, feedback, progress</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Each module has a checkpoint to learn about the goal for that module.</strong> As you move through the course and complete action items, the next module will become available.</li>
		<li class="checkbox-list__item"><strong>Each module has clear action items to keep you moving forward.</strong> We'll approach the process in six manageable modules so you don't get overwhelmed.</li>
		<li class="checkbox-list__item"><strong>Regular feedback on your action items.</strong> For each module, I will give you feedback on your progress and offer suggestions to improve the case you're building.</li>
	</ul>
	
	<h3>You'll also get...</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>The Raise and Promotion Bundle of <em>Fearless Salary Negotiation</em> (an $89 value).</strong> That includes the eBook, worksheets, email templates, and three video courses you can use to reinforce what you learn in this course throughout your career.</li>
	</ul>
	
	<h2>Course curriculum</h2>
	<h3>Module 1–Introduction: The end result and how we'll get there</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>We'll discuss define the three possible outcomes:</strong> You'll get your raise or promotion, work with your manager to make a plan with a timeline, or you may find that it's best to start looking elsewhere.</li>
		<li class="checkbox-list__item"><strong>How you'll build a case to get to one of those outcomes.</strong> You'll follow my proven process to make a case to your manager for your raise or promotion. By presenting a strong case, you can be sure to get one of the three results listed above.</li>
	</ul>
	
	<h3>Module 2–Estimating your market value and setting your goal</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You will estimate your market value</strong> so you can set your target salary for your raise. This is an easy process and you'll have all the tools you need to get it done in less than an hour.</li>
		<li class="checkbox-list__item"><strong>You'll set your target salary or target job</strong> so you know your goal.</li>
		<li class="checkbox-list__item"><strong>We'll wrap up by discussing the basic components you'll use to build your case.</strong></li>
	</ul>
	
	<h3>Module 3–Assembling the components of your case</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You will assemble the basic components needed to make the case that you have earned your raise or promotion.</strong> This is the beginning of the case you will present to your manager at the end of the course.</li>
		<li class="checkbox-list__item"><strong>We will review the components to strengthen your case</strong> so you are focused on how to appeal to your manager and the business goals of the company.</li>
	</ul>
	
	<h3>Module 4—Building your written case</h3>	
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You will create your first draft of your written case for your raise or promotion.</strong> Putting your case in writing will make it stronger and allow us to review it and improve it together.</li>
	</ul>
	
	<h3>Module 5—Preparing to ask for your raise or promotion</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You will prepare to deliver your case to your manager in a 1-on-1.</strong> We will talk about that meeting, what it's like, and how to approach it.</li>
		<li class="checkbox-list__item"><strong>You will follow up after your 1-on-1 by emailing your written case.</strong> This follow-up is a crucial part of the process.</li>
	</ul>
	
	<h3>Module 6—Evaluating you result relative to the three possible outcomes</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>We will discuss all of the possible outcomes and plan for each one.</strong> You will be totally prepared for all possible outcomes.</li>
	</ul>
	
	<h2>Common questions and answers</h2>
	<p><strong>How long does this take?</strong></p>
	<p>Each of the six modules is designed to take 30–60 minutes. Your total time invested will probably be about 4–5 hours.</p>
	<p>The course is self-paced, so you can move through the modules as quickly or leisurely as you like. You could easily complete the course in a day or two, or take your time over a few weeks.</p>
		
	<p><strong>How does it work?</strong></p>
	<p>Here's a high-level summary of the cadence for each of the six modules:</p>
	<ol>
		<li>Watch the check-in video lesson</li>
		<li>Get action items for that module</li>
		<li>Review short, supplementary video lessons as needed</li>
		<li>Complete the module's action items using the included templates and worksheets</li>
		<li>Optional: Get my feedback or input on your progress</li>
		<li>Move on to the next module when you're ready</li>
	</ol>
	<p>Each module has a checkin video lesson where we define your goals for that module, cover the background and details you need to complete the module's action tiems, and assign the module's action items.</p>
	<p>Each module also has short supplementary lessons so you can review topics or dive deeper as needed.</p>
	<p>Then you'll complete the module's action items, ask me any questions you have, and even get my feedback on your progress if you like.</p>
	<p>Once you're comfortable with that module and have completed the action items, you can move to the next module when you're ready.</p>
	
	<p><strong>What does "self-paced" mean?</strong></p>
	<p>You're in complete control and can move as quickly or slowly as you like. You will always be able to request the next module whenever you're ready, so if you want to cruise through the entire course in one sitting, you can do that. If you want to pace yourself, ask questions, and get my feedback as you go, you can do that too!</p>
	
	<p><strong>Can I get my money back if it doesn’t work?</strong></p>
	<p>Yes. I guarantee you will be satisfied with the results or I will happily refund your money. And the included <strong>Raise and Promotion Bundle</strong> book and video course are yours to keep.</p>
	
	<h2>Who are you? Why should I work with you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	 <p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
	 <p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and individual coaching have helped many people earn tens of thousands more dollars.</p>
	<p>The best results have come from my 1-on-1 coaching clients, and I created this course from my coaching curriculum so that I can help more people at once.</p>
		
	<div class="ad-box">
		<div class="u-center">
			<a href="https://gumroad.com/l/fearless-salary-raise-class/preregister"><img src="{{ site.baseurl }}/images/30DayClass.png" width="100%" alt="Self-paced course for Software Developers to get a raise or promotion"></a>
		</div>
	  <a href="https://gumroad.com/l/fearless-salary-raise-class/preregister" class="button button--bright">
	    <span class="package__button-price"><s>$250</s> $200</span>
	    <span class="package__button-text">Pregister now!</span>
			<hr>
			<span class="package__button-text">Get instant access to the course materials, plus get each new module as it's released</span>
	  </a>
	</div>
</div>

{% include testimonials/mike_g.html %}