---
layout: squeeze
title: Counter offer quickly - email templates and video walkthrough
headline: Confidently negotiate your job offer with 10 email templates plus an 11-minute video walkthrough from a salary negotiation expert
excerpt: Counter offer email templates and a video walkthrough to write and send your counter offer email in less than 15 minutes
context: sales-page
---

<div class="container container--normal">	
	<p><strong>You have a job offer and they want a response right away.</strong> What do you do?</p>
	<p><strong>The Essential Salary Negotiation Email Pack</strong> will show exactly how to send your counter offer with an 11-minute video walkthrough, plus 10 email templates to confidently negotiate your offer.</p>
</div>

<div class="pricing-table">
  <section class='item'>
    <p class="item__option fsn-sale-price hidden">Save 63% - Today only!</p>
    <p class="item__header">Essential Salary Negotiation Email Pack</p>
		<p class="item__description">I'll show you how to send your counter offer in less than 15 minutes</p>
		<span class="image"><img src="/images/HowToWriteSalaryNegotiationEmailImage.png" class="package__feature-details-img" alt="15-Minute Conter Offer thumbnail" width=150></span>
		<ul>
			<li><strong>11-minute video walkthrough to help write your counter offer email</strong> - A detailed video walkthrough of the "Counter Offer - standard" email template so you know <em>what</em> to write and <em>why</em> to write it.</li>
			<li><strong>Inputs you need before you start writing</strong> - A complete list of the details you need to customize this template for your negotiation.</li>
			<li><strong>10 email templates to respond to your job ofer</strong> - In addition to the "Counter offer - standard" template I review in the video, you'll get 9 more templates ask for more time, counter a lowball job offer, accept or decline your job offer, and more.</li>
			<li><strong>The exact guidance I give my coaching clients</strong> - This is exactly what I tell my coaching clients when we negotiate their job offers.</li>
    </ul>
		
		<span class="fsn-full-price"><p class="item__price">$47</p></span>
		<span class="fsn-sale-price hidden"><p class="item__price"><s>$47</s> $33</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase" class='guide-btn large'>Buy Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase?discount_code=SNTVIDEOSALE12" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
</div>

<div class="container container--normal">
	{% include testimonials/sarah_m.html %}
</div>

{% include featured_logos.html %}

<div class="container container--widened">		
	<div class="testimonial-series">
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/allie.html short=true %}

		{% include testimonials/robin.html short=true %}
		
		{% include testimonials/deborah.html short=true %}
		
		{% include testimonials/kaylea.html short=true %}
		
		{% include testimonials/robert_m.html short=true %}		
		
		<!-- {% include testimonials/penny.html short=true %}		 -->
	</div>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">