---
layout: squeeze
title: Confidently negotiate your job offer with 10 email templates plus an 11-minute video walkthrough from a salary negotiation expert
tagline: Send your counter offer email with the help of a salary negotiation expert
excerpt: A salary negotiation expert shows you how to write your counter offer email in less than 15 minutes
context: sales-page
---
<div class="container container--normal">
	<p>You have a job offer in hand and the clock is ticking. You need to respond now. </p>

	<p>The recruiter needs to know your decision so they can start the paperwork. You imagine them sitting in front of their computer, checking their inbox for your decision.</p>

	<p>You want a higher salary. You know you deserve a higher salary, based on your hard-won expertise.</p>

	<p>You need to negotiate the job offer, but you don’t want to rush it.</p>

	<p>You need to send the perfect <strong>counter offer email</strong>, written for your exact situation. </p>

	<p>In your counter offer, you want to tactfully suggest a higher salary — while reiterating your case for how you’ll be a valuable employee at the company</p>

	<p><strong>And: you want to do all of this the right way.</strong></p>

	<p>Do you even have time for all that?</p>

	<h3 class="u-center"><strong>Save time sending the perfect counter offer email with the “Essential Salary Negotiation Email Pack”</strong></h3>

	<p>With the Essential Salary Negotiation Email Pack, you’ll get the 10 email templates you need to send the perfect counter offer email for <em>your</em> situation. </p>

	<p><strong>“Templates?”</strong></p>

	<p>First, you need more time to consider your offer. Then, you’ll want to counter their offer. After that, you’ll want to tell them your bottom line. </p>

	<p>Countering their offer isn’t a ‘one-email deal.’ The people who are <em>most successful</em> at negotiating their job offers understood that it’s a multi-step process, depending on how the company responds. </p>

	<p>(My clients have used this exact process and these exact templates to negotiate $7,000 more, $8,000 more, and even $24,000 more.)</p>

	<p>And in the Essential Salary Negotiation Email Pack, you’ll get all the emails you need to send to counter their offer effectively. </p>

	<p>The first template is a simple template you can copy and paste to ask for more time to consider your offer. That will take the pressure off so we can work on your counter offer.</p>

	<p>Then I’ll show you how you can write compelling counter offer emails, walking through the counter offer email template paragraph by paragraph to show you how to write your counter offer email with a short video.</p>

	<p>In the Essential Salary Negotiation Email Pack, you’ll receive additional templates to use for your unique situation: </p>

	<ul>
		<li>Telling them you have multiple offers to consider</li>
		<li>Firmly stating your bottom line</li>
		<li>Asking for more time</li>
		<li>Tactfully accepting or declining their offer</li>
</ul>

	<p>There’s no better way to spend the next 14 minutes than with the Essential Salary Negotiation Email Pack.</p>
</div>
	
{% include essential_salary_negotiation_email_pack_offer.html %}

<div class="container container--normal">
	{% include testimonials/sarah_m.html %}
</div>

{% include featured_logos.html %}

<div class="container container--widened">		
	<div class="testimonial-series">
		{% include testimonials/penny.html short=true %}
				
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/allie.html short=true %}

		{% include testimonials/robin.html short=true %}
		
		{% include testimonials/deborah.html short=true %}
		
		{% include testimonials/kaylea.html short=true %}
		
		{% include testimonials/robert_m.html short=true %}		
		
		{% include testimonials/christy_s.html short=true %}
		
		{% include testimonials/nick_c.html short=true %}
		
		{% include testimonials/amy_esnep.html short=true %}
	</div>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">