---
layout: gynr
title: 5 Salary Mistakes that could cost you a million dollars
headline: 5 Costly Salary Mistakes
tagline: A free, 5-lesson course to show you how to avoid expensive salary mistakes
excerpt: Learn how to avoid the 5 Costly Salary Mistakes that could cost you over $1,000,000 in lifetime earnings.
last_modified_at: 2017-01-16
fb-event: ViewContent
---
<div class="container container--normal">
	{% include drip_form.html form="free-raise-course" %}
</div>

{% include testimonials/j_w.html %}