---
layout: squeeze
title: '5 Reasons You Haven’t Gotten a Raise Yet - Free course'
headline: 5 Reasons You Haven't Gotten a Raise Yet
tagline: A free, 5-lesson course on why you aren't getting paid what you're worth
excerpt: Learn the 5 most common reasons you haven't gotten a raise, and what to do about them.
last_modified_at: 2017-04-24
og-image: 5SalaryMistakes.png
fb-event: ViewContent
---
<div class="container container--normal">	
	<a name='form'></a>
{% include drip_forms/free-raise-course.html %}
	
	<h2>5 Reasons You Haven't Gotten a Raise Yet</h2>
  <ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>You're waiting too long</strong> You often won't get a raise if you don't ask. And how <em>frequently</em> you get raises is just as important as how <em>large</em> they are.</li>
		<li class="checkbox-list__item"><strong>You haven't done the work yet</strong> Are you ready for a raise? Find out if you've done the right kind of work.</li>
		<li class="checkbox-list__item"><strong>You asked the wrong way</strong> <em>How</em> you ask for a raise is as important as <em>what</em> you ask for.</li>
		<li class="checkbox-list__item"><strong>You asked at the wrong time</strong> Timing is everything when asking for a raise—wait for your Birthday Budget.</li>
		<li class="checkbox-list__item"><strong>You gave up too easily</strong> How to find out if a "No" is actually a "Not yet".</li>
	</ul>
</div>

{% include testimonials/j_w.html %}

<div class="container container--normal">	
	<p><strong>Early in my career, I missed out on a lot of valuable opportunities.</strong> I wanted to make more money, but I thought the best way to do that was to work hard and wait patiently to be recognized for my work.</p>
	<p>I worked hard, and spent a lot of time waiting. And waiting.</p>
	<p>Eventually, I realized there was more to it than "work hard and wait". I realized I had made some costly mistakes, and it took me several years to recover from them.</p>
	<p>I discovered these 5 reasons I wasn't getting raises the hard way. And now you can learn from my experience and earn a lot more money over your career.</p>
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#form">Send me the first reason!</a></strong></p>
	</div>
</div>