---
layout: squeeze
title: Didn’t get a raise? Here’s why you’re still underpaid
headline: 5 Reasons You Haven't <br>Gotten a Raise Yet
tagline: A free course on why you aren't getting paid what you're worth <br>and what you should do about it
excerpt: Learn 5 reasons you haven't gotten a raise, and what to do about it. When to ask for a raise, how to ask, and what to ask for.
last_modified_at: 2017-04-24
og-image: 5ReasonsYouHaventGottenARaise.png
fb-event: ViewContent
---
<div class="container container--normal">	
	<p>You're doing good work, but you're still underpaid.</p>
	
	<p>Another year has gone by and you didn't get a raise. It started as a single year without a raise. Then it was no raise in 2 years, then no raise in 5 years. What's going on?</p>
	
	<p>You know it's <em>possible</em> to get a raise because some of your co-workers have done it. But it's just not happening for you.</p>
	
	<p>Should you ask for a raise? Even if you should, you aren't sure <em>how</em> to ask for a raise. What if you're turned down?</p>
	
	<a name="form"></a>
	{% include drip_forms/free-raise-course.html %}
	
	<h2>What you'll learn</h2>
	
	<p>This free email course walks you through the five most likely reasons you didn't get a raise.</p>
	
	<p><strong>How long should you wait to ask for a raise?</strong> The longer you wait between raises, the more salary you could be leaving on the table. But you don't want to ask for raises too often either.</p>
	
	<p><strong>Are you ready for a raise?</strong> Learn how to identify the valuable contributions you've made to your company so you know you're ready to ask for a raise.</p>
	
	<p><strong>How do you negotiate a raise?</strong> What you ask for is as important as <em>how</em> you ask.</p>
	
	<p><strong>When should you ask for a raise?</strong> Learn how to ask for a raise when there's budget available. Timing is everything!</p>
	
	<p><strong>What do you say when you're denied a raise?</strong> You may not get a raise on the first try. It's important to follow up on your request and make a plan with your manager.</p>

	{% include testimonials/j_w.html %}
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#form">Send me the first reason!</a></strong></p>
	</div>
</div>