---
layout: squeeze
title: Welcome Rotary Club of Gainesville!
tagline: Get two free guides, worksheets, and an email template to get your next raise
excerpt: A special offer for the Rotary Club of Gainesville—a set of resources to get your next raise
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Market value estimation guide and worksheet</strong>—how to estimate your market value so you know your goal</li>
    <li class="checkbox-list__item"><strong>How to get your next raise guide and worksheet</strong>—a step-by-step guide for preparing and presenting your case</li>
		<li class="checkbox-list__item"><strong>Email template</strong>—a template you can use to send your written case to your manager after you request your raise in your 1-on-1</li>
	</ul>

	{% include /drip_forms/raise.html %}
</div>

{% include testimonials/mike_g.html %}

<div class="container container--normal">
        
  <h2>Hi, <em>Rotary Club of Gainesville</em>!</h2>
	<p>Nice to meet you! Thanks for having me as a guest. It was a lot of fun to talk about career management and salary negotiation with you.</p>
	<p>I hope you find these guides, worksheets and email template useful as you pursue your next raise. Get the slides for our workshop <a href="http://www.slideshare.net/JoshDoody/salary-negotiation-workshop-the-rotary-club-of-gainesville" target="_blank">here</a></strong></p>
	<p>You can always get in touch with me using <a href="http://www.joshdoody.com/contact" target="_blank">this simple form</a> or you can <a href="https://twitter.com/JoshDoody" target="_blank">find me on Twitter</a>. I'm happy to answer your salary negotiation questions and I'm available for <a href="{{ site.bsaeurl }}/coach/">1-on-1 coaching</a> when you're preparing for your next interview, salary negotiation, or raise!</p>
	<p>All the best</p>
	<p>– Josh</p>
</div>