---
layout: sales-page
title: Stop Leaving Money on the Table. Get Paid What You're Worth.
headline: Tactfully negotiate your job offer without leaving anything on the table
tagline: Learn how to confidently negotiate your salary, <br>so you finally get paid what you're worth
excerpt: Salary negotiation resources to get more job offers, maximize your salary when changing jobs, and get raises and promotions at work.
context: sales-page-interview
last_modified_at: 2017-08-29
extra_css:
  - countdown.css
extra_js:
  - countdown.timer.js
  - fsn_sale.js
---
{% include featured_logos.html %}

<section class="white">
	<div class="container container--normal">	
		<h2 class='u-center'>“We would like to extend you a job offer...”</h2>
			
		<p>You didn't realize those words would be so terrifying until you heard them out loud. You simultaneously felt a sense of relief that you <em>finally</em> got a job offer and a sense of dread as you realized you didn't know what to do next.</p>
		
		<p>It doesn't feel right to simply accept their first offer. What if you leave money on the table?</p>
		
		<p>So that means you should negotiate! But what if you negotiate and they retract the offer? Then what? All that work for nothing? That's a scary prospect.</p>
		
		<p>Fortunately, there is a method you can use to tactfully negotiate your job offer without seeming greedy so you don't leave money on the table.</p>
		
		<p>That method is <em>Fearless Salary Negotiation</em>, a valuable bundle of my essential resources, including a book, worksheets that do all the math for you, templates to help you say and write all the right things, and amazing bonuses to really help drive it all home so you get paid what you're worth.</p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<h2 class='u-center'>The most common salary negotiation mistake? <br>Not negotiating at all.</h2>
		<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
		<p>We scheduled a time to talk and I asked her some questions:</p>
		<ul>
			<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
			<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
			<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
		</ul>
		<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move.</p>
		<p>We began by focusing on how should could answer each interview question to position herself as <em>the</em> candidate for the job. That helped her get a stronger job offer with more room to negotiate.</p>
		<p>Once she had a strong offer in hand, she used the <em>Fearless Salary Negotiation</em> method to negotiate from a position of strength, building on the momentum she built during her interviews.</p>	
		<p>The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
		
		<h2 class='u-center'>This valuable method will earn you thousands of dollars</h2>
		<p>The best part? You can use the same <em>Fearless Salary Negotiation</em> method Ashley used <em>over and over</em> throughout your career when you change jobs <em>and</em> you can use it at your current job. It's easy and repeatable.</p>
		<h3>What is the <em>Fearless Salary Negotiation</em> method worth for you?</h3>
		<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <strong>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</strong> That’s a lot of money to leave on the table out of frustration or fear.</p>
	</div>
</section>

<section class="white">
	<div class="container container--widened">
		<h2 class='u-center'>You might be surprised what others have achieved with <em>Fearless Salary Negotiation</em></h2>

		<div class="testimonial-series">
			{% include testimonials/jared_allen.html short=true %}

			{% include testimonials/justin_abrahms.html short=true %}

			{% include testimonials/josh_c.html short=true %}

			{% include testimonials/john_miller.html short=true %}

			{% include testimonials/mike_g.html short=true %}

			{% include testimonials/j_d.html short=true %}

			{% include testimonials/jason_voegele.html short=true %}
		</div>
	</div>
	<div class="container container--normal">
	
		<h2 class='u-center'>What you will learn with <br><em>Fearless Salary Negotiation</em></h2>
		<p><em>Fearless Salary Negotiation</em> is your ultimate guide to tactfully negotiating your job offer without leaving anything on the table... and so much more!</p>
		<p>You'll also learn how to estimate your market value, ace your job interviews, and get raises and promotions when you're ready!</p>
		{% include book_contents.html %}
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		{% include offering_overview_two_column.html %} 
	</div>
</section>

<section class="white">
	<div class="container container--wide">
		<a name="purchase"></a>
		<h2 class='u-center'><em>Fearless Salary Negotiation</em><span class="sub-h2">Start getting paid what you're worth</span></h2>
		{% include pricing_grid_flexbox.html %}
		<p class='u-center'>Need full-service 1-on-1 support to walk you through your negotiation?<br> <a href="/coach">Click here to learn about my coaching offering</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<p class="u-center guarantee-img"><img src="/images/HappyCustomerGuarantee.png" with="150"/></p>
		
		<h2 class='u-center'>Happy Customer Guarantee <br>plus lifetime updates</h2>
	  <p>You're protected by the Happy Customer Guarantee: If you’re not happy with the book, courses, or your strategy session, reach out any time and <strong>I’ll refund your money.</strong></p>
		<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>
		<p><strong>You own the book and courses</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
		<p>Plus I'll email you to let you know when I update the book or courses for the lifetime of the product.</p>
	</div>
</section>

<section class="white">	
	<div class="container container--normal qa">
		<h2 class='u-center'><em>Fearless Salary Negotiation</em> isn't for everyone...</h2>
		<p><strong>Q: I've never negotiated before. Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong></p>
		<p><strong>A:</strong> You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
		<hr>
	
		<p><strong>Q: Can I negotiate my salary if this is my first job?</strong></p>
		<p><strong>A:</strong> The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
		<hr>

		<p><strong>Q: What if I'm not negotiating my salary right now?</strong></p>
		<p><strong>A:</strong> Even if you just got a raise, <em>Fearless Salary Negotiation</em> will help you plan for your <em>next</em> raise or promotion. Or if you're changing jobs soon, you can use it to work on your interview skills so you get more job offers.</p>
		<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
		<p><em>Fearless Salary Negotiation</em> is designed to be useful at any point in your career. So you can use it now whether you just negotiated your salary or plan to soon.</p>	
		<hr>

		<p><strong>Q: How long does this take?</strong></p>
		<p><strong>A:</strong> You can read <em>Fearless Salary Negotiation</em> cover to cover in about 4 hours on a Sunday afternoon. I'll even send you short emails with one key takeaway from each chapter so you get the highlights if you can't start reading right away.</p>
		<p>The courses are about three hours total, so you could easily knock those out on Sunday afternoon. I don’t like fluff, so <em>Fearless Salary Negotiation</em> is a lean guide full of tactics and light on fluff.</p>
		<hr>

		<p><strong>Q: I've already read the book. Do I need the courses and expert interviews too?</strong></p>
		<p><strong>A:</strong>My book is the 101 version of the content. The courses, expert interviews, Interview Cheat Sheet, Case Studies, and other bonuses are the 201 level of the content.</p>
		<p>The courses and other bonus contents allow use to go deeper and so you learn you more about how to get paid what you're worth.</p>
		<hr>

		<p><strong>Q: Can I get my money back if I'm not happy?</strong></p>
		<p><strong>A:</strong> Absolutely! You're protected by the Happy Customer Guarantee. If you buy <em>Fearless Salary Negotiation</em> and you're not happy with your purchase, just let me know and I'll refund your money.</p>
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		{% include fsn_bio.html h2="Strategy and Tactics from a Salary Negotiation Expert" %}
	</div>
</section>
<section class="white">
	<div class="container container--widened">
		<h2 class='u-center'>What others are saying about <em>Fearless Salary Negotiation</em></h2>
				
		<div class="testimonial-series">
			{% include testimonials/d_o.html short=true %}
	
			{% include testimonials/matt_wood.html short=true %}
	
			{% include testimonials/josh_kaufman.html short=true %}

			{% include testimonials/patrick_mckenzie_short.html short=true %}
		</div>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth is tough. <br>It's even tougher when you don't have a roadmap.</h2>
		<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>
		<p>You have the proof that <em>Fearless Salary Negotiation</em> works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
		<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>
		<p>All the best</p>
		<p>Josh</p>
		<p><strong>PS:</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. <em>Fearless Salary Negotiation</em> will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>


		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>