---
layout: squeeze
title: Stop Leaving Money on the Table
headline: Stop Leaving Money<br>on The Table
tagline: I'll show you how to confidently negotiate your salary,<br>so you finally get paid what you're worth
excerpt: Salary negotiation resources to get more job offers, maximize your salary when changing jobs, and get raises and promotions at work.
branded_title: false
metatags: noindex
sitemap: false
context: sales-page
last_modified_at: 2017-04-26
extra_css:
  - flipclock.css
extra_js:
  - flipclock.min.js
  - fsn_sale.js
---
<div class="container container--normal">
	{% include fsn_header.html %}
	
  <p><strong>"Why should we hire you?"</strong> After weeks or even <em>months</em> of looking for the right job, the moment of truth has arrived—they finally asked the question you hoped they wouldn't. And even though you've thought about this question a hundred times, you're <em>still</em> not sure what to say.</p>
	
	<p>The job search process can feel like a series of uncomfortable situations designed to trip you up. Every time you start finding your stride, you bump into another tough situation that you just have to stumble through.</p>
	
	<p>You struggle through one question only to run into another one, where the stakes are higher and you feel even more uncomfortable. <strong>"What's your expected salary?"</strong> You probably shouldn't answer that, right? Or maybe you should? How?</p>
	
	<p><strong>"Do we have a deal?"</strong> You're here to make a deal, but what if you leave money on the table? It doesn't feel good to start a new job wondering if you could've gotten a better salary.</p>
	
	<p>Fortunately, there are tactics you can use to say exactly the right things in your job interviews and negotiate your salary so everyone is happy.</p>

	<h2>The most common salary negotiation mistake? Not negotiating at all.</h2>
	<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
	<p>We scheduled a time to talk and I asked her some questions:</p>
	<ul>
		<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
		<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
		<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
	</ul>
	<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move.</p>
	<p>We began by focusing on how should could answer each interview question to position herself as <em>the</em> candidate for the job. That helped her get a stronger job offer with more room to negotiate.</p>
	<p>Once she had a strong offer in hand, she used simple tactics to negotiate from a position of strength, building on the momentum she built during her interviews.</p>	
	<p>The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>

	<h2>This simple method will earn you thousands of dollars</h2>
	<p>The best part? You can use the same method Ashley used <em>over and over</em> throughout your career when you change jobs <em>and</em> you can use it at your current job. It's easy and repeatable.</p>
	<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <strong>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</strong> That’s a lot of money to leave on the table out of frustration or fear.</p>
	
{% include testimonials/josh_kaufman.html %}

{% include book_contents.html %}

{% include offering_overview.html %} 

	<h2>Common questions and answers about <em>Fearless Salary Negotiation</em></h2>
	<p><strong>Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong></p>
	<p><strong>Yes.</strong> Whether you’re an experienced executive or a recent college grad looking for your first full-time job, <em>Fearless Salary Negotiation</em> will help you negotiate a higher salary.</p>
	<p>Josh C. is a Senior Business Development Executive and Harrison is a recent college grad:</p>
	
{% include testimonials/josh_c.html %}

{% include testimonials/harrison_p.html %}
	
	<p><strong>What if I don’t need <em>Fearless Salary Negotiation</em> right now?</strong></p>
	<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
	
	<p><strong>I don’t have time for this right now.</strong></p>
	<p>That’s not a question! But I’ll answer it anyway. ;) <strong>You can read <em>Fearless Salary Negotiation</em> cover to cover in about 4 hours on a Sunday afternoon.</strong> I'll even send you short emails with one key takeaway from each chapter so you get the highlights if you can't start reading right away. The courses are about three hours total, so you could easily knock those out on Sunday afternoon. I don’t like fluff, so <em>Fearless Salary Negotiation</em> is a lean guide full of tactics and light on fluff.</p>
	<p>Justin didn’t even read the whole book—he just skimmed two chapters—and he made another $11,000.</p>

	{% include testimonials/justin_abrahms.html %}

	{% include pricing_grid.html %}

	<h2>60-day money back guarantee</h2>
  <p>If you’re not happy with the book, courses, or your strategy session, reach out any time in the first 60 days and <strong>I’ll refund your money.</strong></p>
	<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>

	<h2>So how does this work? What are you buying?</h2>
  <p>When you buy <em>Fearless Salary Negotiation</em>, you’ll be able to download all the files directly to your device. Everything is bundled in .zip files so you can easily download exactly what you need.</p>
	<p><strong>You own the book and courses</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
	<p>And I’ll even email you to let you know when I update the book or courses.</p>

	{% include fsn_bio.html %}

	{% include testimonials/eric_macam.html %}

	<h2>PS The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth</h2>
	<p><em>Fearless Salary Negotiation</em> will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
	<p>Ready to get started? <a href="#purchase">Click here to <span class="fsn-full-price">choose the bundle that’s best for you.</span><span class="fsn-sale-price hidden">save 30% for a limited time!</span></a></p>
</div>