---
layout: sales-page
title: Stop Leaving Money on the Table. Get Paid What You're Worth.
headline: Stop Leaving Money<br>on The Table
tagline: Learn how to confidently, easily negotiate your salary, <br>so you finally get paid what you're worth
excerpt: Salary negotiation resources to get more job offers, maximize your salary when changing jobs, and get raises and promotions at work.
branded_title: false
context: sales-page-interview
last_modified_at: 2017-06-06
extra_css:
  - countdown.css
extra_js:
  - countdown.timer.js
  - fsn_sale.js
---
<div class="container container--normal">
	{% include fsn_header.html %}
	
  <p><strong>"Why should we hire you?"</strong> After weeks or even <em>months</em> of looking for the right job, the moment of truth has arrived—they finally asked the question you hoped they wouldn't. And even though you've thought about this question a hundred times, you're <em>still</em> not sure what to say.</p>
	
	<p>The job search process can feel like a series of uncomfortable situations designed to trip you up. Every time you start finding your stride, you bump into another tough situation that you just have to stumble through.</p>
	
	<p>You struggle through one question only to run into another one, where the stakes are higher and you feel even more uncomfortable. <strong>"What's your expected salary?"</strong> You probably shouldn't answer that, right? Or maybe you should? How?</p>
	
	<p><strong>"Do we have a deal?"</strong> You're here to make a deal, but what if you leave money on the table? It doesn't feel good to start a new job wondering if you could've gotten a better salary.</p>
	
	<p>Fortunately, there are tactics you can use to say exactly the right things in your job interviews and negotiate your salary so everyone is happy.</p>
	
	<div class="inline-ad hidden"></div>
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		<h2 class='u-center'>The most common salary negotiation mistake? <br>Not negotiating at all.</h2>
		<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
		<p>We scheduled a time to talk and I asked her some questions:</p>
		<ul>
			<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
			<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
			<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
		</ul>
		<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move.</p>
		<p>We began by focusing on how should could answer each interview question to position herself as <em>the</em> candidate for the job. That helped her get a stronger job offer with more room to negotiate.</p>
		<p>Once she had a strong offer in hand, she used simple tactics to negotiate from a position of strength, building on the momentum she built during her interviews.</p>	
		<p>The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
		
		<h2 class='u-center'>This simple method will earn you thousands of dollars</h2>
		<p>The best part? You can use the same method Ashley used <em>over and over</em> throughout your career when you change jobs <em>and</em> you can use it at your current job. It's easy and repeatable.</p>
		<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <strong>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</strong> That’s a lot of money to leave on the table out of frustration or fear.</p>
	</div>
</div>

<div class="container container--normal">
	<h2 class='u-center'>You might be surprised what others have achieved with <em>Fearless Salary Negotiation</em></h2>

	{% include testimonials/jared_allen.html short=true %}

	{% include testimonials/justin_abrahms.html short=true %}

	{% include testimonials/josh_c.html short=true %}

	{% include testimonials/john_miller.html short=true %}

	{% include testimonials/mike_g.html short=true %}

	{% include testimonials/j_d.html short=true %}

	{% include testimonials/jason_voegele.html short=true %}
	
	<h2 class='u-center'>What you will learn with <br><em>Fearless Salary Negotiation</em></h2>

	{% include book_contents.html %}
	
	<div class="fsn-sale-price hidden">
		<a href="#purchase" class="button button--bright">
			<span class="package__button-price">30% off</span>
  		<span class="package__button-text">Get Started</span>
		</a><br><br>
	</div>

	<div class="fsn-full-price">
		<a href="#purchase" class="button button--bright">
  		<span class="package__button-text"><strong>Get Instant Access</strong></span>
		</a><br><br>
	</div>
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		{% include offering_overview_two_column.html %} 
	</div>
</div>
	
<div class="container container--normal qa">
	<h2 class='u-center'><em>Fearless Salary Negotiation</em> isn't for everyone...</h2>
	<p><strong>Q: I've never negotiated before. Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong></p>
	<p><strong>A:</strong> You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
	<hr>
	
	<p><strong>Q: Can I negotiate my salary if this is my first job?</strong></p>
	<p><strong>A:</strong> The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
	<hr>

	<p><strong>Q: What if I'm not negotiating my salary right now?</strong></p>
	<p><strong>A:</strong> Even if you just got a raise, <em>Fearless Salary Negotiation</em> will help you plan for your <em>next</em> raise or promotion. Or if you're changing jobs soon, you can use it to work on your interview skills so you get more job offers.</p>
	<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
	<p><em>Fearless Salary Negotiation</em> is designed to be useful at any point in your career. So you can use it now whether you just negotiated your salary or plan to soon.</p>	
	<hr>

	<p><strong>Q: How long does this take?</strong></p>
	<p><strong>A:</strong> You can read <em>Fearless Salary Negotiation</em> cover to cover in about 4 hours on a Sunday afternoon. I'll even send you short emails with one key takeaway from each chapter so you get the highlights if you can't start reading right away.</p>
	<p>The courses are about three hours total, so you could easily knock those out on Sunday afternoon. I don’t like fluff, so <em>Fearless Salary Negotiation</em> is a lean guide full of tactics and light on fluff.</p>
	<hr>

	<p><strong>Q: I've already read the book. Do I need the courses and expert interviews too?</strong></p>
	<p><strong>A:</strong>My book is the 101 version of the content. The courses, expert interviews, Interview Cheat Sheet, Case Studies, and other bonuses are the 201 level of the content.</p>
	<p>The courses and other bonus contents allow use to go deeper and so you learn you more about how to get paid what you're worth.</p>
	<hr>

	<p><strong>Q: Can I get my money back if I'm not happy?</strong></p>
	<p><strong>A:</strong> Absolutely! You're protected by the Happy Customer Guarantee. If you buy <em>Fearless Salary Negotiation</em> and you're not happy with your purchase, just let me know and I'll refund your money.</p>
	<hr>

	{% include pricing_grid.html %}
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		<p class="u-center"><img src="/images/HappyCustomerGuarantee.png" with="150"/></p>
		
		<h2 class='u-center'>Happy Customer Guarantee <br>plus lifetime updates</h2>
	  <p>You're protected by the Happy Customer Guarantee: If you’re not happy with the book, courses, or your strategy session, reach out any time and <strong>I’ll refund your money.</strong></p>
		<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>
		<p><strong>You own the book and courses</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
		<p>Plus I'll email you to let you know when I update the book or courses for the lifetime of the product.</p>
	</div>
</div>

<div class="container container--normal">

	{% include fsn_bio.html h2="How I became a salary negotiation coach" %}
	
	{% include testimonials/d_o.html short=true %}
	
	{% include testimonials/matt_wood.html short=true %}
	
	{% include testimonials/josh_kaufman.html short=true %}

	{% include testimonials/patrick_mckenzie_short.html short=true %}
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth is tough. <br>It's even tougher when you don't have a roadmap.</h2>
		<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>
		<p>You have the proof that <em>Fearless Salary Negotiation</em> works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
		<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>
		<p>All the best</p>
		<p>Josh</p>
		<p><strong>PS:</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. <em>Fearless Salary Negotiation</em> will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
		<div class="fsn-sale-price hidden">
			<a href="#purchase" class="button button--bright">
				<span class="package__button-price">30% off</span>
	  		<span class="package__button-text">Get Started</span>
			</a><br><br>
		</div>
	
		<div class="fsn-full-price">
			<a href="#purchase" class="button button--bright">
	  		<span class="package__button-text"><strong>Get Instant Access</strong></span>
			</a><br><br>
		</div>
	</div>
</div>