---
layout: squeeze
title: How companies manage their salary structures
tagline: What's happening behind the scenes when you get a raise or promotion at work
excerpt: A simple overview of how companies manage their salary structures and how that impacts your raises and promotions at work.
---
<div class="container container--normal">
  
	<p>This is everything you need to learn how companies manage their salary structures and how that will impact your salary throughout your career:</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Video course: Introduction</strong>—a quick overview of what you'll learn in the course.</li>
    <li class="checkbox-list__item"><strong>Video course: Part 1</strong>—common terminology you'll need in Part 2, plus an example of a salary structure.</li>
    <li class="checkbox-list__item"><strong>Video course: Part 2</strong>—using the Salary Structure and Paygrade concepts from Part 1, we take a closer look at Promotions and Raises to give you more insight into what's going on behind the scenes.</li>
		<li class="checkbox-list__item"><strong>Guide on how companies manage their salary structure</strong>—if you prefer to read the guide rather than watch the video course, this guide contains everything covered in the video course.</li>
  </ul>

	{% include drip_form.html form="salary-structures" %}
</div>

{% include testimonials/josh_kaufman.html %}