---
layout: squeeze
title: How to resign from your job on good terms
tagline: The right things to do after giving notice at work
excerpt: A step-by-step guide on how to resign from your job after giving notice at work so you can leave your job on good terms
---
<div class="container container--normal">
	            
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Tactics for how to resign from your job on good terms</strong>—specific things you can do to leave on good terms and bolster your reputation</li>
    <li class="checkbox-list__item"><strong>How to wrap up and transition your projects</strong>—the reason for giving notice at work is to give everyone time adjust, so it's important to make the transition easy</li>
    <li class="checkbox-list__item"><strong>How to approach your exit interview</strong>—Dos and Don'ts for your exit interview</li>
		<li class="checkbox-list__item"><strong>An email template for saying goodbye while expanding your professional network</strong>—it's important to keep in touch with colleagues that you're likely to encounter throughout your career</li>
	</ul>

	{% include drip_form.html form="leave" %}
</div>

{% include testimonials/eric_macam.html %}