---
layout: squeeze
title: “How much should I be paid?"
tagline: Know your market value to get paid what you're worth
excerpt: A step-by-step guide to answer the question “How much should I be paid?” using salary websites and your knowledge of salaries and wages in your industry.
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Get a free video course</strong>—you'll learn how to estimate your market value so you know whether you're paid what you're worth.</li>
		<li class="checkbox-list__item"><strong>Get the Market Value Estimation Guide</strong>—if you prefer to read the guide rather than watch the video course, this guide has everything covered in the video course.</li>
		<li class="checkbox-list__item"><strong>Get the Market Value Estimation Worksheet</strong>—a simple tool to accompany the video course and guide.</li>
  </ul>

	{% include drip_form.html form="value" %}
</div>

{% include testimonials/josh_kaufman.html %}