---
layout: squeeze
title: How companies manage their salary structures
tagline: What's happening behind the scenes when you get a raise or promotion at work
excerpt: A simple overview of how companies manage their salary structures and how that impacts your raises and promotions at work.
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Get the free video course</strong>—you'll learn how companies decide what to you pay you and how to use that knowledge to get raises and promotions.</li>
		<li class="checkbox-list__item"><strong>Get the guide on how companies manage their salary structures</strong>—if you prefer to read the guide rather than watch the video course, this guide contains everything covered in the video course.</li>
  </ul>

	{% include /drip_forms/salary-structures.html %}
</div>

{% include testimonials/josh_kaufman.html %}