---
layout: squeeze
title: Asking for a promotion doesn't have to be scary
tagline: How to get promoted at work
excerpt: A step-by-step guide on how to get promoted at work by identifying your target job and building a case that you're ready to get promoted.
---
<div class="container container--normal">         
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Learn how to identify your target job</strong>—it's important to have a goal in mind when asking for a promotion so you can build a case to justify that goal</li>
    <li class="checkbox-list__item"><strong>Learn how to build a strong case</strong>—identify your accomplishments and accolades to demonstrate that you're already doing your target job</li>
    <li class="checkbox-list__item"><strong>Learn how and when to deliver your case</strong>—simple steps you can follow to deliver your case in a compelling way</li>
		<li class="checkbox-list__item"><strong>Get an email template for following up on your request</strong></li>
	</ul>

	{% include /drip_forms/promotion.html %}		
	
	{% include testimonials/josh_kaufman.html %}							
</div>

