---
layout: squeeze
title: How do you ask for a raise?
tagline: How to confidently ask for a raise at work
excerpt: Everything you need to ask for a raise at work by determining your target salary and building a case that you're ready for a raise.
---
<div class="container container--normal">
	            
  <ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>How to estimate your market value</strong>—a three-phase process for estimating your market value so you can set your target salary</li>
    <li class="checkbox-list__item"><strong>How to set your target salary</strong>—it's important to have a goal in mind when you ask for a raise so you can build a case to justify that goal</li>
    <li class="checkbox-list__item"><strong>How to build a strong case</strong>—identify your accomplishments and accolades to demonstrate that you're underpaid</li>
    <li class="checkbox-list__item"><strong>How and when to deliver your case</strong>—simple steps you can follow to deliver your case in a compelling way</li>
		<li class="checkbox-list__item"><strong>An email template for following up on your request</strong></li>
	</ul>

	{% include drip_form.html form="raise" %}
</div>

{% include testimonials/mike_g.html %}