---
layout: squeeze
title: How to ace a job interview
tagline: Are you ready for your job interview if your dream job calls tomorrow?
excerpt: A step-by-step guide to the job interview process with common job interview questions and answers.
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Learn how to prepare for a job interview</strong>—specific, easy things you can do before a job interview to stand out from other candidates</li>
    <li class="checkbox-list__item"><strong>Review common job interview questions and answers</strong>—a summary of the six types of questions you can expect and how to prepare for each one</li>
    <li class="checkbox-list__item"><strong>Learn some questions you should ask if you have the chance in your job interview</strong>—how to take advantage of the opportunity to ask your own questions, including specific questions you should ask</li>
		<li class="checkbox-list__item"><strong>Learn how to avoid common job interview pitfalls</strong>—how to avoid pitfalls that could cost you thousands of dollars</li>
		<li class="checkbox-list__item"><strong>Learn how and when to follow up after your job interview</strong>—sample emails you can use to followup at each stage of the interview process</li>
	</ul>

	{% include /drip_forms/interview.html %}
	
	{% include testimonials/jared_allen.html %}
</div>

