---
layout: article
title: Are you ready to get paid what you're worth?
tagline: You're underpaid. It's time to fix that.
excerpt: Fearless Salary Negotiation is everything you need to negotiate your salary like a pro and maximize your lifetime earnings
---

    <div class="container container--normal">
            
      <p><em>Fearless Salary Negotiation</em> is a complete set of tools—a book, worksheets, email templates, and courses—to maximize your salary throughout your career. </p>
			<p>This step-by-step guide will give you <em class='u-highlight'>knowledge and confidence as a salary negotiator</em> to get your next raise or promotion, and to score the maximium starting salary at a new company.</p>
      <p>Take control of your career and...</p>

      <ul class="checkbox-list">
        <li class="checkbox-list__item">Interview with confidence.</li>
        <li class="checkbox-list__item">Get the raise or promotion you have earned.</li>
        <li class="checkbox-list__item">Drastically increase your lifetime earnings.</li>
      </ul>
		</div>
		
    <div class="container container--normal">

      <script src="https://app.convertkit.com/landing_pages/1262.js"></script>
			<script src="https://app.convertkit.com/landing_pages/1921.js"></script>

    </div>
		
		{% include testimonials/josh_kaufman.html %}

		{% include offering_overview.html %} 
    
		{% include book_contents.html %}
    
		{% include is_this_for_you.html %}
    
		{% include gumroad_packages.html %}