---
layout: article
title: Learn to negotiate your salary like a pro
tagline: Avoid the salary negotiation mistakes that can cost you thousands of dollars 
excerpt: Fearless Salary Negotiation is everything you need to negotiate your salary like a pro and maximize your lifetime earnings
---

<div class="container container--normal">
        
  <p><strong>Salary negotiation can be intimidating.</strong> There’s a lot on the line and every situation is unique. Plus, there are so many questions that it can feel overwhelming.</p>
  <ul class="question-list">
		<li class="question-list__item">Should you negotiate your salary?</li>
		<li class="question-list__item">What if the company retracts your job offer?</li>
		<li class="question-list__item">Are you paid what you’re worth?</li>
		<li class="question-list__item">Should you disclose your current or desired salary?</li>
		<li class="question-list__item">How do you ask for a raise?</li>
	</ul>
	<p>It can be easy to just throw your hands up in frustration, but then <em class='u-highlight'>you could be leaving many thousands of dollars on the table</em>.</p>

	<h2>The most common salary negotiation mistake? Not negotiating at all.</h2>
	<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
	<p>We scheduled a time to talk and I asked her some questions:</p>
	<ul>
		<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
		<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
		<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
	</ul>
	<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move. The result? <em class='u-highlight'>She made an additional $15,000 in base salary by negotiating her job offer.</em></p>

	<h2>This simple method will earn you thousands of dollars</h2>
	<p>The best part? You can use this method <em>over and over</em> throughout your career when you change jobs <em>and</em> you can use it at your current job. It's easy and repeatable.</p>
	<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <em class='u-highlight'>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</em> That’s a lot of money to leave on the table out of frustration or fear.</p>
</div>

{% include testimonials/josh_kaufman.html %}

{% include offering_overview.html %} 

{% include book_contents.html %}

<div class="container container--normal">
	<h2>Common questions and answers about <em>Fearless Salary Negotiation</em></h2>
	<p><strong>Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong> <em class='u-highlight'>Yes.</em> Whether you’re an experienced executive or a recent college grad looking for your first full-time job, <em>Fearless Salary Negotiation</em> will help you negotiate a higher salary.</p>
	<p>Josh C. is a Senior Business Development Executive and Harrison is a recent college grad:</p>
</div>
	
	{% include testimonials/josh_c.html %}
	
	{% include testimonials/harrison_p.html %}
	
<div class="container container--normal">		
	<p><strong>What if I don’t need <em>Fearless Salary Negotiation</em> right now?</strong> Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <em class='u-highlight'>The sooner you start negotiating your salary like a pro, the more money you will make over the course of your career.</em></p>
	<p><strong>I don’t have time for this right now.</strong> That’s not a question! But I’ll answer it anyway. ;) <em class='u-highlight'>You can read <em>Fearless Salary Negotiation</em> cover to cover in about 4 hours on a Saturday afternoon.</em> I'll even send you short emails with one key takeaway from each chapter so you get the highlights if you can't start reading right away. The courses are about three hours total, so you could knock those out on Sunday afternoon. I don’t like fluff, so <em>Fearless Salary Negotiation</em> is a lean guide full of tactics and light on fluff.</p>
	<p>Justin didn’t even read the whole book—he just skimmed two chapters—and he made another $11,000.</p>
</div>

{% include testimonials/justin_abrahms.html %}
    
{% include gumroad_packages.html %}

<div class="container container--normal">	
	<h2>30-day money back guarantee</h2>
  <p>If you’re not happy with the book or courses, reach out to me any time in the first 30 days and <strong>I’ll refund your money.</strong></p>
	<p><em class='u-highlight'>That’s it—there’s no fine print.</em> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>

	<h2>So how does this work? What are you buying?</h2>
  <p>When you buy <em>Fearless Salary Negotiation</em>, you’ll be able to download all the files directly to your device. Everything is bundled in .zip files so you can easily download exactly what you need.</p>
	<p><strong>You own the book and courses.</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
	<p>For example, if you buy the <strong>Ultimate Salary Upgrade Edition</strong>, you can download everything in six files: one .zip file for each course and one .zip file for the book, worksheets, email templates, and case studies. The contents of the course .zip files are organized so you can see exactly what’s inside and jump to any lesson you wish.</p>
	<p>I’ll even email you to let you know when I update the book or courses.</p>
	<p>That’s it!.</p>

	<h2>Who are you and why should I buy from you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	<p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
	<p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and 1-on-1 coaching have helped many people earn tens of thousands more dollars, and <em>Fearless Salary Negotiation</em> can help you too!</p>
</div>

{% include testimonials/eric_macam.html %}

<div class="container container--normal">
	<h2>PS The sooner you start negotiating your salary like a pro, the sooner you can start earning more money</h2>
	<p><em>Fearless Salary Negotiation</em> will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
	<p>Ready to get started? <a href="#purchase">Click here to choose the edition that’s best for you.</a></p>
</div>