---
layout: squeeze
title: The Interview Cheat Sheet
tagline: Interview checklists to prepare for every job interview
excerpt: A simple, printable PDF with interview checklists, and common interview questions and answers so you know exactly what to say in your job interviews.
last_modified_at: 2017-03-26
og-image: InterviewCheatSheet.png
---
<div class="container container--normal">
	<p>You have a job interview scheduled for tomorrow morning, and you meant to prepare—you really did!—but life just got in the way. So you kept putting it off and putting it off, and now you have 12 hours before you talk to the recruiter or hiring manager for a job you really want.</p>

	<p>Your mind starts spinning, wondering what to expect. How do you prepare? What if this is a great opportunity and you forget something important?</p>

	<p>You Google things like "Sample interview questions" and "Should I give my salary requirements in an interview". The top results are all books, long blog articles, massive interview guides, but there's no <em>time</em> to read all that!</p>

	<p>You just want to get through this first call, and you can read a book later on.</p>
			
	{% include drip_forms/interview-cheat-sheet.html %}

	{% include testimonials/kai_davis.html %}

	<h2>A simple, printable, two-page PDF to get through any job interview</h2>
	<ul class="checkbox-list">
		<li class="checkbox-list__item">What to look for when researching a company</li>
		<li class="checkbox-list__item">How to respond when they ask for your current salary or expected salary</li>
		<li class="checkbox-list__item">How to answer almost any interview question</li>
		<li class="checkbox-list__item">Common types of interview questions you should expect</li>
		<li class="checkbox-list__item">Questions <em>you</em> should ask when you get the chance</li>
		<li class="checkbox-list__item">Interview checklists for each type of interview—in-person, phone call, or video call—so you don't forget anything before your interview</li>
	</ul>
	
	<h2>Review it and keep it handy during each interview</h2>
	<p><strong>Have a phone interview coming up?</strong> Print <strong>The Interview Cheat Sheet</strong> and use the "Phone call" interview checklist to make sure you have everything you need. Then keep it next to you so you know how to respond when they ask the salary expectations and salary requirements questions, and so you have your own interview questions ready to ask.</p>

	<p><strong>Interviewing in person?</strong> Use <strong>The Interview Cheat Sheet</strong> to guide your company research so you stand out from other candidates. And review the "In Person" interview checklist before the job interview so you're totally prepared.</p>
</div>