---
layout: default
title: The Interview Cheat Sheet
tagline: Be ready for every job interview
excerpt: A simple, printable, two-page PDF to prepare for any job interview in less than 20 minutes.
og-image: InterviewCheatSheet.png
---
<div class="container container--normal">
	<p>You have an interview scheduled for tomorrow morning, and you meant to prepare—you really did!—but life just got in the way. So you kept putting it off and putting it off, and now you have 12 hours before your first interview for a job you really want.</p>

	<p>Your mind starts spinning, wondering what to expect. How do you prepare? What if this is a great opportunity and you botch this phone call?</p>

	<p>So you start Googling things like "Sample interview questions" and "Should I give my salary requirements in an interview". The top results are all books, long blog articles, massive interview guides, but there's no <em>time</em> to read all that!</p>

	<p>You just want to get through this first call, and you can read a book later on.</p>
		
	<!--div class="ad-box">
		<div class="u-center">
			<img src="{{ site.baseurl }}/images/InterviewCheatSheet.png" width="100%" alt="The Interview Cheat Sheet">
		</div>
	  <a href="https://transactions.sendowl.com/products/517395/6D000E59/purchase" rel="nofollow" class="button button--bright sendowl-button">
	    <span class="package__button-price">$14</span>
	    <span class="package__button-text"><strong>Buy now</strong></span>
	  </a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
	</div-->
	
	{% include drip_forms/interview-cheat-sheet.html %}
</div>

{% include testimonials/kai_davis.html %}

<div class="container container--normal">
	<h2>A simple, printable, two-page PDF to get through any job interview</h2>
	<ul class="checkbox-list">
		<li class="checkbox-list__item">What to look for when researching a company</li>
		<li class="checkbox-list__item">How to respond when they ask for your current or desired salary</li>
		<li class="checkbox-list__item">How to answer almost any interview question</li>
		<li class="checkbox-list__item">Common types of questions you should expect</li>
		<li class="checkbox-list__item">Questions you should ask when you get the chance</li>
		<li class="checkbox-list__item">Checklists so you don't forget anything before your interview</li>
	</ul>
	
	<h2>Review it and keep it handy during each interview</h2>
	<p><strong>Have a phone interview coming up?</strong> Print <strong>The Interview Cheat Sheet</strong> and use the "Phone call" checklist to make sure you have everything you need. Then keep it next to you so you know how to respond when they ask for your current or desired salary, and so you have questions ready to ask.</p>

	<p><strong>Interviewing in person?</strong> Use <strong>The Interview Cheat Sheet</strong> to guide your company research so you stand out from other candidates. And review "In person" interview checklist before each interview so you're totally prepared.</p>
</div>