---
layout: squeeze
title: The Interview Cheat Sheet - Free PDF download
headline: Stop Struggling With Job Interview Prep
tagline: In 15 minutes you’ll know how to answer common interview questions, have questions to ask the interviewer, and be prepared for all types of interviews
excerpt: 'How to answer job interview questions, and interview checklists for the common interview types: phone interviews, in-person interviews, virtual interviews.'
last_modified_at: 2017-05-03
og-image: InterviewCheatSheet.png
---
<div class="container container--normal">
	<p>Your job interview is in just a few hours, but you haven't gotten around to that interview preparation you planned. You meant to get ready—you really did!—but life just got in the way and you're note prepared for your job interview.</p>
	
	<p>It's not too late!</p>
	
	<p>What if you could quickly learn how to answer job interview questions, have excellent questions ready to ask the interviewer, and handle the salary expectations and current salary interview questions like a pro?</p>
	
	<p><strong>You can finish your interview prep in 15 minutes!</strong> How?</p>
	
	<p>The Interview Cheat Sheet will prepare you for a phone interview, in-person interview, or virtual interview. You'll know how to answer interview questions so you stand out from other candidates, and you'll know the common types of interview questions to expect.</p>
			
	{% include drip_forms/interview-cheat-sheet.html %}

	{% include testimonials/kai_davis.html %}
	
	<h2>Review it and keep it handy during each interview</h2>
	<p><strong>Have a phone interview coming up?</strong> Print <strong>The Interview Cheat Sheet</strong> and use the "Phone call" interview checklist to make sure you have everything you need. Then keep it next to you so you know how to respond when they ask the salary expectations and salary requirements questions, and so you have your own interview questions ready to ask.</p>

	<p><strong>Interviewing in person?</strong> Use <strong>The Interview Cheat Sheet</strong> to guide your company research so you stand out from other candidates. And review the "In Person" interview checklist before the job interview so you're totally prepared.</p>
</div>