---
layout: default
title: "How do I prepare for a job interview?"
tagline: Everything you need to ace your next job interview
excerpt: A self-paced course to prepare you for the job interview process to get the best job offer possible.
---

<div class="container container--normal">
        
  <p>You have a job interview coming up with a company you really like, and it took a lot of work to land this interview. You celebrate for a moment before you realize you have a bunch of questions about your upcoming interview:</p>
  <ul class="question-list">
		<li class="question-list__item">What do you say when they ask for your current or desired salary?</li>
		<li class="question-list__item">How do you stand out from other candidates?</li>
		<li class="question-list__item">What questions should you ask if you have the chance?</li>
		<li class="question-list__item">How do you answer questions about...?</li>
	</ul>
	<p>How do you prepare for your job interview?</p>

	<div class="ad-box u-center">
		<h3>This video course is part of the <em>Fearless Salary Negotiation</em> Complete Bundle.</h3>
		<p><a href="{{ site.baseurl }}/#purchase">Click here to learn more</a></p>
	</div>
	
	<h2>The more prepared you are, the more you will stand out.</h2>
	<p>Thomas had recently interviewed with a very large tech company and he made it deep into the interview process. But when he got to the final stage of the process, they decided not to extend an offer.</p>

	<p>He felt that he was really close to getting an offer, but that he was missing something and he couldn't figure out what it was.</p>

	<p>A couple of weeks later, he lined up another interview at a startup. He reached out to me to talk about what he could do differently for this interview, and I suggested he review this course.</p>

	<p><strong>Preparation is the key</strong></p>
	
	<p>Once Thomas finished reviewing this course, I asked him what he thought. He told me that he realized he could do more to <em>prepare</em> for the interview by learning about the company, understanding their goals, and specifically practicing with the technologies they use to run their business.</p>

	<p>So he spent a little extra time—maybe 30 minutes—applying what he learned from <em>Fearless Salary Negotiation</em>.</p>

	<p><strong>He was totally prepared for his next interview and knocked it out of the park—every question they asked seemed really easy. Within a few hours of the interview, the recruiter called with a job offer.</strong></p>

	<h2>With this course, you will get more job offers for better salaries</h2>
	<p>With this course, you will confidently approach your job interviews knowing you are fully prepared to answer common questions and avoid constly mistakes, and <strong>you'll get more job offers for higher salaries</strong>.
</div>

{% include testimonials/josh_kaufman.html %}

<div class="container container--normal">
	<h2>Everything you need to be totally prepared for your job interviews</h2>
	<p><strong>The Interview Mastery Bundle</strong> of <em>Fearless Salary Negotiation</em> includes <em class='u-highlight'>the premium interview course</em>—11 lessons and nearly one hour of self-paced content—to teach you how to get the best job offers possible.</p>		
	<p>Each bundle of <em>Fearless Salary Negotiation</em> also includes:</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats (PDF, ePub and mobi)</li>		
		<li class="checkbox-list__item"><em class='u-highlight'>Two self-paced starter courses</em> to help you learn how companies decide what to pay you, and estimate your market value</li>
    <li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to implement what you learn</li>		
    <li class="checkbox-list__item"><em class='u-highlight'>18 email templates</em> you can use to make communicating easier</li>
		<li class="checkbox-list__item"><em class='u-highlight'>The Interview Cheat Sheet</em> so you're prepared for every interview</li>
	</ul>
</div>

{% include interview_course_contents.html %}

<div class="container container--normal">
	<h2>Common questions and answers about <em>Fearless Salary Negotiation</h2>
	<p><strong>Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong> <em class='u-highlight'>Yes.</em> Whether you’re an experienced executive or a recent college grad looking for your first full-time job, <em>Fearless Salary Negotiation</em> will help you negotiate a higher salary.</p>
	<p>Josh C. is a Senior Business Development Executive and Harrison is a recent college grad:</p>
</div>
	
	{% include testimonials/josh_c.html %}
	
	{% include testimonials/harrison_p.html %}
	
<div class="container container--normal">		
	<p><strong>What if I don’t need to prepare for a job interview right now?</strong> Practice makes perfect. Acing your next job interview could be worth thousands and thousands of dollars over the course of your career. The sooner you start preparing, the better you will do in your next interview.</p>
	<p><strong>I don’t have time for this right now.</strong> That’s not a question! But I’ll answer it anyway. ;) <em class='u-highlight'>You can get through the entire course in less than an hour.</em> There's no fluff, only the strategy and tacctics you need to ace your next interview.</p>
</div>

{% include testimonials/justin_abrahms.html %}
    
<div class="container container--normal">	
	<div class="ad-box u-center">
		<h3>This video course is part of the <em>Fearless Salary Negotiation</em> Complete Bundle.</h3>
		<p><a href="{{ site.baseurl }}/#purchase">Click here to learn more</a></p>
	</div>
	
	<h2>60-day money back guarantee</h2>
  <p>If you’re not happy with the book or courses, reach out any time in the first 60 days and <strong>I’ll refund your money.</strong></p>
	<p><em class='u-highlight'>That’s it—there’s no fine print.</em> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>

	<h2>So how does this work? What are you buying?</h2>
  <p>When you buy <strong>The Interview Mastery Bundle</strong> of <em>Fearless Salary Negotiation</em>, you’ll be able to download all the files directly to your device. Everything is bundled in .zip files so you can easily download exactly what you need.</p>
	<p><strong>You own the book and courses.</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
	<p>You can download everything in four files: one .zip file for each course and one .zip file for the book, worksheets, email templates, case studies, and The Interview Cheat Sheet. The contents of the course .zip files are organized so you can see exactly what’s inside and jump to any lesson you wish.</p>
	<p>I’ll even email you to let you know when I update the book or courses.</p>

	{% include fsn_bio.html %}
</div>

{% include testimonials/eric_macam.html %}

<div class="container container--normal">
	<h2>PS The sooner you start preparing, the sooner you'll be ready to ace your next job interview.</h2>
	<p><em>Fearless Salary Negotiation</em> will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>
	<p>Ready to get started? <a href="{{ site.baseurl }}/#purchase">Click here to ace your next interview</a></p>
</div>