---
layout: squeeze
title: Respond to your job offer with these 10 email templates
headline: The perfect response for any job offer
tagline: Ask for time, accept, decline, or counter your job offer using these email templates
excerpt: Ask for time, accept, decline, or counter your job offer with these free email templates.
og-image: SalaryNegotiationEmailTemplates_TeaserImage.png
---
<div class="container container--normal">
	{% include /drip_forms/salary-negotiation-email-templates.html %}
	
	<p>After weeks or even <em>months</em> of job interviews, you finally got a job offer from a good company. This is the job opportunity you've been waiting for! You're excited about the company and the offer is pretty good, so it's tempting to just accept the offer as-is.</p>
	
	<p>Still, you can't stop wondering, "What if they left some wiggle room just in case I negotiate my salary?" It would be a shame to get this far and leave money on the table.</p>
	
	<p><strong>But how do you respond to a job offer and start the salary negotiation? What's your next move once you get the offer?</strong></p>
		
	<p>Believe it or not, you can negotiate your salary like a pro with a few simple scripts. They'll show you exactly how to send a quick thank you letter to let them know you're considering their job offer. And even how to counter offer.</p>
	
	<p>These scripts–already formatted in easy-to-use email templates in a single PDF—have earned people tens of thousands of dollars, and they only take a few minutes to tweak for your specific situation.</p>
		
	{% include testimonials/t_k.html %}
</div>