---
layout: squeeze
title: Respond to your job offer with this salary negotiation email template
headline: Improve your job offer by thousands of dollars with this email template
excerpt: Respond to your job offer with a carefully crafted email template to deliver your counter offer and negotiate your salary
context: sales-page
og-image: SNT_SingleTemplate_TeaserImage.png
---
<div class="container container--normal">
	<script async data-uid="b531d99d25" src="https://f.convertkit.com/b531d99d25/4e577c86fe.js"></script>
	
	<p>After weeks or even <em>months</em> of job interviews, you finally got a job offer from a good company. This is the job opportunity you've been waiting for! You're excited about the company and the offer is pretty good, so it's tempting to just accept the offer as-is.</p>
	
	<p>Still, you can't stop wondering, "What if they left some wiggle room just in case I negotiate my salary?" It would be a shame to get this far and leave money on the table.</p>
	
	<p><strong>But how do you respond to a job offer and start the salary negotiation? What's your next move once you get the offer?</strong></p>
		
	<p>Believe it or not, you can negotiate your salary like a pro with this simple email template. It will show you exactly how to counter offer.</p>
	
	<p>This script–already formatted in easy-to-use email template—has earned people tens of thousands of dollars, and it only takes a few minutes to tweak for your specific situation.</p>
</div>

<div class="container container--widened">	
	<div class="testimonial-series">
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/aaron_batilo.html short=true %}

		{% include testimonials/robin.html short=true %}
	</div>
</div>