---
layout: default
title: 'Fearless Salary Negotiation: Finally Get Paid What You’re Worth'
headline: You're Not Getting Paid <br>What You're Worth
tagline: Proven salary negotiation strategies and tactics
excerpt: Proven salary negotiation strategies and tactics to ace job interviews, get more offers, maximize starting salary, and get raises at work.
context: interview
last_modified_at: 2017-08-29
---
<div class="container container--widened">
	{% include featured_logos.html %}
</div>
<div class="container container--normal">	
	{% include drip_forms/interview-cheat-sheet.html drip_offer_plinko="optional" %}
	
	{% include testimonials/mark_girgis.html %}
	
	<br><br>
	<p><a href="/get-started/#purchase" class="guide-btn large">
		Get Instant Access
	</a></p>
</div>