---
layout: default
title: 'Fearless Salary Negotiation: Finally Get Paid What You’re Worth'
headline: You're Not Getting Paid <br>What You're Worth
tagline: Proven salary negotiation strategies and tactics
excerpt: Proven salary negotiation strategies and tactics to ace job interviews, get more offers, maximize starting salary, and get raises at work.
context: home
last_modified_at: 2017-08-29
---
<div class="container container--widened">
	{% include featured_logos.html %}
</div>
<div class="container container--normal">	
	<div class="inline-ad hidden"></div>
	
	{% include testimonials/jared_allen.html %}
</div>