---
layout: squeeze
title: Welcome ODevs!
tagline: Get a free guide on how to get your next raise
excerpt: A special offer for the ODevs Meetup—a guide to get your next raise.
---
<div class="container container--normal">
        
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>How to get your next raise guide</strong>—a step-by-step guide for preparing and presenting your case</li>
		<li class="checkbox-list__item"><strong>How to estimate your market value</strong>—a three-phase process for estimating your market value so you can set your target salary</li>
		<li class="checkbox-list__item"><strong>Email template</strong>—the guide includes a template you can use to send your written case to your manager after you request your raise in your 1-on-1</li>
	</ul>
	{% include drip_form.html form="raise" %}
</div>

{% include testimonials/mike_g.html %}

<div class="container container--normal">
        
  <h2>Hi, <em>ODevs</em>!</h2>
	<p>Thanks for having me back as your guest.</p>
	<p>I hope you find these resources useful as you pursue your next raise. The sooner you get started, the sooner you'll get paid what you're worth!</p>
	<p>You can always get in touch with me using <a href="http://www.joshdoody.com/contact" target="_blank">this simple form</a> or you can <a href="https://twitter.com/JoshDoody" target="_blank">find me on Twitter</a>. I'm happy to answer your salary negotiation questions and I'm available for <a href="{{ site.bsaeurl }}/coach/">1-on-1 coaching</a> when you're preparing for your next interview, salary negotiation, or raise!</p>
	<p>All the best</p>
	<p>– Josh</p>
</div>