---
layout: doctor
title: "Graduating Physicians: Here's how to negotiate your contract and salary"
headline: Negotiate your first contract without leaving anything <br>on the table
excerpt: Graduating Physicians can negotiate tens or even hundreds of thousands of dollars of additional benefits using this method.
icon: caduceus.png
context: sales-page
branded_title: false
last_modified_at: 2017-06-04
---
<section class="white">
	<div class="container container--normal">	
	  <h2 class='u-center'>“I've heard my first contract isn't negotiable, but can I negotiate...”</h2>
		<p>Base pay?</p>
		<p>My shift schedule?</p>
		<p>My early-signing stipend?</p>
		
		<p><strong>Congratulations, you're a graduating physician, and now you have a whole new set of problems to deal with.</strong></p>
		
		<p>You are finally finishing up and you feel like you're just barely hanging on. But now it's time to start your interviews, which will hopefully lead to job offers.</p>
		
		<p>You've heard that first contracts aren't negotiable, but you aren't so sure. Another resident who was a year ahead of you told you that she got a better hourly rate. Another resident told you that he got a huge monthly stipend for signing early.</p>
		
		<p>How did they do that? Can <em>you</em> do that?</p>
	</div>
</section>
<section class="gray">
	<div class="container container--normal">	
		<h2 class='u-center'>Earn tens or even <em>hundreds</em> of thousands of dollars in additional benefits and compensation by negotiating your contract.</h2>
		
		<p><strong>Imagine this...</strong></p>
		
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Imagine knowing exactly what to ask for in your salary negotiation.</li>
			<li class="checkbox-list__item">Imagine knowing how to find out exactly what's negotiable for each hospital, group, or practice.</li>
			<li class="checkbox-list__item">Imagine getting paid to finish your training.</li>
		</ul>
		
		<p>With <strong><em>Fearless Salary Negotiation for Graduating Physicians</em></strong>, you'll have everything you need to negotiate your first contract without leaving anything on the table.</p>
	</div>
</section>
<section class="white">
	<div class="container container--normal">			
		<h2 class='u-center'>What you'll learn</h2>
		{% include physician_book_contents.html %}
	</div>
</section>
<section class="gray">
	<div class="container container--normal">			
		{% include fsn_bio.html h2="Learn from a salary negotiation expert" %}
	</div>
</section>
<section class="white">
	<div class="container container--normal">			
		{% include drip_forms/fsn-for-physicians.html %}
	</div>
</section>