---
layout: post
title: Recent articles
tagline: Articles on job interviews, salary negotiation, and career management
excerpt: Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.
share_title: Articles on job interviews, salary negotiation, and career management
last_modified_at: 2016-06-21
---
{% for post in site.posts %}
	{% unless post.chapter %}
    <h2 class="excerpt-header">{{ post.title }}</h2>
    <div class="oc-excerpt">
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %} <a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
    </div>
		{% endunless %}
{% endfor %}
