---
layout: post
title: Recent articles
excerpt: Recent articles about salary negotiation, job interviews, and how to get raises and promotions at work.
last_modified_at: 2016-06-21
---

    <ul style="list-style-type: none;">
    {% for post in site.posts %}
			{% unless post.chapter %}
      <li style="list-style-type: none;">
        <h2 class="excerpt-header">{{ post.title }}</h2>
        <div class="oc-excerpt">
          <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %} <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
        </div>
      </li>
			{% endunless %}
    {% endfor %}
		</ul>