---
layout: sales-page
title: Products to help you finally get paid what you're worth
headline: Fearless Salary Negotiation products to help you get paid what you're worth
excerpt: Finally get paid what you're worth with this suite of products from Fearless Salary Negotiation
context: sales-page
last_modified_at: 2018-11-28
extra_css:
  - blackfriday.css
---
<section class="white">
	<div class="container container--normal">
		<h2 class='u-center'>“The money I spent on your book was the best ROI on anything I've bought. :)” – Amy</h2>
		<br>
		<p><strong>To give as a gift</strong>, just click the <img src="/images/SendOwlGiftIcon.png" width="16"/> icon at checkout! You can even schedule your gift delivery for a later date so you don't forget 😉</p>
		
		<ul>
			<li><a href="#fsn">The <em>Fearless Salary Negotiation</em> bundles</a></li>
			<li><a href="#esnep">The Essential Salary Negotiation Email Pack</a></li>
			<li><a href="#sncc">The Salary Negotiation Crash Course</a></li>
			<li><a href="#gynr">Get Your Next Raise</a></li>
		</ul>
		
		{% include products_two_column.html %} 
		
		{% include testimonials/amy_fsn.html %}
		
		{% include featured_logos.html %}
	</div>
</section>