---
layout: default
title: How do I ask for a raise or promotion?
tagline: A self-paced course to set your goal, build your case, and make your request. 
excerpt: A self-paced course to walk you through the entire raise and promotion process to set your goal, build your case, and make your request.
---

<div class="container container--normal">
	<p>Here are some common reasons we talk ourselves out of asking for a raise or promotion—many of these may sound familiar:</p>
  <ul class="question-list">
		<li class="question-list__item">I don't even know how to ask for a raise or promotion. Do I ask in person? Through email?</li>		
    <li class="question-list__item">What if my manager says no?</li>		
    <li class="question-list__item">Do I deserve a raise or promotion?</li>
	  <li class="question-list__item">Do I just need to work harder and harder until I get a raise or promotion?</li>		
	  <li class="question-list__item">Don’t I have to wait until my next performance review?</li>		
	</ul>
	<p>Raises and promotions <em>seem</em> like things that are granted to us by companies when they feel like it. So it's easy to just sit back and wait for one to come to you when it's time. And sometimes you wait, and wait, and wait, and nothing seems to be happening.</p>
	
	<div class="ad-box u-center">
		<h3>This video course is part of the <em>Fearless Salary Negotiation</em> Complete Bundle.</h3>
		<p><a href="{{ site.baseurl }}/#purchase">Click here to learn more</a></p>
	</div>
	
	<h2>A CEO describes raises and promotions from a manager's perspective</h2>
	<p>I asked the CEO of a large public company "How do you find the people that you promote to be your VPs and SVPs?" I wanted to know the secret sauce for finding untapped potential, for identifying future superstars so that I could get promoted myself, and so that I too would know how to find talent.</p>

	<p>He said, "I look for people that are already working in and exploring areas outside their own, and I promote them." In other words, he was looking for people already doing the jobs he needed to fill.</p>

	<p><strong>Business managers don’t generally give raises or promote people based on <em>potential</em>, but based on <em>results</em>. <em>They’re looking for people who have already demonstrated that they can do the job.</em></strong></p>

	<p>Managers are very, very busy people. They don’t have much time to constantly evaluate each employee's job title and pay. They barely have enough time to delegate and manage the business they’re responsible for running. So they’re not looking for <em>potential</em>, they’re looking for value <em>right now</em>.</p>
	
	<h2>You don't have to wait for raises and promotions to come to you.</h2>
	<p>Once you know that managers are looking for value right now, the raiase and promotion process becomes very simple:</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item">Set your goal.</li>
    <li class="checkbox-list__item">Build your case.</li>
    <li class="checkbox-list__item">Present your case.</li>
    <li class="checkbox-list__item">Follow up.</li>				
	</ul>
	<p>This self-paced course walks you through each step of the process so you can confidently request your next raise or promotion and stop waiting for it to come to you.</p>
</div>

{% include testimonials/mike_g.html %}

<div class="container container--normal">
	<h2>Everything you need to confidently ask for your next raise or promotion</h2>
	<p><strong>The Raise and Promotion Bundle</strong> of <em>Fearless Salary Negotiation</em> includes <em class='u-highlight'>the premium raise and promotion course</em>—22 lessons and nearly one hour of self-paced content—to teach you how to build a compelling case and ask for your next raise or promotion.</p>		
	<p>Each <em>Fearless Salary Negotiation</em> bundle also includes:</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats (PDF, ePub and mobi)</li>		
		<li class="checkbox-list__item"><em class='u-highlight'>Two self-paced starter courses</em> to help you learn how companies decide what to pay you, and estimate your market value</li>
    <li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to implement what you learn</li>		
    <li class="checkbox-list__item"><em class='u-highlight'>18 email templates</em> you can use to make communicating easier</li>
		<li class="checkbox-list__item"><em class='u-highlight'>The Interview Cheat Sheet</em> so you're prepared for every interview</li>
	</ul>
</div>

{% include raise_and_promotion_course_contents.html %}

<div class="container container--normal">
	<h2>Common questions and answers about <em>Fearless Salary Negotiation</h2>
	<p><strong>Will <em>Fearless Salary Negotiation</em> work for <em>me</em>?</strong> <em class='u-highlight'>Yes.</em> Whether you’re an experienced executive or a recent college grad looking for your first full-time job, <em>Fearless Salary Negotiation</em> will help you negotiate a higher salary.</p>
	<p>Josh C. is a Senior Business Development Executive and Harrison is a recent college grad:</p>
</div>
	
{% include testimonials/josh_c.html %}

{% include testimonials/harrison_p.html %}
	
<div class="container container--normal">		
	<p><strong>What if I don’t need this course right now?</strong> It's never too early to start building your case for your next raise or promotion. The sooner you set your goal, the sooner you can start taking steps to achieve that goal and building your case. The lessons you'll learn for this course will help you get your next raise or promotion sooner.</p>
	<p><strong>I don’t have time for this right now.</strong> That’s not a question! But I’ll answer it anyway. ;) <em class='u-highlight'>You can get through the entire course in less than an hour.</em> There's no fluff, only the specific steps you need to take to get your next raise or promotion.</p>
</div>

{% include testimonials/justin_abrahms.html %}

<div class="container container--normal">	
	<div class="ad-box u-center">
		<h3>This video course is part of the <em>Fearless Salary Negotiation</em> Complete Bundle.</h3>
		<p><a href="{{ site.baseurl }}/#purchase">Click here to learn more</a></p>
	</div>
	
	<h2>60-day money back guarantee</h2>
  <p>If you’re not happy with the book or courses, reach out any time in the first 60 days and <strong>I’ll refund your money.</strong></p>
	<p><em class='u-highlight'>That’s it—there’s no fine print.</em> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>
	
	<h2>So how does this work? What are you buying?</h2>
  <p>When you buy <strong>The Raise and Promotion Bundle</strong> of <em>Fearless Salary Negotiation</em> you’ll be able to download all the files directly to your device. Everything is bundled in .zip files so you can easily download exactly what you need.</p>
	<p><strong>You own the book and courses.</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
	<p>You can download everything in four files: one .zip file for each course and one .zip file for the book, worksheets, email templates, case studies, and The Interview Cheat Sheet. The contents of the course .zip files are organized so you can see exactly what’s inside and jump to any lesson you wish.</p>
	<p>I’ll even email you to let you know when I update the book or courses.</p>
	
	{% include fsn_bio.html %}
</div>

{% include testimonials/eric_macam.html %}

<div class="container container--normal">
	<h2>PS Ready to get your next raise or promotion?</h2>
	<p>Stop waiting for your next raise or promotion to come to you. <em>Fearless Salary Negotiation</em> will walk you through the entire raise and promotion process to set your goal, build your case, and make your request. <a href="{{ site.baseurl }}/#purchase">Click here to get started.</a></p>
</div>