---
layout: squeeze
title: Ask your employer for a raise with these email templates
headline: Word-for-word scripts to ask your manager for a raise
tagline: Schedule a meeting, ask for a raise, and follow up to get a definitive result
excerpt: Ask for time, accept, decline, or counter your job offer with these free email templates.
og-image: SalaryIncreaseEmailTemplates_TeaserImage.png
---
<div class="container container--normal">
	<p>How do you ask your manager for a raise?</p>

	<p>I've got you covered! These email templates make it easy for you to schedule a time to talk, put your case in writing, and follow up after your conversation to make sure you get a definitive result.</p>
		
{% include /drip_forms/salary-increase-email-templates.html %}
</div>

{% include testimonials/mike_g.html %}