---
layout: sales-page
title: Salary Negotiation Crash Course for Software Developers
headline: How do you ask for more money at your next software job…without losing the offer?
excerpt: Negotiate your software job offer with the confidence of a pro without leaving anything on the table
context: sales-page
last_modified_at: 2020-05-15
---
<section class="white">
	<div class="container container--normal">	
		<p>Maybe you imagine yourself a couple days after sending a counter offer, frantically refreshing your inbox while you wait to hear a response from the recruiter.</p>
		
		<!-- <p><img src="/images/BadCounterOffer.png" width=100%/></p> -->
		
		<p>Every email notification sends your heart racing, hoping it’s a yes but almost expecting that they’ll say no.</p>
		<p>Or worse - what if they never even respond? What if the offer just … goes away?</p>
		<p>You start to think that it’s less risky to just accept the initial offer and move on. Better than starting a whole new job search, right?</p>
		<p>You’ve seen (or at least heard rumors) of other people getting a higher salary or a big pile of equity. But what do you even say and how do you say it to avoid sounding greedy? The last thing you want to do is say one wrong thing and mess it all up.</p>
		
		<blockquote>
			<p>"As one who had not really ever negotiated my salary (certainly not successfully) before, <strong>I was able to increase the original offer by $9,000 (12%)</strong>."</p>

			<p>—Candas Barnes</p>
		</blockquote>
		
		<h2>You CAN ask for more, with confidence of a seasoned negotiator</h2>
		<p>What if you could confidently navigate the back and forth of your next salary negotiation like a seasoned pro (even if it’s your first time)? Not only land that dream job, but with a higher salary and an extra week of vacation?</p>
		<p>How great will it feel to read <strong>that</strong> confirmation email when it arrives?</p>
		<p>It’s true that an inexperienced negotiator can get tripped up in the complicated back and forth of asking a prospective employer for more, but it doesn’t have to be that way.</p>
		<p>And once you’ve negotiated successfully the first time, you’ll feel ready to do it again when it’s time for your next raise or job transition.</p>
		
		{% include testimonials/marvin.html %}
		
		<h2>You can learn to negotiate your job offer like a pro with my Salary Negotiation Crash Course</h2>
		<p>Time is of the essence, so <strong>in this focused series of 8 of videos I’ll show you exactly what to expect during the negotiation process.</strong> Instead of wondering what happens next you’ll be able to anticipate the recruiter’s every move.</p>
		<p>There’s no crystal ball necessary when you understand how the entire negotiation process works.</p>
		<p><strong>Once you understand the negotiation process, you’ll be able to save even more time drafting the “perfect” email by using my battle-tested negotiation scripts and templates.</strong> Instead of searching for the right words (or accidentally saying the wrong ones), you can know exactly what words to say when they push back on the phone and what to write in every email with battle-tested negotiation scripts and email templates.</p>
		<p>Ready to get started? Get your my entire Salary Negotiation Crash Course right now and confidently send your counter-offer email within 90 minutes.</p>

		{% include testimonials/darryl.html %}
	</div>
	
	<div class="container container--widened">
		<h2 class='u-center'>What you will learn with the<br>Salary Negotiation Crash Course</h2>

		{% include negotiation_course_contents.html %}
	</div>
	<div class="container container--normal">
		<h2 class='u-center'>Sample lesson</h2>
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/effQltGYtF8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>

		{% include offering_overview_two_column_negotiate.html %} 
	</div>

	<div class="container container--widened">
		<a name="purchase"></a>
		{% include pricing_grid_flexbox_negotiate.html %}
		
		{% include featured_logos.html %}
	</div>

	<div class="container container--normal">
		<p class="u-center guarantee-img"><img src="/images/HappyCustomerGuarantee.png" width="150"/></p>
		
		<h2 class='u-center'>Happy Customer Guarantee <br>plus lifetime updates</h2>
	  <p>You're protected by the Happy Customer Guarantee: If you’re not happy with your purchase for any reason, reach out any time and <strong>I’ll refund your money.</strong></p>
		<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>
		<p><strong>You own everything</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
		<p>Plus I'll email you to let you know when I add new materials for the lifetime of the product!</p>
		
		{% include testimonials/j_m.html %}
		<br>
		{% include testimonials/ryan_w.html %}
	</div>

	<div class="container container--normal qa">
		<h2 class='u-center'><em>The Salary Negotiation Crash Course</em> isn't for everyone...</h2>
		<p><strong>Q: I've never negotiated before. Will this work for <em>me</em>?</strong></p>
		<p><strong>A:</strong> You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
		<hr>
	
		<p><strong>Q: Can I negotiate my salary if this is my first job?</strong></p>
		<p><strong>A:</strong> The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
		<hr>

		<p><strong>Q: What if I'm not negotiating my salary right now?</strong></p>
		<p><strong>A:</strong> If you're changing jobs soon, you can learn to negotiate your salary so you avoid common mistakes that could cost you thousands of dollars.</p>
		<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
		<hr>

		<p><strong>Q: How long does this take?</strong></p>
		<p><strong>A:</strong> The salary negotiation video course takes about 50 minutes. If you watch the course and then use the other video supplements, worksheets, and email templates, you can be ready to negotiate your salary in less than 90 minutes.</p>
		<hr>

		<p><strong>Q: Can I get my money back if I'm not happy?</strong></p>
		<p><strong>A:</strong> Absolutely! You're protected by the Happy Customer Guarantee. If you're not happy with your purchase for any reason, just let me know and I'll refund your money.</p>
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>

	<div class="container container--normal">
		{% include fsn_bio.html h2="Strategy and Tactics from a Salary Negotiation Expert" %}
	</div>

	<div class="container container--widened">
		<h2 class='u-center'>You might be surprised what others have achieved with the tools and techniques in The Salary Negotiation Crash Course</h2>

		<div class="testimonial-series">
			{% include testimonials/andrew.html short=true %}
			
			{% include testimonials/jared_allen.html short=true %}

			{% include testimonials/josh_c.html short=true %}
			
			{% include testimonials/justin_abrahms.html short=true %}

			{% include testimonials/jesse_dumond.html short=true %}

			{% include testimonials/j_d.html short=true %}

			{% include testimonials/jason_voegele.html short=true %}
			
			{% include testimonials/candas_barnes.html short=true %}
			
			{% include testimonials/natalie.html short=true %}
		</div>
	</div>

	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth is tough. <br>It's even tougher when you don't have a roadmap.</h2>
		<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>
		<p>You have the proof that The Salary Negotiation Crash Course works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
		<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>
		<p>All the best</p>
		<p>Josh</p>
		<p><strong>PS:</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. The Salary Negotiation Crash Course will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>


		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>