---
layout: sales-page
title: Negotiate your salary without leaving anything on the table
headline: Improve your job offer by thousands of dollars<br>in less than 90 minutes
tagline: The Salary Negotiation Crash Course
excerpt: Learn how to negotiate your salary without leaving anything on the table in less than 90 minutes.
context: sales-page
last_modified_at: 2017-11-25
extra_css:
  - countdown.css
extra_js:
  - countdown.timer.js
  - fsn_sale.js
---
{% include featured_logos.html %}

<section class="white">
	<div class="container container--normal">	
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
		<p>You have a job offer and they're waiting for your answer. You need to respond <em>quickly</em>. You know you'll be leaving money on the table if you don't negotiate your job offer, and that doesn't feel good.</p>
		
		<p><strong>The million-dollar question is: <em>How do you negotiate your salary without losing the job offer or seeming greedy?</em></strong> Ashley did it, but first she had to avoid the most common salary negotiation mistake...</p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<h2 class='u-center'>The most common salary negotiation mistake: <br>Not negotiating at all.</h2>
		<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
		<p>We scheduled a time to talk and I asked her some questions:</p>
		<ul>
			<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
			<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
			<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
		</ul>
		<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With a little bit of coaching, she decided to negotiate rather than accepting a lateral move.</p>
		<p>We began by focusing on how should could answer each interview question to position herself as <em>the</em> candidate for the job. That helped her get a stronger job offer with more room to negotiate.</p>
		<p>Once she had a strong offer in hand, she used valuable tactics to negotiate from a position of strength, building on the momentum she built during her interviews.</p>	
		<p>The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
		
		<h2 class='u-center'>This valuable method will earn you thousands of dollars</h2>
		<p>The best part? You can use the same method Ashley used <em>over and over</em> throughout your career when you change jobs <em>and</em> you can use it at your current job. It's easy and repeatable.</p>
		<p>If you could negotiate a $5,000 increase, you would make $5,000 more that first year. And you would make $5,000 the next year, and the next year, and the next year. <strong>Over 20 years, that $5,000 salary increase would be worth more than $100,000.</strong> That’s a lot of money to leave on the table out of frustration or fear.</p>
	</div>
</section>

<section class="white">
	<div class="container container--widened">
		<h2 class='u-center'>You might be surprised what others have achieved with the tools and techniques in The Salary Negotiation Crash Course</h2>

		<div class="testimonial-series">
			{% include testimonials/jared_allen.html short=true %}

			{% include testimonials/justin_abrahms.html short=true %}

			{% include testimonials/josh_c.html short=true %}

			{% include testimonials/john_miller.html short=true %}

			{% include testimonials/mike_g.html short=true %}

			{% include testimonials/j_d.html short=true %}

			{% include testimonials/jason_voegele.html short=true %}
		</div>
	
		<h2 class='u-center'>What you will learn with the<br>Salary Negotiation Crash Course</h2>

		{% include negotiation_course_contents.html %}
	</div>
	<div class="container container--normal">
		<h2 class='u-center'>Sample lesson</h2>
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/effQltGYtF8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		{% include offering_overview_two_column_negotiate.html %} 
	</div>
</section>

<section class="white">
	<div class="container container--widened">
		<a name="purchase"></a>
		<h2 class='u-center'>Get ready to negotiate your salary in less than 90 minutes<span class="sub-h2">Don't leave anything on the table</span></h2>
		{% include pricing_grid_flexbox_negotiate.html %}
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<p class="u-center guarantee-img"><img src="/images/HappyCustomerGuarantee.png" with="150"/></p>
		
		<h2 class='u-center'>Happy Customer Guarantee <br>plus lifetime updates</h2>
	  <p>You're protected by the Happy Customer Guarantee: If you’re not happy with your purchase for any reason, reach out any time and <strong>I’ll refund your money.</strong></p>
		<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Fearless Salary Negotiation</em> is and I know you’ll find it valuable.</p>
		<p><strong>You own everything</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
		<p>Plus I'll email you to let you know when I add new materials for the lifetime of the product!</p>
	</div>
</section>

<section class="white">	
	<div class="container container--normal qa">
		<h2 class='u-center'><em>The Salary Negotiation Crash Course</em> isn't for everyone...</h2>
		<p><strong>Q: I've never negotiated before. Will this work for <em>me</em>?</strong></p>
		<p><strong>A:</strong> You don't need to be an experienced negotiator to negotiate your salary. You'll have no trouble picking up the tactics I teach you to negotiate your salary.</p>
		<hr>
	
		<p><strong>Q: Can I negotiate my salary if this is my first job?</strong></p>
		<p><strong>A:</strong> The main reason to negotiate is that there might be room to negotiate. Whether you’re a recent college grad looking for your first full-time job, or an experienced executive looking to level up, you'll only know if there's room to negotiate by trying it.</p>
		<hr>

		<p><strong>Q: What if I'm not negotiating my salary right now?</strong></p>
		<p><strong>A:</strong> If you're changing jobs soon, you can learn to negotiate your salary so you avoid common mistakes that could cost you thousands of dollars.</p>
		<p>Remember that example above where you negotiated $5,000 more in base salary and that added up to more than $100,000 over the next 20 years of your career? If you wait just one year, then that same $5,000 is only worth $95,000 over the next 20 years. Wait two years and that same $5,000 increase is only worth $90,000 over the next 20 years. <strong>The sooner you start getting paid what you're worth, the more money you will make over the course of your career.</strong></p>
		<hr>

		<p><strong>Q: How long does this take?</strong></p>
		<p><strong>A:</strong> The salary negotiation video course takes about 50 minutes. If you watch the course and then use the other video supplements, worksheets, and email templates, you can be ready to negotiate your salary in less than 90 minutes.</p>
		<hr>
		<hr>

		<p><strong>Q: Can I get my money back if I'm not happy?</strong></p>
		<p><strong>A:</strong> Absolutely! You're protected by the Happy Customer Guarantee. If you're not happy with your purchase for any reason, just let me know and I'll refund your money.</p>
		
		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		{% include fsn_bio.html h2="Strategy and Tactics from a Salary Negotiation Expert" %}
	</div>
</section>
<section class="white">
	<div class="container container--widened">
		<h2 class='u-center'>What others are saying about <em>Fearless Salary Negotiation</em></h2>
				
		<div class="testimonial-series">
			{% include testimonials/d_o.html short=true %}
	
			{% include testimonials/matt_wood.html short=true %}
	
			{% include testimonials/josh_kaufman.html short=true %}

			{% include testimonials/patrick_mckenzie_short.html short=true %}
		</div>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth is tough. <br>It's even tougher when you don't have a roadmap.</h2>
		<p>It's time do decide: Are you ready do the work to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>
		<p>You have the proof that The Salary Negotiation Crash Course works. You've seen results from professionals who finally got paid what they're worth: software developers, CTOs, CFOs, Project Managers, and people just like you.</p>
		<p>Every day that goes by, you're leaving money on the table. Today's the day to change that.</p>
		<p>All the best</p>
		<p>Josh</p>
		<p><strong>PS:</strong> The sooner you start negotiating your salary like a pro, the sooner you'll get paid what you're worth. The Salary Negotiation Crash Course will teach you skills you can use over and over throughout your career, earning more money every time, so this is one of the best investments you’ll ever make.</p>


		<p><a href="#purchase" class="guide-btn large">
  		Get Instant Access
		</a></p>
	</div>
</section>