---
layout: slider
title: Salary negotiation script generator and counteroffer calculator
tagline: How to negotiate starting salary once you have a job offer
excerpt: This salary negotiation script generator and counteroffer calculator will build a custom salary negotiation script and recommend a counteroffer for your specific situation.
context: raise
metatags: noindex
sitemap: false
extra_css:
  - bootstrap-slider.min.css
extra_js:
  - counteroffer.js
  - tooltip.js
  - bootstrap-slider.min.js
---

<main role="main">
  <div class="container container--normal">
    
    <p><strong>You should negotiate starting salary</strong> rather than just accepting the first job offer you get. But how?</p>
    <p><a href="{{ site.baseurl }}/how-to-negotiate-your-new-salary">My  salary negotiation method</a> is easy to use while generating phenomenal results. <em class='u-highlight'>That's why <a href="{{ site.baseurl }}/"><em>Fearless Salary Negotiation</em></a> is a #1 Best Seller on Amazon.</em></p>
    <p>You're about 1 minute away from having a complete salary negotiation script to successfuly negotaiate starting salary!</p>
    <p><strong>There are three steps to successfully negotiate starting salary once you have a job offer.</strong></p>    
  </div>
  
  <div class="container container--widened">
    <h2 class='section-heading section-heading--with-line'>1. Calculate your counteroffer</h2>
    <p><strong>Let's start with your counteroffer.</strong> The most common salary negotiation mistake is to not negotiate. All you need to negotiate is a counteroffer.</p>
  </div>
  
  <div class="container container--grid">
    <div class="script-fields__left">
      <p><strong>What's the base salary component of your offer?</strong> We'll focus on base salary first because that's the gift that keeps on giving year after year!</p>
    </div>
    <div class="script-fields__right">
      <p>$ <input id="offer_amount" type="text" value="50,000"></p>
    </div>
    
  </div>
  
  <div class="container container--grid">
    <div class="script-fields__left">
      <p><strong>How badly do they need you? (0–10)</strong> What's your sense of how badly they specifically need you to fill this particular position?</p>
    </div>
    <div class="script-fields__right">
      <p><input id="they_need_you" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="8"/></p>
    </div>
  </div>
  
  <div class="container container--grid">
    <div class="script-fields__left">
      <p><strong>How badly do you need them? (0–10)</strong> How desperate are you to get the job?</p>
    </div>
    <div class="script-fields__right">
      <p><input id="you_need_them" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="6"/></p>
    </div>
  </div>
  
  <div class="container container--normal">
    <div class="script-fields__left">
      <p><strong>What's your minimum acceptable salary?</strong> What's the absolute minimum base salary you need to accept this job? <a href="https://youtu.be/effQltGYtF8" target="_blank">Tell me more...</a></p>
    </div>
    <div class="script-fields__right">
      <p>$ <input id="minimum_acceptable" type="text" value="52,000"></p>
    </div>
  </div>
  
  <div class="container container--grid">   
    <div class="script-fields__left">
      <p><strong>(Optional) What other benefits do you prefer once your base salary is maximized?</strong> Choose up to three other benefits in order of decreasing importance to you (most important is first).</p>
    </div>
    <div class="script-fields__right">
      <p>1. <input id="benefit_1" type="text" value="Extra week of vacation"><br><br>
				 2. <input id="benefit_2" type="text" value="Signing bonus"><br><br>
				 3. <input id="benefit_3" type="text" value="Work from home"></p>
    </div>
  </div>
	
  <!--div class="container container--grid">   
    <div class="script-fields__left">
      <p><strong>(Optional) Where should I send your salary negotiation script example?</strong> I'll send a custom salary negotation script based on your answers above!</p>
    </div>
    <div class="script-fields__right">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;<input id="benefit_1" type="email" placeholder="tracy@example.com">
    </div>
  </div-->
  
  <div class="container container--grid">
    <a id="generate_script" href="#" class="button button--bright">
      <span class="package__button-text"><i class="fa fa-calculator"></i> <strong>Show my counteroffer!</strong></span>
    </a><br><br>
  </div>
  
  <!-- When they click the giant button, this div is un-hidden so that everything below slides down the page to reveal the counteroffer and form for requesting a custom salary negotiation script -->

  <div id="counteroffer-section" style="display: none;">
    <div class="container container--normal u-highlight" style="padding: 20px;">
      <h1 class='section-heading header--centered'>Here's your counteroffer!</h1>
	
			<p class='u-center'><span class="counteroffer counteroffer-number">$56,000</span></p>
			<!--p class='counteroffer-reminder'>Add your email address above and hit the button again and I'll send your custom script!</p--> 
			<hr>
			<h2 class='section-heading header--centered'>Share your result!</h2>
			<p class='u-center'><a href="https://twitter.com/home?status=The%20%23salary%20%23negotiation%20script%20generator%20says%20my%20counteroffer%20should%20be%20$56,000!%20What's%20yours?%20http%3A//bit.ly/fsn-script-twitter" target="_blank"><i class='fa fa-twitter'></i> tweet</a> &nbsp; &nbsp; <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//bit.ly/fsn-script-facebook" target="_blank"><i class='fa fa-facebook'></i> share</a> &nbsp; &nbsp; <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//bit.ly/fsn-script-linkedin&title=Salary%20negotiation%20script%20generator%20and%20counteroffer%20calculator&summary=The%20%23salary%20%23negotiation%20script%20generator%20says%20my%20counteroffer%20should%20be%20$56,000!%20What's%20yours?&source=" target="_blank"><i class='fa fa-linkedin'></i> post</a></p>
    </div>
	</div>
    
  <div class="container container--widened">
    <h2 class='section-heading section-heading--with-line'>2. Deliver your counteroffer</h2>
    <p><strong>Now that you have your counteroffer calculated, you need to deliver it to the recruiter or hiring manager.</p>
  </div>
	
  <div class="container container--grid">

    <p><em class='u-highlight'>If possible, deliver your counteroffer in an email.</em> Why? So that you can also make your case to justify your counteroffer and so your written case can be circulated internally at the company if they need to discuss it.</p>

		<p>Here's a template you can use: <a href="{{ site.baseurl }}/salary-negotiation-email-sample">Salary negotiation email sample</a>

	</div>
	
	<div class="container container--widened">
    <h2 class='section-heading section-heading--with-line'>3. Your salary negotiation script for negotiating starting salary</h2>
    <p><strong>Once you've countered, the company will probably respond with something between your job offer and your counteroffer.</strong> That's your salary negotiation window. Your goal is to maximize your salary within that window.</p>
  </div>
  
  <div class="container container--grid">

    <p>Let's say the company has made <em class='u-highlight'>a job offer of <span class="original-offer">$50,000</span></em>, and <em class='u-highlight'>your counteroffer is <span class="counteroffer-number">$56,000</span></em>. <em class='u-highlight'>Your negotiation window is now <span class="original-offer">$50,000</span>–<span class="counteroffer-number">$56,000</span></em>.</p>
		
	      <h3><u><span class="counteroffer-number">$56,000</span></u> (Counter)</h3>
	      <ul class="js-script" style="list-style-type:none">
					<li><strong>$55,000</strong> - Sounds good, when do I start?</li>
					<li><strong>$54,000</strong> - $55,000 and I'm on board!  - (1) Extra vacation (2) Work from home (3) Reimburse office</li>
					<li><strong>$53,000</strong> - $54,000 and I'm on board!  - (1) Extra vacation (2) Work from home (3) Reimburse office</li>
					<li><u><strong>$52,000</strong> - $54,000 and I'm on board!  - (1) Extra vacation (2) Work from home (3) Reimburse office</u></li>
					<li><strong>$51,000</strong> - I can't accept less than $52,000.</li>
	      </ul>
	      <h3><u><span class="original-offer">$50,000</span></u> (Offer)</h3>
				
		<p>Break your salary negotiation window into increments. Each increment represents a possible response the company might make to your counteroffer.</p>
			
		<p>For each increment, plan <em>your</em> response. First, you'll work to maximize your starting salary. Once you've maximized your starting salary, then pursue additional benefits that are important to you, starting with the most important benefit.</p>
		
		<p>Here's a salary negotiation script example you can use to plan for your salary negotiation: <a href="{{ site.baseurl }}/salary-negotiation-script-example">Salary negotiation script example</a>
			
  </div>
	
	{% include testimonials/josh_kaufman.html %}
	
	{% include /drip_forms/negotiate.html drip_offer_plinko="optional" %}
</main>