---
layout: default
title: Testimonials from Fearless Salary Negotiation customers
tagline: Book and coaching customers telling their own stories
excerpt: Here's what Fearless Salary Negotiation customers have to say about the book, courses, and coaching
last_modified_at: 2016-10-14
---

{% include testimonials/josh_kaufman.html %}

{% include testimonials/patrick_mckenzie_short.html %}

{% include testimonials/jared_allen.html %}

{% include testimonials/justin_abrahms.html %}

{% include testimonials/acree_m.html %}

{% include testimonials/harrison_p.html %}

{% include testimonials/dan_brothers.html %}

{% include testimonials/josh_c.html %}

{% include testimonials/shannon_long.html %}

{% include testimonials/john_miller.html %}

{% include testimonials/holly_stewart.html %}

{% include testimonials/mike_g.html %}

{% include testimonials/eric_macam.html %}

{% include testimonials/j_w.html %}

{% include testimonials/shawn_tuckett.html %}

{% include testimonials/s_l.html %}

{% include testimonials/robbie_ouzts.html %}

{% include testimonials/t.html %}

{% include testimonials/john_li.html %}

{% include testimonials/thai_wood.html %}

{% include testimonials/joel_parker.html %}

{% include testimonials/t_k.html %}