---
layout: article
title: Thank you!
tagline: Keep an eye on your inbox!
excerpt: Here's how to get started with Fearless Salary Negotiation
metatags: noindex
---

    <div class="container container--normal">
            
      <h2>Here are some of my favorite articles that you can check out while you wait:</h2>
			<ul>
				<li><a href="http://www.joshdoody.com/2016/03/salary-negotiation-crash-course-for-software-developers-and-designers/">Salary Negotiation Workshop video</a>—A live workshop and Q&A I did in Orlando. Includes a clickable table of contents for the talk and the Q&A so you can jump right to any topic.</li>
				<li><a href="http://www.joshdoody.com/2015/11/how-i-escaped-the-paycheck-to-paycheck-lifestyle/">How I escaped the paycheck-to-paycheck lifestyle</a>—A short version of my journey to working for myself.</li>
				<li><a href="http://www.kalzumeus.com/2012/01/23/salary-negotiation/">Salary Negotiation: Make More Money, Be More Valued</a>—An excellent longform article by <a href="https://twitter.com/patio11">Patrick McKenzie (AKA patio11)</a> on why you should negotiate your salary.</li>
				<li>Find more of my articles at <a href="http://JoshDoody.com/?utm_medium=referral&utm_source=fearlesssalarynegotiation.com&utm_campaign=nav+links&utm_content=thanks">JoshDoody.com</a>.
			</ul>
			<p>You can also <a href="http://twitter.com/joshdoody">follow me on twitter</a>, <a href="https://www.facebook.com/JoshDoodyAuthor/">like my Facebook author page</a>, <a href="https://www.quora.com/profile/Josh-Doody">follow me on Quora</a>, or <a href="http://linkedin.com/in/joshdoody">connect on LinkdIn</a>.
      <p>Or keep reading below to learn more about <em>Fearless Salary Negotiation</em>!</p>
			<p>—Josh</p>
    </div>
		
		{% include testimonials/josh_kaufman.html %}

		{% include offering_overview.html %} 
    
		{% include book_contents.html %}
    
		{% include is_this_for_you.html %}
    
		{% include gumroad_packages.html %}