---
layout: squeeze
title: Thanks for your input!
tagline: Keep an eye on your inbox!
metatags: noindex
sitemap: false
extra_js:
  - thanks_again_plinko.js
---
<div class="container container--normal">
	<h3>Don't want to wait?</h3>
	{% include book_ad_box.html offer="all of <em>Fearless Salary Negotiation</em> right away!" blurb="Learn how to ace your job interviews, negotiate the best possible starting salary, ask for raises and promotions, and more." %}
</div>

{% include testimonials/josh_c.html %}