---
layout: squeeze
title: Thank you!
tagline: Keep an eye on your inbox!
excerpt: Here's how to get started with Fearless Salary Negotiation
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	{% include book_ad_box.html offer="all of <em>Fearless Salary Negotiation</em> right away!" blurb="Learn how to ace your job interviews, negotiate the best possible starting salary, ask for raises and promotions, and more." %}	
  <h2>And here are some of my favorite articles that you can check out while you wait:</h2>
	<ul>
		<li><a href="http://www.joshdoody.com/2016/03/salary-negotiation-crash-course-for-software-developers-and-designers/">Salary Negotiation Workshop video</a>—A live workshop and Q&A I did in Orlando. Includes a clickable table of contents for the talk and the Q&A so you can jump right to any topic.</li>
		<li><a href="http://www.kalzumeus.com/2012/01/23/salary-negotiation/">Salary Negotiation: Make More Money, Be More Valued</a>—An excellent longform article by <a href="https://twitter.com/patio11">Patrick McKenzie (AKA patio11)</a> on why you should negotiate your salary.</li>
		<li><a href="{{ site.baseurl }}/10-good-questions-to-ask-in-a-job-interview/">10 good questions to ask in a job interview</a></li>
		<li>Or browse the <a href="{{ site.baseurl }}/posts/">most recent articles</a>.</li>
	</ul>
	<p>You can also <a href="http://twitter.com/joshdoody">follow me on twitter</a>, <a href="https://www.facebook.com/JoshDoodyAuthor/">like my Facebook author page</a>, <a href="https://www.quora.com/profile/Josh-Doody">follow me on Quora</a>, or <a href="http://linkedin.com/in/joshdoody">connect on LinkedIn</a>.
	<p>—Josh</p>
</div>

{% include testimonials/josh_kaufman.html %}