---
layout: default
---
  <header class="header header--centered">

    <div class="container container--normal">

      <h1 class="header__title">Stop waiting for your next promotion to come to you</h1>
			<p class="header__tagline">A step-by-step method to request your next promotion in just 7 days</p>

    </div>

  </header>
	<main role="main">
    <div class="container container--normal">
			
			{% include above_the_fold_book_cover.html %}
            
      <h2 class='section-heading' id="#sell-more">How to get promoted in 7 days</h2>
      <p>Get <em class='u-highlight'>daily emails with clear instructions and action items</em> so you know exactly what to do and why to do it.</p>
			<p>By the end of the course, you’ll have a summary of your best accomplishments and stretch assignments, and you'll be ready to <em class='u-highlight'>confidently present your best case for your next promotion</em>.</p>
			<p>Sign up below to get the first lesson right away!</p>
    </div>
		
    <div class="container container--normal">

      <script src="https://app.convertkit.com/landing_pages/2576.js"></script>

    </div>
		{% include testimonials/josh_kaufman.html %}

		{% include testimonials/holly_stewart.html %}

    <div class="container container--normal">
      <div class="toc">

        <h2 class='section-heading section-heading--with-line'>What will we cover?</h2>
        <!--div class="toc__bookmark"></div-->

        <ul class="toc__list">
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 1: Let's go get it</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>An introduction and we squash some common reasons people give for not asking for a promotion.</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 2: Define your goal</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>You'll clearly define your target job and identify the differences between that job and your current job.</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 3: Produce results to show you're ready</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>You'll put together a game plan to demonstrate that you're ready for a promotion to your target job.</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 4: Document your accomplishments and accolades</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>You'll gather the evidence you need to make your best case for your promotion.</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 5: Prepare your case</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>You'll prepare to talk to your manager and draft a written request for your promotion.</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 6: Present your case</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>You'll ask for your promotion and then follow up with a request in writing.</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Day 7: Wrapping up and looking ahead</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>We'll discuss the possible outcomes of your request and make a plan for each one.</span>
            </li>
          </div>
        </ul>

      </div>
    </div> 
		
		{% include testimonials/justin_abrahms.html %}
    
		{% include testimonials/dan_brothers.html %}
    
    <div class="container container--normal">
        <h2 class='section-heading'>What if I'm not ready?</h2>
				<p>Fair question! Promotions <em>seem</em> like things that are granted to us by companies when they feel like it. But the reality is <em class='u-highlight'>you don’t need to wait for a promotion to come to you</em>.</p>
				<p>Here are some common reasons we talk ourselves out of asking for that promotion, along with my response for each one—many of these may sound familiar:</p>
    <ul class="checkbox-list">
      <li class="checkbox-list__item"><em class='u-highlight'>I don't even know how to ask for a promotion.</em> Do I ask in person? Through email? You will start by asking in person, then follow up with an email. I'll walk you through both!</li>		
      <li class="checkbox-list__item"><em class='u-highlight'>What if my manager says no?</em> I’m going to help you put together a very strong case to minimize this possibility. But even if your manager does say no, that’s ok because you can still say, “Ok, I understand. Can you help me understand why I’m not ready for a promotion so I know what to work on?”</li>		
      <li class="checkbox-list__item"><em class='u-highlight'>Do I deserve a promotion?</em> It’s not about the time you put in, but the value you add to your company. I will help you demonstrate that you've earned a promotion.</li>
		  <li class="checkbox-list__item"><em class='u-highlight'>Do I just need to work harder and harder until I get a promotion?</em> It would be nice if it were this simple, but this just isn’t how companies work.</li>		
		  <li class="checkbox-list__item"><em class='u-highlight'>Don’t I have to wait until my next performance review?</em> Nope!</li>		
		</ul>
		<p>You can do this, and I'll walk you through it step-by-step in this free course!</p>
    </div>  
		
    <div class="container container--normal">

      <script src="https://app.convertkit.com/landing_pages/2576.js"></script>

    </div>
		
		{% include testimonials/shannon_long.html %}
		
		{% include testimonials/john_miller.html %}
    
    <a name="purchase"></a>
		<div class="dark">

      <div class="container container--normal">

        
        <h2 class="packages__title">Fearless Salary Negotiation</h2>
        <p class="packages__subtitle">Choose the package that works for you.</p>

        
        <div class="package" id="package-complete">

          <a href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=75924&course_id=50693" class="button button--bright package__button">
            <span class="package__button-price"><s>$150</s> $119</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Ultimate Salary Upgrade Package</h3>
          <p class="package__description">The complete set of tools and resources you need to maximize your salary throughout your career.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-videos">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">Self-paced Courses</span>
              <span class="package__feature-info">&mdash; 5 courses, over 50 lessons, 3 hour runtime.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>
        </div>
        
        <div class="package" id="package-premium">			
          <a href="#" class="button package__button package__button--multiplechoice js-multiple-choice" data-multiple-choices-id="choices_1">
            <span class="package__button-price"><s>$80</s> $49</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <div class="package__multiple-choices" id="choices_1" style="display: none;">

            <a href="#" class="package__multiple-choices-close js-multiple-choice-close"><i class="fa fa-times"></i></a>

            <p><i class="fa fa-thumbs-o-up" style="opacity: .7"></i> Enhance the book with a course on your favorite topic!<br>Choose one of these three <b>premium courses</b>:</p>
            <ul class="package__multiple-choices-list">

              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84029&course_id=62147"><i class="fa fa-film"></i> How to ace your next interview</a>
              </li>
              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84028&course_id=62146"><i class="fa fa-film"></i> How to negotiate your starting salary</a>
              </li>
              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84027&course_id=62142"><i class="fa fa-film"></i> How to get your next raise or promotion</a>
              </li>

            </ul>
          </div>

          <h3 class="package__name">The Premium Packages</h3>
          <p class="package__description">Get The Basic Package plus the right premium course for your <em>immediate</em> needs.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-single-course">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">One Premium Course</span>
              <span class="package__feature-info">&mdash; 1 course, 10+ lessons, 50 minutes</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
        
        <div class="package" id="package-basic">

          <a href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84244&course_id=62141" class="button button--book package__button">
            <span class="package__button-price"><s>$30</s> $14</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Basic Package</h3>
          <p class="package__description">The book, worksheets, templates, case studies, and bonus courses.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-bonus-courses">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">2 bonus courses</span>
              <span class="package__feature-info">&mdash; 2 course, 25+ minutes</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
        
        <div class="package__feature-details" id="details-ebook">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
            </div>
            <div class="package__feature-details-right">
              <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
							<p><em class='u-highlight'>If you're changing jobs</em>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
							<p><em class='u-highlight'>If you're staying put</em>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
              <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
              <p><a href="images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>

            </div>
          </div>
        </div>

        <div class="package__feature-details" id="details-videos">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/UltimateSalaryUpgradePackage_Thumbnail.png" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p>These <em class='u-highlight'>5 self-paced courses</em> contain <em class='u-highlight'>over 3 hours of content in more than 50 short lessons</em> you can watch any time. Each lesson outlines the concepts clearly and provides specific action items when needed.</p>
              <p><strong>Three premium self-paced courses</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a></li>								
							</ul>
							<p><strong>Two bonus courses to maximize the value of the premium courses</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-worksheets">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.url }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" class="package__feature-details-img">
							  <figcaption>The Salary Negotiation Worksheet</figcaption>
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
							<p><strong>Worksheets to walk you through...</strong></p>
							<ul>
								<li>Building your case for your next raise or promotion</li>
								<li>Estimating the market value of your skillset and experience</li>
								<li>The entire salary negotation process</li>
							</ul>
              
							<p><strong>Email templates for...</strong></p>
							<ul>
								<li>Following up throughout the interview process</li>
								<li>Delivering your counteroffer in a salary negotiation</li>
								<li>Requesting your next raise or promotion</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-studies">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.url }}/images/CaseStudies_Thumbnail.png" class="package__feature-details-img" style="border: 1px solid #999999;">
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
							<ol>
								<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
								<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
								<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to seem greedy or ungrateful.</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-single-course">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/InterviewThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/NegotiateThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/RaisePromotionThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p>Enhance the book with a course on your favorite topic!</p>
              <p><strong><em class='u-highlight'>Choose one</em> of these three premium courses:</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item__unchecked"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a></li>
								<li class="checkbox-list__item__unchecked"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a></li>
								<li class="checkbox-list__item__unchecked"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a></li>								
							</ul>
							<p><strong>You also get two bonus courses!</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ol>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-bonus-courses">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/MarketValue_Thumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/SalaryStructureCourse_thumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p><strong>Get two bonus courses to help you determine and use your market value to get paid what you're worth</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ol>
            </div>
          </div>
        </div>

      </div> 

    </div>
		
		{% include testimonials/eric_macam.html %}
	</main>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{{ site.url }}/js/app.js"></script>