---
layout: squeeze
title: Get promoted quickly at work
tagline: A free, 7-lesson email course on how to show your boss that you deserve a promotion
excerpt: A free, 7-lesson email course on how to show your boss that you deserve a promotion.
last_modified_at: 2016-09-22
fb-event: ViewContent
---
<div class="container container--normal">
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Daily emails walking you through the entire process step by step.</strong> Each day you'll get specific action items so you know exactly how to get promoted at work.</li>
		<li class="checkbox-list__item"><strong>A complete guide to getting your next promotion.</strong> You'll get a guide for easy reference.</li>
		<li class="checkbox-list__item"><strong>A simple worksheet to keep track of all your progress.</strong> As you complete action items each day, you can use the worksheet to keep everything organized.</li>
		<li class="checkbox-list__item"><strong>An email template to send to your manager after you've requested your promotion.</strong> Once you've met with your manager, you can use the email template make your case in writing.</li>
	</ul>
	<p>This course on how to get promoted at work will help you <em class='u-highlight'>confidently present your best case for your next promotion</em>.</p>

	{% include /drip_forms/promotion-course.html %}
</div>

{% include testimonials/eric_macam.html %}

<div class="container container--normal">
  <div class="toc">

    <h2 class='section-heading section-heading--with-line'>What you'll learn</h2>
    <!--div class="toc__bookmark"></div-->

    <ul class="toc__list">
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 1: Let's go get it</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>An introduction and we squash some common reasons people give for not asking for a promotion.</span>
        </li>
      </div>

      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 2: Define your goal</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>You'll clearly define your target job and identify the differences between that job and your current job.</span>
        </li>
      </div>

      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 3: Produce results to show you're ready</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>You'll put together a game plan to demonstrate that you're ready for a promotion to your target job.</span>
        </li>
      </div>
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 4: Document your accomplishments and accolades</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>You'll gather the evidence you need to make your best case for your promotion.</span>
        </li>
      </div>
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 5: Prepare your case</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>You'll prepare to talk to your manager and draft a written request for your promotion.</span>
        </li>
      </div>
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 6: Present your case</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>You'll ask for your promotion and then follow up with a request in writing.</span>
        </li>
      </div>
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Day 7: Wrapping up and looking ahead</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>We'll discuss the possible outcomes of your request and make a plan for each one.</span>
        </li>
      </div>
    </ul>

  </div>
</div> 

<div class="container container--normal">
	<h2>About the teacher</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	<p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well.</p>
	<p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and 1-on-1 coaching have helped many people earn tens of thousands more dollars, and <em>Fearless Salary Negotiation</em> can help you too!</p>
	
  <h2>What if I'm not ready?</h2>
	<p>Fair question! Promotions <em>seem</em> like things that are granted to us by companies when they feel like it. But the reality is <em class='u-highlight'>you don’t need to wait for a promotion to come to you</em>.</p>
	<p>Here are some common reasons we talk ourselves out of asking for that promotion, along with my response for each one—many of these may sound familiar:</p>
  <ul class="question-list">
		<li class="question-list__item"><strong>I don't even know how to ask for a promotion. Do I ask in person? Through email?</strong> You will start by asking in person, then follow up with an email. I'll walk you through both!</li>		
    <li class="question-list__item"><strong>What if my manager says no?</strong> I’m going to help you put together a very strong case to minimize this possibility. But even if your manager does say no, that’s ok because you can still say, “Ok, I understand. Can you help me understand why I’m not ready for a promotion so I know what to work on?”</li>		
    <li class="question-list__item"><strong>Do I deserve a promotion?</strong> It’s not about the time you put in, but the value you add to your company. I will help you demonstrate that you've earned a promotion.</li>
	  <li class="question-list__item"><strong>Do I just need to work harder and harder until I get a promotion?</strong> It would be nice if it were this simple, but this just isn’t how companies work.</li>		
	  <li class="question-list__item"><strong>Don’t I have to wait until my next performance review?</strong> Nope!</li>		
	</ul>
	<p>You can do this, and I'll walk you through it step-by-step in this free course on how to get promoted at work!</p>

	{% include /drip_forms/promotion-course.html %}
</div>