---
layout: default
title: 5 ways to get a raise
tagline: How to supercharge your lifetime earnings
---

	  <header class="header header--centered">

	    <div class="container container--normal">

	      <h1 class="header__title">{% if page.title %}{{ page.title }}{% else %} Fearless Salary Negotiation {% endif %}</h1>
	      {% if page.tagline %}
				<p class="header__tagline">{{ page.tagline }}</p>
				{% else %}
				<br><br>
				{% endif %}

	    </div>

	  </header>

		{% include testimonials/josh_kaufman_short.html %}
		
    <div class="container container--normal">
			
			<h2 class='section-heading header--centered'>Every career is a story. Here's how yours can be different.</h2>

			<p>You'll take advantage of these <em class='u-highlight'>five ways to get a raise</em>. I realize this is counterintuitive because a raise is a raise, right? But if you think of "a raise" as "increasing your salary" or—even better—"increasing your lifetime earnings", then there are several more ways to get a raise than you may have considered before.</p>
			
			<p>The best part? You can use these five ways to get a raise over and over again throughout your career! So once you know how to take advantage of them, you can do the same thing over and over again and make more money every time.</p>

			<p>Jared Allen made another $8,000 in base salary becuase he took advantage of these opportunities. That's $8,000 extra <em>every year</em>, so he'll an extra $40,000 in his pocket five years from now.</p>
		
		</div>
		
		{% include testimonials/jared_allen.html %}
		
    <div class="container container--normal">
	
			<h2 class='section-heading header--centered'>1: Avoid The Dreaded Salary Question</h2>
	
			<p>The first way to get a raise is unusual because you'll take advantage of it by <em>not</em> doing something that could cost you a lot of money.</p>

			<p>I call this <em>The Dreaded Salary Question</em>, and it usually comes up early in the interview process, sometimes before you even start interviewing. It looks like this:</p>
			
		</div>

    <blockquote class="quote">
      <div class="container container--widened">
        <p class="quote__text">So where are you right now in terms of compensation, and what are you hoping for if you make this move?</p>
        <cite class="quote__byline">Recruiter or Hiring Manager, early in the interivew process</cite>
      </div>
    </blockquote>

    <div class="container container--normal">

			<p>Sound familiar? I bet it does.</p>

			<p><em class='u-highlight'>Don't disclose your current or desired salary in a negotation</em> and you'll make a lot more money throughout your career.</p>
			
			<p>John didn't disclose his current or desired salaries, and look how it worked out for him!</p>
			
		</div>
		
		{% include testimonials/john_miller.html %}

    <div class="container container--normal">

			<h2 class='section-heading header--centered'>2: Negotiate</h2>
			
			<p>If you do well in your job interviews, you'll get a job offer. The next way to get a raise is to negotiate when you receive a job offer. <em class='u-highlight'>If you negotiate, you'll make a lot more money over the course of your career</em>. If you just accept the job offer, you'll leave a lot of money on the table over the course of your career.</p>

			<p>Justin almost passed on this opportunity, but he didn't! Instead, he negotiated his job offer and made $11,000 more last year with a single email! $6,000 of that was base salary, so he'll get more money every year. In five years, he'll have another $30,000 in his pocket just because he counteroffered.</p>   
		</div>
		
 		{% include testimonials/justin_abrahms.html %}
		
    <div class="container container--normal">
		
			<p>When you get a job offer, <em class='u-highlight'>you should counter somewhere between 10% and 20% above the offer</em>. If you do this, you will make a lot more money throughout your career.</p>
			
			<p>Shannon also negotiated her job offer and look how well she did!</p>
			
		</div>
		
		{% include testimonials/shannon_long.html %}
		
    <div class="container container--normal">
			
			<h2 class='section-heading header--centered'>3: The Final Discussion</h2>

			<p>Even if you counteroffer, you're not done negotiating—there's still another opportunity to make more money before you finalize your compensation package!</p> 

			<p>They'll usually come back to you with some sort of compromise—something less than your counter and more than their initial offer—to talk it over and finalize all the details. I call this <em>The Final Discussion</em>.</p>
			
			<p><em class='u-highlight'>This is a chance for you to keep negotiating for more base salary and other benefits like extra vacation, a signing bonus, equity, or even a different work schedule.</em></p> 

			<p>Josh C. did a great job negotiating a big salary increase, but he didn't stop there. He also got an extra week of paid vacation each year. This is the best kind of raise because he'll get paid for entire week without even working!</p>
			
		</div>
		
		{% include testimonials/josh_c.html %}
		
    <div class="container container--normal">

			<h2 class='section-heading'>What about when you're staying put?</h2>

			<p>There are two great opportunities to make more money at your current job.</p>
			
			<h2 class='section-heading header--centered'>4: Getting promoted</h2>

			<p>Most people sit back and wait for promotions to come to them.</p>

			<p><em class='u-highlight'>But you should actively pursue your next promotion</em>, then your next one, and your next one so that you're always moving forward. You'll get more promotions and make more money that way.</p>
			
			<p>Promotions are important because they usually move you into a different pay range, and that means you have more room for a bigger salary, and it usually means a pay bump just for moving into that new pay range!</p>
			
			<h2 class='section-heading header--centered'>5: Getting a raise</h2>
			
			<p>And we can't forget about good old fashioned raises!</p>

			<p>Just like promotions, most people sit back and wait for merit increases or market adjustments to be granted by HR istead of going after them.</p>

			<p><em class='u-highlight'>You should actively pursue raises so that you're always paid what you're worth and recognized for all the value you add to your company.</em> Occasionally do some market research so you know your market value, and keep track of all the new skills and experience you contribute to your company as you add more and more value. When your value exceeds your salary, it's time to request a raise.</p>

			<p>Mike G. stopped waiting for his next raise and look how well it worked out!</p>
		
		</div>
		
 		{% include testimonials/mike_g.html %}
		
    <div class="container container--normal">
		
			<p>Not bad, right? And Mike gets $13,000 more this year, and next year, and the year after that. <em class='u-highlight'>In five years, Mike will have another $65,000 in his pocket</em> while doing the same job. Not a bad use of his time!</p>

			<h2 class='section-heading header--centered'>Summary: 5 ways to get a raise and supercharge your lifetime earnings</h2>

			<p>But enough about those other people. <em class='u-highlight'>This is all about <em>your</em> story!</em> Let's review the five ways to get a raise and supercharge your lifetime earnings:</p>

	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><em class='u-highlight'>Don't disclose your current or desired salary</em> during your job interviews because that could cost you a lot of money.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Negotiate your job offers</em> so you can make a lot more money every time you change jobs.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Kep negotiating even after you counter</em> so you can maximize your starting salary <em>and</em> maximize your benefits.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Actively pursue promotions</em> so you'll progress through your career more quickly.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Actively pursue raises</em> so you're always paid what you're worth.</li>
			</ul>

			<p>Do those five things and you'll make a lot more money throughout your career for doing the work you would've done anyway.</p>

			<p><strong>If you stop reading right now, you'll make a lot more money throughout your career, and that makes me really happy.</strong></p>
			
			<p>Eric has taken advantage of all five ways to get a raise, and it has made a big difference for his career.</p>
			
		</div>
				
		{% include testimonials/eric_macam.html %}
			
	  <div class="container container--normal">

			<p>But just in case you have questions are want some more guidance, here are some things I made to help you capitalize on these five opportunities throughout your career.</p>
			
	 		{% include offering_overview.html %}
			
			<h2 class='section-heading header--centered'>Where should you start?</h2>
		
			<p>Start with <strong>The Basic Package</strong>, which includes the 200-page book, full of tactics specifically designed to be easy to execute for maximum value. It comes with 4 easy-to-use worksheets and 7 email templates so you have everything you need every step of the way. And it includes 2 bonus courses to help you get started with the basics.</p>

			<p>I've priced it so it's a slam dunk to buy. You won't be sorry.</p>
			
			<a href="#basic" class="button button--book">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Basic Package now</strong></span>
			</a><br><br>

			<p>If you're <em>really</em> serious about your story, you might want more. I have you covered!</p>

			<h2 class='section-heading header--centered'>Want to dive deeper?</h2>

			<p><strong>The Premium Packages</strong> include everything from <strong>The Basic Package</strong>, plus a self-paced course on the specific topic where you need the most help. There are three premium courses to choose from:</p>
		
	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><strong>How to ace your next interview</strong> walks you through each phase of the interview process showing you how to make your best case that you're a strong candidate for the job.</li>
				<li class="checkbox-list__item"><strong>How to negotiate your starting salary</strong> will show you how to take a company's offer and turn it into thousands of more dollars.</li>
				<li class="checkbox-list__item"><strong>How to get your next raise or promotion</strong> shows you what raises and promotions look like from a manager's perspective, then shows you exactly when and how to make your best case using that knowledge.</li>
			</ul>

			<p>Over the past couple of years, I have coached many people through interviews, salary negotiations and helped them get raises and promotions. These courses give you everything I did with those clients to help them maximize their salary at a fraction of the cost to you.</p>
			
			<a href="#premium" class="button">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Premium Packages now</strong></span>
			</a><br><br>
			
			<h2 class='section-heading header--centered'>Ready to supercharge your lifetime earnings?</h2>

			<p><strong>The Ultimate Salary Upgrade Package</strong> gives you everything in <em>The Basic Package</em> plus all three premium courses at a deep discount. <em class='u-highlight'>This package is everything you need to take control of your career</em>—you'll have all the best resources at your disposal whenever you need them. This is everything you need to capitalize on all five of these opportunities to supercharge your lifetime earnings.</p>
			
			<p>Here's everything you get in <strong>The Ultimate Salary Upgrade Package</strong>:</p>
			
	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats (PDF, ePub and mobi)</li>		
	      <li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to implement what you learn</li>		
	      <li class="checkbox-list__item"><em class='u-highlight'>7 email templates</em> you can use to make communicating easier</li>
			  <li class="checkbox-list__item"><em class='u-highlight'>2 bonus courses</em> to help you determine and use your market value to get paid what you're worth</li>
				<li class="checkbox-list__item"><em class='u-highlight'>How to ace your next interview</em>—<strong>11 self-paced lessons</strong> to ensure you get the best job offer possible.</li>	
				<li class="checkbox-list__item"><em class='u-highlight'>How to negotiate your starting salary</em>—<strong>18 self-paced lessons</strong> to maximize your starting salary in your next negotiation.</li>	
				<li class="checkbox-list__item"><em class='u-highlight'>How to get your next raise or promotion</em>—<strong>22 self-paced lessons</strong> to build your case for your next rasie or promotion.</li>			
			</ul>
			
			<a href="#complete" class="button button--bright">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Complete Salary Upgrade Package now</strong></span>
			</a><br><br>
			
		</div>
		
		{% include testimonials/dan_brothers.html %}
		
    <div class="container container--normal">
						
	 		{% include is_this_for_you.html %}
		
		</div>
		
		<div class="container container--normal">
		
			<p>Look how much better Holly's story got with <em>Fearless Salary Negotiation</em>...</p>
		
		</div>
		
 		{% include testimonials/holly_stewart.html %}
		
    <div class="container container--normal">
		
			 <h2 class='section-heading header--centered'>Your story will be better, too. Start writing it now.</h2>
		
		</div>

		{% include packages.html %}
				
		{% include testimonials/harrison_porter.html %}