---
layout: default
title: Don't miss these 5 opportunities to make a lot more money
tagline:
---

	  <header class="header header--centered">

	    <div class="container container--normal">

	      <h1 class="header__title">{% if page.title %}{{ page.title }}{% else %} Fearless Salary Negotiation {% endif %}</h1>
	      {% if page.tagline %}
				<p class="header__tagline">{{ page.tagline }}</p>
				{% else %}
				<br><br>
				{% endif %}

	    </div>

	  </header>

		{% include testimonials/josh_kaufman.html %}
		
    <div class="container container--normal">
			
			<p>You should listen to Josh! He knows what he's talking about ;)</p>

			<p>Your career is a story. Your story will look a lot like others' stories, but yours will be different because you'll make a lot more money for doing the same work you would have done anyway.</p>

			<p>How?</p>

			<p>You'll take advantage of five opportunities to negotiate a higher salary. The best part? Those five opportunities will come up over and over again! So once you know how to take advantage of them, you can do the same thing over and over again and make more money every time.</p>

			<p>Jared Allen took advantage of those opportunities and he made another $8,000 in base salary. That's $8,000 extra <em>every year</em>. Five years from now, Jared will have an extra $40,000 in his pocket that would've missed out on if he didn't negotiate.</p>
		
		</div>
		
		{% include testimonials/jared_allen.html %}
		
    <div class="container container--normal">
	
			<p>So what are these five opportunities? Let's start with the first one, which is unusual because it's an opportunity to screw up, and you'll take advantage of it by <em>not</em> doing something that could cost you a lot of money.</p>

			<p>I call it The Dreaded Salary Question, and it usually comes up early in the interview process, sometimes before you even start interviewing. It looks like this:</p>
			
			<blockquote>"So where are you right now in terms of compensation, and where do you want to be if you make this move?"</blockquote>

			<p>Sound familiar? I bet it does. And I bet you're thinking really hard about how you answered this question last time you were asked. "What did I say? Did I tell them?"</p>

			<p>You shouldn't disclose your current or desired salary in a negotation—it will cost you money if you do. Don't squander this opportunity by disclosing your current or desired salary.</p>
			
			<p>John didn't disclose his current or desired salaries, and look how it worked out for him...</p>
			
		</div>
		
		{% include testimonials/john_miller.html %}

    <div class="container container--normal">

			<p>So that's your first opportunity. What's the second opportunity to make a lot more money by doing the same work?</p>

			<p>If you do well in your interviews, you'll get a job offer. Your next opportunity to make a lot more money is how you respond to that job offer: If you negotiate, you'll make a lot more money over the course of your career. If you just accept the job offer, you'll cost yourself a lot of money.</p>

			<p>Justin almost passed on this opportunity, but he didn't! Instead, he took advantage of this opportunity and made $11,000 more last year.</p>   
		</div>
		
 		{% include testimonials/justin_abrahms.html %}
		
    <div class="container container--normal">
		
			<p>This one is easy: They make an offer, and you counteroffer. If counter, you can make more money. If you don't counter? You <em>can't</em> make more money.</p> 

			<p>You should negotiate your starting salary. If you don't negotiate, you're costing yourself a lot money. Don't do that. Be like Justin!</p>
			
			<p>Or Shannon!</p>
			
		</div>
		
		{% include testimonials/shannon_long.html %}
		
    <div class="container container--normal">
			
			<h2 class='section-heading'>What's next?</h2>

			<p>Even if you counteroffer, you're not done negotiating! There's still another opportunity to make a bit more money before you finalize things!</p> 

			<p>Once you counter, they'll usually come back to you with some sort of compromise—something less than your counter. This is a chance for you to keep negotiating to eke out a little more base salary and maybe even some other benefits like extra vacation, a signing bonus, or even work from home a couple days a week.</p> 

			<p>So don't stop negotiating after you counter! You could miss an opportunity to make more money and get some other benefits to boot!</p>

			<p>Josh C. did a great job negotiating a big salary increase, but he didn't stop there! He also got an extra week of vacation each year...</p>
			
		</div>
		
		{% include testimonials/josh_c.html %}
		
    <div class="container container--normal">

			<p>So those are three opportunities you'll have to make more money when you're moving into a new job. If you take advantage of those opportunities, you'll make a lot more money during your career.</p>

			<h2 class='section-heading'>What about when you're staying put?</h2>

			<p>There are two great opportunities to make more money at your current job. One pays off immediately, and the other will pay off later.</p>

			<p>Let's start by looking at the longer-term payoff: getting a promotion. Most people sit back and wait for promotions to come to them. But you won't do that because you want to progress as quiclky as possible so you have more experience and a greater opportunity to get paid.</p>

			<p>You'll actively pursue your next promotion, then your next one, and your next one so that you're always moving forward. You'll get more promotions that way, and you'll make more money that way.</p>

			<p>And the fifth opportunity to negotiate a higher salary is getting a raise. Just like promotion, most people sit back and wait for raises to come to them. They wait for merit increases or market adjustments to be granted by HR istead of just going after them.</p>

			<p>But you'll actively pursue raises so that you're always paid what you're worth and recognized for all the value you add to your company. All you need to do is occasionally do some market research so you know your market value, and keep track of all the new skills and experience you contribute to your company as you add more and more value.</p>

			<p>Mike G. stopped waiting for his next raise and look how well it worked out...</p>
		
		</div>
		
 		{% include testimonials/mike_g.html %}
		
    <div class="container container--normal">
		
			<p>Not bad, right? What Mike didn't tell you was the whole process took him about 15 minutes. And he gets $13,000 more this year, and next year, and the next. Not a bad use of his time!</p>

			<p>But enough about Josh C. and Justin and Mike G. This is all about <em>your</em> story, right? So let's review the five opportunities you will take advantage of while you write the story of your career:</p>

			<ol>
				<li>You won't disclose your current or desired salary during your job interviews because that could cost you a lot of money.</li>
				<li>You'll negotiate your job offers so you can make a lot more money.</li>
				<li>You'll keep negotiating even after you counter so you can maximize your starting salary <em>and</em> maximize your benefits.</li>
				<li>You'll actively pursue promotions so you'll progress through your career more quickly.</li>
				<li>You'll actively pursue raises so you're always paid what you're worth.</li>
			</ol>

			<p>Do those five things and you'll make a lot more money throughout your career for doing the work you would've done anyway.</p>

			<p>If you stop reading right now, you'll make a lot more money throughout your career. And that makes me really happy.</p>

			<p>But I know you probably have a lot of questions and might want more guidance, so let me tell you about some things I made to help you with these five things.</p>
			
	 		{% include offering_overview.html %}
		
			<p><strong>The Basic Package</strong> includes the book, which is 200 pages chalk full of tactics specifically designed to be easy to execute for maximum value. It also comes with 4 easy-to-use worksheets and 7 email templates so you have everything you need every step of the way. And it even includes 2 bonus courses to help you get started with the basics.</p>

			<p>It's ridiculously cheap, and you should buy it. You won't be sorry.</p>

			<p>But if you're serious about your story, you might want more. I have you covered!</p>

			<p><strong>The Premium Packages</strong> include everything from The Basic Package, plus a self-paced course on the topic where you need the most help. There are three courses you can choose from:</p>
		
			<ol>
				<li>How to ace your next interview is blah blah blah</li>
				<li>How to negotiate your new salary is blah blah blah</li>
				<li>How to get your next raise or promotion is blah blah blah</li>
			</ol>

			<p>I spent over a year coaching people through interviews, salary negotiations and helping them get raises and promotions. These courses give you everything I did with those clients to help them maximize their salary at a fraction of the cost to you.</p>

			<p>The Ultimate Salary Upgrade Package gives you everything in The Basic Package plus all three premium courses at a steep discount. This package is for you if you're serious about taking control of your career and you want to have all the best resources at your disposal whenever you need them.</p>
			
		</div>
		
		{% include testimonials/dan_brothers.html %}
		
    <div class="container container--normal">
				
			<p>I know you might be on the fence, so let me make this as easy as possible...</p>
		
	 		{% include is_this_for_you.html %}
		
		</div>
		
		<div class="container container--normal">
		
			<p>Look how much better Holly's story got with <em>Fearless Salary Negotiation</em>...</p>
		
		</div>
		
 		{% include testimonials/holly_stewart.html %}
		
    <div class="container container--normal">
		
			 <h2 class='section-heading'>Your story will be better, too. Start writing it now.</h2>
		
		</div>

		{% include packages.html %}
				
		{% include testimonials/harrison_porter.html %}
		
		{% include testimonials/eric_macam.html %}		