---
layout: default
title: 5 opportunities to make a lot more money
tagline:
---

	  <header class="header header--centered">

	    <div class="container container--normal">

	      <h1 class="header__title">{% if page.title %}{{ page.title }}{% else %} Fearless Salary Negotiation {% endif %}</h1>
	      {% if page.tagline %}
				<p class="header__tagline">{{ page.tagline }}</p>
				{% else %}
				<br><br>
				{% endif %}

	    </div>

	  </header>

		{% include testimonials/josh_kaufman.html %}
		
    <div class="container container--normal">
			
			<p>You should listen to Josh! He knows what he's talking about ;)</p>
				
			<h2 class='section-heading header--centered'>Your career is a story</h2>
			
			<p>Your story will look a lot like others' stories, but yours will be different.</p>

			<p>How?</p>

			<p>You'll take advantage of <em class='u-highlight'>five opportunities to negotiate a higher salary</em>. The best part? Those five opportunities will come up over and over again throughout your career! So once you know how to take advantage of them, you can do the same thing over and over again and make more money every time.</p>

			<p>Jared Allen made another $8,000 in base salary becuase he took advantage of these opportunities. That's $8,000 extra <em>every year</em>, so he'll an extra $40,000 in his pocket five years from now.</p>
		
		</div>
		
		{% include testimonials/jared_allen.html %}
		
    <div class="container container--normal">
	
			<h2 class='section-heading header--centered'>Opportunity 1: The Dreaded Salary Question</h2>
	
			<p>Your first opportunity to make a lot more money is unusual because you'll take advantage of it by <em>not</em> doing something that could cost you a lot of money.</p>

			<p>I call it <em>The Dreaded Salary Question</em>, and it usually comes up early in the interview process, sometimes before you even start interviewing. It looks like this:</p>
			
		</div>

    <blockquote class="quote">
      <div class="container container--widened">
        <p class="quote__text">So where are you right now in terms of compensation, and what are you hoping for if you make this move?</p>
        <cite class="quote__byline">Recruiter or Hiring Manager, early in the interivew process</cite>
      </div>
    </blockquote>

    <div class="container container--normal">

			<p>Sound familiar? I bet it does.</p>

			<p><em class='u-highlight'>Don't disclose your current or desired salary in a negotation</em> or you could cost yourself a lot of money.</p>
			
			<p>John didn't disclose his current or desired salaries, and look how it worked out for him!</p>
			
		</div>
		
		{% include testimonials/john_miller.html %}

    <div class="container container--normal">

			<h2 class='section-heading header--centered'>Opportunity 2: Counteroffer</h2>
			
			<p>If you do well in your interviews, you'll get a job offer. Your next opportunity to make a lot more money is how you respond to that job offer: <em class='u-highlight'>if you negotiate, you'll make a lot more money over the course of your career</em>; if you just accept the job offer, leave a lot of money on the table.</p>

			<p>Justin almost passed on this opportunity, but he didn't! Instead, he negotiated his job offer and made $11,000 more last year with a single email!</p>   
		</div>
		
 		{% include testimonials/justin_abrahms.html %}
		
    <div class="container container--normal">
		
			<p>When you get a job offer, <em class='u-highlight'>you should counter somewhere between 10% and 20% above the offer</em>. If you do this, you will make a lot more money throughout your career.</p>
			
			<p>Shannon also negotiated her job offer and look how well she did!</p>
			
		</div>
		
		{% include testimonials/shannon_long.html %}
		
    <div class="container container--normal">
			
			<h2 class='section-heading header--centered'>Opportunity 3: The Final Discussion</h2>

			<p>Even if you counteroffer, you're not done negotiating! There's still another opportunity to make more money before you finalize your compensation package!</p> 

			<p>They'll usually come back to you with some sort of compromise—something less than your counter and more than their initial offer—to talk it over and finalize all the details. I call this <em>The Final Discussion</em>.</p>
			
			<p><em class='u-highlight'>This is a chance for you to keep negotiating for more base salary and other benefits like extra vacation, a signing bonus, equity, or even a different work schedule.</em></p> 

			<p>Josh C. did a great job negotiating a big salary increase, but he didn't stop there. He also got an extra week of vacation each year!</p>
			
		</div>
		
		{% include testimonials/josh_c.html %}
		
    <div class="container container--normal">

			<h2 class='section-heading'>What about when you're staying put?</h2>

			<p>There are two great opportunities to make more money at your current job.</p>
			
			<h2 class='section-heading header--centered'>Opportunity 4: Getting promoted</h2>

			<p>Most people sit back and wait for promotions to come to them.</p>

			<p><em class='u-highlight'>But you should actively pursue your next promotion</em>, then your next one, and your next one so that you're always moving forward. You'll get more promotions and make more money that way.</p>
			
			<h2 class='section-heading header--centered'>Opportunity 5: Getting a raise</h2>

			<p>Just like promotions, most people sit back and wait for merit increases or market adjustments to be granted by HR istead of just going after them.</p>

			<p><em class='u-highlight'>You should actively pursue raises so that you're always paid what you're worth and recognized for all the value you add to your company.</em> All you need to do is occasionally do some market research so you know your market value, and keep track of all the new skills and experience you contribute to your company as you add more and more value.</p>

			<p>Mike G. stopped waiting for his next raise and look how well it worked out!</p>
		
		</div>
		
 		{% include testimonials/mike_g.html %}
		
    <div class="container container--normal">
		
			<p>Not bad, right? And he gets $13,000 more this year, and next year, and the year after that. Not a bad use of his time!</p>

			<h2 class='section-heading header--centered'>Summary: 5 opportunities to make a lot more money</h2>

			<p>But enough about those other people. <em class='u-highlight'>This is all about <em>your</em> story!</em> Let's review the five opportunities you can take advantage of to make a lot more money while you write the story of your career:</p>

	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><em class='u-highlight'>Don't disclose your current or desired salary</em> during your job interviews because that could cost you a lot of money.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Negotiate your job offers</em> so you can make a lot more money every time you change jobs.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Kep negotiating even after you counter</em> so you can maximize your starting salary <em>and</em> maximize your benefits.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Actively pursue promotions</em> so you'll progress through your career more quickly.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>Actively pursue raises</em> so you're always paid what you're worth.</li>
			</ul>

			<p>Do those five things and you'll make a lot more money throughout your career for doing the work you would've done anyway.</p>

			<p><strong>If you stop reading right now, you'll make a lot more money throughout your career, and that makes me really happy.</strong></p>

			<p>But just in case you have questions are want some omre guidance, here are some things I made to help you capitalize on these five opportunities throughout your career.</p>
			
	 		{% include offering_overview.html %}
			
			<h2 class='section-heading header--centered'>Where should you start?</h2>
		
			<p>Start with <strong>The Basic Package</strong>, which includes the 200-page book, is  full of tactics specifically designed to be easy to execute for maximum value. It also comes with 4 easy-to-use worksheets and 7 email templates so you have everything you need every step of the way. And it includes 2 bonus courses to help you get started with the basics.</p>

			<p>I've priced it so it's a slam dunk to buy. You won't be sorry.</p>
			
			<a href="#basic" class="button button--book">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Basic Package now</strong></span>
			</a><br><br>

			<p>But if you're serious about your story, you might want more. I have you covered!</p>

			<h2 class='section-heading header--centered'>And if you want to dive deeper</h2>

			<p><strong>The Premium Packages</strong> include everything from The Basic Package, plus a self-paced course on the specific topic where you need the most help. There are three courses you can choose from:</p>
		
	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><strong>How to ace your next interview</strong> walks you through each phase of the interview process showing you how to make your best case that you're a strong candidate for the job.</li>
				<li class="checkbox-list__item"><strong>How to negotiate your starting salary</strong> will show you how to take a company's offer and turn it into thousands of more dollars.</li>
				<li class="checkbox-list__item"><strong>How to get your next raise or promotion</strong> shows you what raises and promotions look like from a manager's perspective, then shows you exactly when and how to make your best case using that knowledge.</li>
			</ul>

			<p>Over the past couple of years, I have coached many people through interviews, salary negotiations and helped them get raises and promotions. These courses give you everything I did with those clients to help them maximize their salary at a fraction of the cost to you.</p>
			
			<a href="#premium" class="button">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Premium Packages now</strong></span>
			</a><br><br>
			
			<h2 class='section-heading header--centered'>Ready to take control of your career?</h2>

			<p><strong>The Ultimate Salary Upgrade Package</strong> gives you everything in <em>The Basic Package</em> plus all three premium courses at a deep discount. <em class='u-highlight'>This package is for you if you're serious about taking control of your career</em> and you want to have all the best resources at your disposal whenever you need them. This is everything you need to capitalize on all five of these opportunities to maximize throughout your career.</p>
			
			<a href="#complete" class="button button--bright">
				<span class="package__button-text"><i class="fa fa-book"></i> <strong>Buy The Complete Salary Upgrade Package now</strong></span>
			</a><br><br>
			
		</div>
		
		{% include testimonials/dan_brothers.html %}
		
    <div class="container container--normal">
						
	 		{% include is_this_for_you.html %}
		
		</div>
		
		<div class="container container--normal">
		
			<p>Look how much better Holly's story got with <em>Fearless Salary Negotiation</em>...</p>
		
		</div>
		
 		{% include testimonials/holly_stewart.html %}
		
    <div class="container container--normal">
		
			 <h2 class='section-heading header--centered'>Your story will be better, too. Start writing it now.</h2>
		
		</div>

		{% include packages.html %}
				
		{% include testimonials/harrison_porter.html %}
		
		{% include testimonials/eric_macam.html %}		