<div class="drip_form" data-offer-plinko="{{ include.drip_offer_plinko }}">
	<form action="https://www.getdrip.com/forms/83216280/submissions" method="post" data-drip-embedded-form="83216280">
	  <h3 data-drip-attribute="headline">Get the free Interview Cheat Sheet</h3>
		<div style="padding-left: 10px; overflow: hidden;">
			<div class="u-left" style="overflow: auto;" data-drip-attribute="x-description">
				<p><strong>Are you ready for your interview?</strong><em>The Interview Cheat Sheet</em> is a simple, 2-page, printable PDF you can use to get ready for every interview.</p>
				<div style="float: left; margin-right: 40px;" class="hidden-sm">
					<img src="{{ site.baseurl }}/images/InterviewCheatSheet_thumbnail.png" max-width="150px;" alt="Interview Cheat Sheet thumbnail">
				</div>
				<ul>
					<li>How to research a company</li>
					<li>What to say when they ask for your salary requirements</li>
					<li>How to answer almost any interview question</li>
					<li>Common types of questions to expect</li>
					<li>Questions you should ask</li>
					<li>Checklists for in-person, phone, and virtual interviews</li>
				</ul>
		</div>
	</div>
			<div>
				<label for="fields[first_name]">First Name</label>
				<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
			</div>
			<div>
				<label for="fields[email]">Email Address</label>
				<input type="email" name="fields[email]" placeholder="Email Address" value="" />
			</div>
	  <div>
	    <input type="submit" name="submit" value="Send the cheat sheet!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>