<div class="drip_form" data-offer-plinko="{{ include.drip_offer_plinko }}">
	<form action="https://www.getdrip.com/forms/96714711/submissions" method="post" data-drip-embedded-form="96714711">
		<h2 data-drip-attribute="headline">Learn how to negotiate your starting salary</h2>
		<div data-drip-attribute="description"><strong>Get a step-by-step guide to negotiate your starting salary at your new job</strong><br /><br />
You'll also get my most helpful articles on business, career management, and salary negotiation.</div>
			<div>
				<label for="fields[first_name]">First Name</label>
				<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
			</div>
			<div>
				<label for="fields[email]">Email Address</label>
				<input type="email" name="fields[email]" placeholder="Email Address" value="" />
			</div>
			 <div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
			<div>
				<input type="submit" name="submit" value="Send me the guide!" data-drip-attribute="sign-up-button" />
			</div>
		</form>
</div>