<div class="drip_form" data-offer-plinko="{{ include.drip_offer_plinko }}">
	<form action="https://www.getdrip.com/forms/283668400/submissions" method="post" data-drip-embedded-form="283668400">
	  <h2 data-drip-attribute="headline">Get the proven email template to ask for a promotion</h2>
		<div style="padding-left: 10px; overflow: hidden;">
			<div style="float: left; margin-right: 20px;" class="hidden-sm">
				<img src="/images/PRT_PromotionRequestTemplate_TeaserImage.png" max-width="150px;" alt="Promotion request email template">
			</div>
			<div class="u-left" style="overflow: auto;" data-drip-attribute="x-description">
				<p><strong>Get instant access to the email template you can use to request a promotion.</strong> Plus you'll get free lessons to learn exactly how to build your case and ask for a promotion using this template!</p>
			</div>
		</div>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
		<div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
	  <div>
	    <input type="submit" name="submit" value="Get the template!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>