<div class="drip_form content-upgrade">
	<form action="https://www.getdrip.com/forms/2035155/submissions" method="post" data-drip-embedded-form="2035155">
		<p><strong>Get the promotion request email template plus free lessons on exactly how to ask your boss for a promotion.</p>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
		<div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
	  <div>
	    <input type="submit" name="submit" value="Send the templates!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>