<div class="drip_form">
	<!--  Form starts here  -->
	<form action="https://www.getdrip.com/forms/42547774/submissions" method="post" data-drip-embedded-form="42547774">
	  <h3 data-drip-attribute="headline">Learn how and when to ask for a raise at work the right way</h3>
	  <div data-drip-attribute="description">A free, 6-lesson email course to answer your most urgent questions about how to get a raise at work.</div>
	  <div>
	      <label for="fields[first_name]">First Name</label>
	      <input type="text" name="fields[first_name]" placeholder="First Name" value="" />
	  </div>
	  <div>
	      <label for="fields[email]">Email Address</label>
	      <input type="email" name="fields[email]" placeholder="Email Address" value="" />
	  </div>
	  <div>
	    <input type="submit" name="submit" value="Send me lesson #1" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>