<div class="drip_form content-upgrade">
	<form action="https://www.getdrip.com/forms/326442652/submissions" method="post" data-drip-embedded-form="326442652">
		<p><strong>Does your résumé stink?</strong> This video will show you what hiring managers are looking for on your résumé, plus common mistakes to avoid so your résumé doesn't end up on the bottom of the pile.</p>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
	  <div>
	    <input type="submit" name="submit" value="Get the video!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>