<div class="drip_form" data-offer-plinko="{{ include.drip_offer_plinko }}">
	<form action="https://www.getdrip.com/forms/83912787/submissions" method="post" data-drip-embedded-form="83912787">
	  <h2 data-drip-attribute="headline-x">Get 10 email templates to respond to a job offer</h2>
		<div style="padding-left: 10px; overflow: hidden;">
			<div style="float: left; margin-right: 20px;" class="hidden-sm">
				<img src="{{ site.baseurl }}/images/SalaryNegotiationEmailTemplates_TeaserImage.png" max-width="150px;" alt="Salary Negotiation email templates">
			</div>
			<div class="u-left" style="overflow: auto;" data-drip-attribute="x-description">
				<p><strong>How do you respond when you get a job offer?</strong> These 10 email templates make it easy to respond to any job opportunity:</p>
				<ul>
					<li>Ask for time to consider a job offer</li>
					<li>Counter offer a reasonable job offer</li>
					<li>Counter offer a lowball job offer</li>
					<li>Decline a job offer</li>
					<li>Accept a job offer</li>
				</ul>
			</div>
		</div>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
		<div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
	  <div>
	    <input type="submit" name="submit" value="Send the templates!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>