<div class="drip_form">
	<form action="https://www.getdrip.com/forms/526083627/submissions" method="post" data-drip-embedded-form="526083627">
	  <h3 data-drip-attribute="headline">Counter offer a lowbal job offer with this email template</h3>
		<div style="padding-left: 10px; overflow: hidden;">
			<div style="float: left; margin-right: 20px;" class="hidden-sm">
				<img src="/images/SNT_LowballTemplate_TeaserImage.png" max-width="150px;" alt="Salary Negotiation Lowball email template">
			</div>
			<div class="u-left" style="overflow: auto;" data-drip-attribute="x-description">
				<p><strong>How do you respond to a lowball job offer?</strong> With this email template you can respond firmly but tactfully to a lowball job offer to see if the offer can be improved.</p>
			</div>
		</div>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
	  <div>
	    <input type="submit" name="submit" value="Send the template!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>