<div class="drip_form content-upgrade">
	<form action="https://www.getdrip.com/forms/646099391/submissions" method="post" data-drip-embedded-form="646099391">
		<p><strong>Get a detailed counter offer email template</strong> to respond to your job offer.</p>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
	  <div>
	    <input type="submit" name="submit" value="Get the template!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>