<div class="drip_form content-upgrade">
	<form action="https://www.getdrip.com/forms/999994388/submissions" method="post" data-drip-embedded-form="999994388">
		<p><strong>Download 4 word-for-word scripts and 5 email templates to answer the current and expected salary questions.</strong> Sharing your current or expected salary can cost you thousands of dollars. Use these scripts to avoid sharing this crucial information in your interviews and on your job applications.</p>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
	  <div>
	    <input type="submit" name="submit" value="Get the scripts!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>