<div class="drip_form" data-offer-plinko="{{ include.drip_offer_plinko }}">
	<!--  Form starts here  -->
	<form action="https://www.getdrip.com/forms/27611108/submissions" method="post" data-drip-embedded-form="27611108">
	  <h2 data-drip-attribute="headline">Learn how companies manage their salary structures</h2>
	  <div data-drip-attribute="description"><strong>Get a short video course and step-by-step guide on how companies manage their salary structure and how that impacts your salary throughout your career.</strong><br />
	<br />
	You'll also get my most helpful articles on business, career management, and salary negotiation.</div>
    <div>
        <label for="fields[first_name]">First Name</label>
        <input type="text" name="fields[first_name]" placeholder="First Name" value="" />
    </div>
    <div>
        <label for="fields[email]">Email Address</label>
        <input type="email" name="fields[email]" placeholder="Email Address" value="" />
    </div>
		<div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
	  <div>
	    <input type="submit" name="submit" value="Send me the course" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>