<div class="drip_form content-upgrade">
	<form action="https://www.getdrip.com/forms/83216280/submissions" method="post" data-drip-embedded-form="83216280">
		<p><strong>Nervous about discussing salary in your interviews?</strong> With this cheat sheet, you won't be! Plus you'll get expert interview tips so you know exactly what to say.</p>
		<div>
			<label for="fields[first_name]">First Name</label>
			<input type="text" name="fields[first_name]" placeholder="First Name" value="" />
		</div>
		<div>
			<label for="fields[email]">Email Address</label>
			<input type="email" name="fields[email]" placeholder="Email Address" value="" />
		</div>
		<div class="g-recaptcha" data-sitekey="6LegLYkUAAAAAMJMotVjoDx8uFoS4aPH5YNI8J67"></div>
	  <div>
	    <input type="submit" name="submit" value="Get the cheat sheet!" data-drip-attribute="sign-up-button" />
	  </div>
	</form>
</div>