		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.modal.css"-->
		{% for css_name in page.extra_css %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ css_name }}">
		{% endfor %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/jquery.cookie.js" type="text/javascript"></script>
		<!--script src="{{ site.baseurl }}/js/jquery.modal.js" type="text/javascript"></script-->
		<script src="{{ site.baseurl }}/js/app.js"  type="text/javascript"></script>
		<script src="{{ site.baseurl }}/js/drip_pro.js" type="text/javascript"></script>
		<!--script src="{{ site.baseurl }}/js/destination.js" type="text/javascript"></script-->
		<!-- Drip -->
		<script type="text/javascript">
		  var _dcq = _dcq || [];
		  var _dcs = _dcs || {}; 
		  _dcs.account = '6019475';

		  (function() {
		    var dc = document.createElement('script');
		    dc.type = 'text/javascript'; dc.async = true; 
		    dc.src = '//tag.getdrip.com/6019475.js';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(dc, s);
		  })();
		</script>
		
		<script type="text/javascript">
			// Need this for Drip Pro Tools
			window.context = '{{ page.context }}'
		</script>
		
		<script src="{{ site.baseurl }}/js/drip_pro_init.js" type="text/javascript"></script>
			
		<script type="text/javascript">
			// function to be called when we want to know about the dripUser for DOM manipulation
			var dripSetup = {
			  init: function(successHandler) {
			    if (window.dripUser) {
			        successHandler(window.dripUser);
			return;
			    }
			    _dcq.push(['identify', {
			      success: function(payload) {
			        var dripUser = {
			          rawDripContact: payload,
			          isAnon: payload.anonymous
			        };
			        window.dripUser = dripUser;
			        successHandler(dripUser);
			      }
			    }]);
			  }
			};
			
			// Wait until the DOM is ready and append the buyer's email (from Drip) to buy buttons
			$(function() {
				var drip_user = function(dripUser) {
		
					if(!dripUser.isAnon) {
						$("a.sendowl-button").attr('href', function(i, h) {
								var drip_email = encodeURIComponent(dripUser.rawDripContact.email)
						    return h + (h.indexOf('?') != -1 ? "&buyer_email="+drip_email : "?buyer_email="+drip_email);
						});
						$("a.buy-fsn-cta-btn").attr('href', '{{ site.baseurl }}/get-started/');
					}
				};
	
				dripSetup.init(drip_user);
			});
		</script>
	
		<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
		{% for js_name in page.extra_js %}
		<script src="{{ site.baseurl }}/js/{{ js_name }}" type="text/javascript"></script>
		{% endfor %}