		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--link rel="stylesheet" href="{{ site.baseurl }}/css/jquery.modal.css"-->
		{% for css_name in page.extra_css %}
		<link rel="stylesheet" href="/css/{{ css_name }}">
		{% endfor %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/jquery.cookie.js" type="text/javascript"></script>
		<script src="/js/ouibounce.min.js" type="text/javascript"></script>
		<script src="/js/app.js"  type="text/javascript"></script>
		<script src="/js/convertkit.js" type="text/javascript"></script>	
		<!--script src="{{ site.baseurl }}/js/destination.js" type="text/javascript"></script-->
		
		<script type="text/javascript">
			window.context = '{{ page.context }}'
		</script>
			
		<script type="text/javascript">
			$(function() {
				// Tracking clicks on links
				$('[data-track-click]').click(function(event) {

				  // Prevents the browser from clicking the link
				  // and thus unloading the current page.
				  event.preventDefault();
					var link = $(this);
					var href = link.attr('href');
					
				  // Creates a timeout to call `clickLink` after 250ms.
				  setTimeout(clickLink, 250);

				  // Keeps track of whether or not the link has been clicked.
				  // This prevents the link from being clicked twice in cases
				  // where `hitCallback` fires normally.
				  var linkClicked = false;

				  function clickLink() {
				    if (!linkClicked) {
				      linkClicked = true;
					    document.location = href;
				    }
				  }
	
					var targetLinkEventAction = $(this).data("event-action");
					var targetLinkEventLabel = $(this).data("event-label");

				  // Sends the event to Google Analytics and
				  // re-clicks the link once the hit is done.
					ga('send', {
						hitType: 'event',
						eventCategory: 'Link',
						eventAction: targetLinkEventAction,
						eventLabel: targetLinkEventLabel,
						nonInteraction: 1
					});
				});
			});
		</script>
	
		<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
		{% for js_name in page.extra_js %}
		<script src="/js/{{ js_name }}" type="text/javascript"></script>
		{% endfor %}