    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/JoshKaufman-profile-2.jpg" style="border-radius: 100%" height="100" width="100" alt="Josh Kaufman" class="author__image"></p>
        <p class="quote__text">Salary negotiation doesn't have to be scary - it's a skill you can learn, practice, and improve. Read <strong>Fearless Salary Negotiation</strong>, take notes, then follow Josh Doody's step-by-step negotiation process. Your future self will thank you.</p>
        <cite class="quote__byline"><a href="http://twitter.com/joshkaufman">Josh Kaufman</a>, best selling author of <em>The Personal MBA</em> and <em>The First 20 Hours</em></cite>
      </div>
    </blockquote>

    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/holly-stewart-200px-square.jpg" style="border-radius: 100%" height="100" width="100" alt="Holly Stewart" class="author__image"></p>
        <p class="quote__text"><strong>Fearless Salary Negotiation</strong> was my go-to guide while interviewing with multiple companies. It gave me the confidence I needed to nail my interviews and land a high paying job on the best possible terms. Without it, I would not have known what to expect from various interviews and recruiters. I can't wait to use it for a promotion or a raise!</p>
        <cite class="quote__byline">Holly Stewart, Product Designer</cite>
      </div>
    </blockquote>

    <div class="container container--normal">
        <h2 class='section-heading'>Your complete guide to getting paid what you're worth.</h2>
        <p><em>Fearless Salary Negotiation</em> is a complete set of tools—<em class='u-highlight'>the book, worksheets, email templates, and courses</em>—you can use throughout your career to maximize your salary. Each package includes:</p>
    <ul class="checkbox-list">
      <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats</li>		
      <li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to leverage what you learn</li>		
      <li class="checkbox-list__item"><em class='u-highlight'>7 email templates</em> you can use</li>
		  <li class="checkbox-list__item"><em class='u-highlight'>2 bonus courses</em> to help you determine and use your market value to get paid what you're worth</li>		
		</ul>
		<p>And the Premium packages and Salary Upgrade Toolkit offer up to 3 additional courses with more than 50 self-paced lessons—nearly 3 hours of content—that you can review as often as you like.</p>
    </div>  
		
    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/Abrahms-color-200px-square.jpg" style="border-radius: 100%" height="100" width="100" alt="Justin Abrahms" class="author__image"></p>
        <p class="quote__text">Thanks to <strong>Fearless Salary Negotiation</strong>, I was able to earn another $11,000 with a single email. This is the most valuable email I've ever sent, and I wouldn't have sent it if it wasn't for Fearless Salary Negotiation.</p>
        <cite class="quote__byline">Justin Abrahms, Senior Software Engineer</cite>
      </div>
    </blockquote>
    
		<blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/Dan-color-200px-square.jpg" style="border-radius: 100%" height="100" width="100" alt="Dan Brothers" class="author__image"></p>
        <p class="quote__text">I would have left a lot of money on the table without this book.</p>
        <cite class="quote__byline">Dan Brothers, Territory Manager</cite>
      </div>
    </blockquote>
    
		{% include book_contents.html %}
		
    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/ShannonColor.jpg" style="border-radius: 100%" height="100" width="100" alt="Shannon Long" class="author__image"></p>
        <p class="quote__text">I applied Josh's salary negotiation method and got a much better job where I'm paid what I'm worth. In less than a week, I interviewed for and negotiated a new job with a base salary increase of $15,000!</p>
        <cite class="quote__byline">Shannon Long, Physical Therapist</cite>
      </div>
    </blockquote>
		
    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/JohnMiller-Color-1-200px-square.jpg" style="border-radius: 100%" height="100" width="100" alt="John Miller" class="author__image"></p>
        <p class="quote__text"><strong>Fearless Salary Negotiation</strong> provides a thoughtful salary negotiation and market research framework. I used it to negotiate $10,000 more in base salary at a new firm.</p>
        <cite class="quote__byline">John Miller, Financial Advisor</cite>
      </div>
    </blockquote>
    
    <a name="purchase"></a>
		<div class="dark">

      <div class="container container--normal">

        
        <h2 class="packages__title">Fearless Salary Negotiation</h2>
        <p class="packages__subtitle">Choose the package that works for you.</p>

        
        <div class="package" id="package-complete">

          <a href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=75924&course_id=50693" class="button button--bright package__button">
            <span class="package__button-price"><s>$150</s> $119</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Ultimate Salary Upgrade Package</h3>
          <p class="package__description">The complete set of tools and resources you need to maximize your salary throughout your career.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-videos">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">Self-paced Courses</span>
              <span class="package__feature-info">&mdash; 5 courses, over 50 lessons, 3 hour runtime.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>
        </div>
        
        <div class="package" id="package-premium">			
          <a href="#" class="button package__button package__button--multiplechoice js-multiple-choice" data-multiple-choices-id="choices_1">
            <span class="package__button-price"><s>$80</s> $49</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <div class="package__multiple-choices" id="choices_1" style="display: none;">

            <a href="#" class="package__multiple-choices-close js-multiple-choice-close"><i class="fa fa-times"></i></a>

            <p><i class="fa fa-thumbs-o-up" style="opacity: .7"></i> Enhance the book with a course on your favorite topic!<br>Choose one of these three <b>premium courses</b>:</p>
            <ul class="package__multiple-choices-list">

              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84029&course_id=62147"><i class="fa fa-film"></i> How to ace your next interview</a>
              </li>
              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84028&course_id=62146"><i class="fa fa-film"></i> How to negotiate your starting salary</a>
              </li>
              <li class="package__multiple-choices-item">
                <a class="package__multiple-choices-link" href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84027&course_id=62142"><i class="fa fa-film"></i> How to get your next raise or promotion</a>
              </li>

            </ul>
          </div>

          <h3 class="package__name">The Premium Packages</h3>
          <p class="package__description">Get The Basic Package plus the right premium course for your <em>immediate</em> needs.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-single-course">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">One Premium Course</span>
              <span class="package__feature-info">&mdash; 1 course, 10+ lessons, 50 minutes</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
        
        <div class="package" id="package-basic">

          <a href="https://sso.teachable.com/secure/34558/checkout/confirmation?product_id=84244&course_id=62141" class="button button--book package__button">
            <span class="package__button-price"><s>$30</s> $14</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Basic Package</h3>
          <p class="package__description">The book, worksheets, templates, case studies, and bonus courses.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-bonus-courses">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">2 bonus courses</span>
              <span class="package__feature-info">&mdash; 2 course, 25+ minutes</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
        
        <div class="package__feature-details" id="details-ebook">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
            </div>
            <div class="package__feature-details-right">
              <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
							<p><em class='u-highlight'>If you're changing jobs</em>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
							<p><em class='u-highlight'>If you're staying put</em>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
              <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
              <p><a href="images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>

            </div>
          </div>
        </div>

        <div class="package__feature-details" id="details-videos">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/UltimateSalaryUpgradePackage_Thumbnail.png" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p>These <em class='u-highlight'>5 self-paced courses</em> contain <em class='u-highlight'>over 3 hours of content in more than 50 short lessons</em> you can watch any time. Each lesson outlines the concepts clearly and provides specific action items when needed.</p>
              <p><strong>Three premium self-paced courses</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a></li>								
							</ul>
							<p><strong>Two bonus courses to maximize the value of the premium courses</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-worksheets">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.url }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" class="package__feature-details-img">
							  <figcaption>The Salary Negotiation Worksheet</figcaption>
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
							<p><strong>Worksheets to walk you through...</strong></p>
							<ul>
								<li>Building your case for your next raise or promotion</li>
								<li>Estimating the market value of your skillset and experience</li>
								<li>The entire salary negotation process</li>
							</ul>
              
							<p><strong>Email templates for...</strong></p>
							<ul>
								<li>Following up throughout the interview process</li>
								<li>Delivering your counteroffer in a salary negotiation</li>
								<li>Requesting your next raise or promotion</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-studies">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.url }}/images/CaseStudies_Thumbnail.png" class="package__feature-details-img" style="border: 1px solid #999999;">
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
							<ol>
								<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
								<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
								<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to seem greedy or ungrateful.</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-single-course">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/InterviewThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/NegotiateThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/RaisePromotionThumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p>Enhance the book with a course on your favorite topic!</p>
              <p><strong><em class='u-highlight'>Choose one</em> of these three premium courses:</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item__unchecked"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a></li>
								<li class="checkbox-list__item__unchecked"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a></li>
								<li class="checkbox-list__item__unchecked"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a></li>								
							</ul>
							<p><strong>You also get two bonus courses!</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ol>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-bonus-courses">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.url }}/images/MarketValue_Thumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
							<img src="{{ site.url }}/images/SalaryStructureCourse_thumbnail.png" style="border: 1px solid #999999;" class="package__feature-details-img">
            </div>
            <div class="package__feature-details-right">
							<p><strong>Get two bonus courses to help you determine and use your market value to get paid what you're worth</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a></li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a></li>
							</ol>
            </div>
          </div>
        </div>

      </div> 

    </div>
		
    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/EricColor.jpg" style="border-radius: 100%" height="100" width="100" alt="Eric Macam" class="author__image"></p>
        <p class="quote__text">Josh’s advice helped me land a <strong>better job</strong> and a <strong>bigger salary</strong> with <strong>more benefits</strong> than I even thought possible.</p>
        <cite class="quote__byline">Eric Macam, Lead Scientist</cite>
      </div>
    </blockquote>