    <div class="author__container">
      <div class="container container--grid">
        <div class="author__left">
          <img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" alt="Josh Doody headshot" class="author__image">
        </div>
        <div class="author__right">
        	<p>I'm Josh Doody—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. I began negotiating and <em class='u-highlight'>I doubled my salary in three years</em>.</p>
					<p>With the experience and confidence I gained from doubling my own salary, I began helping others drastically increase their salaries as well. You can read their stories in the <a href="{{ site.baseurl }}/testimonials">testimonials</a>.</p>
					<p>I took everything I learned from my own experience and helping others and wrote <em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon. Since I published the book at the end of 2015, <em class='u-highlight'>I've helped many more people earn tens of thousands more dollars</em>, and <em>Fearless Salary Negotiation</em> can help you too!</p>
				  <p>I live and work in Gainesville, FL, home of the University of Florida.</p>
        </div>
      </div>
    </div>