    <div class="author__container">
      <div class="container container--grid">
        <div class="author__left">
          <img src="images/josh-doody-700px-circle.png" alt="Josh Doody" class="author__image">
        </div>
        <div class="author__right">
        	<p>I'm Josh Doody. I studied Computer and Electrical Engineering at the University of Florida, graduating in 2003. Then I worked as an electrical engineer for a Department of Defense contractor for a few years before switching to project management and consulting in the software industry.</p>
        	<p>It wasn't long before I went back to the University of Florida for my MBA (while still working full-time), finishing in 2011.</p>
        	<p>In 2012, I moved into project management full-time, and have since managed a technical team and many projects big and small.</p>
        	<p>I'm currently writing <em>Fearless Salary Negotiation</em> to help others get paid what they're worth.</p>
				  <p>You can find me at <a href="http://JoshDoody.com/?utm_medium=referral&utm_source=fearlesssalarynegotiation.com&utm_campaign=nav+links&utm_content=home" target="_blank">JoshDoody.com</a>.</p>
        </div>
      </div>
    </div>