<a name="fsn" class="below-nav"></a>
<h2 class='u-center'><em>Fearless Salary Negotiation</em></h2>

<div class="offering-item">
	<div class="image">
		<img src="/images/StarterBundleImage.png" alt="Fearless Salary Negotiation Starter bundle" width="125">
	</div>
	<div class="description">
		<p><strong>Starter Bundle</strong></p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item"><strong>Fearless Salary Negotiation</strong> PDF, ePub, mobi</li>
			<li class="checkbox-list__item"><strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
			<li class="checkbox-list__item"><strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
		</ul>
		<p class="item__price"><s>$99</s> $36.75</p>
		<p><a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase?discount_code=BLACKFRIDAY" class='guide-btn large'>Buy Now</a></p>		
		<div class="item__happy-customer-guarantee">
			<p class="guarantee u-center"><span class="guarantee-headline">“My offer improved by $7,500! And, my employer told me that this showed a side of me that makes them even more excited to have me on their team! :) ” – Christy S.</span></p>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
	  <img src="/images/CompleteBundleImage.png" alt="Fearless Salary Negotiation Complete Bundle" width="125">
	</div>
	<div class="description">
		<p><strong>Complete Bundle</strong></p>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li class="checkbox-list__item"><strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
			<li class="checkbox-list__item"><strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
			<li class="checkbox-list__item"><strong>BONUS: 5 hours of easy-to-follow video courses</strong> to learn concepts quickly and see them in action</li>
			<li class="checkbox-list__item"><strong>BONUS: Interview Cheat Sheet</strong> to prepare for any interview in 15 minutes</li>
			<li class="checkbox-list__item"><strong>BONUS: 15 <em>more</em> email templates</strong> in addition to the templates in the book</li>
			<li class="checkbox-list__item"><strong>BONUS: 3 Case Studies</strong> show you how others negotiated their salaries</li>
			<li class="checkbox-list__item"><strong>BONUS: 2 Expert Interviews</strong> to learn what hiring managers are looking for</li>
			<li class="checkbox-list__item"><strong>BONUS: <em>Mastering Business Email</em></strong> to help you write more professional business emails</li>
    </ul>
		<p class="item__price"><s>$299</s> $179.25</p>
		<p><a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase?discount_code=BLACKFRIDAY" class='guide-btn large'>Buy Now</a></p>
		<div class="item__happy-customer-guarantee">
			<p class="guarantee u-center"><span class="guarantee-headline">“I used the Fearless Salary Negotiation strategy for negotiating an offer and went from $95,000 with a title of Software Engineer 1 to $105,000 with a title of Software Engineer 2. Now I can pay off my student loans and buy a house more quickly.” – Aaron Batilo</span></p>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
	</div>
	<hr>
</div>

<a name="sncc" class="below-nav"></a>
<h2 class='u-center'><em>Salary Negotiation Crash Course</em></h2>

<div class="offering-item">
	<div class="image">
		<img src="/images/SalaryNegotiationCrashCourse.png" alt="Salary Negotiation Crash Course thumbnail" width="125">
	</div>
	
	<div class="description">
		<p><strong>Learn to negotiate your salary like a pro in less than 90 minutes.</strong></p>
	  <ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>How to negotiate your starting salary</strong> video course and companion guide</li>
			<li class="checkbox-list__item"><strong>10 email templates</strong> to ask for time to consider your offer, negotiate your offer, and communicate your final decision</li>
			<li class="checkbox-list__item"><strong>Salary negotiation worksheet</strong> to make the math easy</li>
			<li class="checkbox-list__item"><strong>The Essential Salary Negotiation Email Pack</strong> to make writing your counter offer easy</li>
			<li class="checkbox-list__item"><strong>BONUS: "How to estimate your market value" video course</strong></li>
			<li class="checkbox-list__item"><strong>BONUS: Market Value Estimation worksheet</strong></li>
			<li class="checkbox-list__item"><strong>BONUS: "How companies determine their salary structures" video course</strong></li>			
    </ul>
		<p class="item__price"><s>$97</s> $72.25</p>
		<p><a href="https://transactions.sendowl.com/packages/59748/11C74634/purchase?discount_code=BLACKFRIDAY" class='guide-btn large'>Buy Now</a></p>
		<div class="item__happy-customer-guarantee">
			<p class="guarantee u-center"><span class="guarantee-headline">“I am so fired up! The Salary Negotiation Crash Course totally worked!” – Oliver Nolte</span></p>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
	</div>
	<hr>
</div>

<a name="gynr" class="below-nav"></a>
<h2 class='u-center'><em>Get Your Next Raise</em></h2>

<div class="offering-item">
	<div class="image">
		<img src="/images/GetYourNextRaiseContent.png" alt="Get Your Next Raise thumbnail" width="125">
	</div>
	
	<div class="description">
		<p><strong>Exactly how to ask your boss for the raise you deserve.</strong></p>
	  <ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>7 short video lessons</strong> - Short but detailed video lessons cover each step to build your case and request your raise.</li>
			<li class="checkbox-list__item"><strong>Worksheets to help you build your case</strong> - Estimate your market value and bulid your case with simple worksheets.</li>
			<li class="checkbox-list__item"><strong>7 email templates</strong> - Tactfully communicate with your manager throughout the process.</li>
			<li class="checkbox-list__item"><strong>The exact process I use for my coaching clients</strong> - This is exactly what I do with my coaching clients who pay $1,000+ for me to walk through the process with them.</li>		
    </ul>
		<p class="item__price"><s>$199</s> $148.50</p>
		<p><a href="https://transactions.sendowl.com/packages/35515/2DFA8744/purchase?discount_code=BLACKFRIDAY" class='guide-btn large'>Buy Now</a></p>
		<div class="item__happy-customer-guarantee">
			<p class="guarantee u-center"><span class="guarantee-headline">“I wasn’t sure if the value was there but now that I’ve taken it I can say that EVERYONE should take this course.” – Thai</span></p>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
	</div>
</div>