<div class="ad-box">
	<p><strong>Get {% unless include.offer == '' or include.offer == nil %}{{ include.offer }}{% endunless %}</strong></p>

	{% unless include.blurb == '' or include.blurb == nil %}<p>{{ include.blurb }}</p>{% endunless %}
	
	<div style="float: left; margin-right: 20px;" class="hidden-xs">
		<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/FearlessSalary_noquote_small.jpg" width="95px;" alt="Fearless Salary Negotiation cover"></a>
	</div>
  <ul class="checkbox-list">
    <li class="checkbox-list__item">200-page eBook<span class="hidden-sm"> in Kindle, iBooks and PDF formats</span></li>
    <li class="checkbox-list__item">The Interview Cheat Sheet<span class="hidden-sm"> to prepare for every interview</span></li>
		<li class="checkbox-list__item">7 email templates</li>
		<li class="checkbox-list__item">4 worksheets</li>
		<li class="checkbox-list__item">3 case studies</li>
	</ul>
  <a href="https://gum.co/fearless-salary-basic" class="button button--bright">
    <span class="package__button-price">$39</span>
    <span class="package__button-text">Buy Now</span>
  </a>
	<p class='u-center more-info'><a href="{{ site.baseurl }}/#purchase">Learn about the other editions</a></p>
	<div style="clear:both;"></div>
</div>