    <div class="container container--normal">
      <div class="toc">

        <h2 class='section-heading section-heading--with-line'>Table of Contents</h2>
        <div class="toc__bookmark"></div>

        <ul class="toc__list">

          <div class="toc__group">
            <li class="toc__item--section">
              <span>1</span>
              <span>Hello World</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>7</span>
              <span>Define Your Goal</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>11</span>
              <span>Build Something People Want</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>11</span>
              <span>How to succeed</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>16</span>
              <span>Finding your audience</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>25</span>
              <span>Research</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>31</span>
              <span>Target their pain</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>39</span>
              <span>The Lean Marketing Stack</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>39</span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>46</span>
              <span>Setting up Segment</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>54</span>
              <span>Using Google Webmaster Tools</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>59</span>
              <span>Using Google Analytics</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>67</span>
              <span>Using Mixpanel</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>77</span>
              <span>Before You Launch</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>77</span>
              <span>Two marketing channels to focus on</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>81</span>
              <span>How to write blog posts that get noticed</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>87</span>
              <span>How to build an email list</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>92</span>
              <span>Set a price</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>97</span>
              <span>Launching</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>97</span>
              <span>How to build a street team</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>102</span>
              <span>Your launch plan</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>106</span>
              <span>Your launch checklist</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span>109</span>
              <span>After Your Launch</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>109</span>
              <span>How growth works</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>115</span>
              <span>Get more leads</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>127</span>
              <span>Guide your leads through the funnel</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>138</span>
              <span>Close the deal: ask for the sale</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span>146</span>
              <span>Case Studies</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>146</span>
              <span>Tracy Osborn</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>148</span>
              <span>Nathan Kontny</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>150</span>
              <span>Sean Fioritto</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span>152</span>
              <span>Garrett Dimon</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span>155</span>
              <span>Closing Thoughts</span>
            </li>
          </div>

          <li>
            <span><a href="#">Download complete table of contents <i class="icon-download"></i></a></span>
          </li>
        </ul>

      </div>
    </div>