    <div class="container container--normal">
      <div class="toc">

        <h2 class='section-heading section-heading--with-line'><span class="hidden-md">Table of </span>Contents</h2>
        <div class="toc__bookmark"></div>

        <ul class="toc__list">

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/about-the-author/">About the author</a></span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/introduction/">Introduction</a></span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/how-to-get-the-most-out-of-this-book/">How to get the most out of this book</a></span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Part 1: Understanding your market value</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/foundational-concepts/">A few foundational concepts</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/what-is-a-salary-structure/">Chapter 1. How companies manage their salary structures</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/market-value-overview/">Chapter 2. How to estimate your market value</a></span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Part 2: Getting paid what you’re worth when changing companies</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/changing-companies/">Leveraging your best opportunity to significantly increase your salary</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/interview-preparation/">Chapter 3. How to ace your next interview</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/why-negotiate-starting-salary/">Chapter 4. How to negotiate your new salary</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/leave-your-job-on-good-terms/">Chapter 5. How to leave a job on the best possible terms</a></span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Part 3: Getting paid what you’re worth within your current company</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/book/get-a-big-raise/">Do you have to quit your job to get a big raise?</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/how-to-get-promoted-at-work/">Chapter 6. How to get your next promotion</a></span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span><a href="{{ site.baseurl }}/how-to-ask-for-a-raise-at-work/">Chapter 7. How to get your next raise</a></span>
            </li>
          </div>
        </ul>

      </div>
    </div> 