			{% case page.chapter %}
			{% when 'interview' %}
			<script async id="_ck_1523" src="https://forms.convertkit.com/1523?v=5"></script>

			<hr>
			<p class="book-excerpt-footer"><strong>FROM CHAPTER 3:</strong> <a href="{{ site.baseurl }}/chapter/interview">How to ace your next interview</a></p>

			<hr>
			{% when 'negotiate' %}
			<script async id="_ck_1661" src="https://forms.convertkit.com/1661?v=5"></script>
			
			<hr>
			<p class="book-excerpt-footer"><strong>FROM CHAPTER 4:</strong> <a href="{{ site.baseurl }}/chapter/negotiate">How to negotiate your new salary</a></p>

			<hr>
			{% endcase %}
			
			<p class="book-excerpt-footer"><strong>SHARE THIS:</strong> <a href="{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ page.url }}</a></p>