			
			{% assign chapter_list = site.book_chapters | where:"chapter", 'contents' %}
			{% assign chapter_list = chapter_list | sort:"section" %}
			{% assign next_index = page.section %}
			{% assign previous_index = page.section | minus: 2 %}
			
			{% if page == chapter_list.first %}
			<p class="book-excerpt-footer"><strong>NEXT:</strong> <a href="{{ site.baseurl }}{{ chapter_list[1].url }}">{{ chapter_list[1].title }}</a></p>
			{% elsif page == chapter_list.last %}
			<p class="book-excerpt-footer"><strong>PREVIOUS:</strong> <a href="{{ site.baseurl }}{{ chapter_list[previous_index].url }}">{{ chapter_list[previous_index].title }}</a></p>
			{% else %}
			<p class="book-excerpt-footer"><strong>PREVIOUS:</strong> <a href="{{ site.baseurl }}{{ chapter_list[previous_index].url }}">{{ chapter_list[previous_index].title }}</a></p>
			<hr>
			<p class="book-excerpt-footer"><strong>NEXT:</strong> <a href="{{ site.baseurl }}{{ chapter_list[next_index].url }}">{{ chapter_list[page.section].title }}</a></p>
			{% endif %}
			<hr>
			
			{% include share_links.html %}