<div class="fsn ad-box">
	<p><strong>Get {% unless include.offer == '' or include.offer == nil %}{{ include.offer }}{% endunless %}</strong></p>

	{% unless include.blurb == '' or include.blurb == nil %}<p>{{ include.blurb }}</p>{% endunless %}
	
	<div style="float: left; margin-right: 20px;" class="hidden-sm">
		<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/FearlessSalary_noquote_small.jpg" width="90px;" alt="Fearless Salary Negotiation cover"></a>
	</div>
  <ul class="checkbox-list">
    <li class="checkbox-list__item">200-page eBook<span class="hidden-sm"> in Kindle, iBooks and PDF formats</span></li>
		<li class="checkbox-list__item">7 email templates</li>
		<li class="checkbox-list__item">4 worksheets</li>
	</ul>
	<span class="fsn-full-price"><a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase" rel="nofollow" class="button button--bright">
		<span class="package__button-price">$39</span>
    <span class="package__button-text">Buy now</span>
	</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script></span>
	<span class="fsn-sale-price hidden"><a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=THANKSICS" rel="nofollow" class="button button--bright">
		<span class="package__button-price"><s>$39</s> $19</span>
    <span class="package__button-text">Buy now</span>
	</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script></span>
	<p class='u-center more-info'><a href="{{ site.baseurl }}/get-started">Want more? Learn about The Complete Bundle</a></p>
	<div style="clear:both;"></div>
</div>