  <div class="book-blurb">
		<div class="container container--normal">
		<span class="u-center u-image-pull-right hidden-md">
			<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/FearlessSalary_noquote_small.jpg" width="105px;" alt="Fearless Salary Negotiation cover"></a>
			<p class="book-blurb__author-name">by <a href="http://www.joshdoody.com">Josh Doody</a></p>
		</span>
          
    <span class="book-blurb__title"><a href="{{ site.baseurl }}/">Fearless Salary Negotiation</a></span>
		<p class="book-blurb__sub-title">A step-by-step guide to getting paid what you're worth</p><br>
		<p><strong>BUY THE BOOK:</strong> &nbsp;<br class="hidden-sm-up">
		<a href="{{ site.baseurl }}/#basic"><i class='fa fa-bookmark'></i>eBook</a> &nbsp; &nbsp; <br class="hidden-sm-up"><a href="{{ site.baseurl }}/amazon"><i class='fa fa-book'></i>Paperback</a> &nbsp; &nbsp; <br class="hidden-sm-up"><a href="{{ site.baseurl }}/#purchase"><i class='fa fa-film'></i>Courses</a></p>
		<p><strong>COACHING:</strong> &nbsp;<br class="hidden-sm-up">
		<a href="{{ site.baseurl }}/coach"><i class='fa fa-user'></i>Interviews | Starting Salary | Raises</a></p>
		</div>
	</div>