			{% unless page.has_basic_edition_pitch == true %}
			{% include book_ad_box.html blurb="Ready to buy? With the <em>Fearless Salary Negotiation</em> Basic Edition, download your own copy and read on your own eReader, plus get worksheets, email templates, and case studies to help you get the most out of the book." %}
			{% endunless %}			
			
			{% assign this_chapter = site.book_chapters | where:"chapter", page.chapter %}
			
			{% assign excerpt_list = site.book_excerpts | where:"chapter", page.chapter | sort:"section" %}
			{% assign next_excerpt_index = page.section %}
			{% assign previous_excerpt_index = page.section | minus: 2 %}
			
			{% assign chapter_list = site.book_chapters %}
			{% assign chapter_list = chapter_list | sort:"section" %}
			{% assign current_chapter = chapter_list | where:"chapter", page.chapter | first %}
			{% assign previous_chapter_index = current_chapter.section | minus: 1 %}
			{% assign previous_chapter = chapter_list[previous_chapter_index] %}
			{% assign next_chapter_index = current_chapter.section | plus: 1 %}
			{% assign next_chapter = chapter_list[next_chapter_index] %}
			
			{% assign next_excerpt = site.book_excerpts | where:"chapter", next_chapter.chapter | sort:"section" | first %}
			{% assign previous_excerpt = site.book_excerpts | where:"chapter", previous_chapter.chapter | sort:"section" | first %}
			
      <div class="chapter-nav-box chapter-nav-box--spaced">
			
			{% if page == excerpt_list.first %}
				{% if current_chapter == chapter_list.first %}
				<div class="chapter-nav-box__content-left">
					<p><a href="{{ site.baseurl }}/book/"><i class="fa fa-arrow-left"></i>Book home</a></p>
				</div>
				{% else %}
				<div class="chapter-nav-box__content-left">
					<p><a href="{{ site.baseurl }}{{ previous_chapter.url }}"><i class="fa fa-arrow-left"></i>Prev<span class="hidden-xs">ious</span><span class="hidden-sm chapter-title"><br>{{ previous_chapter.title }}</span></a></p>
				</div>
				{% endif %}
      <div class="chapter-nav-box__content-right">
				<p><a href="{{ site.baseurl }}{{ excerpt_list[1].url }}">Next <i class="fa fa-arrow-right"></i><span class="hidden-sm"><br>{{ excerpt_list[1].title }}</a></span></p>
			</div>
			{% elsif page == excerpt_list.last %}
			<div class="chapter-nav-box__content-left">
				<p><a href="{{ site.baseurl }}{{ excerpt_list[previous_excerpt_index].url }}"><i class="fa fa-arrow-left"></i>Prev<span class="hidden-xs">ious</span><span class="hidden-sm chapter-title"><br>{{ excerpt_list[previous_excerpt_index].title }}</a></span></p>
			</div>
				{% if current_chapter == chapter_list.last %}
				
				<div class="chapter-nav-box__content-right">
					<p><a href="{{ site.baseurl }}/book/">Book home <i class="fa fa-arrow-right"></i></a></p>
				</div>
				{% else %}
				
	      <div class="chapter-nav-box__content-right">
					<p><a href="{{ site.baseurl }}{{ next_excerpt.url }}">Next <i class="fa fa-arrow-right"></i><span class="hidden-sm"><br>{{ next_excerpt.title }} {{ next_chapter.title }}</a></span></p>
				</div>
				{% endif %}
			{% else %}
			<div class="chapter-nav-box__content-left">
				<p><a href="{{ site.baseurl }}{{ excerpt_list[previous_excerpt_index].url }}"><i class="fa fa-arrow-left"></i>Prev<span class="hidden-xs">ious</span><span class="hidden-sm chapter-title"><br>{{ excerpt_list[previous_excerpt_index].title }}</a></span></p>
			</div>
      <div class="chapter-nav-box__content-right">
				<p><a href="{{ site.baseurl }}{{ excerpt_list[next_excerpt_index].url }}">Next <i class="fa fa-arrow-right"></i><span class="hidden-sm"><br>{{ excerpt_list[page.section].title }}</a></span></p>
			</div>
			{% endif %}
			</div>
			
			<p class="book-excerpt-footer">
				<strong>YOU ARE HERE:</strong> <a href="{{ site.baseurl }}/book/">Book</a> >  <a href="{{ site.baseurl }}/book/{{ page.chapter }}">Chapter {{ this_chapter.first.chapter_number }}</a> > <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
			</p>
			<hr>
			
			{% include share_links.html %}
			
			
			{% comment %}
			{% case page.chapter %}
			{% when 'salary-structures' %}
			<script async id="_ck_15649" src="https://forms.convertkit.com/15649?v=5"></script>
						
			{% when 'value' %}
			<script async id="_ck_14072" src="https://forms.convertkit.com/14072?v=5"></script>
						
			{% when 'interview' %}
			<script async id="_ck_1523" src="https://forms.convertkit.com/1523?v=5"></script>

			{% when 'negotiate' %}
			<script async id="_ck_1661" src="https://forms.convertkit.com/1661?v=5"></script>
			
			{% when 'leave' %}
			<script async id="_ck_1616" src="https://forms.convertkit.com/1616?v=5"></script>
						
			{% when 'promotion' %}
			<script async id="_ck_13571" src="https://forms.convertkit.com/13571?v=5"></script>
									
			{% when 'raise' %}
			<script async id="_ck_9237" src="https://forms.convertkit.com/9237?v=5"></script>
												
			{% endcase %}
			{% endcomment %}