<div class="container container--normal">
  <div class="toc">

    <h2 class='section-heading section-heading--with-line'>Table of Contents</h2>
    <div class="toc__bookmark"></div>

    <ul class="toc__list">

      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>About the author</span>
        </li>
      </div>


      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Introduction</span>
        </li>
      </div>

      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>How to get the most out of this book</span>
        </li>
      </div>
			
      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Part 1: Understanding your market value</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>A few fundamental concepts</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 1. How companies manage their salary structures</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 2. How to estimate your market value</span>
        </li>
      </div>


      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Part 2: Getting paid what you’re worth when changing companies</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Leveraging your best opportunity to significantly increase your salary</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 3. How to ace your next interview</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 4. How to negotiate your new salary</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 5. How to leave a job on the best possible terms</span>
        </li>
      </div>


      <div class="toc__group">
        <li class="toc__item--section">
          <span></span>
          <span>Part 3: Getting paid what you’re worth within your current company</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Do you have to quit your job to get a big raise?</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 6. How to get your next promotion</span>
        </li>
        <li class="toc__item toc__item--indented">
          <span></span>
          <span>Chapter 7. How to get your next raise</span>
        </li>
      </div>
    </ul>

  </div>
</div> 