    <a name="apply"></a>
		<div class="dark individual">
      <div class="container container--normal">
        
        <h2 class="packages__title">Raise your salary by at least $10,000. Guaranteed.</h2><br>

          <a href="{{ site.baseurl }}/coach/apply" class="button button--bright package__button">
            <span class="package__button-price">$1,500</span>
            <span class="package__button-text">Apply now</span>
          </a>

          <h3 class="package__name">Custom Coaching Tailored To Your Situation</h3>
          <p class="package__description">I will walk you through this.</p>

          <!--div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-interview">
              <span class="package__feature-icon"><i class="fa fa-phone"></i></span>
              <span class="package__feature-title">Interview Preparation</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-negotiate">
              <span class="package__feature-icon"><i class="fa fa-phone"></i></span>
              <span class="package__feature-title">Starting Salary Negotiation</span>
            </a>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-interview">
          <div class="container container--normal">
            <div class="package__feature-details-left">

            </div>
            <div class="package__feature-details-right">
							<p>Ace your interviews so you get the best job offer possible.</p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><strong>Prepare for your interviews so you stand out.</strong> You will be totally prepared for every interview.</li>
								<li class="checkbox-list__item"><strong>Learn an effective framework for answering interview questions</strong> so your answers continuously demonstrate that you're the right candidate for the job.</li>
								<li class="checkbox-list__item"><strong>Avoid common mistakes like divulging your current or desired salary.</strong> You will be totally prepared when the recruiter or hiring manager asks for your current or desired salary.</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-negotiate">
          <div class="container container--normal">
            <div class="package__feature-details-left">

            </div>
            <div class="package__feature-details-right">
							<p>Negotiate your job offer to maximize starting salary and total compensation.</p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><strong>A clear plan for your entire salary negotiation.</strong> You will know exactly what to expect and how to make the most of every opportunity.</li>
								<li class="checkbox-list__item"><strong>A counteroffer calculated for your specific situation.</strong> We will calculate the perfect counteroffer to maximize your starting salary.</li>
								<li class="checkbox-list__item"><strong>A template to deliver your counteroffer while making your best case that you're a valuable candidate for the position.</strong> We will work together to refine a simple template for your specific situation.</li>			
								<li class="checkbox-list__item"><strong>A script for your salary negotiation.</strong> Navigate the starting salary negotiation process like a pro with a custom salary negotiation script.</li>					
							</ul>
            </div>
          </div>
        </div-->
      </div> 

    </div>