    <a name="purchase"></a>
		<div class="dark">
      <div class="container container--normal">
        
        <h2 class="packages__title">Increase your total compensation by at least $10,000, gauranteed</h2><br>

          <a href="https://gum.co/qeTbz?wanted=true" class="button button--bright package__button">
            <span class="package__button-price">$1,500</span>
            <span class="package__button-text">Start now</span>
          </a>

          <h3 class="package__name">Custom Consulting Tailored To Your Situation</h3>
          <p class="package__description">I will walk you through this.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-interview">
              <span class="package__feature-icon"><i class="fa fa-phone"></i></span>
              <span class="package__feature-title">Interview Preparation</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-negotiate">
              <span class="package__feature-icon"><i class="fa fa-phone"></i></span>
              <span class="package__feature-title">Starting Salary Negotiation</span>
            </a>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-studies">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" class="package__feature-details-img" style="border: 1px solid #999999;">
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
							<ol>
								<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
								<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
								<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to seem greedy or ungrateful.</li>								
							</ul>
            </div>
          </div>
        </div>
      </div> 

    </div>
