<div class="fsn ad-box">
	<h2 class='u-center'>Get the Complete Bundle right away!</h2>
	
	<div style="float: left; margin-right: 20px;" class="hidden-sm">
		<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" width="190" alt="Fearless Salary Negotiation cover"></a>
	</div>
  <ul class="checkbox-list">
    <li class="checkbox-list__item">Fearless Salary Negotiation in PDF, ePub, and mobi</li>
    <li class="checkbox-list__item">4 Worksheets</li>
    <li class="checkbox-list__item">18 Email Templates</li>
		<li class="checkbox-list__item">3 Case Studies</li>
		<li class="checkbox-list__item">The Interview Cheat Sheet</li>
		<li class="checkbox-list__item">5 Video Courses (nearly 3 hours)</li>
		<li class="checkbox-list__item">2 Expert Interviews</li>
		<li class="checkbox-list__item">60-day money-back guarantee</li>
	</ul>
	<span class="fsn-full-price">
		<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
			<span class="package__button-price">$239</span>
  		<span class="package__button-text">Buy now</span>
		</a>
	</span>
	<span class="fsn-sale-price hidden">
		<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="button button--bright sendowl-button">
			<span class="package__button-price"><s class="strike-price">$239</s> $167</span>
  		<span class="package__button-text">Buy now</span>
		</a>
	</span>
	<p class='u-center more-info'><a href="{{ site.baseurl }}/get-started/">Learn more or book a 1-on-1 strategy session right away</a></p>
	<div style="clear:both;"></div>
</div>



