<div class="toc">
  <h2 class='section-heading section-heading--with-line'><span class="hidden-md">Table of </span>Contents</h2>
  <div class="toc__bookmark"></div>

  <ul class="toc__list">		
    <div class="toc__group">
      <li class="toc__item--section">
        <span></span>
        <span>Part 1: Understanding your market value</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>What do physicians in your specialty and geographic region get paid?</span>
      </li>
    </div>


    <div class="toc__group">
      <li class="toc__item--section">
        <span></span>
        <span>Part 2: Negotiating each contract</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>The basics: What to expect in a typical contract</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>Hospital contracts: What's special</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>Group contracts: What's special</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>Other things you should ask about</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>Negotiating sweeteners</span>
      </li>
    </div>


    <div class="toc__group">
      <li class="toc__item--section">
        <span></span>
        <span>Part 3: Comparing your offers and choosing the best one</span>
      </li>
      <li class="toc__item toc__item--indented">
        <span></span>
        <span>How to pick the right opportunity</span>
      </li>
    </div>
  </ul>
</div>