{% case include.form %}
{% when 'salary-structures' %}
{% include /drip_forms/salary-structures.html %}
{% when 'value' %}
{% include /drip_forms/value.html %}
{% when 'interview' %}
{% include /drip_forms/interview.html %}
{% when 'negotiate' %}
{% include /drip_forms/negotiate.html %}
{% when 'leave' %}
{% include /drip_forms/leave.html %}			
{% when 'promotion' %}
{% include /drip_forms/promotion.html %}									
{% when 'raise' %}
{% include /drip_forms/raise.html %}
{% when 'promotion-course' %}
{% include /drip_forms/promotion-course.html %}
{% when 'free-raise-course' %}
{% include /drip_forms/free-raise-course.html %}
{% when 'newsletter' %}
{% include /drip_forms/newsletter.html %}				
{% when 'extras' %}
{% include /drip_forms/extras.html %}
{% when 'salary-negotiation-email-templates' %}
{% include /drip_forms/salary-negotiation-email-templates.html %}																		
{% endcase %}