<div class="pricing-table">
  <section class='item'>
    <p class="item__option fsn-sale-price hidden">Save 63% - Today only!</p>
    <p class="item__header">Essential Salary Negotiation Email Pack</p>
		<p class="item__description">I'll show you how to send your counter offer in less than 15 minutes</p>
		<span class="image"><img src="/images/HowToWriteSalaryNegotiationEmailImage.png" class="package__feature-details-img" alt="Essential Salary Negotiation Email Pack thumbnail" width=150></span>
		<ul>
			<li><strong>11-minute video walkthrough to help write your counter offer email</strong> - A detailed video walkthrough of the "Counter Offer - standard" email template so you know <em>what</em> to write and <em>why</em> to write it.</li>
			<li><strong>Inputs you need before you start writing</strong> - A complete list of the details you need to customize your salary negotiation email.</li>
			<li><strong>10 email templates to respond to your job offer</strong> - In addition to the "Counter offer - standard" template I review in the video, you'll get 9 more templates ask for more time, counter a lowball job offer, accept or decline your job offer, and more.</li>
			<li><strong>The exact guidance I give my coaching clients</strong> - This is exactly what I tell my coaching clients when we negotiate their job offers.</li>
    </ul>
		
		<span class="fsn-full-price"><p class="item__price">$47</p></span>
		<span class="fsn-sale-price hidden"><p class="item__price"><s>$47</s> $33</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase" class='guide-btn large'>Buy Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase?discount_code=SNTVIDEOSALE12" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
</div>