<section class="logos">
	<h3 class='u-centered'><em>Fearless Salary Negotiation</em> has been featured in...</h3>
	<img src="/images/logos/AOL.png" alt="AOL logo"/>
	<img src="/images/logos/BBCNews.png" alt="BBC News logo"/>
	<img src="/images/logos/BusinessInsider.png" alt="Business Insider logo"/>
	<img src="/images/logos/CNBC.png" alt="CNBC logo"/>
	<img src="/images/logos/FastCompany.png" alt="Fast Company logo"/>
	<img src="/images/logos/Forbes.png" alt="Forbes logo"/>
	<img src="/images/logos/Glassdoor.png" alt="Glassdoor logo"/>
	<img src="/images/logos/Independent.png" alt="Independent logo"/>
	<img src="/images/logos/MSN.png" alt="MSN logo"/>
	<img src="/images/logos/paysa.png" alt="paysa logo"/>
	<img src="/images/logos/Quartz.png" alt="Quartz logo"/>
	<img src="/images/logos/Telegraph.png" alt="Telegraph logo"/>
	<img src="/images/logos/Yahoo.png" alt="Yahoo logo"/>
</section>