<footer class="footer">
  <div class="container container--grid">
    <div class="footer__col footer__col--normal">
      <p class="footer-heading">Fearless Salary Negotiation</p>
      <p>
				A step-by-step guide to getting paid what you're worth<br>
				<a href="{{ site.baseurl }}/book/">Read online free</a>
			</p>
			<p class="footer-heading">Where to?</p>
			<p>
				<a href="{{ site.baseurl }}/">Home</a><br>
				<a href="{{ site.baseurl }}/coach/">Coaching</a><br>
				<a href="{{ site.baseurl }}/testimonials/">Testimonials</a><br>
				<a href="{{ site.baseurl }}/posts/">Recent articles</a><br>
				<a href="{{ site.baseurl }}/media-appearances/">Media appearances</a>
			</p>
			<p class="footer-heading">Learn more about...</p>
			<p>
				<a href="{{ site.baseurl }}/book/salary-structures/">Job-related terms</a><br>
				<a href="{{ site.baseurl }}/book/value/">Estimating your market value</a><br>
				<a href="{{ site.baseurl }}/book/interview/">Job interviews</a><br>
				<a href="{{ site.baseurl }}/book/negotiate/">Negotiating starting salary</a><br>
				<a href="{{ site.baseurl }}/book/leave/">Leaving your job</a><br>
				<a href="{{ site.baseurl }}/book/promotion/">Getting promoted at work</a><br>
				<a href="{{ site.baseurl }}/book/raise/">Asking for a raise at work</a>
			</p>
			<p class="footer-heading">Recruiters</p>
			<p>
				<a href="{{ site.baseurl }}/recruit/">Close more placements</a>
			</p>
    </div>
    <div class="footer__col footer__col--normal footer__col--last">
			<p class="footer-heading">Products</p>
			<p>
				<a href="{{ site.baseurl }}/#purchase">Fearless Salary Negotiation</a><br>
				<a href="{{ site.baseurl }}/get-your-next-raise/">Get Your Next Raise</a>
			</p>
			<p class="footer-heading">Free courses</p>
			<p>
				<a href="{{ site.baseurl }}/promotion-course/">Get promoted quickly at work</a><br>
				<a href="{{ site.baseurl }}/free-raise-course/">5 Reasons You Haven't Gotten a Raise Yet</a>
			</p>
			<p class="footer-heading">Popular Pages</p>
			<p>
				<a href="{{ site.baseurl }}/salary-negotiation-script/">Salary Negotiation Script</a><br>
				<a href="{{ site.baseurl }}/interview-cheat-sheet/">Interview Cheat Sheet - Free PDF Download</a><br>
				<a href="{{ site.baseurl }}/why-you-should-not-negotiate-your-salary/">10 reasons NOT to negotiate your salary</a>
				<a href="{{ site.baseurl }}/the-dreaded-salary-question/">“What’s your current salary?” is a trap question—Here's how to answer it</a>
			</p>
			<p class="footer-heading">Popular Email Templates</p>
			<p>
				<a href="{{ site.baseurl }}/salary-negotiation-email-sample/">Salary Negotiation Email Sample</a><br>
				<a href="{{ site.baseurl }}/salary-increase-letter-sample">How to ask for a raise</a><br>
				<a href="{{ site.baseurl }}/job-offer-letter-response-templates/">Job Offer Response Templates</a><br>
				<a href="{{ site.baseurl }}/how-to-negotiate-a-lowball-job-offer/">How to negotiate a lowball job offer</a><br>
				<a href="{{ site.baseurl }}/request-salary-increase-email-templates/">How to ask your manager for a raise</a>
			</p>
      <p class="footer-heading">Find me on...</p>
      <p>
        <a href="https://twitter.com/joshdoody"><i class="fa fa-twitter"></i>Twitter</a><br>
        <a href="https://www.facebook.com/JoshDoodyAuthor/"><i class="fa fa-facebook"></i>Facebook</a><br>
				<a href="https://www.linkedin.com/in/joshdoody"><i class="fa fa-linkedin"></i>LinkedIn</a><br>
				<a href="https://www.quora.com/profile/Josh-Doody"><i class="fa fa-quora"></i>Quora</a>
      </p>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-right">Made by <a href="https://twitter.com/joshdoody">Josh Doody</a></p>
      <p>&copy; Josh Doody, LLC All Right Reserved</p>
    </div>
  </div>
</footer>