  <footer class="footer">
    <div class="container container--grid">
      <div class="footer__col footer__col--normal">
        <p class="footer-heading">Fearless Salary Negotiation</p>
        <p>Everything you need to get paid what you're worth throughout your career.</p>
				<p class="footer-heading">Where to?</p>
				<p>
					<a href="{{ site.baseurl }}/">Home</a><br>
					<a href="{{ site.baseurl }}/testimonials">Testimonials</a><br>
					<a href="{{ site.baseurl }}/promotion-course">How to get promoted in 7 days</a>
					<a href="{{ site.baseurl }}/salary-negotiation-script">Salary negotiation counteroffer generator</a>
				</p>
      </div>
      <div class="footer__col footer__col--small">
				<p></p>
      </div>
      <div class="footer__col footer__col--small footer__col--last">
        <p class="footer-heading">Find me on...</p>
        <p>
          <a href="https://twitter.com/joshdoody"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a> <br>
          <a href="https://www.facebook.com/JoshDoodyAuthor/"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a> <br>
					<a href="https://www.linkedin.com/in/joshdoody"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
        </p>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-right">Made by <a href="https://twitter.com/joshdoody">Josh Doody</a></p>
        <p>&copy; Josh Doody, LLC All Right Reserved</p>
      </div>
    </div>
  </footer>