  <footer class="footer">
    <div class="container container--grid">
      <div class="footer__col footer__col--normal">
        <p class="footer-heading">Fearless Salary Negotiation</p>
        <p>
					Everything you need to get paid what you're worth throughout your career.<br>
					<a href="{{ site.baseurl }}/book/">Read online</a>
				</p>
				<p class="footer-heading">Where to?</p>
				<p>
					<a href="{{ site.baseurl }}/">Home</a><br>
					<a href="{{ site.baseurl }}/testimonials">Testimonials</a><br>
					<a href="{{ site.baseurl }}/posts">Recent articles</a><br>
				</p>
				<p class="footer-heading">Learn more about...</p>
				<p>
					<a href="{{ site.baseurl }}/book/salary-structures">Job-related terms</a><br>
					<a href="{{ site.baseurl }}/book/value">Estimating market value</a><br>
					<a href="{{ site.baseurl }}/book/interview">Job interviews</a><br>
					<a href="{{ site.baseurl }}/book/negotiate">Negotiating starting salary</a><br>
					<a href="{{ site.baseurl }}/book/leave">Leaving your job</a>
					<a href="{{ site.baseurl }}/book/promotion">Getting promoted at work</a>
					<a href="{{ site.baseurl }}/book/raise">Getting a raise at work</a>
				</p>
      </div>
      <div class="footer__col footer__col--normal footer__col--last">
				<p class="footer-heading">Course packages</p>
				<p>
					<a href="{{ site.baseurl }}/video-courses">Ultimate Salary Upgrade Edition</a><br>
					<a href="{{ site.baseurl }}/job-interview-video-course">Interview Mastery Edition</a><br>
					<a href="{{ site.baseurl }}/salary-negotiation-video-course">Starting Salary Negotiation Edition</a><br>
					<a href="{{ site.baseurl }}/raise-and-promotion-video-course">Raise and Promotion Edition</a>
				</p>
				<p class="footer-heading">Free tools</p>
				<p>
					<a href="{{ site.baseurl }}/promotion-course">How to get promoted in 7 days</a><br>
					<a href="{{ site.baseurl }}/salary-negotiation-script">Salary negotiation script</a>
				</p>
				<p class="footer-heading">Recruiters</p>
				<p>
					<a href="{{ site.baseurl }}/recruit/">Close more placements</a>
				</p>
        <p class="footer-heading">Find me on...</p>
        <p>
          <a href="https://twitter.com/joshdoody"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a> <br>
          <a href="https://www.facebook.com/JoshDoodyAuthor/"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a> <br>
					<a href="https://www.linkedin.com/in/joshdoody"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
        </p>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-right">Made by <a href="https://twitter.com/joshdoody">Josh Doody</a></p>
        <p>&copy; Josh Doody, LLC All Right Reserved</p>
      </div>
    </div>
  </footer>