	<div class="fsn-sale-price hidden">
		<div class="fsn-sale-price u-center hidden">
			<h2>Save 30% when you buy now!</h2>
			<div class="clock" style="display: inline-block; width: auto;"></div>
		</div>
		<a href="#purchase" class="button button--bright package__button">
			<span class="package__button-price">30% off</span>
  		<span class="package__button-text">Buy now</span>
		</a><br><br>
	</div>
	
	<div class="fsn-full-price">
		<a href="#purchase" class="button button--bright package__button">
  		<span class="package__button-text"><strong>Get started now</strong></span>
		</a><br><br>
	</div>