<header id="masthead">
  <div id="logo">
		<a href="/"><img src="images/personmoney_white.png" alt="Person carrying a bag of money"/></a><span class="name"><a href="/"> Fearless Salary Negotiation</a></span>
	</div>
	<nav>
		<ul>
			<li>
				<a href="/get-started/" data-track-click="true" data-event-action="Click nav bar link" data-event-label="Products">Products</a>
			</li>
			<li>
				<a href="/coach/" data-track-click="true" data-event-action="Click nav bar link" data-event-label="Coaching">Coaching</a>
			</li>
			<li>
				<a href="/posts/" data-track-click="true" data-event-action="Click nav bar link" data-event-label="Articles">Articles</a>
			</li>
		</ul>
	</nav>
</header>