<div class="nav-banner">
  <span class="hidden-sm"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/personmoney_white.png" alt="Person carrying a bag of money"/></a><span class="nav__title"><a href="{{ site.baseurl }}/"> Fearless Salary Negotiation</a></span></span>
	<div class="nav-cta">
		<a id="nav-bar-cta" href="/get-started/" class="nav-cta-btn" data-track-click="true" data-event-action="Click nav bar CTA" data-event-label="Get started">Get bigger paychecks  →<span class="hidden-xs"></span></a>
	</div>
</div>