    <a name="purchase"></a>
		<div class="dark">
			<script src="https://gumroad.com/js/gumroad.js"></script>
      <div class="container container--normal">

        
        <h2 class="packages__title">Fearless Salary Negotiation</h2>
        <p class="packages__subtitle">Choose the edition that works for you.</p>

		    <a name="complete"></a>
        <div class="package" id="package-complete">

          <a href="https://gum.co/qeTbz?wanted=true" class="button button--bright package__button">
            <span class="package__button-price"><s>$300</s> $199</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Ultimate Salary Upgrade Edition</h3>
          <p class="package__description">The complete set of tools and resources you need to negotiate your salary like a pro and maximize your lifetime earnings.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-videos">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">Five Courses</span>
              <span class="package__feature-info">&mdash; 5 courses, over 50 lessons, 3 hour runtime.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>
        </div>
        
		    <a name="premium"></a>
        <div class="package" id="package-premium">								
          <a href="https://gum.co/rXBYz?wanted=true" class="button package__button ">
            <span class="package__button-price"><s>$200</s> $89</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Raise and Promotion Edition</h3>
          <p class="package__description">Three in-depth courses to get your next raise or promotion at your current job, <em>plus</em> everything in The Basic Edition.</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-single-course">
              <span class="package__feature-icon"><i class="fa fa-film"></i></span>
              <span class="package__feature-title">Three Courses</span>
              <span class="package__feature-info">&mdash; 3 courses, 26 lessons, over an hour</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
				
		    <a name="basic"></a>
        <div class="package" id="package-basic">

          <a href="https://gum.co/fearless-salary-basic?wanted=true" class="button button--book package__button">
            <span class="package__button-price"><s>$30</s> $19</span>
            <span class="package__button-text">Buy Now</span>
          </a>

          <h3 class="package__name">The Basic Edition</h3>
          <p class="package__description">The book, worksheets, templates, and case studies</p>

          <div class="package__features-list">
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
              <span class="package__feature-icon"><i class="fa fa-book"></i></span>
              <span class="package__feature-title">The Full eBook</span>
              <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
              <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
              <span class="package__feature-title">Worksheets & Templates</span>
              <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
            </a>
            <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
              <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
              <span class="package__feature-title">Case Studies</span>
              <span class="package__feature-info">&mdash; 3 case studies</span>
            </a>

          </div>

        </div>
        
        <div class="package__feature-details" id="details-ebook">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
            </div>
            <div class="package__feature-details-right">
              <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
							<p><em class='u-highlight'>If you're changing jobs</em>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
							<p><em class='u-highlight'>If you're staying put</em>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
              <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
              <p><a href="images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>

            </div>
          </div>
        </div>

        <div class="package__feature-details" id="details-videos">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
            </div>
            <div class="package__feature-details-right">
							<p>These <em class='u-highlight'>5 self-paced courses</em> contain <em class='u-highlight'>over 3 hours of content in more than 50 short lessons</em> you can watch any time. Each lesson outlines the concepts clearly and provides specific action items when needed.</p>
              <p><strong>Five self-paced courses</strong></p>
				      <ul class="checkbox-list">
				        <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a>—an in-depth course (11 lessons, over 50 minutes) to confidently prepare for and ace your job interviews to get the best job offer possible</li>
								<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a>—an in-depth course (18 lessons, over 50 minutes) to negotiate your starting salary like a pro</li>
								<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a>—an in-depth course (22 lessons, over 50 minutes) to get your next raise or promotion at your current job</li>								
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course to estimate the market value of your skillset and experience in your industry</li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview of how companies manage compensation structures to determine your salary</li>
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-worksheets">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" class="package__feature-details-img">
							  <figcaption>The Salary Negotiation Worksheet</figcaption>
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
							<p><strong>Worksheets to walk you through...</strong></p>
							<ul>
								<li>Building your case for your next raise or promotion</li>
								<li>Estimating the market value of your skillset and experience</li>
								<li>The entire salary negotation process</li>
							</ul>
              
							<p><strong>Email templates for...</strong></p>
							<ul>
								<li>Following up throughout the interview process</li>
								<li>Delivering your counteroffer in a salary negotiation</li>
								<li>Requesting your next raise or promotion</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-studies">
          <div class="container container--normal">
            <div class="package__feature-details-left">
							<figure>
							  <img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" class="package__feature-details-img" style="border: 1px solid #999999;">
							</figure>
            </div>
            <div class="package__feature-details-right">
							<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
							<ol>
								<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
								<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
								<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to seem greedy or ungrateful.</li>								
							</ul>
            </div>
          </div>
        </div>
				
        <div class="package__feature-details" id="details-single-course">
          <div class="container container--normal">
            <div class="package__feature-details-left">
              <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
            </div>
            <div class="package__feature-details-right">
							<p>Three self-paced courses that give you everything you need to go get your next raise or promotion.</p>
				      <ul class="checkbox-list">
								<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a>—an in-depth course (22 lessons, over 50 minutes) to get your next raise or promotion at your current job</li>								
				        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course (2 lessons, less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
								<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview (2 lessons, less than 15 minutes) of how companies manage compensation structures to determine your salary</li>
							</ol>
            </div>
          </div>
        </div>

      </div> 

    </div>
