<div class="ad-box">
	<p><strong>Get the printable The Interview Cheat Sheet</strong></p>
	
	<div style="float: left; margin-right: 20px;" class="hidden-xs">
		<a href="{{ site.baseurl }}/interview-cheat-sheet/"><img src="{{ site.baseurl }}/images/InterviewCheatSheet_thumbnail.png" width="100px;" alt="Interview Cheat Sheet thumbnail"></a>
	</div>
	<p>Includes a printable version of this checklist<span class="hidden-sm">, what to look for when researching companies, how to avoid costly mistakes, questions to ask</span> and other ways to prepare for your job interviews.</p>
	<p><a href="{{ site.baseurl }}/interview-cheat-sheet/">Buy The Interview Cheat Sheet</a></p>
	<div style="clear:both;"></div>
</div>