    <div class="container container--normal">
      <h2 class='section-heading header--centered'>Is <em>Fearless Salary Negotiation</em> for you?</h2>

			<p>I know you might be on the fence, so let me make this as easy as possible...</p>

			<p><strong><em>Fearless Salary Negotiation</em> is for you if...</strong></p>

	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><em class='u-highlight'>You're underpaid</em> and you're ready to do something about it.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>You want to maximize your salary</em> throughout your career.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>You want a promotion</em> but don't know how to pursue it.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>You're tired of waiting</em> for your salary to catch up to your contributions.</li>
				<li class="checkbox-list__item"><em class='u-highlight'>You're ready to do the work</em> required to get paid what you're worth.</li>
			</ul>

			<p><em>Fearless Salary Negotiation</em> is <em>simple</em>. Nothing you'll learn is complicated or hard to do, but you will have to put in effort to get paid what you're worth. This is why so many people <em>aren't</em> paid what they're worth: they're just waiting for more money to rain down on them without doing the work.</p>

			<p><strong><em>Fearless Salary Negotiation</em> is not for you if...</strong></p>

			<ul>
				<li><em class='u-highlight'>You're content</em> with your salary.</li>
				<li>You're <em class='u-highlight'>happy with your current job</em>.</li>
				<li><em class='u-highlight'>You're already confident</em> you will maximize your salary throughout your career.</li>
				<li><em class='u-highlight'>You don't want to do the work</em> to differentiate yourself.</li>
			</ul>
			
			<h2 class='section-heading header--centered'>This works.</h2>

			<p><strong>The customer testimonials on this page all have this in common:</strong> <em class='u-highlight'>They all decided to take control of their careers</em>. They completed the action items, and used the worksheets and templates to get the most out of <em>Fearless Salary Negotiation</em>. Everything they did was simple.</p>
			<p>And when they finished? You can see their results on this page.</p>
			
     <h2 class='section-heading header--centered'>What if you don't like it?</h2>

			<p>You can try <em>Fearless Salary Negotiation</em> <em class='u-highlight'>risk-free for 30 days</em>. If you aren't satisfied, I'll happily refund your money.</p>
		</div>