    <div class="container container--normal">
        <h2 class='section-heading'>Is <em>Fearless Salary Negotiation</em> for you?</h2>

				<p><strong><em>Fearless Salary Negotiation</em> is for you if...</strong></p>

		    <ul class="checkbox-list">
		      <li class="checkbox-list__item">You feel that <em class='u-highlight'>you're underpaid</em> and you're ready to do something about it.</li>
					<li class="checkbox-list__item"><em class='u-highlight'>You want to maximize your salary</em> next time you change jobs.</li>
					<li class="checkbox-list__item"><em class='u-highlight'>You want a promotion</em> but don't know how to pursue it.</li>
					<li class="checkbox-list__item"><em class='u-highlight'>You're ready to do the work</em> required to get paid what you're worth.</li>
				</ul>

				<p><em>Fearless Salary Negotiation</em> is <em>simple</em>, but not necessarily <em>easy</em>. Nothing you'll learn is complicated or hard to do, but you will have to put in effort to get paid what you're worth. This is why so many people <em>aren't</em> paid what they're worth: they're just waiting for more money to rain down on them without doing the work.</p>

				<p><strong><em>Fearless Salary Negotiation</em> is not for you if...</strong></p>

				<ul>
					<li><em class='u-highlight'>You're content</em> with your salary.</li>
					<li>You're <em class='u-highlight'>happy with your current job</em>.</li>
					<li><em class='u-highlight'>You're already confident</em> you will maximize your salary throughout your career.</li>
					<li>You don't like action items and some homework.</li>
				</ul>

				<p><strong>The customer testimonials on this page all have this in common:</strong> <em class='u-highlight'>They all did the work</em>. They completed the action items, and used the worksheets and templates to get the most out of <em>Fearless Salary Negotiation</em>. Everything they did was simple, but it wasn't <em>easy</em>.</p>
				<p>And when they finished? You can see their results on this page.</p>
				
        <h2 class='section-heading'>What if you don't like it?</h2>

				<p>You can try <em>Fearless Salary Negotiation</em> <em class='u-highlight'>risk-free for 30 days</em>. If you aren't satisfied, just shoot me an email and I'll happily refund your money any time in the first 30 days after your purchase.</p>
		</div>