<a name="purchase"></a>
<div class="dark">
  <div class="container container--normal">

    
    <h2 class="packages__title">Starting Salary Negotiation Edition</h2>
		<p class="packages__subtitle">Fearless Salary Negotiation</p>
		
		<div class="package">
    
      <a href="https://gum.co/SpTzq?wanted=true" class="button button--bright package__button">
        <span class="package__button-price">$89</span>
        <span class="package__button-text">Buy Now</span>
      </a>

      <h3 class="package__name">Premium negotiation course, two starter courses, the eBook, worksheets & templates, case studies, and Interview Cheat Sheet</h3><br>

      <div class="package__features-list">
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-negotiation-course">
          <span class="package__feature-icon"><i class="fa fa-film"></i></span>
          <span class="package__feature-title">Negotiation Course</span>
          <span class="package__feature-info">&mdash; 18 lessons, 50 minutes</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-starter-courses">
          <span class="package__feature-icon"><i class="fa fa-film"></i></span>
          <span class="package__feature-title">Starter courses</span>
          <span class="package__feature-info">&mdash; 2 courses, 25 minutes</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
          <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
          <span class="package__feature-title">Worksheets & Templates</span>
          <span class="package__feature-info">&mdash; 4 worksheets, 7 email templates.</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
          <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
          <span class="package__feature-title">Case Studies</span>
          <span class="package__feature-info">&mdash; 3 case studies</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-cheat-sheet">
          <span class="package__feature-icon"><i class="fa fa-comment-o"></i></span>
          <span class="package__feature-title">The Interview Cheat Sheet</span>
          <span class="package__feature-info">&mdash; Simple, powerful cheat sheet</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
          <span class="package__feature-icon"><i class="fa fa-book"></i></span>
          <span class="package__feature-title">The Full eBook</span>
          <span class="package__feature-info">&mdash; 200 pages, 3 formats.</span>
        </a>

      </div>
		</div>
	        
    <div class="package__feature-details" id="details-ebook">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
        </div>
        <div class="package__feature-details-right">
          <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
					<p><em class='u-highlight'>If you're changing jobs</em>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
					<p><em class='u-highlight'>If you're staying put</em>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
          <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
          <p><a href="images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>

        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-worksheets">
      <div class="container container--normal">
        <div class="package__feature-details-left">
					<figure>
					  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" class="package__feature-details-img">
					  <figcaption>The Salary Negotiation Worksheet</figcaption>
					</figure>
        </div>
        <div class="package__feature-details-right">
					<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
					<p><strong>Worksheets to walk you through...</strong></p>
					<ul>
						<li>Building your case for your next raise or promotion</li>
						<li>Estimating the market value of your skillset and experience</li>
						<li>The entire salary negotation process</li>
					</ul>
          
					<p><strong>Email templates for...</strong></p>
					<ul>
						<li>Following up throughout the interview process</li>
						<li>Delivering your counteroffer in a salary negotiation</li>
						<li>Requesting your next raise or promotion</li>								
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-studies">
      <div class="container container--normal">
        <div class="package__feature-details-left">
					<figure>
					  <img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" class="package__feature-details-img" style="border: 1px solid #999999;">
					</figure>
        </div>
        <div class="package__feature-details-right">
					<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
					<ol>
						<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
						<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
						<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to look greedy or ungrateful.</li>								
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-negotiation-course">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
        </div>
        <div class="package__feature-details-right">
					<p>This self-paced course gives you everything you need to negotiate your job offer and maximize your starting salary.</p>
		      <ul class="checkbox-list">
						<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to negotiate your starting salary</a>—an in-depth course (18 lessons, over 50 minutes) to negotiate your job offer and maximize your starting salary at your new job.</li>								
					</ul>
					<p><strong>A step-by-step guide to starting salary negotiation</strong></p>
					<p>Know exactly what to expect and how to respond each step of the way.</p>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-starter-courses">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
        </div>
        <div class="package__feature-details-right">
					<p>Two self-paced starter courses to help you learn how companies decide what to pay you, and estimate your market value</p>
		      <ul class="checkbox-list">							
		        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course (2 lessons, less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
						<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview (2 lessons, less than 15 minutes) of how companies manage compensation structures to determine your salary</li>
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-cheat-sheet">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/InterviewCheatSheet.png" class="package__feature-details-img" style="border: 1px solid #999999;" alt="">
        </div>
        <div class="package__feature-details-right">
					<p>A simple, printable, two-page PDF to get through any job interview</p>
					<ul class="checkbox-list">
						<li class="checkbox-list__item"><strong>What to look for when researching a company</strong></li>
						<li class="checkbox-list__item"><strong>How to respond when they ask for your current or desired salary</strong></li>
						<li class="checkbox-list__item"><strong>How to answer almost any interview question</strong></li>
						<li class="checkbox-list__item"><strong>Common types of questions you should expect</strong></li>
						<li class="checkbox-list__item"><strong>Questions you should ask when you get the chance</strong></li>
						<li class="checkbox-list__item"><strong>Checklists so you don't forget anything before your interview</strong></li>
					</ul>
        </div>
      </div>
    </div>

  </div> 

</div>