<a name="apply"></a>
<div class="dark individual">
  <div class="container container--normal">
    
    <h2 class="packages__title">Expert salary negotiation coaching</h2>
		<p class="packages__subtitle">I will walk you through this.</p>
		
		<div class="package">

      <a href="{{ site.baseurl }}/coach/apply/negotiate" class="button button--bright package__button">
        <span class="package__button-price">$2,000</span>
        <span class="package__button-text">Apply now</span>
      </a>

      <h3 class="package__name">Custom interview prep and salary negotiation coaching, tailored to your situation</h3>
		</div>
      
  </div> 
</div>