<a name="apply"></a>
<div class="dark individual">
  <div class="container container--normal">
    
    <h2 class="packages__title">Expert coaching for your interviews and starting salary negotiation.</h2><br>

      <a href="{{ site.baseurl }}/coach/apply/negotiate" class="button button--bright package__button">
        <span class="package__button-price">$2,000</span>
        <span class="package__button-text">Apply now</span>
      </a>

      <h3 class="package__name">Custom Coaching Tailored To Your Situation</h3>
      <p class="package__description">I will walk you through this.</p>
  </div> 
</div>