    <div class="container container--normal">
      <div class="toc">

        <h2 class='section-heading section-heading--with-line'>Course Contents</h2>
        <div class="toc__bookmark"></div>

        <ul class="toc__list">

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Course overview</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Overall strategy</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 1: You should negotiate!</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 2: Level the playing field</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 3: Focus on base salary</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Preparation</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 1: Why you're a valuable candidate</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 2: The Salary Negotiation Worksheet</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 3: Setting your minimum acceptable salary</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Post-interview follow-up</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 1: Don't name the final salary</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 2: Make your final case</span>
            </li>
          </div>
				
	        <div class="toc__group">
	          <li class="toc__item--section">
	            <span></span>
	            <span>Initial offer</span>
	          </li>
	          <li class="toc__item toc__item--indented">
	            <span></span>
	            <span>Overview</span>
	          </li>
	          <li class="toc__item toc__item--indented">
	            <span></span>
	            <span>Lesson 1: Buy some time to consider the offer</span>
	          </li>
	        </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Your counteroffer</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 1: You should always counter, and how much</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 2: Determining your aggression factor</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 3: Determining your counter offer (Part 1)</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 4: Determining your counteroffer (Part 2)</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 5: Delivering your counteroffer</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>The final discussion</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 1: Recapping what we've done so far</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 2: Defining your negotiating window and planning for the final discussion</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 3: A quick phone call for the final discussion</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Lesson 4: How this method made me an additional $1,500 a year</span>
            </li>
          </div>
				
	        <div class="toc__group">
	          <li class="toc__item--section">
	            <span></span>
	            <span>Course takeaways</span>
	          </li>
	        </div>
				
       </ul>

      </div>
    </div> 