<a name="apply"></a>
<div class="dark individual">
  <div class="container container--normal">
    
    <h2 class="packages__title">Expert salary negotiation coaching</h2>
		<p class="packages__subtitle">Apply for a free 15-minute call to see if you'll benefit from expert salary negotiation coaching to negotiate your job offer</p>
		
		<div class="package">

      <a href="{{ site.baseurl }}/coach/apply/negotiate" class="button button--bright package__button">
        <span class="package__button-text"><strong>Apply now</strong></span>
      </a>
		</div>
  </div> 
</div>