<div class="container container--normal">
	<h2>Everything you need to get paid what you're worth</h2>
  <p>Each <em>Fearless Salary Negotiation</em> bundle includes:</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats (PDF, ePub and mobi)</li>		
    <li class="checkbox-list__item"><em class='u-highlight'>2 starter courses</em> to help you learn how companies decide what to pay you, and estimate your market value</li>	
		<li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to implement what you learn</li>		
    <li class="checkbox-list__item"><em class='u-highlight'>7 email templates</em> you can use to make communicating easier</li>
		<li class="checkbox-list__item"><em class='u-highlight'>The Interview Cheat Sheet</em> so you're prepared for every interview</li>
	</ul>
	<p><strong>The Ultimate Salary Negotiation Bundle</strong> and <strong>The Raise and Promotion Bundle</strong> include <em class='u-highlight'>up to 3 premium, self-paced courses</em> in addition to the 2 starter courses included with every bundle. That's over 50 lessons and three hours of self-paced content—to teach you to negotiate your salary like a pro.</p>		
</div>