<h2 class='u-center'>Get these essential tools to get paid what you're worth</h2>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/Negotiate_ThumbnailWithPlayButton.png" class="package__feature-details-img shadow" alt="How to negotiate your starting salary thumbnail" width="175">
	</div>
	
	<div class="description">
		<p><strong>How to negotiate your starting salary</strong> - This step-by-step video course will show you exactly how to negotiate your salary like a pro in less than an hour. Learn how to...</p>
	  <ul class="checkbox-list">
			<li class="checkbox-list__item">Prepare for your negotiation</li>
			<li class="checkbox-list__item">Ask for time to consider the offer</li>
			<li class="checkbox-list__item">Evaluate the offer</li>
			<li class="checkbox-list__item">Counter offer</li>
			<li class="checkbox-list__item">Finalize the deal</li>
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/SalaryNegotiationEmailTemplates_TeaserImage.png" alt="Salary Negotiation Email Templates" style="border: none;">
	</div>
	
	<div class="description">
		<p><strong>10 Email templates</strong> - Taken from real world examples to make communicating with recruiters and hiring managers easy. Templates to...</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Ask for time to consider your offer</li>
			<li class="checkbox-list__item">Counter offer in a collaborative way</li>
			<li class="checkbox-list__item">Convey your final decision after your negotiation</li>								
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
	  <img src="{{ site.baseurl }}/images/HowToWriteSalaryNegotiationEmailImage.png" alt="Essential Salary Negotiation Email Pack thumbnail" width="125">
	</div>
	<div class="description">
		<p><strong>Essential Salary Negotiation Email Pack</strong></p>
	  <ul class="checkbox-list">
			<li class="checkbox-list__item">11-minute video walkthrough to help write your counter offer email</li>
			<li class="checkbox-list__item">Inputs you need before you start writing your counter offer</li>
			<li class="checkbox-list__item">The exact guidance I give my coaching clients</li>
		</ul>
	</div>
	<hr>
</div>


<div class="offering-item">
	<div class="image">
	  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" alt="Salary Negotiation Worksheet" width="125">
	</div>
	<div class="description">
		<p><strong>Salary Negotiation Worksheet</strong> to make the math easy.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Determine the right counter offer amount</li>
			<li class="checkbox-list__item">Plan the details of your salary negotiation</li>
		</ul>
	</div>
</div>

<h2 class='u-center'>PLUS these amazing bonuses</h2>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/Negotiate_ThumbnailWithPlayButton.png" class="package__feature-details-img shadow" alt="How to negotiate your starting salary thumbnail" width="175">
	</div>
	
	<div class="description">
		<p><strong>BONUS: Video courses</strong> - Professional-quality screencasts to help you learn more efficiently and retain more of what you learn.</p>
	
		<p>You can watch these self-paced video courses any time. Each lesson outlines the concepts clearly and provides specific action items for you.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item"><strong>How to estimate your market value</strong>—a short course (less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
			<li class="checkbox-list__item"><strong>How companies manage their salary structures</strong>—a short overview (less than 15 minutes) of how companies manage compensation structures to determine your salary</li>				
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
	  <img src="{{ site.baseurl }}/images/MarketValueWorksheet.png" alt="Market Value Estimation Worksheet" width="125">
	</div>
	<div class="description">
		<p><strong>BONUS: Market Value Estimation Worksheet</strong> to know your worth.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Methodically collect data from multiple sources</li>
			<li class="checkbox-list__item">Determine your market value from that data</li>
		</ul>
	</div>
</div>