		<div class="container container--widened">
      <h2 class='section-heading header--centered section-heading--with-line'>This is everything you need to negotiate your salary like a pro</h2>
		</div>
	  
		<div class="container container--normal">
	    <p>Each edition of <em>Fearless Salary Negotiation</em> includes:</p>
	    <ul class="checkbox-list">
	      <li class="checkbox-list__item"><em class='u-highlight'>The 200-page book</em> in three formats (PDF, ePub and mobi)</li>		
	      <li class="checkbox-list__item"><em class='u-highlight'>4 detailed, easy-to-use worksheets</em> to implement what you learn</li>		
	      <li class="checkbox-list__item"><em class='u-highlight'>7 email templates</em> you can use to make communicating easier</li>
			</ul>
			<p><strong>The Ultimate Salary Upgrade Edition</strong> and <strong>The Raise and Promotion Edition</strong> include <em class='u-highlight'>up to 5 self-paced courses</em>—over 50 lessons and three hours of self-paced content—to teach you negotiate your salary like a pro.</p>		
		</div>