<h2 class='u-center'>Get paid what you're worth with these essential salary negotiation tools</h2>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/FearlessSalary_noquote_small.jpg" class="package__feature-details-img" alt="Fearless Salary Negotiation book cover">
	</div>
	<div class="description">
	  <p><strong><em>Fearless Salary Negotiation</em> is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
		<p><strong>If you're changing jobs</strong>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
		<p><strong>If you're staying put</strong>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
	  <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
	  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" alt="Salary Negotiation Worksheet" width="125">
	</div>
	<div class="description">
		<p><strong>Worksheets: </strong> 4 detailed worksheets to help you implement everything you learn.</p>
		<ul>
			<li>Build your case for your next raise or promotion</li>
			<li>Estimate the market value of your skillset and experience</li>
			<li>Navigate the entire salary negotiation process</li>
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/SalaryNegotiationEmailTemplates_TeaserImage.png" alt="Salary Negotiation Email Templates" style="border: none;">
	</div>
	
	<div class="description">
		<p><strong>Email templates:</strong> 18 email templates taken from real-world examples to make communicating with recruiters, hiring managers, and bosses easy.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Following up throughout the interview process</li>
			<li class="checkbox-list__item">Delivering your counteroffer in a salary negotiation</li>
			<li class="checkbox-list__item">Requesting your next raise or promotion</li>								
			<li class="checkbox-list__item">Ask for time to consider your job offer</li>
			<li class="checkbox-list__item">Counter a lowball job offer</li>
			<li class="checkbox-list__item">Decline a job offer—not a good fit</li>
			<li class="checkbox-list__item">Decline a job offer—accepted another position</li>
			<li class="checkbox-list__item">Accept a job offer</li>
			<li class="checkbox-list__item">Accept a job offer with start-date constraints</li>
			<li class="checkbox-list__item">Ask for a raise and promotion</li>
			<li class="checkbox-list__item">Ask to discussion compensation in your next 1-on-1</li>
			<li class="checkbox-list__item">Schedule a one-off meeting to talk about your compensation</li>
			<li class="checkbox-list__item">Follow up on your raise request</li>
			<li class="checkbox-list__item">Ask for a specific action plan to get a raise</li>
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/Negotiate_ThumbnailWithPlayButton.png" class="package__feature-details-img" alt="How to negotiate your starting salary thumbnail" width="175">
	</div>
	
	<div class="description">
		<p><strong>Video courses:</strong> Nearly three hours of professional-quality screencasts to help you learn more efficiently and retain more of what you learn. These five video courses illustrate the key concepts from the book.</p>
	
		<p>You can watch these self-paced video courses any time. Each lesson outlines the concepts clearly and provides specific action items for you.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course (less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview (less than 15 minutes) of how companies manage compensation structures to determine your salary</li>
	    <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a>—an in-depth course to confidently prepare for and ace your job interviews to get the best job offer possible</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a>—an in-depth course to negotiate your starting salary like a pro</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a>—an in-depth course to get your next raise or promotion at your current job</li>								
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/InterviewCheatSheet_300pxWidth.png" class="package__feature-details-img" alt="Interview Cheat Sheet thumbnail" width="175">
	</div>
	
	<div class="description">
		<p><strong>The Interview Cheat Sheet:</strong> Be totally prepared for every job interview with this simple, printable, two-page PDF.</p>
		<ul class="checkbox-list">
			<li class="checkbox-list__item">What to look for when researching a company</li>
			<li class="checkbox-list__item">How to respond when they ask for your current or desired salary</li>
			<li class="checkbox-list__item">How to answer almost any interview question</li>
			<li class="checkbox-list__item">Common types of questions you should expect</li>
			<li class="checkbox-list__item">Questions you should ask when you get the chance</li>
			<li class="checkbox-list__item">Checklists so you don't forget anything before your interview</li>
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" alt="Case Studies thumbnail" class="package__feature-details-img" width="125">
	</div>
	
	<div class="description">
		<p><strong>Case studies:</strong> 3 detailed case studies from readers who earned more by putting the <em>Fearless Salary Negotiation</em> strategies to use.</p>
		<ol>
			<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later realized his stated desired salary was too low.</li>
			<li><strong>Ashley</strong> was prepared to accept a lateral move to a new company, but realized she underestimated her market value.</li>
			<li><strong>Jason</strong> was reticent to negotiate an already-strong job offer. He didn’t want to look greedy or ungrateful.</li>								
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="{{ site.baseurl }}/images/Positioning_thumbnailwithplaybutton.png" alt="Expert Interviews thumbnail" width="150">
	</div>
	<div class="description">
		<p><strong>Expert interviews:</strong> Video interviews of a real-life résumé review and a deep-dive discussion on how positioning can help you get more job offers by standing out from other candidates.</p>

		<p>You get <strong>2 expert interviews</strong> with me and Eric Normand.</p>
		<ol>
			<li><strong>Résumé review</strong>—Learn how to get more interview opportunities as we walk through a real-life résumé for an experienced software developer.</li>
			<li><strong>How to use positioning to get more job offers</strong>—Get more job offers using the strategy and tactics to help you differentiate yourself from other similar candidates.</li>					
		</ul>
	</div>
	<hr>
</div>

<div class="offering-item">
	<div class="image">
		<img src="/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot">
	</div>
	<div class="description">
		<p><strong>60-minute Strategy Session—$500 value</strong></p>
	  <p>I'll reach out right away to schedule our call where you'll get expert guidance to help you with your most pressing career concerns. Common topics for my strategy sessions are:</p>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Mock interviews</strong> Need to work on your interviewing skills? I can help!</li>
			<li class="checkbox-list__item"><strong>Positioning strategy</strong> I will show you how to differentiate yourself from other candidates in your interviews</li>
			<li class="checkbox-list__item"><strong>Salary negotiation strategy</strong> Not sure how to respond to your job offer? I'll give you a clear plan to get the best compensation package</li>
			<li class="checkbox-list__item"><strong>Raise and promotion strategy</strong> I'll help you put a plan together for your next raise or promotion</li>
		</ul>
	</div>
</div>