<div class="container container--normal">
	<h2>The essential tools to get paid what you're worth</h2>
	
	<div class="left-image">
		<h3>Book</h3>
	
		<img src="{{ site.baseurl }}/images/FearlessSalary_noquote_small.jpg" class="package__feature-details-img" alt="Fearless Salary Negotiation book cover">
	  <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
		<p><strong>If you're changing jobs</strong>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
		<p><strong>If you're staying put</strong>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
	  <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
	  <p><a href="{{ site.baseurl }}/images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>
	</div>
	
	<div class="left-image">
		<h3>Worksheets</h3>
	
	  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" alt="Salary Negotiation Worksheet">
		<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
		<ul>
			<li>Building your case for your next raise or promotion</li>
			<li>Estimating the market value of your skillset and experience</li>
			<li>The entire salary negotation process</li>
		</ul>
	</div>
  	
	<h3>Email templates</h3>
	
	<p>Seven email templates taken from real-world examples to make communicating with recruiters, hiring managers, and bosses easy.</p>
	<ul>
		<li>Following up throughout the interview process</li>
		<li>Delivering your counteroffer in a salary negotiation</li>
		<li>Requesting your next raise or promotion</li>								
	</ul>
	
	<div class="left-image">
		<h3>Video courses</h3>
	
		<img src="{{ site.baseurl }}/images/Negotiate_ThumbnailWithPlayButton.png" class="package__feature-details-img" alt="How to negotiate your starting salary thumbnail">
		<p>Almost three hours of professionally produced screencasts to help you learn more efficiently and retain more of what you learn. These five video courses will illustrate all the key concepts in the book.</p>
		
		<p>These self-paced video courses contain <strong>nearly 3 hours of screencasts</strong> you can watch any time. Each lesson outlines the concepts clearly and provides specific action items for you.</p>
    <ul class="checkbox-list">
      <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course (less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview (less than 15 minutes) of how companies manage compensation structures to determine your salary</li>
      <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a>—an in-depth course to confidently prepare for and ace your job interviews to get the best job offer possible</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a>—an in-depth course to negotiate your starting salary like a pro</li>
			<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a>—an in-depth course to get your next raise or promotion at your current job</li>								
		</ul>
	</div>
	
	<div class="left-image">
		<h3>The Interview Cheat Sheet</h3>
	
		<img src="{{ site.baseurl }}/images/InterviewCheatSheet_300pxWidth.png" class="package__feature-details-img" style="border: 1px solid #999999; float: left;" alt="Interview Cheat Sheet thumbnail">
		<p>Be totally prepared for every job interview with this simple, printable, two-page PDF.</p>
		<ul class="checkbox-list">
			<li class="checkbox-list__item">What to look for when researching a company</li>
			<li class="checkbox-list__item">How to respond when they ask for your current or desired salary</li>
			<li class="checkbox-list__item">How to answer almost any interview question</li>
			<li class="checkbox-list__item">Common types of questions you should expect</li>
			<li class="checkbox-list__item">Questions you should ask when you get the chance</li>
			<li class="checkbox-list__item">Checklists so you don't forget anything before your interview</li>
		</ul>
	</div>
	
	<div class="left-image">
		<h3>Case studies</h3>
	
		<img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" alt="Case Studies thumbnail" class="package__feature-details-img" style="border: 1px solid #999999; float: left;">
		<p>You get <em class='u-highlight'>3 detailed case studies</em> from readers who earned more by putting the <em>Fearless Salary Negotiation</em> strategies to use.</p>
		<ol>
			<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
			<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
			<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to look greedy or ungrateful.</li>								
		</ul>
	</div>
	
	<div class="left-image">
		<h3>BONUS email templates</h3>
	
		<img src="{{ site.baseurl }}/images/SalaryNegotiationEmailTemplates_TeaserImage.png" alt="Salary Negotiation Email Templates" class="package__feature-details-img" style="float: left;">
		<p>You get <strong>7 BONUS email templates</strong> to respond to your job offers and ask for a promotion with a raise.</p>
		<ul>
			<li>Ask for time to consider your job offer</li>
			<li>Counter a lowball job offer</li>
			<li>Decline a job offer—not a good fit</li>
			<li>Decline a job offer—accepted another position</li>
			<li>Accept a job offer</li>
			<li>Accept a job offer with start-date constraints</li>
			<li>Ask for a raise and promotion</li>
		</ul>
	</div>
	
	<div class="left-image">
		<h3>Expert interviews</h3>
	
		<img src="{{ site.baseurl }}/images/Positioning_thumbnailwithplaybutton.png" alt="Expert Interviews thumbnail" class="package__feature-details-img" style="border: 1px solid #999999; float: left;">
		<p>Video interviews of a real-life résumé review and a deep-dive discussion on how positioning can help you get more job offers by standing out from other candidates.</p>
	
		<p>You get <strong>2 expert interviews</strong> with me and Eric Normand.</p>
		<ol>
			<li><strong>Résumé review</strong>—Learn how to get more interview opportunities as we walk through a real-life résumé for an experienced software developer.</li>
			<li><strong>How to use positioning to get more job offers</strong>—Get more job offers using the trategy and tactics to help you differentiate yourself from other similar candidates.</li>					
		</ul>
	</div>
</div>