<a name="purchase"></a>
<div class="dark">
  <div class="container container--normal">

    <h2 class="packages__title">Fearless Salary Negotiation</h2>
    <p class="packages__subtitle">Choose the bundle that works for you</p>
		
    <a name="strategy"></a>
    <div class="package" id="package-complete-plus-strategy">
			
			<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/purchase" rel="nofollow" class="button button--bright package__button">
				<span class="package__button-price"><s>$699</s> $499</span>
		    <span class="package__button-text">Buy now</span>
			</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

      <h3 class="package__name">The Complete Bundle plus Strategy Session</h3>
      <p class="package__description">1-on-1 strategy session plus The Complete Bundle.</p>

      <div class="package__features-list">
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-complete">
          <span class="package__feature-icon"><i class="fa fa-book"></i></span>
          <span class="package__feature-title">The Complete Bundle</span>
          <span class="package__feature-info">&mdash; $199 value</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-strategy">
          <span class="package__feature-icon"><i class="fa fa-phone"></i></span>
          <span class="package__feature-title">1-hour strategy session</span>
          <span class="package__feature-info">&mdash; $500 value</span>
        </a>
      </div>
    </div>

    <a name="complete"></a>
    <div class="package" id="package-complete">
			
			<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase" rel="nofollow" class="button button--bright package__button">
				<span class="package__button-price">$199</span>
		    <span class="package__button-text">Buy now</span>
			</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

      <h3 class="package__name">The Complete Bundle</h3>
      <p class="package__description">Everything you need to get paid what you're worth.</p>

      <div class="package__features-list">
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
          <span class="package__feature-icon"><i class="fa fa-book"></i></span>
          <span class="package__feature-title">Book</span>
          <span class="package__feature-info">&mdash; 200 pages, 3 formats</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
          <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
          <span class="package__feature-title">Worksheets & Templates</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-bonus-templates">
          <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
          <span class="package__feature-title">Bonus Email Templates</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-studies">
          <span class="package__feature-icon"><i class="fa fa-user"></i></span>
          <span class="package__feature-title">Case Studies</span>
          <span class="package__feature-info">&mdash; 3 case studies</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-cheat-sheet">
          <span class="package__feature-icon"><i class="fa fa-list-alt"></i></span>
          <span class="package__feature-title">The Interview Cheat Sheet</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-videos">
					<span class="package__feature-icon"><i class="fa fa-film"></i></span>
        	<span class="package__feature-title">Video Courses</span>
        	<span class="package__feature-info">&mdash; nearly 3 hours</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-expert-interviews">
          <span class="package__feature-icon"><i class="fa fa-film"></i></span>
          <span class="package__feature-title">Expert Interviews</span>
        </a>

      </div>
    </div>
		
    <a name="basic"></a>
    <div class="package" id="package-basic">
					
			<a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase" rel="nofollow" class="button button--book package__button ">
				<span class="package__button-price">$39</span>
		    <span class="package__button-text">Buy now</span>
			</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
			
      <h3 class="package__name">The Book</h3>
      <p class="package__description">The book, worksheets, and email templates.</p>

      <div class="package__features-list">
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-ebook">
          <span class="package__feature-icon"><i class="fa fa-book"></i></span>
          <span class="package__feature-title">Book</span>
          <span class="package__feature-info">&mdash; 200 pages, 3 formats</span>
        </a>
        <a href="#" class="package__feature-item package__feature-item--expandable js-expand" data-expand-id="details-worksheets">
          <span class="package__feature-icon"><i class="fa fa-file-text-o"></i></span>
          <span class="package__feature-title">Worksheets & Templates</span>
        </a>
      </div>

    </div>
    
    <div class="package__feature-details" id="details-ebook">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="Fearless Salary Negotiation book cover">
        </div>
        <div class="package__feature-details-right">
          <p><strong>This book is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
					<p><strong>If you're changing jobs</strong>, this is your playbook for acing interviews, getting the strongest job offer possible, and maximizing your starting salary.</p>
					<p><strong>If you're staying put</strong>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
          <p>The PDF is 200 pages. You'll also get ePub and mobi versions so you can read it on your favorite mobile device or e-reader.</p>
          <p><a href="images/FSN_Preview_Thumbnail.png" target="_blank">Click here to see a preview</a> of the book.</p>

        </div>
      </div>
    </div>

    <div class="package__feature-details" id="details-videos">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/Negotiate_ThumbnailWithPlayButton.png" class="package__feature-details-img" alt="How to negotiate your starting salary thumbnail">
        </div>
        <div class="package__feature-details-right">
					<p>These self-paced video courses contain <strong>nearly 3 hours of screencasts</strong> you can watch any time. Each lesson outlines the concepts clearly and provides specific action items for you.</p>
		      <ul class="checkbox-list">
		        <li class="checkbox-list__item"><a href="https://youtu.be/SykDq6X1pMw" target="_blank">How to estimate your market value</a>—a short course (less than 15 minutes) to estimate the market value of your skillset and experience in your industry</li>
						<li class="checkbox-list__item"><a href="https://youtu.be/U4LfPn1H4Cs" target="_blank">How companies manage their salary structures</a>—a short overview (less than 15 minutes) of how companies manage compensation structures to determine your salary</li>
		        <li class="checkbox-list__item"><a href="https://youtu.be/Y7v_IjWNatM" target="_blank">How to ace your next interview</a>—an in-depth course to confidently prepare for and ace your job interviews to get the best job offer possible</li>
						<li class="checkbox-list__item"><a href="https://youtu.be/2C8wwuu2iP8" target="_blank">How to negotiate your starting salary</a>—an in-depth course to negotiate your starting salary like a pro</li>
						<li class="checkbox-list__item"><a href="https://youtu.be/-mmV4FoDgig" target="_blank">How to get your next raise or promotion</a>—an in-depth course to get your next raise or promotion at your current job</li>								
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-worksheets">
      <div class="container container--normal">
        <div class="package__feature-details-left">
					<figure>
					  <img src="{{ site.baseurl }}/images/SalaryNegotiationWorksheet_Tall_Thumbnail.png" alt="Salary Negotiation Worksheet" class="package__feature-details-img">
					  <figcaption>The Salary Negotiation Worksheet</figcaption>
					</figure>
        </div>
        <div class="package__feature-details-right">
					<p>You get <em class='u-highlight'>4 detailed worksheets</em> and <em class='u-highlight'>7 email templates</em> to help you implement everything you learn as easily as possible.</p>
					<p><strong>Worksheets to walk you through...</strong></p>
					<ul>
						<li>Building your case for your next raise or promotion</li>
						<li>Estimating the market value of your skillset and experience</li>
						<li>The entire salary negotation process</li>
					</ul>
          
					<p><strong>Email templates for...</strong></p>
					<ul>
						<li>Following up throughout the interview process</li>
						<li>Delivering your counteroffer in a salary negotiation</li>
						<li>Requesting your next raise or promotion</li>								
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-bonus-templates">
      <div class="container container--normal">
        <div class="package__feature-details-left">
					<figure>
					  <img src="{{ site.baseurl }}/images/SalaryNegotiationEmailTemplates_TeaserImage.png" alt="Salary Negotiation Email Templates" class="package__feature-details-img">
					  <figcaption>Bonus Email Templates</figcaption>
					</figure>
        </div>
        <div class="package__feature-details-right">
					<p>You get <strong>7 bonus email templates</strong> to respond to your job offers and ask for a promotion with a raise.</p>
					<ul>
						<li>Ask for time to consider your job offer</li>
						<li>Counter a lowball job offer</li>
						<li>Decline a job offer—not a good fit</li>
						<li>Decline a job offer—accepted another position</li>
						<li>Accept a job offer</li>
						<li>Accept a job offer with start-date constraints</li>
						<li>Ask for a raise and promotion</li>
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-studies">
      <div class="container container--normal">
        <div class="package__feature-details-left">
					<figure>
					  <img src="{{ site.baseurl }}/images/CaseStudies_Thumbnail.png" alt="Case Studies thumbnail" class="package__feature-details-img" style="border: 1px solid #999999;">
					</figure>
        </div>
        <div class="package__feature-details-right">
					<p>You get <em class='u-highlight'>3 case studies</em> from <em>Fearless Salary Negotiation</em> customers.</p>
					<ol>
						<li><strong>Kevin</strong> disclosed his current and desired salaries early in the interview process, then later <em class='u-highlight'>realized his stated desired salary was too low</em>.</li>
						<li><strong>Ashley</strong> <em class='u-highlight'>was prepared to accept a lateral move</em> to a new company, but realized she underestimated her market value.</li>
						<li><strong>Jason</strong> <em class='u-highlight'>was reticent to negotiate</em> an already-strong job offer. He didn’t want to look greedy or ungrateful.</li>								
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-cheat-sheet">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/InterviewCheatSheet_300pxWidth.png" class="package__feature-details-img" style="border: 1px solid #999999;" alt="Interview Cheat Sheet thumbnail">
        </div>
        <div class="package__feature-details-right">
					<p>A simple, printable, two-page PDF to get through any job interview</p>
					<ul class="checkbox-list">
						<li class="checkbox-list__item">What to look for when researching a company</li>
						<li class="checkbox-list__item">How to respond when they ask for your current or desired salary</li>
						<li class="checkbox-list__item">How to answer almost any interview question</li>
						<li class="checkbox-list__item">Common types of questions you should expect</li>
						<li class="checkbox-list__item">Questions you should ask when you get the chance</li>
						<li class="checkbox-list__item">Checklists so you don't forget anything before your interview</li>
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-expert-interviews">
      <div class="container container--normal">
        <div class="package__feature-details-left">
				  <img src="{{ site.baseurl }}/images/Positioning_thumbnailwithplaybutton.png" alt="Expert Interviews thumbnail" class="package__feature-details-img" style="border: 1px solid #999999;">
        </div>
        <div class="package__feature-details-right">
					<p>You get <strong>2 expert interviews</strong> with me and Eric Normand.</p>
					<ol>
						<li><strong>Résumé review</strong>—Learn how to get more interview opportunities as we walk through a real-life résumé for an experienced software developer.</li>
						<li><strong>How to use positioning to get more job offers</strong>—Get more job offers using the trategy and tactics to help you differentiate yourself from other similar candidates.</li>					
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-complete">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/FearlessSalary_noquote 400px-height.jpg" class="package__feature-details-img" style="border: 1px solid #999999;" alt="Fearless Salary Negotiation book cover">
        </div>
        <div class="package__feature-details-right">
					<p><strong>The Complete Bundle—$199 value</strong></p>
          <p>You get everything in The Complete Bundle:</p>
					<ul class="checkbox-list">
						<li class="checkbox-list__item"><strong>Book</strong> 200-page book in PDF, ePub, and mobi formats</li>
						<li class="checkbox-list__item"><strong>4 Worksheets</strong></li>
						<li class="checkbox-list__item"><strong>14 Email templates</strong></li>
						<li class="checkbox-list__item"><strong>Nearly 3 hours of video courses</strong></li>
						<li class="checkbox-list__item"><strong>The Interview Cheat Sheet</strong></li>
						<li class="checkbox-list__item"><strong>3 Case studies</strong></li>
						<li class="checkbox-list__item"><strong>2 Expert interviews</strong></li>
					</ul>
        </div>
      </div>
    </div>
		
    <div class="package__feature-details" id="details-strategy">
      <div class="container container--normal">
        <div class="package__feature-details-left">
          <img src="{{ site.baseurl }}/images/josh-doody-300px-circle.png" class="package__feature-details-img" alt="Josh Doody headshot">
        </div>
        <div class="package__feature-details-right">
					<p><strong>1-hour strategy session—$500 value</strong></p>
          <p>I'll reach out right away to schedule our call where you'll get expert guidance to help you with your most pressing career concerns. Common topics for my strategy sessions are:</p>
					<ul class="checkbox-list">
						<li class="checkbox-list__item"><strong>Mock interviews</strong> Need to work on your interviewing skills? I can help!</li>
						<li class="checkbox-list__item"><strong>Positioning strategy</strong> I will show you how to differentiate yourself from other candidates in your interviews</li>
						<li class="checkbox-list__item"><strong>Salary negotiation strategy</strong> Not sure how to respond to your job offer? I'll give you a clear plan to get the best compensation package</li>
						<li class="checkbox-list__item"><strong>Raise and promotion strategy</strong> I'll help you put a plan together for your next raise or promotion</li>
					</ul>
        </div>
      </div>
    </div>

  </div> 
</div>