<div class="container container--widened price-grid">
	<a name="purchase"></a>
	<h2 class='u-center'>Buy Fearless Salary Negotiation</h2>
	<div class="price-column">
	  <ul class="product">
	    <a name="strategy"></a>
	    <li class="product-name">Strategy Session <span class="hidden-sm-up"><br></span>+ Complete Bundle</li>
	    <li class="fsn-full-price product-price"><s>$699</s> $499</li>
	    <li class="fsn-sale-price product-price hidden"><s>$499</s> $374</li>
			<li><i class="fa fa-phone"></i> <strong>60-minute Strategy Session</strong></li>
			<li><i class="fa fa-book"></i> Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li><i class="fa fa-file-text-o"></i> 14 <s>7</s> Email Templates</li>
			<li><i class="fa fa-user"></i> 3 Case Studies</li>
			<li><i class="fa fa-list-alt"></i> The Interview Cheat Sheet</li>
			<li><i class="fa fa-film"></i> 5 Video Courses</li>
			<li><i class="fa fa-film"></i> 2 Expert Interviews</li>
	    <li class="product-buy">		
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="button button--bright">
						<span class="package__button-price"><s class="strike-price">$699</s> $499</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY25" rel="nofollow" class="button button--bright">
						<span class="package__button-price"><s class="strike-price">$499</s> $374</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
			</li>
	  </ul>
	</div>

	<div class="price-column">
	  <ul class="product">
			<a name="complete"></a>
	    <li class="product-name popular">Complete Bundle<span class="spacing"><br><br></span></li>
	    <li class="fsn-full-price product-price">$199</li>
	    <li class="fsn-sale-price product-price hidden"><s>$199</s> $149</li>
			<li><s><i class="fa fa-phone"></i> 60-minute Strategy Session</s></li>
			<li><i class="fa fa-book"></i> Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li><i class="fa fa-file-text-o"></i> 14 <s>7</s> Email Templates</li>
			<li><i class="fa fa-user"></i> 3 Case Studies</li>
			<li><i class="fa fa-list-alt"></i> The Interview Cheat Sheet</li>
			<li><i class="fa fa-film"></i> 5 Video Courses</li>
			<li><i class="fa fa-film"></i> 2 Expert Interviews</li>
	    <li class="product-buy">
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="button button--bright">
						<span class="package__button-price">$199</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE25" rel="nofollow" class="button button--bright">
						<span class="package__button-price"><s class="strike-price">$199</s> $149</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
			</li>
	  </ul>
	</div>

	<div class="price-column">
	  <ul class="product">
	    <a name="basic"></a>
			<li class="product-name">The Book Only<span class="spacing"><br><br></span></li>
	    <li class="fsn-full-price product-price">$39</li>
	    <li class="fsn-sale-price product-price hidden"><s>$39</s> $29</li>
			<li><s><i class="fa fa-phone"></i> 60-minute Strategy Session</s></li>
	    <li><i class="fa fa-book"></i> Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li><i class="fa fa-file-text-o"></i> 7 Email Templates</li>
			<li><s>3 Case Studies</s></li>
			<li><s>The Interview Cheat Sheet</s></li>
			<li><s>5 Video Courses</s></li>
			<li><s>2 Expert Interviews</s></li>
	    <li class="product-buy">		
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart" rel="nofollow" class="button button--bright">
						<span class="package__button-price">$39</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=FSNSaleBOOK25" rel="nofollow" class="button button--bright">
						<span class="package__button-price"><s class="strike-price">$39</s> $29</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
			</li>
	  </ul>
	</div>
</div>