<a name="purchase" class="below-nav"></a>
<div class="container price-grid">
	<h2 class='u-center'>Get started with Fearless Salary Negotiation</h2>
	
	<div class="price-column">
		<a name="strategy" class="below-nav"></a>
	  <ul class="product">
	    <li class="product-name">Strategy</li>
	    <li class="fsn-full-price product-price"><a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="price">$499</a></li>
	    <li class="fsn-sale-price product-price hidden"><s>$499</s> <a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" rel="nofollow" class="price">$349</a></li>
			<li class="feature"><i class="fa fa-phone"></i> <a href="{{ base.url }}/call" target="_blank">1-hour Strategy Call</a></li>
			<li class="feature"><i class="fa fa-book"></i> <em>Fearless Salary Negotiation</em> PDF, ePub, and mobi</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> <strong>18</strong> Email Templates</li>
			<li class="feature"><i class="fa fa-user"></i> 3 Case Studies</li>
			<li class="feature"><i class="fa fa-list-alt"></i> Interview Cheat Sheet</li>
			<li class="feature"><i class="fa fa-film"></i> 5 Video Courses</li>
			<li class="feature"><i class="fa fa-film"></i> 2 Expert Interviews</li>
	    <li class="product-buy">		
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
			</li>
	  </ul>
	</div>

	<div class="price-column">
		<a name="complete" class="below-nav"></a>
	  <ul class="product">
	    <li class="product-name popular">Complete</li>
	    <li class="fsn-full-price product-price"><a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="price">$239</a></li>
	    <li class="fsn-sale-price product-price hidden"><s>$239</s> <a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="price">$167</a></li>
			<li><s><i class="fa fa-phone"></i> 1-hour Strategy Call</s></li>
			<li class="feature"><i class="fa fa-book"></i> <em>Fearless Salary Negotiation</em> PDF, ePub, and mobi</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> <strong>18</strong> Email Templates</li>
			<li class="feature"><i class="fa fa-user"></i> 3 Case Studies</li>
			<li class="feature"><i class="fa fa-list-alt"></i> Interview Cheat Sheet</li>
			<li class="feature"><i class="fa fa-film"></i> 5 Video Courses</li>
			<li class="feature"><i class="fa fa-film"></i> 2 Expert Interviews</li>
	    <li class="product-buy">
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
			</li>
	  </ul>
	</div>

	<div class="price-column">
	  <a name="basic" class="below-nav"></a>
		<ul class="product">
			<li class="product-name">Starter</li>
	    <li class="fsn-full-price product-price"><a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart" rel="nofollow" class="price">$49</a></li>
	    <li class="fsn-sale-price product-price hidden"><s>$49</s> <a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=FSNSaleBOOK30" rel="nofollow" class="price">$34</a></li>
			<li class="feature"><s><i class="fa fa-phone"></i> 1-hour Strategy Call</s></li>
	    <li class="feature"><i class="fa fa-book"></i> <em>Fearless Salary Negotiation</em> PDF, ePub, and mobi</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li class="feature"><i class="fa fa-file-text-o"></i> 7 Email Templates</li>
			<li class="feature"><s><i class="fa fa-user"></i> 3 Case Studies</s></li>
			<li class="feature"><s><i class="fa fa-list-alt"></i> Interview Cheat Sheet</s></li>
			<li class="feature"><s><i class="fa fa-film"></i> 5 Video Courses</s></li>
			<li class="feature"><s><i class="fa fa-film"></i> 2 Expert Interviews</s></li>
	    <li class="product-buy">		
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=FSNSaleBOOK30" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-text"><strong>Get Started</strong></span>
					</a>
				</span>
			</li>
	  </ul>
	</div>
</div>