<a name="purchase" class="below-nav"></a>
<div class="containter price-grid">
	<h2 class='u-center'>Buy Fearless Salary Negotiation</h2>
	
	<div class="price-column">
		<a name="strategy" class="below-nav"></a>
	  <ul class="product">
	    <li class="product-name">Strategy Session <span class="hidden-sm-up"><br></span>+ Complete Bundle</li>
	    <li class="fsn-full-price product-price"><s>$739</s> <a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="price">$599</a></li>
	    <li class="fsn-sale-price product-price hidden"><s>$599</s> <a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="price">$419</a></li>
			<li><i class="fa fa-phone"></i> <strong><a href="{{ base.url }}/call" target="_blank">60-minute Strategy Session</a></strong></li>
			<li><i class="fa fa-book"></i> Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li><i class="fa fa-file-text-o"></i> 18 Email Templates</li>
			<li><i class="fa fa-user"></i> 3 Case Studies</li>
			<li><i class="fa fa-list-alt"></i> The Interview Cheat Sheet</li>
			<li><i class="fa fa-film"></i> 5 Video Courses</li>
			<li><i class="fa fa-film"></i> 2 Expert Interviews</li>
			<li><i class="fa fa-dollar"></i> 60-Day Money Back Guarantee</li>
	    <li class="product-buy">		
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-price"><s class="strike-price">$739</s> $599</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-price"><s class="strike-price">$599</s> $419</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
			</li>
	  </ul>
	</div>

	<div class="price-column">
		<a name="complete" class="below-nav"></a>
	  <ul class="product">
	    <li class="product-name popular">Complete Bundle<span class="spacing"><br><br></span></li>
	    <li class="fsn-full-price product-price"><a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="price">$239</a></li>
	    <li class="fsn-sale-price product-price hidden"><s>$239</s> <a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="price">$167</a></li>
			<li><s><i class="fa fa-phone"></i> 60-minute Strategy Session</s></li>
			<li><i class="fa fa-book"></i> Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li><i class="fa fa-file-text-o"></i> 4 Worksheets</li>
	    <li><i class="fa fa-file-text-o"></i> 18 Email Templates</li>
			<li><i class="fa fa-user"></i> 3 Case Studies</li>
			<li><i class="fa fa-list-alt"></i> The Interview Cheat Sheet</li>
			<li><i class="fa fa-film"></i> 5 Video Courses</li>
			<li><i class="fa fa-film"></i> 2 Expert Interviews</li>
			<li><i class="fa fa-dollar"></i> 60-Day Money Back Guarantee</li>
	    <li class="product-buy">
				<span class="fsn-full-price">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-price">$239</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
				<span class="fsn-sale-price hidden">
					<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" rel="nofollow" class="button button--bright sendowl-button">
						<span class="package__button-price"><s class="strike-price">$239</s> $167</span>
		    		<span class="package__button-text">Buy now</span>
					</a>
				</span>
			</li>
	  </ul>
	</div>
</div>