<a name="purchase"></a>
<div class="pricing-table">
  <section class='item'>
    <p class="item__option">Option #3</p>
    <p class="item__header">Do It Yourself</p>
		<p class="item__description">Complete bundle of tools and resources</p>
		<span class="image"><img src="/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><em>Fearless Salary Negotiation</em> PDF, ePub, and mobi</li>
			<li><strong>4 detailed worksheets</strong> to walk you through it</li>
			<li><strong>22 email templates</strong> with the exact words to say</li>
			<li><strong>5 hours of easy-to-follow video courses</strong> to learn concepts quickly and see them in action</li>
    </ul>
		<span class="fsn-full-price hidden"><p class="item__price">$239</p></span>
		<span class="fsn-sale-price"><p class="item__price"><s>$239</s> $167</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" class='guide-btn large'>Get Instant Access</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" class='guide-btn large'>Get Instant Access</a>
			</span>
		</div>
  </section>
  <section class='item'>
    <p class="item__option">Option #2</p>
    <p class="item__header">Talk To An Expert</p>
		<p class="item__description">Expert guidance, just for you</p>
		<span class="image"><img src="/images/josh-doody-300px-circle.png" class="package__feature-details-img" alt="Josh Doody headshot" width=150></span>
		<ul>
			<li>1-hour call with a salary negotiation expert</li>
      <li>Practice negotiating with an experienced negotiator</li>
      <li>Get a custom strategy and tactics for your situation</li>
      <li>Instant access to the Complete Bundle</li>
    </ul>
		<span class="fsn-full-price hidden"><p class="item__price">$499</p></span>
		<span class="fsn-sale-price"><p class="item__price"><s>$499</s> $349</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" class='guide-btn large'>Schedule Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" class='guide-btn large'>Schedule Now</a>
			</span>
		</div>
  </section>
  <section class='item'>
    <p class="item__option">Option #1</p>
    <p class="item__header">Done For You</p>
		<p class="item__description">A professional salary negotiator working for you</p>
		<span class="image"><img src="/images/josh-doody-300px-circle.png" class="package__feature-details-img" alt="Josh Doody headshot" width=150></span>
    <ul>
			<li>Ideal for Software Developers making over $100,000</li>
      <li>Job offers improve by over $16,000 on average</li>
			<li>A professional salary negotiator negotiates for you behind the scenes</li>
      <li>Custom scripts and email templates for your situation</li>
      <li>Instant access to the Complete Bundle</li>
    </ul>
		<span class="fsn-full-price"><p class="item__price">$1,500+</p></span>
		<div class="item__cta">
			<a href="/coach" class='guide-btn large'>Learn More</a>
		</div>
  </section>
</div>

<p class='u-center'>
	<span class="fsn-full-price hidden">
		<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart" rel="nofollow">
			Get the book, email templates, worksheets for $49
		</a>
	</span>
	<span class="fsn-sale-price">
		<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=FSNSaleBOOK30" rel="nofollow">
			Get the book, email templates, worksheets for <s>$49</s> $34
		</a>
	</span>
</p>

<style media="screen" type="text/css">

.pricing-table {
  display: flex;        /* Flex layout so items have equal height  */
  flex-direction: column-reverse;  /* Allow items to wrap into multiple lines */
  max-width: 800px;
}

.item { 
  display: flex;        /* Lay out each item using flex layout */
  flex-flow: column;    /* Lay out item’s contents vertically  */
	padding: 0 10px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.item__cta {
  display: flex;
  align-items: center;
  margin-top: auto;     /* Auto top margin pushes button to bottom */
}


/* Styles not relevant to flexbox */
.pricing-table {
  margin: 0 auto;
}

.item {
  margin: 30px 0;
	padding: 30px;
  border: 3px solid #AAA;
	border-radius: 5px;
}

.item ul {
	list-style: none;
	max-width: 500px;
}

.item ul li {
	text-indent: -12px;
	padding-bottom: 10px;
}

.item ul li:before {
	font-family: FontAwesome;
	content: "\f00c";
	display: inline-block;
	position: relative;
	margin-right: 5px;
	color: #aaa;
}

.item__header {
	margin: 0;
	font-size: 3rem;
	font-weight: 700;
  text-align: center;
	line-height: 1.1;
}

.item__description {
	font-size: 1.8rem;
	margin-bottom: 10px;
	text-align: center;
	color: #aaa;
	line-height: 1.1;
}

.item .image {
	margin: 10px 0;
}

.item__price {
	font-weight: 400;
	margin-bottom: .5rem;
  font-size: 3rem;
	text-align: center;
	line-height: 1.1;
}

.item__price s {
	font-weight: 200;
	color: #aaa;
}

.item__cta span {
	margin: auto !important;
}
</style>