<div class="container container--widened price-grid">
	<h2 class='u-center'>Buy the Book Now</h2>
	<div class="price-column">
	  <ul class="product">
	    <li class="header">Complete Bundle plus Strategy Session</li>
	    <li class="price"><s>$699</s> $499</li>
	    <li>Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li>4 Worksheets</li>
	    <li>7 Email Templates</li>
	    <li>7 BONUS Email Templates</li>
			<li>3 Case Studies</li>
			<li>The Interview Cheat Sheet</li>
			<li>5 Video Courses</li>
			<li>2 Expert Interviews</li>
			<li>60-minute Strategy Session</li>
	    <li class="grey">		
				<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/purchase" rel="nofollow" class="button button--bright">
					<span class="package__button-price"><s class="hidden-md">$699</s> $499</span>
	    		<span class="package__button-text">Buy now</span>
				</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
			</li>
	  </ul>
	</div>

	<div class="price-column">
	  <ul class="product">
	    <li class="header popular">Complete Bundle<span class="hidden-sm"><br><br></span></li>
	    <li class="price">$199</li>
	    <li>Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li>4 Worksheets</li>
	    <li>7 Email Templates</li>
	    <li>7 BONUS Email Templates</li>
			<li>3 Case Studies</li>
			<li>The Interview Cheat Sheet</li>
			<li>5 Video Courses</li>
			<li>2 Expert Interviews</li>
			<li><s>60-minute Strategy Session</s></li>
	    <li class="grey">		<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase" rel="nofollow" class="button button--bright">
			<span class="package__button-price">$199</span>
	    <span class="package__button-text">Buy now</span>
		</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script></li>
	  </ul>
	</div>

	<div class="price-column">
	  <ul class="product">
	    <li class="header">The Book Only<span class="hidden-sm"><br><br></span></li>
	    <li class="price">$39</li>
	    <li>Fearless Salary Negotiation in PDF, ePub, and mobi formats </li>
	    <li>4 Worksheets</li>
	    <li>7 Email Templates</li>
	    <li><s>7 BONUS Email Templates</s></li>
			<li><s>3 Case Studies</s></li>
			<li><s>The Interview Cheat Sheet</s></li>
			<li><s>5 Video Courses</s></li>
			<li><s>2 Expert Interviews</s></li>
			<li><s>60-minute Strategy Session</s></li>
	    <li class="grey">		<a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase" rel="nofollow" class="button button--bright">
			<span class="package__button-price">$39</span>
	    <span class="package__button-text">Buy now</span>
		</a><script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script></li>
	  </ul>
	</div>
</div>