<a name="purchase" class="below-nav"></a>
<section class="pricing-table">
  <section class='item'>
    <p class="item__header">Do It Yourself</p>
		<!-- <p class="item__description">Do It Yourself</p> -->
		<span class="fsn-full-price hidden"><p class="item__price">$239</p></span>
		<span class="fsn-sale-price"><p class="item__price"><s>$239</s> $167</p></span>
    <ul>
      <li>Instant Access</li>
			<li>Be ready to negotiate or interview in under an hour</li>
			<li>Email templates and scripts to negotiate you salary</li>
			<li>Detailed worksheets</li>
			<li>3 hours of video courses teach you key concepts</li>
    </ul>
		<div class="item__cta">
			<span class="fsn-full-price">
			<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart" class='guide-btn large'>Get Instant Access</a>
			</span>
			<span class="fsn-sale-price hidden">
			<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/add_to_cart?discount_code=FSNSaleCOMPLETE30" class='guide-btn large'>Get Instant Access</a>
		</span>
		</div>
  </section>
  <section class='item'>
    <p class="item__header">Talk To An Expert</p>
		<!-- <p class="item__description">Talk To An Expert</p> -->
		<span class="fsn-full-price hidden"><p class="item__price">$499</p></span>
		<span class="fsn-sale-price"><p class="item__price"><s>$499</s> $349</p></span>
    <ul>
			<li>1-hour call with a salary negotiation expert</li>
      <li>Practice negotiating with an experienced negotiator</li>
      <li>Get a custom strategy and tactics for your situation</li>
      <li>Includes instant access to the Premium Bundle</li>
    </ul>
		<div class="item__cta">
			<span class="fsn-full-price">
			<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" class='guide-btn large'>Schedule Now</a>
			</span>
			<span class="fsn-sale-price hidden">
			<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" class='guide-btn large'>Schedule Now</a>
		</span>
		</div>
  </section>
  <section class='item'>
    <p class="item__header">Done For You</p>
		<!-- <p class="item__description">I'll Do It For You</p> -->
		<span class="fsn-full-price"><p class="item__price">$1,500+</p></span>
    <ul>
			<li>Ideal for Software Developers making over $100,000</li>
      <li>Job offers improve by over $16,000 on average</li>
			<li>A professional salary negotiator negotiates for you behind the scenes</li>
      <li>Custom scripts and email templates for your situation</li>
      <li>Includes instant access to the Premium Bundle</li>
    </ul>
		<div class="item__cta">
			<a href="/coach" class='guide-btn large'>Learn More</a>
		</div>
  </section>
</section>

<p class='u-center'>
	<span class="fsn-full-price hidden">
		<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart" rel="nofollow">
			Get the book, email templates, worksheets for $49
		</a>
	</span>
	<span class="fsn-sale-price">
		<a href="https://transactions.sendowl.com/packages/35512/C895E617/add_to_cart?discount_code=FSNSaleBOOK30" rel="nofollow">
			Get the book, email templates, worksheets for <s>$49</s> $34
		</a>
	</span>
</p>

<style media="screen" type="text/css">

.pricing-table {
  display: flex;        /* Flex layout so items have equal height  */
  flex-direction: column;  /* Allow items to wrap into multiple lines */
  max-width: 80%;
}
.item { 
/*  flex: 1 0 280px;*/
  display: flex;        /* Lay out each item using flex layout */
  flex-flow: column;    /* Lay out item’s contents vertically  */
	padding: 0 10px 0 10px;
}

.item__cta {
  display: flex;
  align-items: center;
  margin-top: auto;     /* Auto top margin pushes button to bottom */
}


/* Styles not relevant to flexbox */
.pricing-table {
  margin: 0 auto;
}

.item {
  margin: 20px 0 20px 0;
	padding: 20px;
  border: 3px solid #AAA;
	border-radius: 5px;
}

.item__header {
	margin: 0;
	font-size: 3rem;
	font-weight: 700;
  text-align: center;
	line-height: 1.1;
}

.item__description {
	font-size: 1.8rem;
	margin-bottom: 10px;
	text-align: center;
	color: #aaa;
	line-height: 1.1;
}

.item__price {
	font-weight: 400;
	margin-bottom: .5rem;
  font-size: 3rem;
	text-align: center;
	line-height: 1.1;
}

.item__price s {
	font-weight: 200;
	color: #aaa;
}

.item__cta span {
	margin: auto !important;
}
</style>