<div class="pricing-table">
  <section class='item'>
    <p class="item__option">Option #1</p>
    <p class="item__header">Just The Essentials for <em>Fearless Salary Negotiation</em></p>
		<p class="item__description">The basics</p>
		<span class="image"><img src="/images/StarterBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li><strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
			<li><strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
			<li class="excluded"><s>BONUS: 5 hours of easy-to-follow video courses to learn concepts quickly and see them in action</s></li>
			<li class="excluded"><s>BONUS: Interview Cheat Sheet to prepare for any interview in 15 minutes</s></li>
			<li class="excluded"><s>BONUS: 15 more email templates in addition to the templates in the book</s></li>
			<li class="excluded"><s>BONUS: 3 Case Studies show you how others negotiated their salaries</s></li>
			<li class="excluded"><s>BONUS: 2 Expert Interviews to learn what hiring managers are looking for</s></li>
			<li class="excluded"><s>BONUS: <em>Mastering Business Email</em> to help you write more professional business emails</s></li>
			<!-- <li class="excluded"><s>1-hour strategy call with a salary negotiation expert</s></li> -->
    </ul>
		<span class="fsn-full-price"><p class="item__price">$49</p></span>
		<span class="fsn-sale-price hidden"><p class="item__price"><s>$49</s> $34</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase" class='guide-btn large'>Buy Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/35512/C895E617/purchase?discount_code=FSNSaleBOOK30" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
  <section class='item'>
    <p class="item__option">Option #2</p>
    <p class="item__header">The Complete Bundle for <em>Fearless Salary Negotiation</em></p>
		<p class="item__description">Complete bundle of tools and resources</p>
		<span class="image"><img src="/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li><strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
			<li><strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
			<li><strong>BONUS: 5 hours of easy-to-follow video courses</strong> to learn concepts quickly and see them in action</li>
			<li><strong>BONUS: Interview Cheat Sheet</strong> to prepare for any interview in 15 minutes</li>
			<li><strong>BONUS: 15 <em>more</em> email templates</strong> in addition to the templates in the book</li>
			<li><strong>BONUS: 3 Case Studies</strong> show you how others negotiated their salaries</li>
			<li><strong>BONUS: 2 Expert Interviews</strong> to learn what hiring managers are looking for</li>
			<li><strong>BONUS: <em>Mastering Business Email</em></strong> to help you write more professional business emails</li>
			<!-- <li class="excluded"><s>1-hour strategy call with a salary negotiation expert</s></li> -->
    </ul>
		<span class="fsn-full-price"><p class="item__price">$299</p></span>
		<span class="fsn-sale-price hidden"><p class="item__price"><s>$299</s> $167</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase" class='guide-btn large'>Buy Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/35513/80DBBDE4/purchase?discount_code=FSNSaleCOMPLETE30" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
  <!-- <section class='item'>
    <p class="item__option">Option #3</p>
    <p class="item__header">Get Personalized Advice From The Author of <em>Fearless Salary Negotiation</em></p>
		<span class="image"><img src="/images/josh-doody-300px-circle.png" class="package__feature-details-img" alt="Josh Doody headshot" width=150></span>
		<ul>
			<li><strong>1-hour strategy call with salary negotiation expert Josh Doody</strong>, author of <em>Fearless Salary Negotiation</em></strong></li>
			<li><strong>Personalized advice for your unique situation</strong></li>
			<li><strong>BONUS: The Complete Bundle of <em>Fearless Salary Negotiation</em> (a $299 value)</strong></li>
    </ul>
		<p class="item__price">$499</p>
		<div class="item__cta">
			<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/purchase" class='guide-btn large'>Buy Now</a>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
  </section> -->
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">