<a name="purchase"></a>
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Book a 1-on-1 Strategy Session</p>
		<!-- <p class="item__description u-highlight">Availability beginning March 11</p> -->
		<span class="image"><img src="/images/josh-doody-300px-circle.png" class="package__feature-details-img" alt="Josh Doody headshot" width=150></span>
		<ul>
			<li><strong>1-hour strategy call</strong> with a salary negotiation expert</li>
			<li><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li><strong>4 detailed worksheets</strong> to estimate your market value, negotiate your job offer, and ask for a raise or promotion</li>
			<li><strong>7 email templates</strong> with the exact words to say after your interviews, when you negotiate, or when asking your boss for a raise or promotion</li>
			<li><strong>BONUS: 5 hours of easy-to-follow video courses</strong> to learn concepts quickly and see them in action</li>
			<li><strong>BONUS: Interview Cheat Sheet</strong> to prepare for any interview in 15 minutes</li>
			<li><strong>BONUS: 15 <em>more</em> email templates</strong> in addition to the templates in the book</li>
			<li><strong>BONUS: 3 Case Studies</strong> show you how others negotiated their salaries</li>
			<li><strong>BONUS: 2 Expert Interviews</strong> to learn what hiring managers are looking for</li>
			<li><strong>BONUS: <em>Mastering Business Email</em></strong> to help you write more professional business emails</li>
    </ul>
		<!-- <p class='u-center u-highlight'><strong>Please note that Strategy Sessions will be available to schedule beginning March 11</strong></p> -->
		<p class="item__price">$499</p>
		<div class="item__cta">
			<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/purchase" class='guide-btn large'>Buy Now</a>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
  </section>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">