{% assign free_raise_course_articles = site.free_raise_course_articles | sort:"article_number" %}

{% assign next_article_index = page.article_number | plus: 1 %}
{% assign previous_article_index = page.article_number | minus: 1 %}

{% if page.article_number == 0 %}
	{% assign previous_article = nil %}
{% else %}
	{% assign previous_article = free_raise_course_articles[previous_article_index] %}
{% endif %}
			
{% if page.article_number == 5 %}
	{% assign next_article = nil %}
{% else %}
	{% assign next_article = free_raise_course_articles[next_article_index] %}
{% endif %}

<div class="chapter-nav-box chapter-nav-box--spaced">
	<div class="chapter-nav-box__content-left">
	{% if previous_article == nil %}
	{% else %}
		<p><a href="{{ site.baseurl }}{{ previous_article.url }}"><i class="fa fa-arrow-left"></i>Prev<span class="hidden-xs">ious</span><span class="hidden-sm chapter-title"><br>{% if previous_article.headline %}{{ previous_article.headline }}{% else %}{{ previous_article.title }}{% endif %}</span></a></p>
	{% endif %}
	</div>
	<div class="chapter-nav-box__content-right">
	{% if next_article == nil %}
	{% else %}
		<p><a href="{{ site.baseurl }}{{ next_article.url }}">Next <i class="fa fa-arrow-right"></i><span class="hidden-sm"><br>XYZ</a></span></p>
	{% endif %}
	</div>
</div>