{% if page.share_title %}
{% assign link_title = page.share_title | strip_html %}
{% elsif page.headline %}
{% assign link_title = page.headline | strip_html %}
{% else %}
{% assign link_title = page.title | strip_html %}
{% endif %}

<p style="float: left;" class="book-excerpt-footer">
	<strong>SHARE:</strong> &nbsp;
</p>
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}&t={{ link_title | url_encode }}" title="Share on Facebook" target="_blank"><img src="{{ site.baseurl }}/images/social_icons/Facebook.svg" alt="Facebook share button"></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ link_title | truncate:90 | url_encode }}&url={{ page.url | prepend: site.url | url_encode }}&via=JoshDoody" target="_blank" title="Tweet"><img src="{{ site.baseurl }}/images/social_icons/Twitter.svg" alt="Twitter share button"></a></li>
  <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}&title={{ link_title | url_encode }}&summary={% if page.excerpt %}{{ page.excerpt | url_encode }}{% else %}Fearless%20Salary%20Negotiation{% endif %}&source=" target="_blank" title="Share on LinkedIn"><img src="{{ site.baseurl }}/images/social_icons/LinkedIn.svg" alt="LinkedIn share button"></a></li>
	<li><a href="{{ page.url | prepend: site.url }}" target="_blank" title="Direct link"><img style="padding: 5px; background-color: #469d3d; border-radius: 5px;" src="{{ site.baseurl }}/images/social_icons/WhiteLink.svg" alt="Link to this page"></a></li>
</ul>