<a name="purchase"></a>
<div class="dark individual">
  <div class="container container--normal">
    
    <h2 class="packages__title">Book a 1-on-1 Strategy Session</h2>
		<p class="packages__subtitle">Talk to an expert.</p>
		
		<div class="package">

			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart" rel="nofollow" class="button button--bright package__button sendowl-button">
					<span class="package__button-price"><s>$739</s> $500</span>
			    <span class="package__button-text">Book now</span>
				</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/35514/18BAA1E4/add_to_cart?discount_code=FSNSaleSTRATEGY30" rel="nofollow" class="button button--bright package__button sendowl-button">
					<span class="package__button-price"><s>$500</s> $350</span>
			    <span class="package__button-text">Book now</span>
				</a>
			</span>
			<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

      <h3 class="package__name">Confidently negotiate without leaving anything on the table!</h3>
		</div>
      
  </div> 
</div>