    <div class="container container--normal">
      <div class="toc">

        <h2 class='section-heading section-heading--with-line'>Course Contents</h2>
        <div class="toc__bookmark"></div>

        <ul class="toc__list">					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>How to ace your next interview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Preparation</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Pre-interview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Interview</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Post-interview follow-up</span>
            </li>
          </div>


          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>How to negotiate your starting salary</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Overall strategy</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Preparation</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Post-interview follow-up</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Initial offer</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Your counteroffer</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>The final discussion</span>
            </li>
          </div>

          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>How to get your next raise or promotion</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Introduction</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Define your goal</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Prepare your case</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Present your case</span>
            </li>
            <li class="toc__item toc__item--indented">
              <span></span>
              <span>Assess your results and look ahead</span>
            </li>
          </div>
				
	        <div class="toc__group">
	          <li class="toc__item--section">
	            <span></span>
	            <span>How companies manage their salary structures</span>
	          </li>
	        </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>How to estimate your market value</span>
            </li>
          </div>
					
          <div class="toc__group">
            <li class="toc__item--section">
              <span></span>
              <span>Fearless Salary Negotiation eBook, worksheets and templates</span>
            </li>
          </div>				
       </ul>

      </div>
    </div> 