<div class="container container--normal">
	<h2>This is everything you need to negotiate your salary like a pro</h2>
  <p><strong>The Ultimate Salary Upgrade Edition</strong> of <em>Fearless Salary Negotiation</em> includes:</p>
  <ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>How to ace your next interview</strong>—A self-paced course to prepare you for the job interview process, avoid costly mistkaes, and get the best job offer possible.</li>	
		<li class="checkbox-list__item"><strong>How to negotiate your starting salary</strong>—A self-paced course to walk you through the salary negotiation process and maximize your starting salary at your new job.</li>	
		<li class="checkbox-list__item"><strong>How to get your next raise or promotion</strong>—A self-paced course to walk you through the entire raise and promotion process to set your goal, build your case, and make your request.</li>	
		<li class="checkbox-list__item"><strong>How to estimate your market value</strong>—A self-paced course to answer the question "How much should I be paid?"</li>	
		<li class="checkbox-list__item"><strong>How companies manage their salary structures</strong>—A simple overview of how companies manage their compensation structure and how that impacts your raises and promotions at work.</li>	
    <li class="checkbox-list__item"><strong>The 200-page book</strong> in three formats (PDF, ePub and mobi).</li>		
    <li class="checkbox-list__item"><strong>4 detailed, easy-to-use worksheets</strong> to implement what you learn.</li>		
    <li class="checkbox-list__item"><strong>7 email templates</strong> you can use to make communicating easier.</li>
		<li class="checkbox-list__item"><strong>The Interview Cheat Sheet</strong> so you're prepared for every interview</li>
	</ul>
</div>