---
layout: article
title: Coaching to confidently negotiate your salary without looking greedy
tagline: What's your current situation?
excerpt: Anxiety-free salary negotiation coaching to maximize your salary when changing jobs or confidently ask for a raise at your current job.
last_modified_at: 2016-07-06
---
<div class="container container--normal">
  <div class="coaching-nav-box coaching-nav-box--spaced">
		<div class="coaching-nav-box__content-left">
			<p><a href="#negotiate"><span class="hidden-sm-up">I'll change</span><span class="hidden-sm">I'm changing</span> jobs soon</a></p>
		</div>
		<div class="coaching-nav-box__content-right">
			<p><a href="#raise">I'm staying where I am</a></p>
		</div>
	</div>
</div>

<div class="dark divider">
</div>

<a name="negotiate"></a>
<div class="container container--normal">	
	<br><br>
  <h1 class="header__title u-center">Interview prep and salary negotiation coaching</h1>
	<h2 class="header__tagline u-center">Negotiate your starting salary like a pro</h2>
  <p>You have a great opportunity at a great new company, and your first interview is coming up. But you’re not prepared for the interview and you don’t have much time to fix that.</p>
	<p>Here are a few of the things that might be occurring to you right now:</p>
  <ul class="question-list">
		<li class="question-list__item"><strong>What do I say when they ask about my salary requirements?</strong></li>
		<li class="question-list__item"><strong>How can I stand out from other candidates?</strong></li>
		<li class="question-list__item"><strong>Should I negotiate starting salary if they make me an offer?</strong></li>
		<li class="question-list__item"><strong>How?</strong></li>
	</ul>
	<p>There’s a lot on the line! You know you should prepare so you don’t squander this opportunity, but you don't even know where to begin. What should you do?</p>
	<p><a href="#apply">I'm ready to apply</a></p>
</div>

{% include testimonials/patrick_mckenzie.html %}
	
<div class="container container--normal">
	 <p>There are simple tactics you can use to ace your interviews and confidently negotiate your starting salary. I’ve used them myself to get great job offers and negotiate my own salary. I’ve many helped others use them to do the same.</p>
	 <p>If you could negotiate a $10,000 increase in your starting salary, you would make $10,000 more that first year. And you would make $10,000 the next year, and the next year, and the next year. Over just 10 years, that $10,000 salary increase would be worth more than $100,000.</p>

	<h2>A case study</h2>
	<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
	<p>We scheduled a time to talk and I asked her some questions:</p>
	<ul>
		<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
		<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
		<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
	</ul>
	<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With my coaching, she decided to negotiate rather than accepting a lateral move. The result? <em class='u-highlight'>She made an additional $15,000 in base salary by negotiating her job offer.</em></p>
	<p>Here's a testimonial from another coaching client, Justin:</p>
</div>

{% include testimonials/justin_abrahms.html %}

<div class="container container--normal">
	<h2>I will walk you through the entire process</h2>
	<p>When you work with me, you’ll know exactly what to expect every step of the way, and you’ll have a clear plan to follow.</p>
	<p>I will help you...</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Prepare for your interviews</strong> so that you stand out from other candidates, impress everyone you talk to, and set yourself up with the best job offer possible.</li>
		<li class="checkbox-list__item"><strong>Avoid common mistakes</strong> that could cost you thousands of dollars in your interviews and starting salary negotiation.</li>
		<li class="checkbox-list__item"><strong>Prepare a plan for every phase of your starting salary negotiation</strong> so you
maximize your starting salary and other benefits.</li>
		<li class="checkbox-list__item"><strong>Juggling multiple job offers?</strong> I can help you get the best job available and maximize your starting salary while we’re at it.</li>
	</ul>

	<h2>Common questions and answers</h2>
	<p><strong>What if I can’t afford this?</strong> Everything I know about salary negotiation is in my <a href="{{ site.baseurl }}/#purchase">book and courses</a>. Hundreds of people have read my book and taken my courses and gotten phenomenal results. Read my book and take my courses and I look forward to working with you when this investment makes sense for you.</p>
	<p><strong>Will I really be working directly with you?</strong> Yes. We’ll work together 1-on-1 so that I can understand your unique situation and walk you through the entire process. I’ll give you all the worksheets and templates you need, and we’ll work together through every step of the process to get you the best possible result.</p>
	<p> I coached Shannon and here's what she had to say:</p>
</div>
	
	{% include testimonials/shannon_long.html %}
				
<div class="container container--normal">		
	<p><strong>How do I know this will even work?</strong> <a href="{{ site.baseurl }}/testimonials">Read the testimonials</a> from other happy customers and see for yourself.</p>
	<p><strong>Can I get my money back if it doesn’t work?</strong> Yes. I guarantee you will be satisfied with the process and the results or I will happily refund your money. And you can keep the <strong>Ultimate Salary Upgrade Edition</strong> book and video courses.</p>
	<p><strong>How long does this take?</strong> To make <em>sure</em> you get the most value possible, we will work together for up to 90 days. Sometimes, we'll only need a few days or so. Other times—with a particularly intensive interview process—we may need the full 90 days.</p>
	<p><strong>What if I'm not interviewing yet? Should I book time now or wait until later?</strong> I have a limited number of slots available to work with clients and I want to be sure to give each client all the attention they need to maximize their results. So my calendar may be full when you're ready. To make sure we are able to work together, you can sign up as much as one year in advance to reserve a slot.</p>
</div>

	{% include negotiation_coaching_package.html %}

<div class="container container--normal">	
	<h2>Money back guarantee</h2>
  <p>I guarantee you will be satisfied with my coaching process and results, or <strong>I’ll happily refund your money.</strong> And you can keep the <strong>Ultimate Salary Upgrade Edition</strong> book and video courses.</p>

	<h2>So how does this work?</h2>
  <p>Here's a detailed summary of the entire process so you know exactly what to expect.</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>You’ll complete a short application</strong> so I can learn more about your specific situation before we start working together. This is important because I want to be sure <em>you, specifically</em>, will benefit from my help.</li>
		<li class="checkbox-list__item"><strong>I'll review your application</strong> and either confirm that this coaching offering is for you or suggest other resources that may be a better fit for your situation.</li>
		<li class="checkbox-list__item"><strong>Once your application is approved</strong>, I'll send you a registration packet so we can schedule our first meeting and submit your payment information.</li>
		<li class="checkbox-list__item"><strong>You'll get the <a href="{{ site.baseurl }}/video-courses/">Ultimate Salary Upgrade Edition</a> of Fearless Salary Negotiation (a $199 value)</strong> so you'll have everything you need for our engagement.</li>
		<li class="checkbox-list__item"><strong>Before our first meeting, you will do some light homework</strong> so we get the most out of the meeting.</li>
		<li class="checkbox-list__item"><strong>In our first meeting, we'll lay out a strategy for <em>your</em> interview and negotiation process.</strong> I'll tell you what to expect every step of the way and tell you how to avoid very common mistakes that could cost you a lot of money.</li>
		<li class="checkbox-list__item"><strong>You'll usually begin with a pre-interview or pre-screen call with a recruiter or hiring manager.</strong> I'll prepare you for that call and make sure you know how to avoid common interview mistakes that could cost you thousands of dollars.</li>
		<li class="checkbox-list__item"><strong>Then your interviews will begin.</strong> I will make sure you’re prepared for each interview so that you stand out and avoid costly mistakes. I'll teach you my framework for answering interview questions so that you can answer every question with confidence and continuously build your case that you're the best candidate for the job. </li>
		<li class="checkbox-list__item"><strong>When you get your job offer, we will review it and plan for your salary negotiation.</strong> I will tell you exactly what to expect and prepare you for the entire negotiation.</li>
		<li class="checkbox-list__item"><strong>We will calculate your ideal counteroffer for your specific situation and build a strong case to justify your counter.</strong> You will have a specific number to counter with and you will have a strong case to go along with it.</li>
		<li class="checkbox-list__item"><strong>You will deliver your counter along with your case, and I will help you.</strong> You will usually deliver your counter via email and I will help you craft an email that clearly articulates a strong case to justify your counter.</li>
		<li class="checkbox-list__item"><strong>We will script every step of your negotiation so that you are ready when the company responds to your counteroffer.</strong> Not only will you have a script to follow to maximize your starting salary, you will also have a clear plan to maximize the benefits—vacation, working conditions, etc.—that are most important to you.</li>
		<li class="checkbox-list__item"><strong>We'll evaluate your results and make sure you're satisfied.</strong></li>
	</ul>

	<h2>Who are you? Why should I work with you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	            <p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
	            <p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and individual coaching have helped many people earn tens of thousands more dollars.</p>
	<p>The best results have come from my coaching clients, and I really like working with people 1-on-1 to tailor my interviewing and salary negotiation strategy to their specific situation. My clients have had amazing results.</p>

	<h2>PS You don’t get many opportunities to change companies and negotiate a big salary increase.</h2>
	<p>Whether you work with me directly, read my book, take my courses, or find your own way, do yourself a favor and make the most of this rare opportunity.</p>
	<p>Ready to get started? <a href="#apply">Click here to apply now</a></p>
</div>
<div class="dark divider">
</div>

<a name="raise"></a>
<div class="container container--normal">	
	<br><br>
	<h1 class="header__title u-center">"I think I'm underpaid. How do I ask for a raise without looking greedy?"</h1>
	<h2 class="header__tagline u-center">Do something about it this month.</h2>
	
  <p>It's been a while since your last significant raise. Sure, you got 2% this year and 1% last year, but nothing to move the needle on your bank account.</p>
	<p>You <em>know</em> you're falling behind, and you <em>know</em> you should ask for a raise, but you just never seem to get around to it.</p>
	<p>You have so many questions and so few answers:</p>
  <ul class="question-list">
		<li class="question-list__item"><strong>How do I ask for a raise?</strong></li>
		<li class="question-list__item"><strong>What if I look greedy?</strong></li>
		<li class="question-list__item"><strong>What if I ask for a raise and they tell me I'm not worth it?</strong></li>
		<li class="question-list__item"><strong>Where do I start?</strong></li>
	</ul>
	<p>Asking for a raise is uncomfortable, and it's easier to just keep putting it off and hope you get one without asking. But that's probably not going to happen.</p>
	<p><a href="#apply-raise">I'm ready to apply</a></p>
	</div>

	{% include testimonials/mike_g.html %}
	
	<div class="container container--normal">
		 <h2>30 days from now, you could be comfortably asking your manager for a raise, confident that you have a compelling case.</h2>
	 		<p>I will help you...</p>
	 	  <ul class="checkbox-list">
	 	    <li class="checkbox-list__item"><strong>Estimate your market value and set your goal</strong> so you know what you should be paid.</li>
	 			<li class="checkbox-list__item"><strong>Build a case to justify your goal</strong> with a focus on the things that managers care about.</li>
	 			<li class="checkbox-list__item"><strong>Put you case in writing so it's clear and compelling.</strong> This will help assure the best possible outcome.</li>
	 			<li class="checkbox-list__item"><strong>Confidently ask for your raise.</strong></li>
	 			<li class="checkbox-list__item"><strong>Plan for all possible outcomes.</strong></li>
	 		</ul>
		<p>Here's a testimonial from another coaching client, Acree:</p>
	</div>

	{% include testimonials/acree_m.html %}

	<div class="container container--normal">
		<h2>Common questions and answers</h2>
		<p><strong>What if I can’t afford this?</strong> Everything I know about salary negotiation is in my <a href="{{ site.baseurl }}/#purchase">book and courses</a>. Hundreds of people have read my book and taken my courses and gotten phenomenal results. Read my book and take my courses and I look forward to working with you when this investment makes sense for you.</p>
		<p><strong>Will I really be working directly with you?</strong> Yes. We’ll work together 1-on-1 so that I can understand your unique situation and walk you through the entire process. I’ll give you all the worksheets and templates you need, and we’ll work together through every step of the process to get you the best possible result.</p>
		<p><strong>How do I know this will even work?</strong> <a href="{{ site.baseurl }}/testimonials">Read the testimonials</a> from other happy customers and see for yourself.</p>
		<p><strong>Can I get my money back if it doesn’t work?</strong> Yes. I guarantee you will be satisfied or I will refund your money. And you can keep the <strong>Ultimate Salary Upgrade Edition</strong> (a $199 value) book and video courses.</p>
		<p><strong>How long does this take?</strong> 30 days from start to finish.</p>
	</div>

	{% include raise_coaching_package.html %}

	<div class="container container--normal">	
		<h2>Money back guarantee</h2>
	  <p>I guarantee you will be satisfied or I'll happily refund your money. And you can keep the <strong>Ultimate Salary Upgrade Edition</strong> book and video courses.</p>

		<h2>So how does this work?</h2>
	  <p>Here's a detailed summary of the entire process so you know exactly what to expect.</p>
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item"><strong>You’ll complete a short application</strong> so I can learn more about your specific situation before we start working together. This is important because I want to be sure <em>you, specifically</em>, will benefit from my help.</li>
			<li class="checkbox-list__item"><strong>I'll review your application</strong> and either confirm that this is a good fit for you or suggest other resources that may be a better fit for your situation.</li>
			<li class="checkbox-list__item"><strong>Once your application is approved</strong>, I'll send you a registration packet so you can schedule our meetings and submit your payment information.</li>
			<li class="checkbox-list__item"><strong>You'll get the <a href="{{ site.baseurl }}/video-courses/">Ultimate Salary Upgrade Edition</a> of Fearless Salary Negotiation (an $199 value)</strong> so you'll have everything you need for our engagement.</li>
			<li class="checkbox-list__item"><strong>We'll meet for 30 minutes each week to discuss your progress and next steps</strong> so you'll know exactly what to do and when.</li>
		</ul>
		
		<h3>Week 1–Estimating your market value and setting your goal</h3>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Before our first meeting, you will estimate your market value</strong> so we can set your target salary on our first call.</li>
			<li class="checkbox-list__item"><strong>On our first call, you'll set your target salary</strong> so you know your goal.</li>
			<li class="checkbox-list__item"><strong>We'll wrap up by discussing the framework you'll use to build your case.</strong></li>
		</ul>
		
		<h3>Week 2–Building your case</h3>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Before our second meeting, you will assemble the basic components of your case that you have earned your raise.</strong> This is the beginning of the case you will present to your manager at the end of the month.</li>
			<li class="checkbox-list__item"><strong>We will review the components to strengthen your case</strong> so you are focused on how to appeal to your manager and the business goals of the company.</li>
		</ul>
		
		<h3>Week 3—Documenting your case</h3>	
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Before our third meeting, you will create your first draft of your written case.</strong> Putting your case in writing will make it stronger and allow us to review it and improve it together.</li>
			<li class="checkbox-list__item"><strong>We will review and critique your written case.</strong> Our goal is to make your case as compelling as possible from your manager's perspective.</li>
		</ul>
		
		<h3>Week 4—Preparing to ask for your raise</h3>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>We will prepare you to deliver your case to your manager in a 1-on-1.</strong> You will ask for your raise in person, using your written case as your template.</li>
			<li class="checkbox-list__item"><strong>We will prepare you to follow up on your 1-on-1 by emailing your written case.</strong> This follow-up is a crucial part of the process.</li>
			<li class="checkbox-list__item"><strong>We will discuss all of the possible outcomes and plan for each one.</strong> You will be totally prepared for all possible outcomes.</li>
		</ul>

		<h2>Who are you? Why should I work with you?</h2>
		<p><img src="{{ site.baseurl }}/images/josh-doody-700px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
		            <p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
		            <p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and individual coaching have helped many people earn tens of thousands more dollars.</p>
		<p>The best results have come from my coaching clients, and I really like working with people 1-on-1 to tailor my interviewing and salary negotiation strategy to their specific situation. My clients have had amazing results.</p>

		<h2>PS You could be 30 days away from confidently asking for a raise. Why wait?</h2>
		<p>Whether you work with me directly, read my book, take my courses, or find your own way, do yourself a favor and make the most of this rare opportunity.</p>
		<p>Ready to get started? <a href="apply-raise">Click here to apply now</a></p>
</div>