---
layout: squeeze
title: Expert Salary Negotiation Coaching for Software Developers
headline: 'Software Developers: Improve your job offer by an average of $15,870 with expert salary negotiation coaching'
tagline: Full-service salary negotiation coaching
excerpt: Software Developers improve their job offers by an average of $15,870 with this full-service, expert salary negotiation coaching.
context: sales-page
branded_title: false
last_modified_at: 2017-06-02
---
<div class="container container--normal">	
  <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know what you think.</p>
	<p>And what you <em>think</em> is that you can do better, you just don't know <em>how</em>.</p>
  <p>How do you counter offer? What if you ask for too much? What if they retract the job offer?</p>
	
	<h2 class='u-center'>Wouldn't it be nice if someone else could just negotiate for you?</h2>
	
	<p><strong>Imagine this</strong> – Imagine knowing exactly how much to ask for. Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table. Imagine knowing exactly what they'll say and do next. Imagine having word-for-word scripts and a step-by-step plan to negotiate your salary and even other benefits like vacation or a signing bonus.</p>
	
	<h2 class='u-center'>On average, Software Developers improve their job offers by $15,870 when I negotiate for them</h2>
	
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left">I'm Josh Doody, a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries at <strong>Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've heard of.</p>
	<p>I will work behind the scenes to negotiate your salary for you so you can be sure you don't anything on the table.</p>
	
	<h2 class='u-center'>Pricing</h2>
	
	<p><strong>Salary negotiation coaching is $2,000 for software developers with job offers of $200,000 or more.</strong> For clients with job offers under $200,000, the fee is based on your job offer amount.</p>
	
	<p>Here's the full fee schedule (just use your current salary if you don't have an offer in hand yet):</p>
	
	<table><tbody>
	<tr><th>Offer amount</th><th>Single-payment option</th><th>Two-payment option</th></tr>
	<tr><td>$200,000+</td><td>$2,000</td><td>$2,200 ($1,100x2)</td></tr>
	<tr><td>$100,000–$199,999</td><td>$1,500</td><td>$1,650 ($825x2)</td></tr>
	<tr><td>Less than $100,000</td><td>$1,000</td><td>$1,100 ($550x2)</td></tr>
</tbody></table>

	<a href="/coach/apply/negotiate/" class="button button--bright package__button">
		<span class="package__button-text"><strong>Apply now</strong></span>
	</a><br>
	
	<p>There are two ways to pay:</p>
	
	<ol>
		<li><strong>Single payment</strong>—The full payment up front</li>
		<li><strong>Two payments</strong>—Half payment up front, and the second half is billed one month later</li>
	</ol>
	
	<p>As soon as the first payment is received, you'll get instant access to the Complete bundle of <em>Fearless Salary Negotiation</em> and we'll schedule our first call.</p>
	
	<p><strong>Why does the price vary by offer amount?</strong></p>
	
	<p>The bigger the job offer, the greater the value of my coaching. And bigger offers are usually more complicated with more moving parts and more pieces to negotiate like signing bonuses, vacation time, RSUs and other details.</p> 
	
	<h2 class='u-center'>Valuable Bonus</h2>
	
	<p>You'll also get the Complete bundle of <em>Fearless Salary Negotiation</em>, my book and courses (valued at $239).</p>
	
	<p>I'll negotiate your salary behind the scenes, and the Complete bundle will allow you to use what you learn over and over again throughout your career to keep getting paid what you're worth.</p> 
	
	<h2 class='u-center'>100% money-back guarantee</h2>
  <p>I'm so confident you will be satisfied with your results that I offer a 100% money-back guarantee. If at the end of our engagement you feel you have not gotten your money’s worth <strong>I’ll refund your money.</strong> And the bonus Complete bundle (valued at $239) is yours to keep.</p>
</div>
	
{% include negotiation_coaching_package.html %}
	
<div class="container container--normal">			
	<h2 class='u-center'>Jonathan turned disappointing offers from Amazon and Tesla into an additional $80,000 his first year at Tesla</h2>

	<p>Jonathan was a Senior Software Engineer with lots of experience working for big-time tech companies. He was ready for a change, so he applied for Senior engineering roles at Amazon and Tesla. He quickly got two job offers, but they were both very disappointing.</p>

	<p>He reached out and asked if I could help.</p>

	<p>Since the offers were both disappointing, I recommended that we get Amazon and Tesla to improve the offers before we began negotiating. If they would improve the offers from 'disappointing' to 'negotiable', then we could go to work.</p>

	<p>After a few days, both companies came back to Jonathan with significantly better offers. Now we had room to work!</p>

	<h3>Negotiating total compensation with base salary and RSUs in play</h3>

	<p>One tricky aspect of each offer was that they were very heavily focused on RSUs—Restricted Stock Units—which is common for public tech companies. Amazon caps base salary for most employees, and they offer RSUs as their primary negotiation lever once that base salary cap is reached.</p>

	<p>RSUs can potentially be very valuable, but it's difficult to impute a present value on them in order to compare the value of the RSUs to, say, base salary or a signing bonus.</p>

	<p>With some spreadsheet magic, I was able to estimate the present value of the RSUs and help Jonathan negotiate on the two dimensions he cared most about: base salary and RSUs.</p>

	<h3>Choosing between two good options</h3>

	<p>We were able to significantly improve both of Jonathan's job offers from Amazon and Tesla so that he had a difficult decision to make.</p>

	<p>With the hard work of negotiating behind us, we turned our focus to comparing the two opportunities on several dimensions to help Jonathan determine which opportunity was right for him.</p>

	<p>In the end, he chose Tesla for the work environment, greater opportunity to work on new technology and manage a team, and better compensation. Together, we were able to improve his first-year compensation by $80,000.</p>
	
	{% include testimonials/jonathan.html %}
</div>


<div class="container container-stripe">
	<div class="container container--normal qa">
		<h2 class='u-center'>Salary negotiation coaching isn't for everyone...</h2>
		<p><strong>Q: I've never negotiated before. Will this coaching work for me?</strong></p>
		<p><strong>A:</strong> You don't need to be an experienced negotiator to negotiate your salary. I'll make sure you're totally prepared for every conversation, and even give you word-for-word scripts to use every step of the way.</p>
		<hr>
	
		<p><strong>Q: I'm not a Software Developer. Can you help me?</strong></p>
		<p><strong>A:</strong> I can definitely help, although 1-on-1 coaching may not be your best option depending on your budget and timeline.</p>
		<p>Please complete <a href="{{ site.baseurl }}/coach/apply/negotiate/">this application</a> and I'll schedule a free 15-minute call to suggest the best option for you.</p>
		<hr>
	
		<p><strong>Q: Is there a DIY option?</strong></p>
		<p>Salary negotiation coaching may not be right for everyone. If you prefer self-study, <em><a href="{{ site.baseurl }}/get-started/">Fearless Salary Negotiation</em></a> is a step-by-step guide to getting paid what you're worth.</p>
		<hr>
	
		<p><strong>Q: What if I'm not happy with the results? Can I get my money back?</strong></p>
		<p><strong>A:</strong> Absolutely! I offer a 100% money-back guarantee. If you're not happy with our engagement, I'll refund your money.</p>
	</div>
</div>
	
	
<div class="container container--normal">		
	<h2 class='u-center'>Here's what past clients had to say...</h2>
	
	{% include testimonials/ilya_krasnov.html %}
		
	{% include testimonials/emily_kaneff.html %}
	
	{% include testimonials/s_l.html %}
	
	<a href="/coach/apply/negotiate/" class="button button--bright package__button">
		<span class="package__button-text"><strong>Apply now</strong></span>
	</a><br><br>
	
	{% include testimonials/nick_cianci.html %}
	
	{% include testimonials/e_l.html %}
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth as a Software Developer is tough. <br>Work with me, and I'll show you how.</h2>
		<p>It's time do decide: Are you ready to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>If you're ready to invest in yourself, this is your chance to stop leaving money on the table.</p>
		<p>You have the proof that professional salary negotiation coaching works. You've seen results from other Software Developers who finally got paid what they're worth.</p>
		<p>You don't get many opportunities to change jobs and negotiate a significantly higher salary. Don't miss out on this chance.</p>
		<p>All the best</p>
		<p>Josh</p>
		<a href="/coach/apply/negotiate/" class="button button--bright package__button">
			<span class="package__button-text"><strong>Apply now</strong></span>
		</a><br>
	</div>
</div>