---
layout: sales-page
title: Expert Salary Negotiation Coaching for Software Developers
headline: 'Software Developers: Improve your job offer by an average of $16,360 with expert salary negotiation coaching'
tagline: 'Full-service salary negotiation coaching: Negotiate your job offer with personal help and actionable advice'
excerpt: Software Developers improve their job offers by an average of $16,360 with this full-service, expert salary negotiation coaching.
og-image: SalaryNegotiationCoaching.png
context: sales-page
last_modified_at: 2017-08-29
---
<div class="container container--normal">	
  <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know if you're ready to accept it.</p>
	<p>You <em>think</em> you can command a higher salary and a better compensation package, but you just don't know how to negotiate these things in your job offer.</p>
  <p>How do you counter their job offer? What if you ask for too much? What if you leave money on the table by asking for too little? What if they retract the job offer? <strong>How do you know <em>what to do</em> and <em>if you're doing it correctly</em>?</strong></p>
	
	<h2 class='u-center'>Wouldn't it be nice if someone else could just negotiate for you?</h2>
	
	<p><strong>Imagine this...</strong></p>
	
  <ul class="checkbox-list">
    <li class="checkbox-list__item">Imagine knowing exactly how much to ask for in your salary negotiation.</li>
		<li class="checkbox-list__item">Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</li>
		<li class="checkbox-list__item">Imagine knowing exactly what you'll say and do next.</li>
		<li class="checkbox-list__item">Imagine having word-for-word scripts and a step-by-step plan used by employees at Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, and Microsoft to negotiate your salary and even other benefits like vacation or a signing bonus.</li>
	</ul>
	
	<h2 class='u-center'>On average, Software Developers improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h2>
	
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left">I'm Josh Doody, <strong>a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries</strong>. Software Developers at Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
	<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
	
	<h2 class='u-center'>“How much does this cost?”</h2>
	
	<p><strong>Salary negotiation coaching is an investment in your future.</strong> For every additional $1,000 in total compensation that you negotiate <em>today</em>, that will return an additional $10,000, $20,000, or even $50,000+ in income during your career.</p>
	
	<p>Salary negotiation coaching is $2,500 for software developers with job offers of $200,000 or more. (For clients with job offers under $200,000, the fee is based on your job offer amount.)</p>
	
	<p>Here's the full fee schedule (if you don't have an offer in hand yet and you're curious how much this will cost, just use your current salary to see):</p>
	
	<table><tbody>
	<tr><th>Job offer amount</th><th>Single-payment option<br>(Includes your 10%<br>Up-front Discount)</th><th>Two-payment option<br>(First payment when we start;<br>Second payment one month later)</th></tr>
	<tr><td>$200,000+</td><td>$2,500</td><td>Two payments of $1,375</td></tr>
	<tr><td>$100,000–$199,999</td><td>$2,000</td><td>Two payments of $1,100</td></tr>
	<tr><td>Less than $100,000</td><td>$1,500</td><td>Two payments of $825</td></tr>
</tbody></table>

	<a href="/coach/apply/negotiate/" class="button button--bright">
		<span class="package__button-text"><strong>Negotiating Your Salary? Apply Now.</strong></span>
	</a><br>
	
	<p>There are two ways to pay:</p>
	
	<ol>
		<li><strong>Single payment</strong>—The full payment up front</li>
		<li><strong>Two payments</strong>—Half payment up front, and the second half is billed one month later</li>
	</ol>
	
	<p>As soon as the first payment is received, we'll get started. First, you'll schedule a call for us to discuss the job offer you're negotiating. Then you'll receive a copy of the Complete Bundle of my book <em>Fearless Salary Negotiation</em> (valued at $239) to review and instantly improve your negotiation skills.</p>
	
	<p>I'll negotiate your salary behind the scenes, and the Complete bundle will allow you to use what you learn over and over again throughout your career to keep getting paid what you're worth.</p> 
	
	<p><strong>Why does the price vary by offer amount?</strong></p>
	
	<p>The bigger the job offer, the greater the value you'll receive from our work together. Additionally, bigger offers are usually <em>more</em> complicated with <em>more</em> moving parts and <em>more</em> pieces to negotiate (like signing bonuses, vacation time, Restricted Stock Units, and other details).</p> 
	
	{% include testimonials/emily_kaneff.html %}
	
	<p class="u-center guarantee-img"><img src="/images/HappyClientGuarantee.png" with="150"/></p>
	
	<h2 class='u-center'>Happy Client Guarantee</h2>
  <p>And you’re protected by the Happy Client Guarantee. After our kickoff meeting if you aren’t happy, for any reason, just let me know, and I’ll do my best to fix it.</p>

	<p>And if you’d like a refund, I’ll immediately refund your money. The Book + Complete Bundle Resources (valued at $239) are yours to keep.</p>
</div>
	
{% include negotiation_coaching_package.html %}
	
<div class="container container--normal">			
	<h2 class='u-center'>Jonathan turned disappointing offers from Amazon and Tesla into an additional $80,000 compensation at Tesla</h2>

	<p>Jonathan was a Senior Software Engineer with lots of experience working for big-time tech companies. He was ready for a change, so he applied for Senior engineering roles at Amazon and Tesla. He quickly got two job offers, but they were both very disappointing.</p>

	<p>He reached out and asked if I could help.</p>

	<p>Since the offers were both disappointing, I recommended that we get Amazon and Tesla to improve the offers before we began negotiating. If they would improve the offers from 'disappointing' to 'negotiable', then we could go to work.</p>

	<p>After a few days, both companies came back to Jonathan with significantly better offers. Now we had room to work!</p>

	<h3>Negotiating total compensation with base salary and RSUs in play</h3>

	<p>One tricky aspect of each offer was that they were very heavily focused on RSUs—Restricted Stock Units—which is common for public tech companies. Amazon caps base salary for most employees, and they offer RSUs as their primary negotiation lever once that base salary cap is reached.</p>

	<p>RSUs can potentially be very valuable, but it's difficult to impute a present value on them in order to compare the value of the RSUs to, say, base salary or a signing bonus.</p>

	<p>Through a careful analysis of the job offer and current market conditions, I was able to estimate the present value of the RSUs and help Jonathan negotiate on the two dimensions he cared most about: his base salary and RSUs.</p>

	<h3>Choosing between two good options</h3>

	<p>We were able to significantly improve both of Jonathan's job offers from Amazon and Tesla so that he had a difficult decision to make.</p>

	<p>With the hard work of negotiating behind us, we turned our focus to comparing the two opportunities on several dimensions to help Jonathan determine which opportunity was right for him.</p>

	<p>In the end, he chose Tesla for the work environment, greater opportunity to work on new technology and manage a team, and better compensation.</p>
	
	<p>By investing in salary negotiation coaching, Jonathan was able to improve his first-year compensation by $80,000.</p>
	
	<p>Here's what Jonathan had to say about the experience of working together:</p>
	
	{% include testimonials/jonathan.html %}
</div>


<div class="container container-stripe">
	<div class="container container--normal qa">
		<h2 class='u-center'>Salary negotiation coaching isn't for everyone, here's how to determine if this is right for you...</h2>
		<p><strong>Q: I've never negotiated before. Will this coaching work for me?</strong></p>
		<p><strong>A: Yes!</strong> You don't need to be an experienced negotiator to benefit from negotiating your salary. With this salary negotiation coaching, you'll be totally prepared for every conversation, and even have word-for-word scripts to use every step of the salary negotiation process.</p>
		<hr>
	
		<p><strong>Q: I'm not a Software Developer. Can you help me?</strong></p>
		<p><strong>A:</strong> I can definitely help, although 1-on-1 coaching may not be your best option depending on your budget and timeline.</p>
		<p>Please complete <a href="{{ site.baseurl }}/coach/apply/negotiate/">this application</a> and I'll schedule a free 15-minute call to suggest the best option for you.</p>
		<hr>
	
		<p><strong>Q: Is there a Do-It-Yourself option? I can't afford coaching at this time.</strong></p>
		<p>Salary negotiation coaching may not be right for everyone. If you prefer self-study, <em><a href="{{ site.baseurl }}/get-started/">Fearless Salary Negotiation</em></a> is a step-by-step guide to getting paid what you're worth.</p>
		<hr>
	
		<p><strong>Q: What if I'm not happy with the results? Can I get my money back?</strong></p>
		<p><strong>A:</strong> Absolutely! You’re protected by the Happy Client Guarantee. After our kickoff meeting if you aren’t happy, for any reason, just let me know, and I’ll do my best to fix it.</p>

		<p>And if you’d like a refund, I’ll immediately refund your money. The Book + Complete Bundle Resources (valued at $239) are yours to keep.</p>
	</div>
</div>
	
<div class="container container--normal">		
	<h2 class='u-center'>Here's what past clients had to say...</h2>
	
	{% include testimonials/ilya_krasnov.html short=true %}
			
	{% include testimonials/s_l.html short=true %}
	
	<a href="/coach/apply/negotiate/" class="button button--bright">
		<span class="package__button-text"><strong>Negotiating Your Salary? Apply Now.</strong></span>
	</a><br>
	
	{% include testimonials/nick_cianci.html short=true %}
	
	{% include testimonials/e_l.html short=true %}
</div>

<div class="container container-stripe">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth <br>as a Software Developer is tough. <br>Work with me, and I'll show you how.</h2>
		<p>It's time to decide: Are you ready to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>On average, Software Developers I work with improve their job offers by {{ site.avg_coach_increase_devs }}. And other professionals—marketers, coding school instructors, and others—improve their job offers by {{ site.avg_coach_increase_non_devs }}.</p>
		<p><strong>If you're ready to invest in yourself, this is your chance to avoid leaving money on the table.</strong></p>
		<p>Salary negotiation coaching works. The testimonials and results from other Software Developers are the outcomes we're aiming for when we work together to negotiate your salary and help you get paid what you're worth worth.</p>
		<p>You don't get many opportunities to change jobs and negotiate a significantly higher salary. Don't miss out on your chance to negotiate a higher salary at your next job.</p>
		<p>All the best</p>
		<p>Josh</p>
		<a href="/coach/apply/negotiate/" class="button button--bright">
			<span class="package__button-text"><strong>Negotiating Your Salary? Apply Now.</strong></span>
		</a><br>
	</div>
</div>