---
layout: sales-page
title: Expert Salary Negotiation Coaching for Software Developers
headline: 'Software Developers: Improve your job offer by an average of $46,150 with expert salary negotiation coaching'
tagline: 'Full-service salary negotiation coaching: Negotiate your job offer with personal help and actionable advice'
excerpt: Software Developers improve their job offers by an average of $46,150 with this full-service, expert salary negotiation coaching.
og-image: SalaryNegotiationCoaching.png
context: sales-page
last_modified_at: 2018-03-26
---
<section class="white">
	<div class="container container--normal">	
	  <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know if you're ready to accept it.</p>
		<p>You <em>think</em> you can command a higher salary and a better compensation package, but you just don't know how to negotiate these things in your job offer.</p>
	  <p>How do you counter their job offer? What if you ask for too much? What if you leave money on the table by asking for too little? What if they retract the job offer? <strong>How do you know <em>what to do</em> and <em>if you're doing it correctly</em>?</strong></p>
	
		<h2 class='u-center'>Wouldn't it be nice if someone else could just negotiate for you?</h2>
	
		<p><strong>Imagine this...</strong></p>
	
	  <ul class="checkbox-list">
	    <li class="checkbox-list__item">Imagine knowing exactly how much to ask for in your salary negotiation.</li>
			<li class="checkbox-list__item">Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table.</li>
			<li class="checkbox-list__item">Imagine knowing exactly what you'll say and do next.</li>
			<li class="checkbox-list__item">Imagine having word-for-word scripts and a step-by-step plan used by employees at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft to negotiate your salary and even other benefits like vacation or a signing bonus.</li>
		</ul>
	
		<h2 class='u-center'>On average, Software Developers improve their job offers by {{ site.avg_coach_increase_devs }} when I negotiate for them</h2>
	
		<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left">I'm Josh Doody, <strong>a professional salary negotiation coach who helps Software Developers get more job offers and negotiate higher salaries</strong>. Software Developers at Google, Apple, Facebook, Amazon, Tesla, @WalmartLabs, Zillow, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft, and other companies you've heard of have benefited from my full-service salary negotiation coaching.</p>
		<p><strong>How does this work?</strong> When you work with me, you'll have me working behind the scenes to negotiate your salary for you. You can rest assured you won't leave any compensation—monetary or non-monetary—on the table.</p>
		
		{% include testimonials/j_b.html %}
		<br>
	
		<h2 class='u-center'>“How much does this cost?”</h2>
	
		<p><strong>Salary negotiation coaching is an investment in your future.</strong> For every additional $10,000 in total compensation that you negotiate <em>today</em>, that will return an additional $100,000, $200,000, or even $500,000+ in income during your career.</p>
	
		<p>Salary negotiation coaching is $9,000 for job offers with a Total Offer Value of more than $600,000. (For clients with Total Offer Value of $300,000–$600,000, the fee is $6,000. For clients with Total Offer Value under $300,000, the fee is $3,000.)</p>
		
		<p>Your Total Offer Value is the total of your offer's annual salary, sign-on bonus, and the total value of any equity offered.</p>
	
		<p>Here's the full fee schedule:</p>
	
		<table><tbody class='u-center'>
		<tr><th>Total Offer Value</th><th>Coaching Fee</th></tr>
		<tr><td>More than $600,000</td><td>$9,000</td></tr>
		<tr><td>$300,000 to $600,000</td><td>$6,000</td></tr>
		<tr><td>Less than $300,000</td><td>$3,000</td></tr>
	</tbody></table>

		<p><a href="/coach/apply/negotiate/" class="guide-btn large">
			<strong>Negotiating an Offer? Apply Now →</strong>
		</a></p>
	
		<p>As soon as your payment is received, we'll get started by scheduling your kickoff call. During this call, we will discuss your specific situation in detail and lay out our strategy for negotiating your offer.</p>
			
		<p>You'll also receive a copy of the Complete Bundle of my book <em>Fearless Salary Negotiation</em> (valued at $299) to review and instantly improve your negotiation skills.</p>
	
		<p>I'll negotiate your salary behind the scenes, and the Complete bundle will allow you to use what you learn over and over again throughout your career to keep getting paid what you're worth.</p> 
	
		<p><strong>Why does the price vary by offer amount?</strong></p>
	
		<p>The bigger the job offer, the greater the value you'll receive from our work together. Additionally, bigger offers are usually <em>more</em> complicated with <em>more</em> moving parts and <em>more</em> pieces to negotiate (like signing bonuses, vacation time, Restricted Stock Units, and other details).</p> 
	</div>
</section>
		
<section class="gray">
	<div class="container container--normal">			
		<p class="u-center guarantee-img"><img src="/images/HappyClientGuarantee.png" width="150"/></p>
	
		<h2 class='u-center'>Happy Client Guarantee</h2>
	  <p>And you’re protected by the Happy Client Guarantee. My focus for every client is to provide the absolute best possible service and results.</p>
		
		<p>Until our kickoff meeting if you aren’t happy, for any reason, just let me know, and I’ll do my best to fix it. And if you’d like a refund, I’ll immediately refund your money.</p>
		
		<p>Once we have our kickoff call, our engagement is underway and there are no refunds available.</p>
	</div>
</section>
	
<section class="white">
	<div class="container container--normal">			
		<h2 class='u-center'>Jonathan turned disappointing offers from Amazon and Tesla into an additional $80,000 compensation at Tesla</h2>

		<p>Jonathan was a Senior Software Engineer with lots of experience working for big-time tech companies. He was ready for a change, so he applied for Senior engineering roles at Amazon and Tesla. He quickly got two job offers, but they were both very disappointing.</p>

		<p>He reached out and asked if I could help.</p>

		<p>Since the offers were both disappointing, I recommended that we get Amazon and Tesla to improve the offers before we began negotiating. If they would improve the offers from 'disappointing' to 'negotiable', then we could go to work.</p>

		<p>After a few days, both companies came back to Jonathan with significantly better offers. Now we had room to work!</p>

		<h3>Negotiating total compensation with base salary and RSUs in play</h3>

		<p>One tricky aspect of each offer was that they were very heavily focused on RSUs—Restricted Stock Units—which is common for public tech companies. Amazon caps base salary for most employees, and they offer RSUs as their primary negotiation lever once that base salary cap is reached.</p>

		<p>RSUs can potentially be very valuable, but it's difficult to impute a present value on them in order to compare the value of the RSUs to, say, base salary or a signing bonus.</p>

		<p>Through a careful analysis of the job offer and current market conditions, I was able to estimate the present value of the RSUs and help Jonathan negotiate on the two dimensions he cared most about: his base salary and RSUs.</p>

		<h3>Choosing between two good options</h3>

		<p>We were able to significantly improve both of Jonathan's job offers from Amazon and Tesla so that he had a difficult decision to make.</p>

		<p>With the hard work of negotiating behind us, we turned our focus to comparing the two opportunities on several dimensions to help Jonathan determine which opportunity was right for him.</p>

		<p>In the end, he chose Tesla for the work environment, greater opportunity to work on new technology and manage a team, and better compensation.</p>
	
		<p>By investing in salary negotiation coaching, Jonathan was able to improve his first-year compensation by $80,000.</p>
	
		<p>Here's what Jonathan had to say about the experience of working together:</p>
	
		{% include testimonials/jonathan.html %}
		<br><br>
		<p><a href="/coach/apply/negotiate/" class="guide-btn large">
			<strong>Negotiating an Offer? Apply Now →</strong>
		</a></p>
	</div>
</section>


<section class="gray">
	<div class="container container--normal qa">
		<h2 class='u-center'>Salary negotiation coaching isn't for everyone, here's how to determine if this is right for you...</h2>
		<p><strong>Q: I've never negotiated before. Will this coaching work for me?</strong></p>
		<p><strong>A: Yes!</strong> You don't need to be an experienced negotiator to benefit from negotiating your salary. With this salary negotiation coaching, you'll be totally prepared for every conversation, and even have word-for-word scripts to use every step of the salary negotiation process.</p>
		<hr>
	
		<p><strong>Q: I'm not a Software Developer. Can you help me?</strong></p>
		<p><strong>A:</strong> I can definitely help, although 1-on-1 coaching may not be your best option depending on your budget and timeline.</p>
		<p>Please complete <a href="/coach/apply/negotiate/">this application</a> and I'll schedule a free 15-minute call to suggest the best option for you.</p>
		<hr>
	
		<p><strong>Q: What if I'm not happy with the results? Can I get my money back?</strong></p>
		<p><strong>A:</strong> Until our kickoff meeting, you can request a refund at any time for any reason. Once we have completed our kickoff call, the engagement is underway and refunds are not available.</p>
	</div>
</section>

<section class="white">
	<div class="container container--widened">		
		<h2 class='u-center'>Here's what past clients had to say...</h2>
		<div class="testimonial-series">
			{% include testimonials/caroline_carter.html short=true %}
			{% include testimonials/mark_o.html short=true %}
			{% include testimonials/haripriya_a.html short=true %}
			{% include testimonials/j_n.html short=true %}
			{% include testimonials/ilya_krasnov.html short=true %}
			{% include testimonials/cynthia.html short=true %}
		</div>
		<br><br>
		<p><a href="/coach/apply/negotiate/" class="guide-btn large">
			<strong>Negotiating an Offer? Apply Now →</strong>
		</a></p>
	</div>
</section>

<section class="gray">
	<div class="container container--normal">
		<h2 class='u-center'>Getting paid what you're worth <br>as a Software Developer is tough. <br>Work with me, and I'll show you how.</h2>
		<p>It's time to decide: Are you ready to get paid what you're worth so you can finally afford those things you've been putting off? This is your chance to finally make the downpayment on that house or plan the family vacation you've been dreaming of.</p>
		<p>On average, Software Developers I work with improve their job offers by {{ site.avg_coach_increase_devs }}. And other professionals—marketers, coding school instructors, and others—improve their job offers by {{ site.avg_coach_increase_non_devs }}.</p>
		<p><strong>If you're ready to invest in yourself, this is your chance to avoid leaving money on the table.</strong></p>
		<p>Salary negotiation coaching works. The testimonials and results from other Software Developers are the outcomes we're aiming for when we work together to negotiate your salary and help you get paid what you're worth worth.</p>
		<p>You don't get many opportunities to change jobs and negotiate a significantly higher salary. Don't miss out on your chance to negotiate a higher salary at your next job.</p>
		<p>All the best</p>
		<p>Josh</p>
		<p><a href="/coach/apply/negotiate/" class="guide-btn large">
			<strong>Negotiating an Offer? Apply Now →</strong>
		</a></p>
	</div>
</section>