---
layout: squeeze
title: Expert salary negotiation coaching
headline: Negotiate your job offer <br>with the help of <br>a professional <br>salary negotiation coach
tagline: On average, my clients improve their job offers by $7,247
excerpt: Negotiate your job offer with a professional salary negotiation coach whose clients improve their offers by $7,247 on average
context: coach-test
last_modified_at: 2017-05-15
---
<div class="container container--normal">	
  <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know what you think.</p>
	<p>And what you <em>think</em> is that you can do better, you just don't know <em>how</em>.</p>
  <p>How do you counter offer? What if you ask for too much? What if they retract the job offer?</p>
	
	<h2>Wouldn't it be nice if someone else could just negotiate for you?</h2>
	
	<p><strong>Imagine this</strong> – Imagine knowing exactly how much to ask for. Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table. Imagine knowing exactly what they'll say and do next. Imagine having word-for-word scripts and a step-by-step plan to negotiate your salary and even other benefits like vacation or a signing bonus.</p>
	
	<h2>On average, my clients improve their job offers by $7,247</h2>
	
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left">I'm Josh Doody, a professional salary negotiation coach who helps people get more job offers and negotiate higher salaries at <strong>Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've heard of.</p>
	<p>I will show you exactly what to say to negotiate your salary without leaving anything on the table.</p>
	
	<h2>What's it cost?</h2>
	
	<p><strong>Salary negotiation coaching is $2,000 for clients with job offers of $200,000 or more.</strong> And I offer a discount for clients with job offers under $200,000.</p>
	
	<p>Here's the full fee schedule—just find your job offer amount or current salary if you don't have an offer in hand yet:</p>
	
	<table><tbody>
	<tr><th>Offer amount</th><th>Single-payment option</th><th>Two-payment option</th></tr>
	<tr><td>$200,000+</td><td>$2,000</td><td>$2,200 ($1,100x2)</td></tr>
	<tr><td>$100,000–$199,999</td><td>$1,500</td><td>$1,650 ($875x2)</td></tr>
	<tr><td>$50,000–$99,999</td><td>$1,000</td><td>$1,100 ($550x2)</td></tr>
	<tr><td>Up to $50,000</td><td>$500</td><td>$550 ($275x2)</td></tr>
	</tbody></table>
	
	<p>There are two ways to pay:</p>
	
	<ol>
		<li><strong>Single payment</strong>—The full payment up front</li>
		<li><strong>Two payments</strong>—Half payment up front, and the second half is billed one month later</li>
	</ol>
	
	<p>For both options, we'll start working together and you'll get instant access to the Complete bundle of <em>Fearless Salary Negotiation</em> as soon as payment is received.</p>
	
	<p><strong>Why does the price vary by offer amount?</strong></p>
	
	<p>The bigger the job offer, the greater the monetary value of my coaching. And bigger offers are often more complicated with more moving parts and more pieces to negotiate.</p> 
	
	<h2>Money back guarantee</h2>
  <p>I guarantee you will be satisfied with your results, or <strong>I’ll happily refund your money.</strong> And the bonus <strong>Complete Bundle</strong> ($239 value) is yours to keep.</p>
</div>
	
{% include negotiation_coaching_package.html %}
	
<div class="container container--normal">			
	<h2>Ashley negotiated $10,000 more base salary</h2>
	<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
	<p>We scheduled a time to talk and I asked her some questions:</p>
	<ul>
		<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
		<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
		<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
	</ul>
	<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With my coaching, she decided to negotiate rather than accepting a lateral move. The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
	</ul>
	
	<h2>Here's what past clients had to say...</h2>
	
	{% include testimonials/ilya_krasnov.html %}
	
	{% include testimonials/shannon_long.html %}
		
	{% include testimonials/t.html %}
	
	{% include testimonials/emily_kaneff.html %}
	
	{% include testimonials/j_c.html %}

	{% include testimonials/s_l.html %}
	
	<a href="/coach/apply/negotiate/" class="button button--bright package__button">
		<span class="package__button-text"><strong>Apply now</strong></span>
	</a><br><br>
	
	{% include testimonials/acree_m.html %}
	
	{% include testimonials/nick_cianci.html %}
	
	{% include testimonials/e_l.html %}

	{% include testimonials/natalie_m.html %}
	
	{% include testimonials/shawn_tuckett.html %}
	
	{% include testimonials/eric_macam.html %}


	<h2>PS You don’t get many opportunities to change companies and negotiate a big salary increase.</h2>
	<p>Whether you work with me directly, read my book, take my courses, or find your own way, do yourself a favor and make the most of this rare opportunity.</p>
	
	<a href="/coach/apply/negotiate/" class="button button--bright package__button">
		<span class="package__button-text"><strong>Apply now</strong></span>
	</a><br><br>
</div>