---
layout: squeeze
title: Expert salary negotiation coaching
headline: Negotiate your job offer <br>with the help <br>of a professional <br>salary negotiation coach
tagline: On average, my clients improve on their job offers by $7,247
excerpt: Negotiate your job offer with the help of a professional salary negotiation coach whose clients improve thier offers by $7,247 on average
context: sales-page
last_modified_at: 2017-005-15
---
<div class="container container--normal">	
  <p><strong>You're on the clock.</strong> You finally got a job offer from a company you would like to work with, and they want to know what you think.</p>
	<p>And what you <em>think</em> is that you can do better, you just don't know <em>how</em>.</p>
  <p>How do you counter offer? What if you ask for too much? What if they retract the job offer?</p>
	
	<h2>Wouldn't it be nice if someone else could just negotiate for you?</h2>
	
	<p><strong>Imagine this</strong> – Imagine knowing exaclty how much to ask for. Imagine knowing the best possible way to counter offer to make sure you don't leave anything on the table. Imagine knowing exactly what they'll say and do next. Imagine having word-for-word scripts and a step-by-step plan to negotiate your salary and even other benefits like vacation or a signing bonus.</p>
	
	<h2>Negotiate your job offer with the help of a professional salary negotiation coach</h2>
	
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left">I'm Josh Doody, a professional salary negotiation coach who helps people get more job offers and negotiate higher salaries. <strong>On average, my clients improve their job offers by $7,247.</strong></p>
	<p>I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. I began negotiating and <strong>I doubled my salary in three years</strong>.</p>
	<p>Now I use everything I learned from my own experience to help others make tens of thousands more dollars negotiating with <strong>Google, Amazon, Tesla, @WalmartLabs, Kimberly-Clark, Bloomberg, Red Hat, Verizon, IBM, Microsoft</strong>, and other companies you've probably heard of.</p>
	<p>I will help you negotiate your salary so you know exactly what to say without leaving anything on the table.</p>
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#apply">I'm ready to apply</a></strong></p>
	</div>
	
	<h2>Ashley negotiated $10,000 more base salary</h2>
	<p>Ashley was interviewing for a new consulting opportunity at a software company. Her old company was going through a significant reorganization, and she was looking for a new opportunity in a more stable working environment. <strong>She was even willing to accept a lateral move in pay</strong> to get out of the old company and into a new one. She wasn't planning to negotiate if they made her an offer that matched her current salary.</p>
	<p>We scheduled a time to talk and I asked her some questions:</p>
	<ul>
		<li><strong>"What is your market value?"</strong> Quite a bit higher than her current pay.</li>
		<li><strong>"How do you stack up against other consultants in your industry?"</strong> She was one of the most experienced consultants in the industry.</li>
		<li><strong>"How badly does this new company need your expertise?"</strong> They desperately needed her specific skillset and experience.</li>
	</ul>
	<p>She was in a very strong negotiating position, but didn't even plan to negotiate if they could meet her current salary! With my coaching, she decided to negotiate rather than accepting a lateral move. The result? <strong>She made an additional $15,000 in base salary by negotiating her job offer.</strong></p>
	
	<h2>I will walk you through the entire process</h2>
	<p>When you work with me, you’ll know exactly what to expect every step of the way, and you’ll have a clear plan to follow.</p>
	<p>I will help you...</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Prepare for your interviews</strong> so that you stand out from other candidates, impress everyone you talk to, and set yourself up with the best job offer possible.</li>
		<li class="checkbox-list__item"><strong>Avoid common mistakes</strong> that could cost you thousands of dollars in your interviews and starting salary negotiation.</li>
		<li class="checkbox-list__item"><strong>Prepare a plan for every phase of your starting salary negotiation</strong> so you
maximize your starting salary and other benefits.</li>
	</ul>

	<div class="ad-box">
		<p class='u-center'><strong><a href="#apply">I'm ready to apply</a></strong></p>
	</div>
		
	{% include testimonials/t.html %}
	
	<h2>What's included?</h2>
	<p>End-to-end coaching to ace your interviews and negotiate your starting salary once you get a job offer.</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>Interview strategy coaching session</strong>—We will walk through everything you need to know to prepare for and excel in your interviews to get the best job offers possible.</li>
		<li class="checkbox-list__item"><strong>Custom salary negotiation strategy</strong>—Once you get your job offer, I will work with you to evaluate the offer and create a custom strategy for negotiating the best possible result.</li>
		<li class="checkbox-list__item"><strong>Custom scripts so you know exactly what to say and write throughout your salary negotiation</strong>—<em>What</em> you say is as important as <em>how</em> you say it. You will get specific scripts you can use to communicate throughout your negotiation.</li>
		<li class="checkbox-list__item"><strong>BONUS: You'll get the <a href="{{ site.baseurl }}/video-courses/">Complete Bundle</a> of Fearless Salary Negotiation (a $239 value)</strong> so you'll have everything you need for our engagement, and so you can review everything you learn later on.</li>
		<li class="checkbox-list__item"><strong>BONUS: Mock interview</strong>—Need to practice your interview technique? We'll do a 45-minute non-technical mock interview, and I'll give you feedback at the end. You'll get the recording to keep.</li>
		<li class="checkbox-list__item"><strong>OPTIONAL: Each additional salary negotiation is only $500</strong>—Expecting multiple job offers? A custom negotiation strategy for your first job offer is included with this coaching package, and a custom strategy for each additional job offer is only $500 per offer.</li>
	</ul>

	{% include testimonials/s_l.html %}

	<h2>Common questions and answers</h2>
	<p><strong>Have you negotiated with any big companies?</strong></p>
	<p>Yes! I've coached people in negotiations with <strong>Google</strong>, <strong>Amazon</strong>, <strong>Tesla</strong>, and other companies you've probably heard of. I've also coached people through negotiations with small startups and small businesses you probably haven't heard of.</p>
	
	<p><strong>When is the best time to work with you?</strong></p>
	<p>The ideal time for us to start working together is about a week before your first discussion with a recruiter or hiring manager. That gives us time to plan for that discussion and avoid some common pitfalls that you'll encounter early in the interview process.</p>
	<p>If you're actively sending out applications and looking for a new job, now is a good time to apply.</p>
	
	<p><strong>I'm interviewing with a big famous company. Can you help me?</strong></p>
	<p>Yes. I've helped clients negotiate great compensation packages at Google, Amazon, Tesla and other companies you've heard of.</p>

	<p><strong>How long does it take to review my application?</strong></p>
	<p>I'll review your application very quickly and get back to you within 1–2 business days. If your situation is urgent, let me know and summarize your situation in the "#1 worry" field of the application and I'll get back to you as quickly as I can.</p>
	
	<p><strong>What's the cost and is it worth it?</strong></p>
	<p>On average, my clients increase their salaries by $10,000–15,000 when changing jobs. They also get a lot of value from knowing that they're making all the right moves and that they will get the best result possible in the end. And they rave about my help crafting emails and helping them prepare for conversations with recruiters and hiring managers so they know exactly what to say.</p>
	<p>My coaching fee is $2,000. That's a fantastic ROI.</p>
	<p>If you're making at least $50,000 and you can currently afford my fee, then this is probably for you. If the cost seems prohibitively expensive for you, then it's probably not for you. The first step is to complete an application because that gives me everything I need to determine if this is a good fit for your situation, and helps me suggest alternatives that are within your budget.</p>
	
	<p><strong>What if I have multiple job offers?</strong></p>
	<p>Additional custom salary negotiation strategies are $500 per offer that I help you negotiate.</p>
	
	<p><strong>Will I really be working directly with you or is this a group thing or a self-directed process?</strong></p>
	<p>We'll work together 1-on-1 in the style that you're most comfortable with. Some of my clients prefer to communicate via email and some prefer phone calls. It's up to you what medium we use, but we'll be working together 1-on-1 through the entire process.</p>
	
	{% include testimonials/acree_m.html %}
				
	<p><strong>Does this actually work?</strong></p>
	<p>Yep! Most of <a href="{{ site.baseurl }}/testimonials">these testimonials</a> are from people I helped directly. I've been coaching people for almost 2 years and my clients have gotten great results.</p>
	
	<p><strong>Can I get my money back if it doesn’t work?</strong></p>
	<p>Yes. I guarantee you will be satisfied with the results or I will happily refund your money. And the bonus <strong>Complete Bundle</strong> book and video courses are yours to keep.</p>
	
	<p><strong>How long does this take?</strong></p>
	<p>To make <em>sure</em> you get the most value possible, we will work together for up to 90 days. Sometimes, we'll only need a few days or so. Other times—with a particularly intensive interview process—we may need the full 90 days.</p>
</div>

{% include negotiation_coaching_package.html %}

<div class="container container--normal">	
	<h2>Money back guarantee</h2>
  <p>I guarantee you will be satisfied with your results, or <strong>I’ll happily refund your money.</strong> And the bonus <strong>Complete Bundle</strong> book and video courses are yours to keep.</p>

	<h2>So how does this work?</h2>
  <p>Here's a detailed summary of the entire process so you know exactly what to expect.</p>
  <ul class="checkbox-list">
    <li class="checkbox-list__item"><strong>You’ll complete a short application</strong> so I can learn more about your specific situation before we start working together. This is important because I want to be sure <em>you, specifically</em>, will benefit from my help.</li>
		<li class="checkbox-list__item"><strong>I'll review your application</strong> and either confirm that this coaching offering is for you or suggest other resources that may be a better fit for your situation.</li>
		<li class="checkbox-list__item"><strong>Once your application is approved</strong>, I'll send you a registration packet so we can schedule our first meeting and submit your payment information.</li>
		<li class="checkbox-list__item"><strong>Before our first meeting, you will do some light homework</strong> so we get the most out of the meeting.</li>
		<li class="checkbox-list__item"><strong>In our first meeting, we'll lay out a strategy for <em>your</em> interview and negotiation process.</strong> I'll tell you what to expect every step of the way and tell you how to avoid very common mistakes that could cost you a lot of money.</li>
		<li class="checkbox-list__item"><strong>You'll usually begin with a pre-interview or pre-screen call with a recruiter or hiring manager.</strong> I'll prepare you for that call and make sure you know how to avoid common interview mistakes that could cost you thousands of dollars.</li>
		<li class="checkbox-list__item"><strong>Then your interviews will begin.</strong> I will make sure you’re prepared for each interview so that you stand out and avoid costly mistakes. I'll teach you my framework for answering interview questions so that you can answer every question with confidence and continuously build your case that you're the best candidate for the job. </li>
		<li class="checkbox-list__item"><strong>When you get your job offer, we will review it and plan for your salary negotiation.</strong> I will tell you exactly what to expect and prepare you for the entire negotiation.</li>
		<li class="checkbox-list__item"><strong>We will calculate your ideal counteroffer for your specific situation and build a strong case to justify your counter.</strong> You will have a specific number to counter with and you will have a strong case to go along with it.</li>
		<li class="checkbox-list__item"><strong>You will deliver your counter along with your case, and I will help you.</strong> You will usually deliver your counter via email and I will help you craft an email that clearly articulates a strong case to justify your counter.</li>
		<li class="checkbox-list__item"><strong>We will script every step of your negotiation so that you are ready when the company responds to your counteroffer.</strong> Not only will you have a script to follow to maximize your starting salary, you will also have a clear plan to maximize the benefits—vacation, working conditions, etc.—that are most important to you.</li>
			<li class="checkbox-list__item"><strong>I'll answer your questions and help you navigate your unique negotiation.</strong> Every negotiation is different, and you'll have questions along the way. I'll answer emails or schedule phone calls with you to answer your questions quickly as you negotiate.</li>
		<li class="checkbox-list__item"><strong>We'll evaluate your results and make sure you're satisfied.</strong></li>
	</ul>
	
	<div class="ad-box">
		<p class='u-center'><strong><a href="#apply">I'm ready to apply</a></strong></p>
	</div>

	<h2>PS You don’t get many opportunities to change companies and negotiate a big salary increase.</h2>
	<p>Whether you work with me directly, read my book, take my courses, or find your own way, do yourself a favor and make the most of this rare opportunity.</p>
	
	<div class="ad-box">
		<p><strong>Ready to get started?</strong> <a href="#apply">Click here to apply</a></p>
	</div>
</div>