---
layout: gynr
metatags: noindex
sitemap: false
title: Set your goal
headline: Set your goal
excerpt: Set your goal—your target salary—for your next raise so you know exactly what you're aiming for.
tagline: Get Your Next Raise - Lesson 3
og-image: GetYourNextRaise.png
extra_js:
  - gynr_access.js
---
<div class="container container--normal">	
	<div class="gynr-customer" style="display: none;">
		<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/o_gr58KUWus" frameborder="0" allowfullscreen></iframe>
		</div>
		<h2>What you'll accomplish in this lesson</h2>
		<p>You will set your goal for your next raise or promotion. If you're pursuing a raise, you'll set your target salary. If you're pursuing a promotion, you'll set your target job.</p>
		<p>Your market value will give you a baseline that you can adjust to set your target salary. You'll do that in the next lesson.</p>
		<h2>Action items</h2>
		<ul class="checkbox-list">
		  <li class="checkbox-list__item">Set your target salary</li>
		  <li class="checkbox-list__item">Record your target salary in the <em>Get Your Next Raise</em> worksheet</li>
		</ul>
		<h2>Materials</h2>
		<ul>
			<li><a href="{{ site.baseurl }}/download/FearlessSalaryNegotiation_MarketValueEstimationWorksheet.xlsx">Market Value Estimation worksheet</a></li>
		</ul>
		<h2>References</h2>
		<ul>
			<li><a href="https://payscale.com" target="_blank">PayScale.com</a></li>
			<li><a href="https://salary.com" target="_blank">Salary.com</a></li>
			<li><a href="https://glassdoor.com" target="_blank">Glassdoor.com</a></li>
			<li><a href="https://paysa.com" target="_blank">paysa.com</a></li>
		</ul>
		<h2>Get help</h2>
		<p><a href="mailto:josh@joshdoody.com?subject=Get Your Next Raise—Module 2">Email me</a> to ask questions or get feedback as you go! You can also reply to any of the course emails in your inbox.</p>

	{% include get_your_next_raise/lesson_list.html %}
	</div>
	<div class="subscriber" style="display: none;"><a href="{{ site.baseurl }}/ask-for-a-raise-course/">Buy the course</a></div>
	<div class="anonymous" style="display: none;">{% include drip_form.html form="raise-course" %}</div>
</div>