---
layout: gynr
title: Get Your Next Raise
headline: “I wanted a raise, but didn't know where to start.”
tagline: A self-paced course to navigate the raise and promotion process at work
excerpt: This self-paced course will show you how to navigate the raise and promotion process at work.
last_modified_at: 2016-11-17
og-image: GetYourNextRaise.png
---
<div class="container container--normal">
	<!--p>You optimize every system you can, tweaking each line until its just right, but are you doing the same for your salary? Most devs I know are underpaid because they either don't know their value or they don't know where to start when it comes to asking for a raise or promotion. This 30-day class will help you know your value and plan for your next raise or promotion to optimize your salary.</p-->
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/mH2houJRDGA" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class='u-center'><a href="{{ site.baseurl }}/ask-for-a-raise-course/start/">Click here to get the first lesson for free</a></p>
	<p class='u-center'>
		<a data-dpd-type="button" data-variant="no-price" data-text="PRE-ORDER NOW - $197" data-button-size="dpd-large" data-bg-color="469d3d" data-bg-color-hover="5cc052" data-text-color="ffffff" data-pr-bg-color="ffffff" data-pr-color="000000" data-lightbox="1" href="https://joshdoody.dpdcart.com/cart/buy?product_id=140582&amp;product_price_id=150168&amp;gateway=creditcard&coupon=PRE-ORDER1">PRE-ORDER NOW - $197</a><script src="https://joshdoody.dpdcart.com/dpd.js"></script><br>
		<strong>(Coming November 29!)</strong>
	</p>
	
	<p>Every Monday you start a new work week. You check your email, review your calendar, and plan for all your big meetings. Then you have a quiet moment and that same old thought creeps in:</p>
	
	<p><strong><em>What's next?</em></strong></p>
	
	<p>You've had that thought every week for <em>months</em>, and every week you find the same answer:</p>
	
	<p><strong><em>I'll figure it out next week.</em></strong></p>
	
	<p>Then you go back to checking your email, reviewing your calendar, and getting ready for all those meetings. The same emails. The same schedule. The same meetings. The same job. The same paycheck. It's all the same.</p>
</div>

{% include testimonials/john_li.html %}

<div class="container container--normal">
	<h2>How many weeks has it been?</h2>
	
	<p>How many weeks has it been since you first thought, "What's next?" All those weeks with a smaller paycheck than you could've gotten.</p>
		
	<p>What if you could go back in time to that first Monday when this thought first crept in and <em>do something about it</em> right then? Where would you be right now?</p>
	
	<p>There are three possibilities—all of them are good for your long-term career:</p>
	
	<ul>
		<li><strong>You could already be there</strong>, at the next level <em>doing</em> your new job and <em>collecting</em> that bigger paycheck—$50 a week, $100 a week, $200 a week, or more.</li>
		<li><strong>You could be executing a plan with a clear timeline</strong> that you and your manager put together to get you to the next level. You would be making progress, not sitting still.</li>
		<li><strong>You could be looking ahead to better opportunities</strong> if the raise or promotion you feel you've earned simply isn't available to you at your current company.</li>
	</ul>
	
	<p>But you haven't even <em>started</em> doing something about it yet. So could be leaving money on the table every week while your career stagnates.</p>
		
	<h2>Why haven't you started?</h2>
	
	<p>That's the question, isn't it? If you're literally leaving money on the table every time you get a paycheck, then what's holding you back?</p>
	
	<p>Maybe you don't know <em>where</em> to start or <em>what</em> to do. "I want a raise." or "I want a promotion." isn't a plan, it's a dream. But you don't need a dream, you need a plan.</p>
	
	<h2>This is your plan</h2>
	<p>The <em>Fearless Salary Negotiation</em> process for getting a raise or promotion is simple. But <em>knowing</em> the process and <em>doing</em> the process are two different things. If you just keep putting it off and waiting until later, you may never follow through.</p>
	<p>Waiting just six months to get a $5,000 raise will cost you $2,500—that's <em>ten times</em> the cost of this course!</p>
	
	<p>Hundreds of people have read <em>Fearless Salary Negotiation</em> and taken the video courses. And I've worked with many people 1-on-1 to walk them through this process with great results. Now I'm offering the same process as self-paced, interactive course for only <s>$247</s> $197 when you pre-order.</p>
		
	<div class="ad-box u-center">
		<img src="{{ site.baseurl }}/images/GetYourNextRaise.png" width="100%" alt="Self-paced course to navigate the raise and promotion process at work">
		<p><strong>Instant access to the course materials. And the first lesson on November 29!</strong></p>
		<a data-dpd-type="button" data-variant="no-price" data-text="PRE-ORDER NOW - $197" data-button-size="dpd-large" data-bg-color="469d3d" data-bg-color-hover="5cc052" data-text-color="ffffff" data-pr-bg-color="ffffff" data-pr-color="000000" data-lightbox="1" href="https://joshdoody.dpdcart.com/cart/buy?product_id=140582&amp;product_price_id=150168&amp;gateway=creditcard&coupon=PRE-ORDER1">PRE-ORDER NOW - $197</a><script src="https://joshdoody.dpdcart.com/dpd.js"></script>
	</div>
</div>	

{% include testimonials/thai_wood.html %}

<div class="container container--normal">
	<h2>What is it?</h2>
	<p>This course will help you set your goal and build your case for your next raise or promotion. You'll work at your own pace—as quickly or casually as you like—and get answers to questions and feedback directly from me on your progress.</p>
	<h3>Checkins, action items, feedback, progress</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Each lesson has a checkpoint to learn about the goal for that lesson.</strong> As you move through the course and complete action items, the next lesson will become available.</li>
		<li class="checkbox-list__item"><strong>Each lesson has clear action items to keep you moving forward.</strong> We'll approach the process in six manageable lessons so you don't get overwhelmed.</li>
		<li class="checkbox-list__item"><strong>Regular feedback on your action items.</strong> For each lesson, I will give you feedback on your progress and offer suggestions to improve the case you're building.</li>
	</ul>
	
	<h3>You'll also get...</h3>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>The Raise and Promotion Bundle of <em>Fearless Salary Negotiation</em> (an $89 value).</strong> That includes the eBook, worksheets, email templates, and three video courses you can use to reinforce what you learn in this course throughout your career.</li>
	</ul>
	
	<h2>Course curriculum</h2>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Lesson 1: Start now</strong>—How Get Your Next Raise will get you un-stuck.</li>
		<li class="checkbox-list__item"><strong>Lesson 2: Estimate your market value</strong>—Before you can set your goal, you need to know your market value.</li>
		<li class="checkbox-list__item"><strong>Lesson 3: Set your goal</strong>——Now that you know your market value, you can set your goal—your target salary.</li>
		<li class="checkbox-list__item"><strong>Lesson 4: Document your accomplishments and accolades</strong>——Learn a simple method for communicating the value you have added since your salary was last set, and how to use feedback from your colleagues and clients to build your case.</li>
		<li class="checkbox-list__item"><strong>Lesson 5: Assemble your written case</strong>—Combine your target salary, accomplishments and accolades into a single document to make your case for your next raise.</li>
		<li class="checkbox-list__item"><strong>Lesson 6: Ask your manager for your raise</strong>—Now that you're ready, it's time to ask for your raise.</li>
		<li class="checkbox-list__item"><strong>Lesson 7: Plan your next steps for each likely outcome</strong>—Learn how your manager is likely to respond to your request, what each response means, and how to plan your next steps for each outcome.</li>
	</ul>
	
	<h2>Common questions and answers</h2>
	<p><strong>How long does this take?</strong></p>
	<p>Each of the six lessons is designed to take 30–60 minutes. Your total time invested will probably be about 4–5 hours.</p>
	<p>The course is self-paced, so you can move through the lessons as quickly or leisurely as you like. You could easily complete the course in a day or two, or take your time over a few weeks.</p>
		
	<p><strong>How does it work?</strong></p>
	<p>Here's a high-level summary of the cadence for each of the six lessons:</p>
	<ol>
		<li>Watch the lesson video lesson</li>
		<li>Get action items for that lesson</li>
		<li>Review short, supplementary video lessons as needed</li>
		<li>Complete the lesson's action items using the included templates and worksheets</li>
		<li>Get my feedback or input on your progress</li>
		<li>Move on to the next lesson when you're ready</li>
	</ol>
	
	<p>Each lesson has a video lesson where we define your goals for that lesson, cover the background and details you need to complete the lesson's action items, and assign the lesson's action items.</p>
	<p>Each lesson also has short supplementary lessons so you can review topics or dive deeper as needed.</p>
	<p>Then you'll complete the lesson's action items, ask me any questions you have, and even get my feedback on your progress if you like.</p>
	<p>Once you're comfortable with that lesson and have completed the action items, you can move to the next lesson when you're ready or you'll be automatically moved to the next lesson after two weeks.</p>
	
	<p><strong>What does "self-paced" mean?</strong></p>
	<p>You can move as quickly or slowly as you like, and the course will help you keep moving. You will always be able to request the next lesson whenever you're ready, so if you want to cruise through the entire course in one sitting, you can do that.</p>
	<p>If you want to pace yourself, ask questions, and get my feedback as you go, you can do that too. I'll email you a few days after you begin the lesson to see how things are going and encourage you to keep moving. After a while, you'll automatically get the next lesson so you don't fall behind.</p>
	
	<p><strong>Will this course help me get a promotion, or just a raise?</strong></p>
	<p>You'll focus on getting a raise, and you'll get bonus materials specifically about how to get promoted if that's more timely for you! If you're ready for your next raise, promotion, or both, this course will help you get there.</p>	
	
	<h2>90-day Money Back Guarantee</h2>
	<p>I guarantee you will be satisfied with this course or <strong>I will happily refund your money for 90 days</strong>. And the included <strong>Raise and Promotion Bundle</strong> book and video course are yours to keep.</p>
</div>

{% include testimonials/patrick_mckenzie.html %}

<div class="container container--normal">		
	<div class="ad-box u-center">
		<img src="{{ site.baseurl }}/images/GetYourNextRaise.png" width="100%" alt="Self-paced course to navigate the raise and promotion process at work">
		<p><strong>Instant access to the course materials. And the first lesson on November 29!</strong></p>
		<a data-dpd-type="button" data-variant="no-price" data-text="PRE-ORDER NOW - $197" data-button-size="dpd-large" data-bg-color="469d3d" data-bg-color-hover="5cc052" data-text-color="ffffff" data-pr-bg-color="ffffff" data-pr-color="000000" data-lightbox="1" href="https://joshdoody.dpdcart.com/cart/buy?product_id=140582&amp;product_price_id=150168&amp;gateway=creditcard&coupon=PRE-ORDER1">PRE-ORDER NOW - $197</a><script src="https://joshdoody.dpdcart.com/dpd.js"></script>
	</div>
</div>

{% include testimonials/mike_g.html %}