---
layout: post
title: Chapter 3. How to ace your next interview
tagline: Key concepts from the chapter
excerpt: Chapter 3. How to ace your next interview. A step-by-step guide to ace the interview process and get the best job offer possible.
---

    <ul style="list-style-type: none;">
    {% for book_excerpt in site.book_excerpts %}
			{% if book_excerpt.chapter == 'interview' %}
      <li style="list-style-type: none;">
        <span class="book-blurb__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ book_excerpt.title }}</a>
				</span>
        <div class="oc-excerpt">
          <p>{% if book_excerpt.description %}{{ book_excerpt.description }}{% else %}{{ book_excerpt.excerpt }}{% endif %} <a href="{{ book_excerpt.url | prepend: site.baseurl }}">Read More</a></p>
        </div>
      </li>
			{% endif %}
    {% endfor %}
		</ul>