---
layout: post
title: Chapter 1. How companies manage their salary structures
tagline: Key concepts from the chapter
excerpt: Chapter 1. How companies manage their salary structures. A short overview of common terms you should know to get paid what you're worth.
---
{% assign excerpt_list = site.book_excerpts | where:"chapter", "salary-structure" %}
{% assign excerpt_list = excerpt_list | sort:"section" %}
			
    <ul style="list-style-type: none;">
    {% for book_excerpt in excerpt_list %}
      <li style="list-style-type: none;">
          <h2 class="excerpt-header">{{ book_excerpt.title }}</h2>
					<div class="oc-excerpt">
          <p>{% if book_excerpt.description %}{{ book_excerpt.description }}{% else %}{{ book_excerpt.excerpt }}{% endif %} <a href="{{ book_excerpt.url | prepend: site.baseurl }}">Read More</a></p>
        </div>
      </li>
    {% endfor %}
		</ul>