---
layout: squeeze
title: Your next lesson is on the way!
context: sales-page
metatags: noindex
sitemap: false
---
<div class="container container--normal">
	<p>Thanks for sharing! By better understanding who you are, I can better shape this course for you.</p>
	
	<h2 class='u-center'>In a hurry? I'll show you how write your counter offer email in less than 15 minutes!</h2>
	<p>Your salary negotiation is important and there's a lot on the line. If your job offer is for $50,000, a 5% improvement is worth $2,500! And that's <em>before</em> negotiating non-salary benefits like vacation or a signing bonus.</p>
	
	<p>But you need to respond <em>now</em>—where do you start?</p>
	
	<p>I will show you exactly how to write your counter offer email, section by section, plus get 10 email templates for common negotiation scenarios so you know exactly what to say.</p>
</div>
	
{% include essential_salary_negotiation_email_pack_offer.html %}

<div class="container container--normal">
	{% include testimonials/sarah_m.html %}
</div>

{% include featured_logos.html %}

<div class="container container--widened">		
	<div class="testimonial-series">
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/allie.html short=true %}

		{% include testimonials/robin.html short=true %}
		
		{% include testimonials/deborah.html short=true %}
		
		{% include testimonials/kaylea.html short=true %}
		
		{% include testimonials/robert_m.html short=true %}		
		
		{% include testimonials/penny.html short=true %}
	</div>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">