---
layout: squeeze
title: Your next lesson is on the way!
context: sales-page
metatags: noindex
sitemap: false
---
<div class="container container--normal">
	<h2 class="u-center">You’re just 14 minutes from sending the perfect counter offer email. I’ll show you how.</h2>
	<p class="u-center"><strong>Here are the instant answers you need to send the perfect counter offer email</strong></p>
	<p>You have a job offer in hand and the clock is ticking. You need to respond now. </p>

	<p>The recruiter needs to know your decision so they can start the paperwork. You imagine them sitting in front of their computer, checking their inbox for your decision.</p>

	<p>You want a higher salary. You know you deserve a higher salary, based on your hard-won expertise.</p>

	<p>You need to negotiate the job offer, but you don’t want to rush it.</p>

	<p>You need to send the perfect <strong>counter offer email</strong>, written for your exact situation. </p>

	<p>In your counter offer, you want to tactfully suggest a higher salary — while reiterating your case for how you’ll be a valuable employee at the company</p>

	<p><strong>And: you want to do all of this the right way.</strong></p>

	<p>Do you even have time for all that?</p>

	<h3 class="u-center"><strong>Save time sending the perfect counter offer email with the “Essential Salary Negotiation Email Pack”</strong></h3>

	<p>With the Essential Salary Negotiation Email Pack, you’ll get the 10 email templates you need to send the perfect counter offer email for <em>your</em> situation. </p>

	<p><strong>“Templates?”</strong></p>

	<p>First, you need more time to consider your offer. Then, you’ll want to counter their offer. After that, you’ll want to tell them your bottom line. </p>

	<p>Countering their offer isn’t a ‘one-email deal.’ The people who are <em>most successful</em> at negotiating their job offers understood that it’s a multi-step process, depending on how the company responds. </p>

	<p>(My clients have used this exact process and these exact templates to negotiate $7,000 more, $8,000 more, and even $24,000 more.)</p>

	<p>And in the Essential Salary Negotiation Email Pack, you’ll get all the emails you need to send to counter their offer effectively. </p>

	<p>The first template is a simple template you can copy and paste to ask for more time to consider your offer. That will take the pressure off so we can work on your counter offer.</p>

	<p>Then I’ll show you how you can write compelling counter offer emails, walking through the counter offer email template paragraph by paragraph to show you how to write your counter offer email with a short video.</p>

	<p>In the Essential Salary Negotiation Email Pack, you’ll receive additional templates to use for your unique situation: </p>

	<ul>
		<li>Telling them you have multiple offers to consider</li>
		<li>Firmly stating your bottom line</li>
		<li>Asking for more time</li>
</ul>

	<p>There’s no better way to spend the next 14 minutes than with the Essential Salary Negotiation Email Pack.</p>
</div>
	
<div class="pricing-table">
  <section class='item'>
    <p class="item__option fsn-sale-price hidden">Save 63% - Today only!</p>
    <p class="item__header">Essential Salary Negotiation Email Pack</p>
		<p class="item__description">I'll show you how to send your counter offer in less than 15 minutes</p>
		<span class="image"><img src="/images/HowToWriteSalaryNegotiationEmailImage.png" class="package__feature-details-img" alt="15-Minute Conter Offer thumbnail" width=150></span>
		<ul>
			<li><strong>11-minute video walkthrough to help write your counter offer email</strong> - A detailed video walkthrough of the "Counter Offer - standard" email template so you know <em>what</em> to write and <em>why</em> to write it.</li>
			<li><strong>Inputs you need before you start writing</strong> - A complete list of the details you need to customize this template for your negotiation.</li>
			<li><strong>10 email templates to respond to your job ofer</strong> - In addition to the "Counter offer - standard" template I review in the video, you'll get 9 more templates ask for more time, counter a lowball job offer, accept or decline your job offer, and more.</li>
			<li><strong>The exact guidance I give my coaching clients</strong> - This is exactly what I tell my coaching clients when we negotiate their job offers.</li>
    </ul>
		
		<span class="fsn-full-price"><p class="item__price">$47</p></span>
		<span class="fsn-sale-price hidden"><p class="item__price"><s>$47</s> $33</p></span>
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase" class='guide-btn large'>Buy Now</a>
			</span>
			<span class="fsn-sale-price hidden">
				<a href="https://transactions.sendowl.com/packages/58930/E20B9CEF/purchase?discount_code=SNTVIDEOSALE12" class='guide-btn large'>Buy Now</a>
			</span>
		</div>
		<div class="item__pay-logos">
			<img src="/images/pay-logos/visa.png" width=50/>
			<img src="/images/pay-logos/master_card.png" width=50/>
			<img src="/images/pay-logos/amex.png" width=50/>
			<img src="/images/pay-logos/discover.png" width=50/>
			<img src="/images/pay-logos/pay_pal.png" width=50/>
			<img src="/images/pay-logos/apple_pay.png" width=50/>
		</div>
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
</div>

<div class="container container--normal">
	{% include testimonials/sarah_m.html %}
</div>

{% include featured_logos.html %}

<div class="container container--widened">		
	<div class="testimonial-series">
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/allie.html short=true %}

		{% include testimonials/robin.html short=true %}
		
		{% include testimonials/deborah.html short=true %}
		
		{% include testimonials/kaylea.html short=true %}
		
		{% include testimonials/robert_m.html short=true %}		
		
		{% include testimonials/penny.html short=true %}
	</div>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">