---
layout: gynr
title: Ask for your raise
headline: Ask for your raise
tagline: Get Your Next Raise - Lesson 6
excerpt: Ask your manager for your raise using the case that you have built in this course.
last_modified_at: 2016-12-31
lesson_number: 6
og-image: GetYourNextRaise.png
extra_css:
  - flipclock.css
extra_js:
  - gynr_access.js
  - flipclock.min.js
  - gynr_sale.js
---
<div class="container container--normal">			
	<div class="subscriber anonymous">
		<div class="gynr-sale-price ad-box u-center hidden">
			<h2>Save 20% when you buy now!</h2>
			<div class="clock" style="display: inline-block; width: auto;"></div>
			{% include gynr_buy_button.html %}
		</div>	
		<div class='gynr-full-price'>		
			{% include gynr_buy_button.html %}
		</div>
	</div>
	
	<div class="anonymous subscriber gynr-customer" style="display: none;">
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/faQRRWZYPBw" frameborder="0" allowfullscreen></iframe>
		</div>

		<h2>What you'll accomplish in this lesson</h2>
		<p>You will schedule a meeting to ask your manager for your raise to your target salary, using some of your accomplishments and accolades to make your case. After you ask for your raise in person, you will follow up by sending the email you drafted earlier.</p>
		
		<h2>Action items</h2>
		<ul class="checkbox-list">
		  <li class="checkbox-list__item">Meet with your manager</li>
		  <li class="checkbox-list__item">Email your manager</li>		  
		</ul>
		<h2>Materials</h2>
		<ul>
			<li><a href="{{ site.baseurl }}/download/GetYourNextRaise_Worksheet.docx"><em>Get Your Next Raise</em> worksheet (download)</a></li>
		</ul>
		<div class="anonymous subscriber" style="display: none;">
			<h2>Get help</h2>
			<p>Course participants can email me any time to ask questions or get feedback as you go!</p>
		</div>
		<div class="gynr-customer" style="display: none;">
			<h2>Get help</h2>
			<p><a href="mailto:josh@joshdoody.com?subject=[Raise course: Lesson 6] Ask for your raise">Email me</a> to ask questions or get feedback as you go! You can also reply to any of the course emails in your inbox.</p>
		</div>

		{% include get_your_next_raise/lesson_list.html %}
	</div>
</div>