---
layout: gynr
title: Ask for a raise based on your market value
headline: Estimate your market value
tagline: Get Your Next Raise - Lesson 2
excerpt: How to estimate your market value and use it as a baseline to ask for a raise at work.
last_modified_at: 2016-12-31
lesson_number: 2
context: sales-page
og-image: GetYourNextRaise.png
extra_css:
  - flipclock.css
extra_js:
  - gynr_access.js
  - flipclock.min.js
  - gynr_sale.js
---
<div class="container container--normal">
	{% include get_your_next_raise/gynr_header.html %}
	
	<div class="gynr-customer hidden">
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Fkzr7wVRERc" frameborder="0" allowfullscreen></iframe>
		</div>

		<h2>What you'll accomplish in this lesson</h2>
		<p>You will estimate your market value using a simple three-step process. Before you ask for your raise, it's important to have a specific goal in mind. To set that goal—your target salary—you need to know your market value.</p>
		<p>Your market value will give you a baseline that you can adjust to set your target salary in the next lesson.</p>
		<h2>Action items</h2>
		<ul class="checkbox-list">
		  <li class="checkbox-list__item">Download the <a href="{{ site.baseurl }}/download/GetYourNextRaise_MarketValueEstimationWorksheet.xlsx"><em>Get Your Next Raise</em> Market Value Estimation worksheet</a></li>
		  <li class="checkbox-list__item">Use the worksheet to estimate your market value</li>
		  <li class="checkbox-list__item">Record your market value estimate in the <em>Get Your Next Raise</em> worksheet</li>
		</ul>
		<h2>Materials</h2>
		<ul>
			<li><a href="{{ site.baseurl }}/download/GetYourNextRaise_MarketValueEstimationWorksheet.xlsx"><em>Get Your Next Raise</em> Market Value Estimation worksheet (download)</a></li>
			<li><a href="{{ site.baseurl }}/book/value/">How to Estimate Your Market Value</a>—Read the chapter from <em>Fearless Salary Negotiation</em></li>
		</ul>
		<h2>References</h2>
		<ul>
			<li><a href="https://payscale.com" target="_blank">PayScale.com</a></li>
			<li><a href="http://salary.com" target="_blank">Salary.com</a></li>
			<li><a href="https://glassdoor.com" target="_blank">Glassdoor.com</a></li>
			<li><a href="https://paysa.com" target="_blank">paysa.com</a></li>
		</ul>

		<h2>Get help</h2>
		<p><a href="mailto:josh@joshdoody.com?subject=[Raise course: Lesson 2] Estimate your market value">Email me</a> to ask questions or get feedback as you go! You can also reply to any of the course emails in your inbox.</p>
		
		<div class='sample-email'>
			<h2 class='u-center'>Course lessons</h2>
			<ul>
				<li class='lesson-1'>Lesson 1: Start now</li>
				<li class='lesson-2'>Lesson 2: Estimate your market value</li>
				<li class='lesson-3'>Lesson 3: Set your goal</li>
				<li class='lesson-4'>Lesson 4: Build your case</li>
				<li class='lesson-5'>Lesson 5: Put your case in writing</li>
				<li class='lesson-6'>Lesson 6: Ask your manager for your raise</li>
				<li class='lesson-7'>Lesson 7: Plan your next steps</li>
			</ul>
			<p class='u-center'><a id="next-lesson" href="#" data-lesson-number="{{ page.lesson_number }}">I'm ready for the next lesson</a></p>
		</div>
	</div>
	
	<div class="subscriber anonymous hidden">
	{% include testimonials/thai_wood.html %}
	</div>
</div>