---
layout: gynr
metatags: noindex
sitemap: false
title: Set your goal
headline: Set your goal
excerpt: Set your goal—your target salary—for your next raise so you know exactly what you're aiming for.
tagline: Get Your Next Raise - Lesson 3
last_modified_at: 2016-12-31
lesson_number: 3
og-image: GetYourNextRaise.png
extra_css:
  - flipclock.css
extra_js:
  - gynr_access.js
  - flipclock.min.js
  - gynr_sale.js
---
<div class="container container--normal">
	<div class="subscriber anonymous">
		<div class="gynr-sale-price ad-box u-center hidden">
			<h2>Save 20% when you buy now!</h2>
			<div class="clock" style="display: inline-block; width: auto;"></div>
			{% include gynr_buy_button.html %}
		</div>	
		<div class='gynr-full-price'>		
			{% include gynr_buy_button.html %}
		</div>
	</div>
		
	<div class="gynr-customer subscriber anonymous" style="display: none;">
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/o_gr58KUWus" frameborder="0" allowfullscreen></iframe>
		</div>
		<h2>What you'll accomplish in this lesson</h2>
		<p>You will set your target salary, which is your goal for your next raise. You will begin with your market value estimate, and adjust it for your specific situation.</p>
		<h2>Action items</h2>
		<ul class="checkbox-list">
		  <li class="checkbox-list__item">Set your target salary</li>
		  <li class="checkbox-list__item">Record your target salary in the <em>Get Your Next Raise</em> worksheet</li>
		</ul>
		<h2>Materials</h2>
		<ul>
			<li><a href="{{ site.baseurl }}/download/GetYourNextRaise_Worksheet.docx"><em>Get Your Next Raise</em> worksheet (download)</a></li>
		</ul>
		<h2>References</h2>
		<ul>
			<li><a href="https://payscale.com" target="_blank">PayScale.com</a></li>
			<li><a href="https://salary.com" target="_blank">Salary.com</a></li>
			<li><a href="https://glassdoor.com" target="_blank">Glassdoor.com</a></li>
			<li><a href="https://paysa.com" target="_blank">paysa.com</a></li>
		</ul>
		<div class="anonymous subscriber" style="display: none;">
			<h2>Get help</h2>
			<p>Course participants can email me any time to ask questions or get feedback as you go!</p>
		</div>
		<div class="gynr-customer" style="display: none;">
			<h2>Get help</h2>
			<p><a href="mailto:josh@joshdoody.com?subject=[Raise course: Lesson 3] Set your goal">Email me</a> to ask questions or get feedback as you go! You can also reply to any of the course emails in your inbox.</p>
		</div>

	<div class='sample-email subscriber anonymous' style="display: none;">
		<h2 class='u-center'>Lessons</h2>
		<ul class="lesson-list">
			<li class='lesson-1'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/get-your-next-raise/start">Lesson 1: Start now</a></li>
			<li class='lesson-2'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/get-your-next-raise/estimate">Lesson 2: Estimate your market value</a></li>
			<li class='lesson-3'><i class="fa fa-unlock"></i><a href="{{ site.baseurl }}/get-your-next-raise/goal"><strong>Lesson 3: Set your goal</strong></a></li>
			<li class='lesson-4'><i class="fa fa-lock"></i>Lesson 4: Build your case</li>
			<li class='lesson-5'><i class="fa fa-lock"></i>Lesson 5: Put your case in writing</li>
			<li class='lesson-6'><i class="fa fa-lock"></i>Lesson 6: Ask your manager for your raise</li>
			<li class='lesson-7'><i class="fa fa-lock"></i>Lesson 7: Plan your next steps</li>
		</ul>
		<p class='u-center'><strong>Get access to all the lessons plus expert feedback and unlimited email support!</strong></p>
		{% include gynr_buy_button.html %}
	</div>
	<div class='sample-email gynr-customer' style="display: none;">
		<h2 class='u-center'>Course lessons</h2>
		<ul>
			<li class='lesson-1'>Lesson 1: Start now</li>
			<li class='lesson-2'>Lesson 2: Estimate your market value</li>
			<li class='lesson-3'>Lesson 3: Set your goal</li>
			<li class='lesson-4'>Lesson 4: Build your case</li>
			<li class='lesson-5'>Lesson 5: Put your case in writing</li>
			<li class='lesson-6'>Lesson 6: Ask your manager for your raise</li>
			<li class='lesson-7'>Lesson 7: Plan your next steps</li>
		</ul>
		<p class='u-center'><a id="next-lesson" href="#" data-lesson-number="{{ page.lesson_number }}">I'm ready for the next lesson</a></p>
	</div>
	</div>
</div>

{% include testimonials/john_li.html %}