---
layout: sales-page
title: 'Get Your Next Raise: How to ask for a raise at work'
headline: How to get bigger paychecks in 2020
excerpt: Get the raise you deserve at work with this self-paced course taught by a salary negotiation expert.
last_modified_at: 2018-12-12
context: sales-page
og-image: GetYourNextRaise.png
extra_js:
  - gynr_access.js
---
<section class="white">
	{% include featured_logos.html %}
	
	<div class="container container--normal">		
		<p>Not only did John know he was underpaid, but he could practically see the dollars flying out the window with every passing paycheck. </p>

		<p>Every time he decided to do something about it, he ran into a wall that stopped his momentum:</p>
	
		<p><strong><em>When</em> should he ask?</strong> During his performance review? Some other time? He wasn't sure.</p>

		<p><strong>How should he ask?</strong> Maybe he should get coffee with his boss. Or he could send an email, but what would he say?</p>
	
		<p><strong>How much should he ask for?</strong> He wasn't sure and didn't know how to find out.</p>
	
		<p>And maybe the most intimidating question of all: <strong>What if they say <em>no</em>?</strong> Then what would he do?</p>

		{% include testimonials/john_li.html %}
	</div>
</section>
<section class="gray">
	<div class="container container--normal">			
		<p>With the right plan, you can finally able to <em>do something</em> about that too-small paycheck and start making real progress on your financial and professional goals, just like John did.</p>

		<p>The key is that you need to make it <em>super easy</em> for your manager to understand exactly what you deserve and communicate that to the higher-ups in your company.</p>

		<p>The easier you make it for your manager to communicate with the higher-ups, the sooner you'll get the raise you deserve.</p>

		<p><em>But how?!</em></p>

		<p>Based on my experience as a hiring manager, I will show you exactly how to determine what you <em>should</em> be paid so you know what to ask for, and you'll learn how to demonstrate that you deserve a raise based on the valuable work you do.</p>

		<p>I will show you how to make sure you have everything you need to talk to your manager about your raise, ho to schedule that meeting, and how to put everything in writing after you talk so it's <em>easy</em> for your manager to approve your request and pass it along to the higher-ups.</p>
	</div>
</section>

<section class="white">
	<div class="container container--normal">		
		{% include testimonials/thai_wood.html %}
		
		{% include get_your_next_raise/get_your_next_raise_offer.html %}
		
		{% include testimonials/pat_maddox.html %}
	</div>
</section>
<section class="gray">
	<div class="container container--normal">		
		<h2 class='u-center'>What is Get Your Next Raise?</h2>
		<p>This course will help you set your goal and build your case for your next raise. You'll work at your own pace, as quickly or casually as you like.</p>
		<h3>Lessons, action items, feedback, progress</h3>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Each lesson has a video where you will learn what you need to complete your action items for that lesson.</strong> You can approach the process in seven manageable lessons so you don't get overwhelmed.</li>
			<li class="checkbox-list__item"><strong>Each lesson has clear action items to keep you moving forward.</strong> As you move through each lesson and complete the action items, you will move on to the next lesson.</li>
		</ul>
	
		<h2 class='u-center'>Course curriculum</h2>
		<ul class="checkbox-list">
			<li class="checkbox-list__item"><strong>Lesson 1: Start now</strong>—How <em>Get Your Next Raise</em> will get you un-stuck.</li>
			<li class="checkbox-list__item"><strong>Lesson 2: Estimate your market value</strong>—The first step to determine how much to ask for.</li>
			<li class="checkbox-list__item"><strong>Lesson 3: Set your goal</strong>—Now that you know your market value, you can set your goal—your target salary—so you ask for the right amount.</li>
			<li class="checkbox-list__item"><strong>Lesson 4: Build your case</strong>—Show your boss you <em>deserve</em> a raise.</li>
			<li class="checkbox-list__item"><strong>Lesson 5: Put your case in writing</strong>—Combine your target salary, accomplishments and accolades into a single email template to make your case for your next raise.</li>
			<li class="checkbox-list__item"><strong>Lesson 6: Ask for your raise</strong>—How to ask your boss for the raise you deserve and follow up to get a definitive result.</li>
			<li class="checkbox-list__item"><strong>Lesson 7: Plan your next steps</strong>—Learn exactly how to respond if your boss says no or asks you to wait a little longer.</li>
		</ul>
	</div>
</section>

<section class="white">
	<div class="container container--normal">		
	
	<h2 class='u-center'>Common questions and answers</h2>
	<p><strong>How long does this take?</strong></p>
	<p>Each lesson should take 30–60 minutes. Your total time invested will probably be about 4–5 hours.</p>
	<p>The course is self-paced, so you can move through the lessons as quickly or leisurely as you like. You could easily complete the course in a day or two, or take your time over a few weeks.</p>
		
	<p><strong>How does it work?</strong></p>
	<p>Here's a high-level summary of the cadence for each of the seven lessons:</p>
	<ol>
		<li>Starts with an email overview of the lesson and a link to the lesson page</li>
		<li>Watch the lesson video lesson (5 to 10 minutes)</li>
		<li>Complete the lesson's action items using the included templates and worksheets</li>
		<li>Move on to the next lesson when you're ready</li>
	</ol>
	
	<p>Each lesson has a video lesson to define your goals for that lesson and cover the background and details you need to complete the lesson's action items.</p>
	
	<p><strong>What does "self-paced" mean?</strong></p>
	<p>You can move as quickly or slowly as you like, and the course will help you keep moving. You can jump into the next lesson whenever you're ready.</p>
	<p>You could finish the entire course in one sitting, or you could pace yourself with one lesson per day or week.</p>
</div>
</section>

<section class="gray">
	<div class="container container--normal">				
		{% include get_your_next_raise/gynr_bio.html h2="A former hiring manager shows you how to finally get the raise you deserve"%}
	</div>
</section>

<section class="white">
	<div class="container container--normal">		
		<p class="u-center guarantee-img"><img src="/images/HappyCustomerGuarantee.png" width="150"/></p>
	
		<h2 class='u-center'>Happy Customer Guarantee <br>plus lifetime updates</h2>
	  <p>You're protected by the Happy Customer Guarantee: If you’re not happy with the course, reach out any time and <strong>I’ll refund your money.</strong></p>
		<p><strong>That’s it—there’s no fine print.</strong> I know how valuable <em>Get Your Next Raise</em> is and I know you’ll find it valuable.</p>
		<p><strong>You the course</strong>—I don’t use DRM or limit the number of devices you can use—and you will own them forever.</p>
		<p>Plus I'll email you to let you know when I update the course for the lifetime of the product.</p>
	</div>
</section>