---
layout: gynr
title: Put your case in writing
headline: Put your case in writing
tagline: Get Your Next Raise - Lesson 5
excerpt: Write your case for your next raise using your target salary, accomplishments and accolades.
last_modified_at: 2016-12-31
lesson_number: 5
og-image: GetYourNextRaise.png
extra_css:
  - flipclock.css
extra_js:
  - gynr_access.js
  - flipclock.min.js
  - gynr_sale.js
---
<div class="container container--normal">			
	{% include get_your_next_raise/gynr_header.html %}
	
	<div class="gynr-customer hidden">
		<div class="video-container">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ld3QzXWC1rY" frameborder="0" allowfullscreen></iframe>
		</div>

		<h2>What you'll accomplish in this lesson</h2>
		<p>You have documented your target salary and all of your accomplishments and accolades, you’re ready to put your case in writing. This will help you see how strong your case is and will also help you prepare to ask your manager for your next raise.</p>
		
		<h2>Action items</h2>
		<ul class="checkbox-list">
		  <li class="checkbox-list__item">Put your case in writing using the <em>Get Your Next Raise</em> email template</li>
		  <li class="checkbox-list__item">Review it, but don't send it!</li>
		</ul>
		<h2>Materials</h2>
		<ul>
			<li><a href="{{ site.baseurl }}/download/GetYourNextRaise_Worksheet.docx"><em>Get Your Next Raise</em> worksheet (download)</a></li>
			<li><a href="{{ site.baseurl }}/salary-increase-letter-sample/">Read more about the Raise email template</a></li>
		</ul>

		<h2>Get help</h2>
		<p><a href="mailto:josh@joshdoody.com?subject=[Raise course: Lesson 5] Put your case in writing">Email me</a> to ask questions or get feedback as you go! You can also reply to any of the course emails in your inbox.</p>

		{% include get_your_next_raise/lesson_list.html %}
	</div>
</div>

<div class="subscriber anonymous hidden">
{% include testimonials/thai_wood.html %}
</div>