<a name="aaron_batilo"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/aaron_batilo.jpg" alt="Aaron Batilo">
  <p class="quote__text"><strong>I used the <em>Fearless Salary Negotiation</em> template for negotiating an offer and went from $95,000 with a title of Software Engineer 1 to $105,000 with a title of Software Engineer 2. Now I can pay off my student loans and buy a house more quickly.</strong></p>
	
  <p>Six months later, I did it again! This time, I one-upped that by turning a $125,000 offer to a $145,000 offer.</p>
		
	<p>That's $30,000 in additional salary thanks to this truly wonderful book.</p>
		
  <p class="quote__byline">Aaron Batilo, Software Engineer 2</p>
</div>