<a name="aaron_batilo"></a>
<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/aaron_batilo.jpg" class="quote__image" alt="Aaron Batilo"></p>
  <p class="quote__text">I used the <em>Fearless Salary Negotiation</em> template for negotiating an offer and went from $95,000 with a title of Software Engineer 1 to $105,000 with a title of Software Engineer 2. Now I can pay off my student loans and buy a house more quickly.</p><br><br>
	
  <cite class="quote__byline">Aaron Batilo, Software Engineer 2</cite>
</div>