    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.baseurl }}/images/acree_m.jpg" style="border-radius: 100%" height="100" width="100" alt="Acree M." class="author__image"></p>
        <p class="quote__text"><strong>Josh's salary negotiation coaching gave me confidence</strong> during a tedious and nerve-wracking process. <strong>He helped remind me of what I was worth as a candidate</strong> and gave me the words to keep from settling for my minimal acceptable salary. In the end, <strong>I was blown away by my company's final offer</strong>. It promises to keep me satisfied in my new job for a long time.</p>
        <cite class="quote__byline">Acree M., Senior Copywriter</cite>
      </div>
    </blockquote>