<a name="acree_m"></a>
<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/acree_m.jpg" class="quote__image" alt="Acree M."></p>
  <p class="quote__text">Taking control of that process and successfully negotiating a great salary affirmed my worth as a professional and spoke volumes about how valuable I am to my company.</p><br><br>
	
	<p class='u-left'>I was happy working as a freelance copywriter when an enticing opportunity came along to work for a small company full-time. But in order to turn away all of my clients, which was a big risk, the opportunity and salary had to be just right.</p>
	
	<p class='u-left'>I reached out to Josh for help negotiating the job offer, and his salary negotiation coaching gave me confidence during a tedious and nerve-wracking process. He helped remind me of what I was worth as a candidate and gave me the words to keep from settling for my minimal acceptable salary.</p>
	
	<p class='u-left'>I feel really empowered as a woman every time I negotiate because I’ve read the statistics about women negotiating. Taking control of that process and successfully negotiating a great salary affirmed my worth as a professional and spoke volumes about how valuable I am to my company.</p>	
	
	<p class='u-left'>The extra income allowed my husband and me to get help with things like housekeeping so we can spend more quality time together on the weekends. We have also been able to save up for luxuries like a trip to Italy, and necessities like a new car.</p>
	
	<p class='u-left'>In the end, I was blown away by my company's final offer. It promises to keep me satisfied in my new job for a long time.</p>
	
  <cite class="quote__byline">Acree M., Senior Copywriter</cite>
</div>