<a name="alyssa"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p><strong>I wanted to thank you for creating The Salary Negotiation Crash Course.</strong> I was shocked when I got a 12% increase and a monthly public transportation allowance, which is exactly what I wanted. I honestly was already happy with the initial offer but am so lucky to have found your course! <strong>This was the best investment I've ever made so far!</strong></p>
	</div>
	
  <p class="quote__byline">Alyssa</p>
</div>