<a name="amy_fsn"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	<p class="quote__text"><strong>The money I spent on your book was the best ROI on anything I've bought. :)</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>I just used your counter offer email template to negotiate for a new job, which was only the second time in my life I have negotiated an offer.</p>
		
		<p><strong>I got an increase of $11k for my offer after negotiation, which is $6k more than I expected them to renegotiate to.</strong> I literally would never have asked for that much if you hadn't insisted on a minimum 10% ask in your book.</p>
		
		<p><strong>I'm honestly shocked that it worked.</strong> And the recruiter told me how great it was to have a list of all the reasons why I deserve more, so that they could send it to the appropriate people to get everything approved. </p>

		<p>Thanks for helping me get a great salary! The money I spent on your book was the best ROI on anything I've bought. :)</p>
	</div>
	{% endunless %}
	
  <p class="quote__byline">Amy</p>
</div>