<a name="amy_utley"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/amy_utley.jpg" alt="Amy Utley, Field Sales Engineer">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>The most helpful thing about the Crash Course was having exact word-for-word scripts at each step of the process – they gave me the confidence to ask for way more than I would have otherwise. <strong>I used the email templates to successfully negotiate an offer $12,000 higher than my original offer (an increase of about 10%)!</strong></p>
	{% else %}
		<p>I almost talked myself out of negotiating. <strong>I was staring at a job offer in my email inbox that was higher than I expected.</strong> I was excited and flattered, but my gut said that taking the first offer would leave money on the table.</p>

		<p>Since the offer was already above what I anticipated, <strong>I needed a good way to structure my counteroffer so that it didn't sound baseless or purely greedy.</strong> I already got some insight from reading Josh's article about "re-selling" myself in a counteroffer email. I hoped getting the email templates would give me more ideas. <strong>I decided to upgrade to the Complete Bundle of Fearless Salary Negotiation since it includes information about getting a raise</strong> (which I figured would come in handy and likely more than pay for itself in the next year or so).</p>

		<p>The most helpful thing about the Crash Course was having exact word-for-word scripts at each step of the process. <strong>I didn't have to fumble for words or spend hours scouring the Internet for "the right thing to say".</strong> It was all there and the scripts gave me the confidence to ask for way more than I would have otherwise.</p>

		<p><strong>I used the email templates from the course to successfully negotiate an offer $12,000 higher than my original offer (an increase of about 10%).</strong> The total package represents a 30% increase over my current compensation! I'm ecstatic and extremely grateful for the valuable information that Josh provided to help me get an amazing result.</p>

		<p>Going through the process of negotiation made me confront my insecurities and realize that I do bring highly valuable skills to the table. I found having to brainstorm and then write out the reasons I'm a great fit for this position — and thus deserve a higher salary — was a key benefit I got from the course. <strong>It made me 100% more confident that I am a great fit and that I will contribute a lot to this team.</strong> Getting a positive response to my counteroffer confirmed that.</p>

		<p>What was particularly interesting about the results I saw was that it was an internal transfer between two separate business units within a large company — meaning <strong>the hiring manager actually knew my current salary down to the dollar</strong>. I expected that to limit my ability to negotiate, but <strong>focusing on the value I would bring to his team and not my current salary was the right strategy. It worked!</strong></p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Amy Utley, Field Sales Engineer, Semiconductor Industry</p>
</div>