<a name="andrew"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  <p class="quote__text">I was indeed able to net a better offer letter: <strong>$13k base salary increase over my current salary, $20k annual bonus, and 10k company shares</strong>.</p>

	<p>The Salary Negotiation Crash Course was truly helpful! I wanted to share my excitement and appreciation.</p>
  <p class="quote__byline">Andrew</p>
</div>