<a name="annie_margarita_yang"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
	<div class="testimonial-content">
	{% if include.short == true %}
	  <p>I started my job search and I decided to purchase Josh's $49 book and templates, which I've been eyeing for a year. <strong>I can't believe it, but thanks to Josh's strategy and system of salary negotiation, I just got an offer of $80k for a new job – a $35k raise (77% more) over what I make now!!!! :)</strong></p>
	{% else %}
			<p>I had a vague idea that I was underpaid when I was first hired last year. <strong>Even though I found Josh's free information helpful, I was desperate and wasn't as aggressive as I wanted to be during that negotiation process</strong> because I just moved to a new city and was running out of cash.</p>

			<p><strong>I started my job search again and I decided to purchase Josh's $49 book and templates for Fearless Salary Negotiation, which I've been eyeing for a year.</strong></p>

			<p>It's the best $49 I ever spent.</p>

			<p>I calculated my market value and found out that I was being paid the lowest range ($45k) for an entry-level private accounting position, even though I had 2-3 years of prior accounting experience. <strong>Thanks to Josh's book, I now know for sure I am not entry level anymore and worth a whole lot more. I became more confident in applying for senior positions 1-2 levels above where I am now and asking for a raise.</strong> I thought I could get $65k with my skill and experience, maybe $70k if I pushed a bit more.</p>

			<p>In an interview for an accounting manager position (2 levels above my current title), the hiring manager asked me my desired salary range. I told him I wasn't willing to give the first number and that he would have to give me an offer first for me to consider. He reworded his question and asked, "how much salary would you need to get a mortgage to buy the condo that you want?" since we discussed earlier in the conversation what my goals were. I said $70k, adding I wasn't desperate to change because I loved where I worked and would only switch jobs if my employer couldn't match his offer.</p>

			<p>I wasn't sure if it was a good idea to give him a number, but the next day, <strong>I was surprised that rather than offer me what I asked for, he actually went UP and offered me $80k.</strong> My current employer could only match $70k, so I'll be leaving my job for the new one. <strong>I can't believe it, but thanks to Josh's strategy and system of salary negotiation, I just got a $35k raise (77% more) over what I make now!!!! :)</strong></p>
		{% endif %}
	</div>
  <p class="quote__byline">Annie Margarita Yang, Real Estate Accounting Manager</p>
</div>