<a name="anon_9"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>We negotiated <strong>$11,000 more salary and $55,000 more in equity</strong>, plus a front-loaded vesting schedule (33%, 33%, 22%, 12% as opposed to 4 x 25%).The compensation already seemed very generous before we negotiated, but <strong>a total increase of $99k over 4 years</strong> will make a huge difference in my life.</p>
	{% else %}
		<p>I had no idea how to negotiate an offer or how much more I could ask for. <strong>I was wondering whether Josh's experience would be relevant to my specific job</strong>, but it seemed close enough. I also wasn't sure if I would be comfortable with the cost given I am in between jobs and coming from a less well paid (academic) career, but given the large amounts involved it seemed to make sense to hire him anyway!</p>
		
		<p>It went great! <strong>We negotiated $11,000 more salary and $55,000 more in equity, plus a front-loaded vesting schedule</strong> (33%, 33%, 22%, 12% as opposed to 4 x 25%). The compensation already seemed very generous before we negotiated, but <strong>a total increase of $99k over 4 years</strong> will make a huge difference in my life. I feel like I assertively stated my value, which feels like a good start to this new work relationship.</p>
		
		<p>I really liked Josh 's responsiveness and how he explained his reasoning and approach (as well as what was probably going on in the background while we waited) in detail along the way. <strong>I now actually feel more confident about potentially negotiating another offer myself in the future.</strong></p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Quantitative User Experience Researcher, Google</p>
</div>