<a name="anon_3"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>I was negotiating more than one offer and I was overwhelmed when one of the recruiters used high-pressure tactics. <strong>In that moment, you can't believe how happy I was that Josh was there to back me up.</strong> I negotiated an offer with Facebook with $225,000 in additional equity, meaning I can save more money.  </p>
	{% else %}
		<p>My lack of experience negotiating and being too biased by my own emotions led me to Josh.</p>

		<p>I was negotiating more than one offer and I was overwhelmed when one of the recruiters used high-pressure tactics. <strong>In that moment, you can't believe how happy I was that Josh was there to back me up.</strong> He also helped me learn how to be concise and direct, which helped me negotiate better.</p>

		<p><strong>I negotiated an offer with Facebook with an additional $225,000 in equity,</strong> meaning I can save more money. </p>

		<p>Working with Josh went super well! People like Josh are the ones that leave a trace on this world and he certainly left a trace in my life. I hope our paths cross again.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Research Scientist, Facebook</p>
</div>