<a name="anon_8"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Anonymous, Software Engineer">
  
	{% if include.short == true %}
	<p class="quote__text">I had a lot of people tell me this would pay for itself in increased wages. <strong>My total compensation literally doubled as a direct result of this engagement. Beyond that, I negotiated $25k more total compensation and $15k more sign-on bonus.</strong> I owe a few beers to the people who recommended Josh to me :)</p>
	
	{% else %}
	<div class="testimonial-content">
		<p>I had a lot of people tell me this would pay for itself in increased wages. I wasn't super concerned about working with Josh, though I was worried I'd end up pressured to "play hardball" more than I was comfortable with.</p>

		<p>I found Josh was pleasant, easy to work with and got me lot of additional income in extra salary, bonus and equity.</p>

		<p><strong>My total compensation literally doubled as a direct result of this engagement. Beyond that, I negotiated $25k more total compensation and $15k more sign-on bonus.</strong> I'll have significantly more financial freedom after a few years at this job.</p>

		<p>I've already started referring a few engineers I know Josh's way. Also, I owe a few beers to the people who recommended Josh to me :)</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Anonymous, Software Engineer</p>
</div>