<a name="anon_engineer_4"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>I hired Josh because I didn't want to leave money on the table.  <strong>I negotiated a $10k sign-on bonus and $7k more in base salary.</strong> I feel it adds more credibility to my own worth – and I know I shouldn't use a number to justify my self-worth, but it helps :) </p>
	{% else %}
		<p>I hired Josh because <strong>I didn't want to leave money on the table</strong>. Through working with him, I learned about salary ranges and levels and how to write a salary negotiation email. </p>

		<p>I appreciated Josh's turnaround time, his clarity of explanations and justification for what we asked for in the negotiation, and the honesty of his services. </p>

		<p><strong>I negotiated a $10k sign-on bonus and $7k more in base salary.</strong> I feel it adds more credibility to my own worth — and I know I shouldn't use a number to justify my self-worth, but it helps :) </p>

		<p>I'd recommend Josh's salary negotiation coaching because it's effective and he delivers results in an honest way. It was a pleasure working with him and I hope to do so again! </p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Engineer, Facebook</p>
</div>