<a name="anon_10"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>The coaching cost was a concern for me. Josh's result fee makes sense, but <strong>the $3,000 service fee is not inexpensive</strong>. It was well worth it. Josh helped me negotiate an extra $3,000 in base salary, $40,000 in extra sign-on over two years, and around $32,000 in extra equity over 4 years. <strong>That's roughly $84,000 in extra income over four years.</strong> I also now have a better understanding of the negotiating process and the confidence to handle this myself next time.</p>
	{% else %}
		<p>The coaching cost was a concern for me. Josh's result fee makes sense, but <strong>the $3,000 service fee is not inexpensive</strong>.</p>
		
		<p>It was well worth it. <strong>I got exactly what I wanted.</strong> Josh helped me negotiate an extra $3,000 in base salary to hit the cap, $40,000 in extra sign-on over two years, and around $32,000 in extra equity over four years. <strong>That's roughly $84,000 in extra income over four years.</strong></p>
		
		<p><strong>It went so smoothly that part of me thought, did I really need to hire Josh?</strong> But then I realized that of course I did. I had no idea what I was doing or how to frame the counter offer or how to act after they came with theirs. Having the offer pulled for asking for too much was a huge worry of mine, especially since I had no competing offers. <strong>Josh understood where I was coming from and helped put me at ease.</strong> He helped me overcome my hesitation to counteroffer and basically assured me that the recruiter expected it.</p>
		
		<p>Working with Josh made me confident that I got a good deal and that I wasn't lowballed. Had I kept my original offer, I would've always had a small chip on my shoulder that I got played. <strong>Not having that feeling is almost priceless.</strong> I also now have a better understanding of the negotiating process and the confidence to handle this myself next time.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Anonymous, Software Engineer</p>
</div>