<a name="anon_7"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>My major concern was making sure I get the maximum compensation package that was available to me.</strong> Working with Josh, I successfully negotiated $100,000 more equity over the course of four years and overall feel like I achieved a very competitive level of compensation. Most importantly for me, I learned how to communicate my financial asks and about the general process and the methodology of salary negotiation.</p>
	{% else %}
		<p>My major concern was making sure I get the maximum compensation package that was available to me. Like other people, I want to feel that I am treated fairly. I wanted to be sure I wasn’t setting myself up for financial frustration and pity down the line.</p>

		<p>Josh’s fees are on the high end of the spectrum. But my thought process going into our engagement was that learning the methodology was worth the fee, even more so than any increase in compensation I would get as a result.</p>

		<p><strong>Working with Josh, I successfully negotiated $100,000 more equity over the course of four years and feel like I achieved a very competitive level of compensation.</strong></p>

		<p>Most importantly for me, I learned how to communicate my financial asks and learned about the general process and methodology of salary negotiation. Things like not naming my price at all costs, going with a big counter offer afterwards, and negotiating the smaller details component by component at the end. I enjoyed Josh’s level of engagement manifested by his timely and detailed responses.</p>

		<p>I’d recommend working with Josh. There is no reason to leave money on the table for the work one does.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">A.A., Software Engineer</p>
</div>