<a name="anon_2"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>The process worked like magic.</strong>I got a nice 42k increase, or over 25% more than what they provided first.</p>
	{% else %}
		 <p class="quote__text"><strong>The process worked like magic.</strong></p>

		<p>I recently negotiated a new job offer that I consider way above what they offered me first. It’s a software engineering management position, and initially I was offered 160k+ with no sign on bonus. <strong>But I followed your guide I negotiated to 180k+ with 20k+ sign on bonus. That’s a nice 42k increase, or over 25% more than what they provided first.</strong></p>
		
		<p>I’m not trying to negotiate just to be greedy and get more, but to negotiate a compensation that I can work hard without distraction thinking I’m underpaid for the hard work.</p>

		<p>And your guide played a key role. <strong>I followed the exact process you outlined</strong>—ask recruiter to wait, write a convincing counter offer email, and prepare a negotiation script before talking on the phone—<strong>and it worked like magic</strong>.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Anonymous, Software Engineering Manager</p>
</div>