<a name="anon_6"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>Thanks for your salary negotiation website! <strong>I used your advice to prepare for interviews with my dream job, and was able to negotiate a $10k raise</strong> and revise a heavy-handed non-compete clause with a single email! Having a great plan to follow made such a big difference in this process, and I'll definitely be referring friends to you in the future. :)</p>
	</div>

  <p class="quote__byline">Anonymous, Staff Software Engineer</p>
</div>