<a name="anon_engineer_3"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>My past negotiations have honestly been terrible where I never felt like I had the upper hand. Josh's coaching gave me confidence in the negotiation process. Because I knew Josh had gone through this before, I knew I wasn't asking anything too crazy / offensive of Apple. We ended up negotiating <strong>$35,000 more in base salary, $300,000 more total equity (vesting over four years), and $25,000 more sign on bonus</strong>.</p>
	{% else %}
		<p>I felt I was on the high end of my bracket already with Google, and I wanted to make sure I could get at least as much in my negotiation with Apple.</p>
		
		<p>Apple came in low with their original offer, so Josh helped me bring the offer up to a level that I could accept. We ended up negotiating <strong>$35,000 more in base salary, $300,000 more total equity (vesting over four years), and $25,000 more sign on bonus</strong>.</p>
		
		<p>My past negotiations have honestly been terrible where I never felt like I had the upper hand. Josh's coaching gave me confidence in the negotiation process. <strong>Because I knew Josh had gone through this before, I knew I wasn't asking anything too crazy / offensive of Apple.</strong> I got to see first-hand how much I could press and <strong>I feel I did get the best offer I could from Apple</strong>.</p>
		
		<p>Working with Josh was a fantastic experience. I appreciated his attentiveness, thoughtfulness, as well as his reassurances along the way. I felt it was a collaborative experience where he really was coaching.<strong> I got to see what Josh was thinking and why approaches were taken.</strong> It wasn't a complete "black box".</p>
		
		<p>Josh's personal attention, collaborative nature, and coaching style is very approachable for anyone. Folks will learn a lot from working with him.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Software Engineering Manager, Apple</p>
</div>