<a name="anon_9"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>Perhaps the only concern I had about hiring Josh was that I hadn't seen a lot of personal references online and I was going off Patrick McKenzie's word on Twitter alone. But it went well! I negotiated a $25,000 signing bonus.</p>
	{% else %}
		<p><strong>Having not interviewed recently, I wasn't sure how to approach the negotiation.</strong> Perhaps the only concern I had about hiring Josh was that I hadn't seen a lot of personal references online and I was going off Patrick McKenzie's word on Twitter alone.</p>
		
		<p>But it went well! <strong>I negotiated a $25,000 signing bonus.</strong></p>
		
		<p>I liked that working with Josh was very structured and that he kept on top of communication, nudging me often (but gently) in the right direction.</p>
		
		<p>I would definitely recommend this to more engineers as Josh clearly had a lot of experience that he brings to the table.</p>		
	{% endif %}
	</div>
	
  <p class="quote__byline">Anonymous, Software Engineer</p>
</div>