<a name="anon_4"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	{% if include.short == true %}
	<p>Josh’s thought process for what number made the best sense given how difficult it is to break the $200k barrier was very helpful. I negotiated for $5,000 more base salary, $50,000 more equity and a $10,000 signing bonus increase without having to do multiple rounds of countering.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I was already very pleased with my initial offer. However, after listening to Josh’s excellent talks on multiple podcasts, I realized that he would say I should always negotiate, so I had to at least book a strategy call. <strong>The biggest concern I had was whether the call would be valuable enough.</strong></p> 

		<p>It was incredibly valuable. Josh’s advice was spot on.</p> 

		<p>Working with Josh helped me boost my confidence. I really liked that Josh took time to listen to all my different input and offers to come up with a solid counter offer that made sense for both parties. <strong>Josh’s thought process for what number made the best sense given how difficult it is to break the $200k barrier was very helpful.</strong> We were able to come to a good counter to my initial offer, which the company almost met in terms of equity and sign-on bonus.</p>

		<p><strong>I negotiated for $5,000 more base salary, $50,000 more equity and a $10,000 signing bonus increase without having to do multiple rounds of countering.</strong> The salary bump was a big benefit towards paying down my house earlier. The biggest value to me was the feeling of confidence towards my value to the company and getting paid for what I can bring to the table.</p>
	</div>
	{% endif %}

  <p class="quote__byline">Anonymous, Senior iOS Engineer</p>
</div>