<a name="anon_11"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>I'm very nervous about negotiating. Working with Josh made the whole process a lot less stressful. I think I got a substantially better offer than I could have on my own. <strong>I went from a vague offer of ~$200k first year total compensation to $258k.</strong> At a rough guess, I think I could have gotten to ~$220k on my own? So that's a big win and a good cost/benefit.</p>
	{% else %}
		<p>I'm very nervous about negotiating. I felt that working with a professional would help take some of the pressure off.</p>
			
		<p>Working with Josh made the whole process a lot less stressful. He was very responsive and I think I got a substantially better offer than I could have on my own. <strong>I went from a vague offer of ~$200k first year total compensation to $258k.</strong> At a rough guess, I think I could have gotten to ~$220k on my own? So that's a big win and a good cost/benefit. I also learned more about the process for next time.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Software Engineer, Google</p>
</div>