<a name="anon_5"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	{% if include.short == true %}
	<p>Having Josh as a coach meant that I had a like-minded individual on my side who is an advocate and has a rooting interest in my outcome. I negotiated $8,000 more in the base pay salary, which directly increased my annual bonus payout target (as the percentage is tied to the base pay), plus $10,000 more in RSUs.</p>
	{% else %}
	<div class="testimonial-content">
		<p><strong>Although I was a bit hesitant about the upfront cost/investment of coaching</strong>, I hired Josh because I was concerned about leaving money on the table by not maximizing my earning potential.</p>

		<p>As expected, Josh helped me get a better offer. <strong>I negotiated $8,000 more in the base salary, which directly increased my annual bonus payout target (as the percentage is tied to the base pay), plus $10,000 more in RSUs.</strong></p>

		<p>Having Josh as a coach meant that I had a like-minded individual on my side who is an advocate and has a rooting interest in my outcome. I was able to negotiate better and now have more of a process than I did before.</p>

		<p>I appreciated the handholding, patience and advocacy Josh provided, as well as the phone calls, email responses, and documentation throughout the whole entire process. </p>

		<p><strong>I would 100%, absolutely, without a doubt recommend working with Josh!</strong></p>
	</div>
	{% endif %}

  <p class="quote__byline">Anonymous</p>
</div>