<a name="anon_engineer_2"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>My main concern before engaging Josh was whether it would be worthwhile. What if the change was so small I could have negotiated it on my own?</strong> Everything went better than I expected. With Josh’s help, I negotiated $10,000 more salary on an offer I was willing to take – which turned a lateral move job offer into a raise.</p>
	{% else %}
		<p>I sought out Josh’s service because I was concerned I wouldn’t be able to maximize my offer on my own or that a company that wanted me at a discount my might take advantage of me. </p>

		<p><strong>My main concern before engaging Josh was whether it would be worthwhile. What if the offer didn’t change? What if the change was so small I could have negotiated it on my own?</strong></p>

		<p>Everything went better than I expected. I’m used to asking for “more flexibility in salary” instead of Josh’s approach of countering an offer with a specific number. Being specific works a lot better. With Josh’s help, <strong>I negotiated $10,000 more salary on an offer I was willing to take – which turned a lateral move job offer into a raise.</strong> I believe the offer increased based on the self-promoting paragraph that Josh wrote about how my skills will help the company.</p>

		<p>What I like most about the service is Josh’s diplomacy – he is more diplomatic than I ever could be in negotiating. I felt spurned by a company when they offered a lower title with a lower pay bracket. If I was negotiating on my own, I would have acted on that feeling and asked for a salary above that bracket to stick it to them, which would have soured negotiations. But Josh relaxed our counter offer knowing that the company was on the fence about me. He also provided me a well-written email to the company I turned down.</p>

		<p>I’d recommend working with Josh as your salary negotiation coach. <strong>You need someone outside of your head to judge the situation and recommend the best next steps to get the best result.</strong></p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Anonymous, Engineer 2</p>
</div>