<a name="ayush"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	<p class="quote__text"><strong>I bought <em>Fearless Salary Negotiation</em> and applied the scripts to get a new job with a 15% increase in salary along with an extra week of vacation.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>A colleague of mine who I recommended the book to was able to negotiate a similar increase in pay for a new role in addition to a 12% signing bonus.</p>
		
		<p><strong>Your book is the only book I would recommend for salary negotiations.</strong> My favorite tip was having a script with the exact figures and responses handy during the negotiation over the phone. I used the Notes app on my phone while my buddy used a handwritten version. For my next salary negotiation I'll definitely be hiring you because it has a near guaranteed ROI.</p>
	</div>
	{% endunless %}
	
  <p class="quote__byline">Ayush</p>
</div>