<a name="ben"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Ben, Software Engineer L4, Google">
  
	{% if include.short == true %}
	<p class="quote__text">I've set myself up for compounding increases in incoming cash by starting my Google salary and equity higher than I would have otherwise.  I feel like I got the best deal that was available to me and I didn't leave anything on the table. <strong>If I hadn't hired Josh, I probably would be sitting here today still wondering, "Man, could I have easily bumped this by a bunch of more money?"</strong>.</p>
	
	{% else %}
	<div class="testimonial-content">
		<p>In the end, <strong>the most impactful thing Josh did was a line in a two-paragraph email</strong> that essentially said, "Instead of $211k per year, I want $250k."<strong> That doesn't seem like I paid for much!</strong></p>

		<p>However, there's a lot of things that went into that email. <strong>Where do we want to pressure them? Which dimensions do we want to go on?</strong> It was knowing the correct things to ask for (cash or equity), knowing the correct amount to ask for, and knowing how to come up with a narrative around why they should try to reach my number. That email wasn't just a number, it was a story.</p>

		<p>I've set myself up for compounding increases in incoming cash by starting my Google salary and equity higher than I would have otherwise. I feel like I got the best deal that was available to me and I didn't leave anything on the table. <strong>If I hadn't hired Josh, I probably would be sitting here today still wondering, "Man, could I have easily bumped this by a bunch of more money?"</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Ben, Software Engineer L4, Google</p>
	<br>
	<div class='guide-link'>
		<p><strong>Read the complete case study to see how we did it</strong></p>
		<p><a href="/case-studies/google-l4-ben/">Case Study: Getting Ben the best L4 compensation possible from Google →</a></p>
	</div>
</div>