<a name="bob_gregor"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/bob_gregor.jpg" alt="Bob Gregor, Coding BootCamp Instructor">
  <p class="quote__text"><strong>The extra 17% base salary I negotiated allowed me to save up a cash reserve so I had grater peace of mind.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>I had concerns about the value of this sort of coaching, but I quickly found that Josh has thought through all of the processes and has great insight to something that’s very important and that I seldom do.</p>
	
		<p>By working with him, I negotiated an additional 17% in base salary, gained confidence in my negotiating ability, and immediately improved my career trajectory.</p>
		
		<p>I definitely recommend working with Josh to negotiate your salary.</p>
	</div>
	{% endunless %}
	
  <p class="quote__byline">Bob Gregor, Coding BootCamp Instructor</p>
</div>