<a name="bob_gregor"></a>
<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/bob_gregor.jpg" class="quote__image" alt="Bob Gregor, Coding BootCamp Instructor"></p>
  <p class="quote__text"><strong>The extra $15,000 I negotiated allowed me to save up a cash reserve so I had grater peace of mind.</strong></p><br><br>
	
	<p class='u-left'>I had concerns about the value of this sort of coaching, but I quickly found that Josh has thought through all of the processes and has great insight to something that’s very important and that I seldom do.</p>
	
	<p class='u-left'>By working with him, I negotiated an additional $15,000 in base salary, gained confidence in my negotiating ability, and immediately improved my career trajectory.
</p>
		
	<p class='u-left'>I definitely recommend working with Josh to negotiate your salary.
</p>
	
  <cite class="quote__byline">Bob Gregor, Coding BootCamp Instructor</cite>
</div>