<a name="brian_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  
	
	{% if include.short == true %}
	<p class="quote__text"><strong>I was able to negotiate an extra $3k into my base. The template was easy to use, and I was able to tailor it to make it my own.</strong></p>
	
	{% else %}
	<div class="testimonial-content">
		<p>I found your email template online for salary negotiations. I used the template to frame an email in a recent negotiation, and I just wanted to share some positive feedback to you and your team - it worked!</p>

		<p>Although it wasn't life changing money, <strong>I was able to negotiate an extra $3k into my base. The template was easy to use, and I was able to tailor it to make it my own</strong>.</p>

		<p>Just wanted to say thanks, and best wishes.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Brian M., Operations Manager</p>
</div>