<a name="bruce"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>I was concerned about the price of the coaching relative to what I thought I was going to get out of it.</strong> Josh helped me ask for a larger salary increase than I would have by myself. I got a $5,000 increase in starting salary – that alone more than paid for the cost of coaching.</p>
	{% else %}
		<p class="quote__text"><strong>I was concerned about the price of the coaching relative to what I thought I was going to get out of it.</strong></p>

		<p>Josh helped me ask for a larger salary increase than I would have by myself. <strong>I got a $5,000 increase in starting salary – that alone more than paid for the cost of coaching.</strong> I felt like I was able to get close to what my current market value is. Josh also helped with non-salary items, helping me get a significant increase in stock options. </p>

		<p>Because he’s very experienced, Josh provides a level-headed approach to negotiations. <strong>I like having a more objective party walk me through the process and game out scenarios.</strong> I also appreciated that Josh is clear in his communication and very responsive. </p>

		<p>On top of helping me get a larger increase than I otherwise would have gotten, <strong>I now have some new moves and approaches for negotiating my compensation package in the future.</strong></p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Bruce, Senior Software Engineer</p>
</div>