<a name="candas_barnes"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
  <p class="quote__text"><strong>I found the guidance and confidence I needed to have my first successful salary negotiation!</strong> I only wish I started reading earlier, before I had to enter my "minimum required salary" on the application form. I'm still glad I got more than 6k more than the minimum salary I indicated.</p>

	<p class="quote__byline">Camille</p>
</div>