<a name="candas_barnes"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
  <p class="quote__text">As one who had not really ever negotiated my salary (certainly not successfully) before, <strong>I was able to increase the original offer by $9,000 (12%)</strong>.</p>
	
	{% unless include.short == true %}
	<p>I'm looking forward to using that money initially to increase my retirement savings, pay off some debts and then to add even more to my retirement accounts.</p>

	<p>Thanks again for creating a wonderful resource!</p>
	{% endunless %}

	<p class="quote__byline">Candas Barnes</p>
</div>