<a name="caroline_s"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p>My manager said she agrees that my promotion is deserved and that she's going to do whatever she can to help make it happen.</p>
	{% else %}
		<p>I just want to thank you for your guidance throughout this process! <strong>I have been putting off asking for a promotion for at least a year now and I have read so many different articles with advice, but your writing really spoke to me and encouraged me to just go for it.</strong> You provided so much clarity and really simplified this process for those of us who really don't know where to begin.</p>

		<p>I asked for a promotion yesterday and I got great feedback. <strong>My manager was actually so happy to hear of my interest in career growth</strong> (something I have pretty much avoided talking about altogether), <strong>and said she agrees that it is deserved and that she's going to do whatever she can to help make it happen.</strong> So for now, the hard part is done and the end goal is in sight. :)</p>

		<p>I can't thank you enough!</p>	
	{% endif %}

  <p class="quote__byline">Caroline S.</p>
</div>