<a name="caroline_carter"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/caroline_carter.jpg" alt="Caroline Carter">
	<div class="testimonial-content">
	{% if include.short == true %}
	  <p>Josh was super responsive during what can be such a rapid-fire process. <strong>I felt like I was in good hands and could say and do the right things.</strong> I think the part that was most helpful was the template Josh provided that indicated what to say if they came back with a certain offer. <strong>This really took the pressure out of messing up the phone call and optimized for the best outcome.</strong></p>
	{% else %}
		<p>I wanted to maximize my earning potential in a sales role. I also had a complicated situation with vesting equity on the table, as well as some employer matches with regards to 401k and HSA accounts. Even if the package wasn't quite apples to apples, I wanted to make sure that, all in all, I was coming out ahead.</p>

		<p><strong>I wasn't sure how effective the coaching would be or if the salary bump in the final offer would be worth it.</strong></p>

		<p>I imagined that there would be some assistance drafting emails or practicing phone calls with the potential employer. <strong>I was pleasantly surprised at not only how easy it was to work with Josh, but how much I learned along the way.</strong> I felt <strong>I doubly benefitted from the service</strong> not only on the end result, but also because I now better understand how to look at different parts of an offer and pick apart where there might be the most leverage to negotiate. Seeing the way Josh analyzed the base vs. commission vs. signing bonus pieces was helpful because we were able to better guess where there might be negotiation room from the get-go.</p>

		<p><strong>Josh was super responsive during what can be such a rapid-fire process.</strong> I felt like I was in good hands and could say and do the right things. The rapid nature of the negotiating didn't get me to cave on my original counter negotiation price. I think the part that was most helpful was the template Josh provided that indicated what to say if they came back with a certain offer. <strong>This really took the pressure out of messing up the phone call and optimized for the best outcome.</strong></p>

		<p>I ended up negotiating $10,000 more salary, a $5,000 signing bonus, and a more flexible start date. <strong>This outcome meant that I could take a risk in my career (instead of staying put in a job with no growth) without leaving money on the table or taking a step back financially.</strong> Increasing the base salary also meant more guaranteed income for me this year and in future years.</p> 

		<p>It's clear Josh has done this song and dance many times before and could really anticipate what would transpire. <strong>I felt like I was working with an expert and that I could therefore confidently go into the negotiation process.</strong> I can't wait to recommend Josh to friends and to work with him again in the future. He’s wonderful to work with!</p>

		{% endif %}
	</div>
  <p class="quote__byline">Caroline Carter, Account Executive</p>
</div>