<a name="chris"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	{% if include.short == true %}
	<p>I worried I was already at the top of my pay range and couldn't expect much more. <strong>Josh helped me successfully negotiate $40,000 more equity and a $5,000 signing bonus!</strong> This brings me a step closer to building a family safety net. I also feel more confident in my future negotiations and in helping my partner with her upcoming salary negotiations.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I wanted help with salary negation because I thought that my previous negotiation techniques weren't getting me as far as they could. However, I worried I was already at the top of my pay range and couldn't expect much more.</p>

		<p><strong>Josh helped me successfully negotiate $40,000 more equity and a $5,000 signing bonus!</strong> This brings me a step closer to building a family safety net.</p>

		<p>I would have probably gotten some of the increase on my own, but the negotiation techniques and email templates Josh provided helped me hone in on the best offer available. Thanks to his coaching, <strong>I also feel more confident in my future negotiations and in helping my partner with her upcoming salary negotiations.</strong></p>

		<p>What I liked most was Josh’s responsiveness. He answered my emails very quickly and was able to incorporate new information and pivot quickly as well.</p>

		<p>I’d recommend working with Josh and will be sharing my experience with others!</p>
	</div>
	{% endif %}

  <p class="quote__byline">Chris, Senior Security Engineer</p>
</div>