<a name="claire"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	<div class="testimonial-content">
		<p>I wanted to reach out to just say thanks - even being on your listserv and reading some of these anecdotes galvanized me to ask for more and get it. <strong>$115k base + no bonus + 500 RSU turned into $140k base + $15k bonus + $5k relo + 500 RSU.</strong> Big move for me, and has changed my perspective on my worth, getting what I ask for, and bullishness going forward.</p>
		<p>Take care!</p>
	</div>
	
  <p class="quote__byline">Claire, Product Manager</p>
</div>