<a name="cory_trimm"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/cory_trimm.jpg" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>Just shooting you a note to say thank you for the short email course that I flew thru yesterday. After receiving 3 offers, I sent a counteroffer to my top choice and went thru the final offer blog post on your site. <strong>All-in-all, I negotiated an additional $5,000.</strong> I've now sent your site along to a good number of my soon-to-be old coworkers.</p>
	</div>
	
  <p class="quote__byline">Cory Trimm, Consultant</p>
</div>