<a name="cro"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="placeholder image">
  
	{% if include.short == true %}
	<p><strong>I didn't want to get too emotionally involved in the negotiation — not too confident, not too timid.</strong> Having Josh as an experienced coach by my side was an important check on my emotional involvement and I learned a lot about negotiation strategy. <strong>I negotiated for an additional $24,000 and large upside potential in bonuses.</strong> Josh helps you get not only the best deal, but also the fairest one for all parties.</p>
	
	{% else %}
	<div class="testimonial-content">
		<p><strong>I didn't want to get too emotionally involved in the negotiation — not too confident, not too timid.</strong></p>

		<p>I wanted an objective third party who could act as a check on what I was seeing and suggest strategies that made sense for my situation.</p>

		<p><strong>For the price and the potential upside, it seemed like a no-brainer to me to hire Josh.</strong></p>

		<p>Having an experienced coach by my side was an important check on my emotional involvement in the deal. I learned a lot about negotiation strategy from Josh. Most of the time, my strategy was pretty close to what Josh suggested, but it was really informative to see him in action and understand the moves he'd make in the negotiation.</p>

		<p><strong>I negotiated for an additional $24,000 and large upside potential in bonuses, giving me a lot more certainty for our growing family.</strong></p>
		
		<p>I'd recommend working with Josh. <strong>He helps you get not only the best deal, but also the fairest one for all parties.</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">"William", Chief Revenue Officer</p>
</div>