<a name="d"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>My daughter and I took words and verbiage from two or three of the letter samples to make her counter offer just right for her situation. <strong>They came back with another $5,000 per year!</strong> She has accepted.</p>
		
		<p>Thank you for your help,</p>
	</div>

  <p class="quote__byline">D</p>
</div>