<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/d_o.jpg" class="quote__image" alt="D.O., CTO in the fintech space" class="author__image"></p>
    <p class="quote__text"><strong>Using your excellent techniques I was able to push one offer up £18,000, increased my equity and negotiated a better work/life balance as I now work full time from home.</strong></p><br><br>

		<p class="u-left">Just wanted to let you know that since we last spoke I ended up with a choice of two offers from similarly sized companies for the role of CTO. Using your excellent techniques I was able to push one offer up £18,000, increased my equity, and negotiated a better work/life balance as I now work full time from home. I also managed to negotiate a 10% lump sum salary bonus at the end of year 1 based on some goals we both agreed.</p>
		
		<p class="u-left">The greatest value I got from your book was to always set a minimum value so walking away is much easier, never disclose my number first and automatically request 20% more than their first offer while remaining polite and reiterating my value.</p>
		
		<p class="u-left">Interestingly, I actually went with the offer that was less salary due to their hunger to hire me and transparency during the negotiation. Cash is the gift that keeps on giving as you say, however in this instance there was a value on the culture and transparency of your potential employer that was worth a small sacrifice in my opinion.</p>
		
		<p class="u-left">With <em>Fearless Salary Negotiation</em>, I was able to choose the job that provides the best work/life balance <em>and</em> negotiate a higher salary at that job.</p>

    <cite class="quote__byline">D.O., CTO in the fintech space</cite>
  </div>
</blockquote>