<a name="dan"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>I felt super confident having a better framework for understanding the whole negotiation process. <strong>It was such a relief to have insight into how each step of the process would go, instead of blindly falling through it.</strong></p>

		<p>Josh helped me counter more aggressively than I would have while still being polite and reasonable. As a result, <strong>I was able to negotiate $10,000 more in salary and 20% more equity</strong> than I would have gotten otherwise.</p>
	{% else %}
		<p>Before working with Josh, I really didn't know how to infer anything meaningful from the information employers were sharing – like salary ranges – or how to do things like make a solid counter offer. <strong>The coaching service felt like a big investment initially, but as we talked through options, the numbers definitely made sense.</strong></p>

		<p>I felt super confident having a better framework for understanding the whole negotiation process. <strong>It was such a relief to have insight into how each step of the process would go, instead of blindly falling through it.</strong> In the back and forth of the final negotiation, Josh’s advice and scripts helped me stay on track.</p> 

		<p>Josh helped me counter more aggressively than I would have, while still being polite and reasonable. As a result, <strong>I was able to negotiate $10,000 more in salary and 20% more equity than I would have gotten otherwise.</strong></p>

		<p>The conversations I had with Josh helped me step back and ask better questions throughout the final stages of the interview – like getting at why the employer was asking me for certain things, rather than just responding with “yes” or “no”. I believe I’ve started on better footing with my new employer as a result.</p>

		<p>I also now have a much clearer way to think about what the employer wants from a negotiation like this, which gives me useful insight into how they see the employee/employer relationship overall. <strong>I will feel more confident next time I have to negotiate, do a performance review, or ask for a raise.</strong></p>

		<p>I’d absolutely recommend Josh’s coaching to others. As an employee, you get way fewer opportunities to have salary negotiation conversations than the employer does. Leveling the playing field by tapping into Josh’s experience feels like a huge win.</p> 
	{% endif %}
	</div>
	
  <p class="quote__byline">Dan, Lead Data Engineer</p>
</div>