<a name="daniel"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>Josh’s coaching service was a lot of money, but it was worth far more than the cost. <strong>I think the company I was negotiating with was looking at hiring in the $175k range, but I was able to negotiate about $40k over and above that with Josh's help.</strong> Even a small bump in your salary will easily pay for the salary negotiation coaching.</p>
	{% else %}
		<p><strong>“Josh’s coaching service was a lot of money… It was worth far more than the cost.”</strong></p>

		<p>I didn’t really know how to negotiate well, so I reached out to Josh for coaching. I was already looking for a pay rise before this and had been stuck at $135k for a few years. </p>

		<p>Josh’s coaching service was a lot of money. However, seeing Patrick McKenzie (aka Patio11) recommend him went a long way to assuaging my concerns.</p>

		<p>It was worth far more than the cost. <strong>I think the company I was negotiating with was looking at hiring in the $175k range, but I was able to negotiate about $40k over and above that with Josh's help.</strong> With the bump in salary, I’ll be able to pay off our house loan faster and set us up for financial independence earlier than we expected.</p>

		<p>The best part was having someone who had done this lots before as a steady hand to help me interpret what was happening. Josh also helped me build a mental model for how much the company wanted me. I learned so much about negotiation, especially which order to ask for different things (like getting travel details sorted before negotiating salary). I’m now much more comfortable with negotiating my salary in the future and have set myself up for a position of respect in my new job.</p>
		
		<p><strong>I actually hired Josh for a second time when I got my next job offer because I wasn't sure how to negotiate with a big tech company and how to counter regionalized salaries.</strong> Even with how great the result was the first time I hired him, I still had some hesitation around the price of the coaching, as it's quite a lot to pay.</p>
		
		<p><strong>We got another great result – I negotiated $50k more equity over four years and a $15k signing bonus.</strong></p>

		<p>Many people aren't very familiar with the idea of salary negotiation, let alone having someone else help you do it. <strong>It’s a pivotal moment in your career, so it’s worth paying for the best possible chance of getting top compensation. Even a small bump in your salary will easily pay for the salary negotiation coaching.</strong> If someone doesn't think that they could get the very best deal for themselves, <strong>there is probably money on the table that Josh can help pick up.</strong> I’d definitely recommend working with Josh. </p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Daniel, Senior Software Engineer</p>
</div>