<a name="david_hill"></a>
<div class="testimonial">
  <p class="quote__text"><strong>My new job is paying me 15% more than what they initially offered!</strong></p><br><br>
	
	<p class='u-left'>For the first time in my professional career I countered a job offer. And it worked! My new job is paying me 15% more than what they initially offered!</p>
	
	<p class='u-left'>The experience has changed how I think about my career. Now I see that there are possibilities to earn and do more beyond what a particular company is willing to offer me at any particular time.</p>
	
	<p class='u-left'>I honestly don't think I would have ever attempted this without having read <em>Fearless Salary Negotiation</em>.</p>

  <cite class="quote__byline">David Hill, Lead Software Engineer</cite>
</div>