<a name="david_s"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	{% if include.short == true %}
		<p><strong>I got a $5,000 increase in my starting salary by asking!</strong></p>
	{% else %}
		<p>I purchased the Complete Bundle of <em>Fearless Salary Negotiation</em> in preparation for a job search. This weekend I got an offer from a company I liked. <strong>I got a $5,000 increase in my starting salary by asking!</strong> While you have other customers with more spectacular success stories, I am very pleased with a $5,000 increase.</p>
		{% endif %}
  <p class="quote__byline">David S., Software Developer</p>
</div>