<a name="e_l"></a>
<div class="testimonial">
  <p class="quote__text"><strong>A small investment compared to what I had to lose</strong></p><br><br>

	<p class="u-left">It was really helpful to have someone to talk with and get different perspectives and to suggest and improve responses throughout my negotiations. And Josh's responses were always very fast, which is huge during salary negotiations!</p>

	<p class="u-left">Josh offered the right mix of understanding and encouragement while pushing me to keep going to get the best result possible.</p>

  <cite class="quote__byline">E. L., Senior Software Engineer, Red Hat</cite>
</div>