<a name="elizabeth_r"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	{% if include.short == true %}
	<p>I perceived the upfront cost of a strategy session with Josh as really high. I was also worried the advice would be too generic, too geared to large companies, and not informed about startup equity packages. <strong>The advice I received was comprehensive and very precisely tuned to my situation.</strong> I negotiated $5,000 more salary and came away with the confidence I wasn't leaving money on the table.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I was negotiating my salary “against” an old friend and I was worried I wouldn’t advocate strongly enough for my own interests. I wanted to avoid future regrets about having left money on the table.</p>

		<p>I perceived the upfront cost of a strategy session with Josh as really high, especially due to the US dollar to Canadian dollar exchange rate. I was also worried the advice would be <strong>too generic, too geared to large companies, not informed about startup equity packages, and not relevant for Canadian companies and cultural norms</strong>.</p>

		<p>I found the session very much exceeded my expectations. <strong>The advice I received was comprehensive and very precisely tuned to my situation.</strong> Josh listened carefully to all the relevant details and was able to answer all sorts of questions I had about the process. I received excellent strategic and tactical negotiation tips, all of which gave me a major infusion of confidence going into the final stretch. </p>

		<p><strong>I negotiated $5,000 more salary and came away with the confidence that I wasn't leaving money on the table.</strong> I’m going to be able to increase support for some causes I really care about and finally upgrade some furniture and other things in my apartment. </p>

		<p><strong>I wasn't expecting such insightful guidance on how to evaluate whether opportunity made good career sense, which I was concerned about.</strong> Josh’s suggested way of looking at it made the decision much easier and removed a lot of mental friction from the negotiation process.</p>

		<p>Compared with other coaches I have worked with in the past, I found Josh to be extremely quick and sharp. My mind moves pretty fast, so I'm used to having to explain things a lot and slow down. I did not feel like I had to do that during our session, which was super refreshing. It also meant <strong>we were able to cover tons more ground than I was expecting</strong>. I felt like I got three hours of value out of that one-hour call.</p>

		<p>I think for most regular job-hoppers, the idea of working with any kind of salary coach is a new concept. It's definitely something I would recommend after my experience. As Josh mentions in his book, there's just such a huge knowledge and power imbalance in this particular negotiation situation. <strong>Most of us don't realize how the other side is operating which puts us at a tremendous disadvantage.</strong> I would strongly recommend working with Josh specifically for salary negotiation coaching. </p>
	</div>
	{% endif %}

  <p class="quote__byline">Elizabeth R., Senior Product Manager</p>
</div>