<a name="emily_kaneff"></a>
<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/emily_kaneff.jpg" class="quote__image" alt="Emily Kaneff, Software Developer" class="author__image"></p>
  <p class="quote__text"><strong>The extra $6,000 helped me afford my dream apartment in a safe, well-kept area where my family can rest easy.</strong></p><br><br>
	
	<p class="u-left">I ended up getting the job, and I was able to negotiate from them an extra $6,000! I definitely wouldn't have been able to do that without Josh's help!</p>
	
	<p class="u-left">The extra $6,000 helped me afford my dream apartment in a safe, well-kept area where my family can rest easy. It's an apartment that impresses and that I enjoy coming home to!</p>
	
	<p class="u-left">Not only that, but I am less worried about when my student loan payments need to start being paid back because I know I have enough to make my payments.</p>

  <cite class="quote__byline">Emily Kaneff, Software Developer</cite>
</div>
