    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/EricColor.jpg" style="border-radius: 100%" height="100" width="100" alt="Eric Macam" class="author__image"></p>
        <p class="quote__text">Josh’s advice helped me land a <strong>better job</strong> and a <strong>bigger salary</strong> with <strong>more benefits</strong> than I even thought possible.</p>
        <cite class="quote__byline">Eric Macam, Lead Scientist</cite>
      </div>
    </blockquote>