<a name="f_robert"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  <p><strong>I was worried about how to deal with the expected salary question, which led me to do a strategy session with Josh.</strong>{% unless include.short == true %} My main concern was whether the session would deliver a return on investment.{% endunless %}</p>
	
	<div class="testimonial-content">
		<p>It turned out to be a good investment! With Josh’s help, I negotiated an offer with Google for $7,000 higher salary, a $10,000 signing bonus, and $24,000 in equity, which was an offer I was able to accept comfortably.</p>
	
	{% unless include.short == true %}
		<p>What I liked most about the strategy session was getting clear, firm answers to questions. Working with Josh helped increased my confidence in the negotiation process. I also benefited from the PDF materials that were included, especially the email templates.</p> 

		<p>I recommend working with Josh. His services are a good investment, particularly for young professionals. </p>
	{% endunless %}
	</div>
	
  <p class="quote__byline">F. Robert, Google Technical Solutions Consultant</p>
</div>
