<a name="frank_bueckert"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>Just wanted to send you a line and thank you for your book. <strong>It helped me negotiate an extra $10K into a recent offer.</strong> So now I'm making more than ever, moving out of a dead-end job, and continuing to advance my career. The techniques and approaches you provided were incredibly useful.</p>
	</div>
	
  <p class="quote__byline">Frank Bueckert, Senior Software Developer</p>
</div>