<a name="gunner_barnes"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  
	
	{% if include.short == true %}
	<p class="quote__text"><strong>Thanks to your insight, I was able to negotiate a low-ball offer (less than I was currently making) up 27%!</strong></p>
	
	{% else %}
	<div class="testimonial-content">
		<p>Just wanted to say thank you for the resources you provide with respect to salary negotiation.</p>
		
		<p>I've been a software engineer for just over 10 years now, and <strong>despite changing employers 5 times, my current move was the only one where I did any negotiating.</strong> I just didn't know any better before now.</p>
		
		<p><strong>Thanks to your insight, I was able to negotiate a low-ball offer (less than I was currently making) up 27%!</strong> I didn't give a number first (which I'm sure was the reason for the low-ball), but politely asked for a reset.</p>
		
		<p>I possibly still left some money on the table, but they came up above my minimum number, and didn't reduce equity at all to do so. <strong>I'll absolutely be recommending you to everyone I know that is looking to make a move!</strong></p>
		
		<p>Thanks again,</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Gunner Barnes, Software Engineer</p>
</div>