<a name="haripriya"></a>
<div class="testimonial">
  <p class="quote__text"><strong>I didn't negotiate my salary at my last job, and I knew I could do better this time. With Josh's help, I improved my job offer by 10.5% plus an additional $5,000 in stock and a $5,000 signing bonus.</strong></p><br><br>
	
	{% unless include.short == true %}
	<p class="u-left">I was hopeful that my job offer was negotiable, and I just needed professional help to navigate the process. I'm thankful I made the right decision to work with Josh!</p>
	<p class="u-left">I didn't have to wait for his replies to my questions because he was always available and highly responsive throughout my negotiation process.</p>
	<p class="u-left">His team-oriented approach to coaching combined with his experience as a hiring manager made it extremely easy to work with him to get a great result.</p>
	<p class="u-left">He made every effort to listen to everything I had to say and asked lots of questions before we worked together so we had a strong foundation to start from. He patiently explained exactly how the process works, came up with a strategy for my specific situation, and explained the tradeoffs of the different choices we made along the way. We even practiced my negotiation with a mock negotiation call, which was extremely useful!</p>
	<p class="u-left">Josh's help was all I needed to see that all of my hard work so far in my career is valuable, and I'm excited for a new start.</p>
	<p class="u-left">I'm extremely thankful for the terrific support you provided throughout the process. Thanks for being a great coach!</p>
	{% endunless %}

  <cite class="quote__byline">Haripriya Ayyalasomayajula, Software Engineer, Microsoft</cite>
</div>