<a name="haripriya"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
		<img src="{{ site.baseurl }}/images/haripriya_a.jpg" alt="Haripriya A.">
  <p class="quote__text"><strong>I wanted professional assistance for salary negotiation and reached out to Josh.  With Josh's help, I improved my job offer by 10.5% plus an additional $5,000 in stock and a nice signing bonus.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>I was hopeful that my job offer was negotiable, and I just needed professional help to navigate the process. I'm thankful I made the right decision to work with Josh!</p>
		<p>I didn't have to wait for his replies to my questions because he was always available and highly responsive throughout my negotiation process.</p>
		<p>His team-oriented approach to coaching combined with his experience as a hiring manager made it extremely easy to work with him to get a great result.</p>
		<p>He made every effort to listen to everything I had to say and asked lots of questions before we worked together so we had a strong foundation to start from. He patiently explained exactly how the process works, came up with a strategy for my specific situation, and explained the tradeoffs of the different choices we made along the way. We even practiced my negotiation with a mock negotiation call, which was extremely useful!</p>
		<p>I'm very glad that I got Josh's help and I'm excited about a new start.</p>
		<p>I'm extremely thankful for the terrific support you provided throughout the process. Thanks for being a great coach!</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Haripriya A.</p>
</div>