<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/harrison_p.png" class="quote__image" alt="Shannon Long" class="author__image"></p>
    <p class="quote__text">Fearless Salary Negotiation <strong>gave me the confidence to navigate between two offers</strong> with pressing timelines, resulting in a competitive salary and challenging work.</em></p>
    <cite class="quote__byline">Harrison P., Healthcare Development Officer</cite>
  </div>
</blockquote>