    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.baseurl }}/images/harrison_p.jpg" style="border-radius: 100%" height="100" width="100" alt="Holly Stewart" class="author__image"></p>
        <p class="quote__te<strong>xt">Fearless Salary Negotiation </strong>gave me the confidence to navigate between two offers with pressing timelines, resulting in a competitive salary and challenging work.</p>
        <cite class="quote__byline">Harrison P., Healthcare Development Officer</cite>
      </div>
    </blockquote>