<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/holly-stewart-200px-square.jpg" class="quote__image" alt="Holly Stewart" class="author__image"></p>
  <p class="quote__text">Fearless Salary Negotiation was <strong>my go-to guide</strong> while interviewing with multiple companies. <strong>It gave me the confidence I needed</strong> to nail my interviews and land a high paying job on the best possible terms. Without it, I would not have known what to expect from various interviews and recruiters. I can't wait to use it for a promotion or a raise!</p>
  <cite class="quote__byline">Holly Stewart, Product Designer</cite>
</div>