<a name="j_b"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">	
	
  <p class="quote__text"><strong>I negotiated a $300,000 higher RSU grant, $20,000 higher base salary, and $20,000 higher signing bonus.</strong></p>

	{% unless include.short == true %}
	<div class="testimonial-content">		
		<p>Working with Josh, I felt much more confident going into the negotiation because I knew what to expect and got some invaluable insight regarding how recruiters operate, what their motivations are, where wiggle room is more likely to exist, and what is likely to happen at each step.</p>

		<p>I also appreciated learning how to word certain things (for example, how to deflect the salary expectations question, or how to express disappointment about a low initial offer) in a way that addresses all the key points effectively and helps steer the conversation towards a good outcome for both parties.</p>
		
		<p>Josh will be my first call the next time I need to negotiate a job offer.</p>
	</div>
	{% endunless %}

  <p class="quote__byline">J. B., Software Engineer</p>
</div>