<a name="j_d"></a>
<blockquote class="quote">
  <div class="container container--widened">
    <p class="quote__text"><strong>Because of <em>Fearless Salary Negotiation</em> I got an extra $25,000 in salary and doubled my stock grant.</strong></p><br><br>
		
		<p class='u-left'>I purchased <em>Fearless Salary Negotiation</em> several weeks ago a day before my call with the recruiter to start the salary negotiation for a job with a new company. I followed the steps as closely as possible.</p>
		
		<p class='u-left'>Their first offer was $10,000 above my "reach goal" which I had not disclosed. I countered twice and ended up getting an extra $15,000 on top of their first offer. Because of <em>Fearless Salary Negotiation</em> I got an extra $25,000 in salary and doubled my stock grant.</p>
		
    <cite class="quote__byline">J. D.</cite>
  </div>
</blockquote>