<a name="j_g"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">	

	{% if include.short == true %}
  <p class="quote__text"><strong>I purchased your Complete Bundle. It was well worth the investment. I negotiated a new job offer up $15,000 from the initial offer.</strong></p>
	{% else %}
	<div class="testimonial-content">		
		<p>Hi Josh,</p>
		
		<p>I'm writing to say thank you for your work. I first found out about your work through an article linked from the <a href="https://softwareleadweekly.com/" target="_blank">Software Lead Weekly newsletter</a>. Earlier this month, <strong>I purchased your Complete Bundle. It was well worth the investment. I negotiated a new job offer up $15,000 from the initial offer</strong> -- but most importantly, because I had learned from your curriculum not to disclose what I currently made or wanted to make, I suspect that the initial offer that I received was significantly higher on its own than it might otherwise have been.</p>
		
		<p>Gratefully,</p>
	</div>
	{% endif %}

  <p class="quote__byline">J. G., Software Lead</p>
</div>