<a name="j_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>Other salary negotiation material tells you to be aggressive but doesn’t give you tactical ideas to simplify the process.</strong> The Salary Negotiation Crash Course clearly spelled out calculating the aggression factor in a way that was easy to act on. The standard counter template was a godsend.</p>
		
		<p>I closed the offer in a quick call the day after I made my counter.<strong> I got a 25x return on my investment of $97 – thanks Josh!</strong></p>
	{% elsif include.medium == true %}
		<p>I found the crash course at the perfect time because I was just about to start a salary negotiation after a long internal interview process. I was not sure how hard to push and may have let things like company loyalty or the fact that I would be working directly with the recruiter to build out my team if hired affect my choice to counter.</p>

		<p>I looked at a lot of salary negotiation materials and I’ll tell you where this process stands out:</p>

		<ul>
		<li><strong>Focusing on base salary</strong> and not losing sight of that compared to things “in the future”.</li>
		<li><strong>Calculating the aggression factor.</strong> Other material tells you to be aggressive but doesn’t give you tactical ideas to simplify the process. The Salary Negotiation Crash Course really spelled it out clearly in a way that was easy to conceptualize and act on.</li>
		<li><strong>The standard counter template was a godsend.</strong></li>
		</ul>

		<p>I closed the offer in a quick call the day after I made my counter. In the end, I got a 25x return on my investment of $97 — thanks Josh!</p>
	{% else %}
		<p>I found the crash course at the perfect time because I was just about to start a salary negotiation after a long internal interview process. I work for a tech company and the offer was a little complex.</p>

		<p>Since this was an internal promotion, I was not sure how hard to push and may have let things like company loyalty or the fact that I would be working directly with the recruiter to build out my team if hired affect my choice to counter.</p>

		<p>I looked at a lot of salary negotiation materials and I’ll tell you where this process stands out:</p>

		<ul>
		<li><strong>Focusing on base salary</strong> and not losing sight of that compared to things “in the future”.</li>
		<li><strong>Calculating the aggression factor.</strong> Other material tells you to be aggressive but doesn’t give you tactical ideas to simplify the process. The Salary Negotiation Crash Course really spelled it out clearly in a way that was easy to conceptualize and act on.</li>
		<li><strong>The standard counter template was a godsend.</strong></li>
		</ul>

		<p>When I got my first offer, I knew it was above average based on my research. I made a counter based on my aggression factor and put it in the template. The next day, I closed the offer in a quick call. In fact, the hiring manager respected that I countered because I was being hired into a sales role and it showed my business acumen.</p>

		<p>In the end, <strong>I had a 25x return on my investment of $97 — thanks Josh!</strong></p>
	{% endif %}
	</div>
	
  <p class="quote__byline">J.M.</p>
</div>