<a name="james_g"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>I was able to get an additional $5k added to my base by simply asking. That $5k has the potential for another $3.5K in additional performance compensation which is almost $8.5-9k more dollars.</strong></p>
	{% else %}
		<p>I wanted to briefly say thank you for your resources on <em>Fearless Salary Negotiation</em>.</p>

		<p>It was a tremendous help to me in my executive compensation package which was already pretty impressive.</p>

		<p>I didn't accept the initial offer as tempting as it was. I countered with the worksheet. Even though I countered and didn't get my counter, <strong>I was able to get an additional $5k added to my base by simply asking</strong>.</p>

		<p><strong>That $5k has the potential for another $3.5K in additional performance compensation which is almost $8.5-9k more dollars.</strong></p>

		<p>It matters. Thanks for helping take some of the emotion and fear of losing it all out of the process when you get to this stage of the negotiation.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">James G., SVP, Data Technology Executive</p>
</div>