<a name="jamie"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Jamie, Senior Software Engineer, GitHub">
  
	{% if include.short == true %}
	<p>With Josh’s help, I negotiated increased offers from Facebook, Amazon and GitHub.  GitHub was the lowest offer, but they came up quite a lot with a <strong>$25k signing bonus, a $15k increase in salary, and a $32k annual increase in equity</strong>. The offers got close enough to each other that I could decide based on other more intangible factors and choose the opportunity that was the most compelling for me personally.</p>
	{% else %}
	<div class="testimonial-content">
		<p style="text-align: center !important;"><strong>Negotiating job offers at Facebook, Amazon, GitHub and Stripe</strong></p>
		
		<p>I was unsure about negotiation strategy and how aggressive to be. <strong>I was also experiencing a lot of angst about which opportunity was right for me</strong> — which one was a good values fit, which one I would actually be happiest in, what they would actually be willing to pay me and how much that even mattered.</p>
		
		<p>You have a lot of time to overthink things during the negotiation process. Josh helped keep my nervousness to a minimum and helped me feel confident about the tone that I was setting in my interactions with different companies.</p>
		
		<p>I negotiated increases in the offers with three of the four companies. GitHub was the lowest offer, but they came up quite a lot with a $25k signing bonus, a $15k increase in salary, and a $32k annual increase in equity.</p>
		
		<p>The offers got close enough to each other that I could decide based on other more intangible factors. <strong>I think without Josh's help, I wouldn't have been able to narrow that gap and be able to even think about the ultimately more important factors</strong> of where I actually want to work, what I want to devote my efforts to, what I want the next chapter of my career to be oriented around. <strong>I was able to choose the opportunity that was the most compelling for me personally.</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Jamie, Senior Software Engineer, GitHub</p>
	<br>
	<div class='guide-link'>
		<p><strong>Read the complete case study to see how we did it</strong></p>
		<p><a href="/case-studies/github-senior-software-engineer-jamie/">Case Study: Helping a Senior Software Engineer negotiating multiple job offers at four major tech companies →</a></p>
	</div>
</div>