<a name="jane"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>The biggest risk is not taking any risk.</strong> Most of my friends were reluctant for me to work with a salary negotiation coach. They thought I was crazy because I had to pay a lot in fees for the service. However, I took a risk and guess what? I received more money from the company than I expected. For my first year, I am receiving $35,000 more for my sign-on bonus and a few thousand more in equity.</p>
	{% else %}
		<p>The biggest risk is not taking any risk. <strong>Most of my friends were reluctant for me to work with a salary negotiation coach.</strong> Josh's initial fee of $3,000 was high and there was no guarantee that I could get the good result. I saw the value, but when I asked my friends about it, they thought I was crazy because I had to pay a lot in fees for the service.</p>
		<p><strong>However, I took a risk and guess what? I received more money from the company than I expected.</strong> For my first year, I am receiving <strong>$35,000 more for my sign-on bonus and a few thousand more in equity</strong>. Since Josh has a lot of negotiation experiences with FAANG, he knew where I am in the level and how we can approach the negotiation. With him, I could have the courage to ask the company to give me more money. I liked how quickly Josh responds and the email he wrote for me about how I can answer the recruiter.</p>
		<p>Thank you, Josh. I would not have done it by myself. I will work with you if I get a job offer at a FAANG company or other big tech company like Microsoft in the future.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Jane, Sr. Product Manager – Technical, Amazon</p>
</div>