<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/jared_allen.jpg" class="quote__image" alt="Shannon Long" class="author__image"></p>
  <p class="quote__text"><strong>I made an additional $8,000 in base salary</strong> and landed a better job thanks to the interview and salary negotiation strategies I learned from Fearless Salary Negotiation! Now I can do more boring things like save for retirement, and fun things like travel more.</em></p><br><br>
	
  <cite class="quote__byline">Jared Allen, Senior Software Developer</cite>
</div>