<a name="jared_allen"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/jared_allen.jpg" alt="Jared Allen, Senior Software Developer"/>
  <p class="quote__text"><strong>I made an additional $8,000 in base salary</strong> and landed a better job thanks to the interview and salary negotiation strategies I learned from <em>Fearless Salary Negotiation</em>! Now I can do more boring things like save for retirement, and fun things like travel more.</p>
	
  <p class="quote__byline">Jared Allen, Senior Software Developer</p>
</div>