<a name="jeff_yang"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>I have read through the first four chapters of <em>Fearless Salary Negotiation</em> thoroughly. It helped me a lot with understanding the salaries and the game behind it. <strong>Utilizing the strategies and email templates, I successfully landed a 10% raise in the total compensation I got!</strong></p>
	</div>
	
  <p class="quote__byline">Jeff Yang, Software Engineer</p>
</div>