<a name="jennifer_b"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p><strong>It worked!</strong> And Quickly at that!!!! I am so happy I purchased your complete set. I utilized the market value, the worksheet for my aggression factor! <strong>I countered and was able to secure a base increase of another 2.5% and a sign on bonus of 7% of base pay.</strong> I was so ready for the final discussion that I truly feel that is what made it go so well. What a wonderful tool, I will definitely be recommending so many people to utilize your book and materials! </p>
	</div>
	
  <p class="quote__byline">Jennifer B., Supply Manager</p>
</div>