<a name="jeremy"></a>
<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/jeremy.jpg" class="quote__image" alt="Jeremy, Front End Web Developer"></p>
  <p class="quote__text"><strong>I just landed a new remote position with a significantly higher salary than I was making before.</strong></p><br><br>
	
	{% unless include.short == true %}
	<p class="u-left">I talked with several companies, growing as a developer and learning from each new opportunity. As I encountered new questions, I was able to use Josh’s techniques to give better and better answers and portray myself as <em>the</em> front end software developer they were looking for.</strong></p>
	<p class="u-left">I used a lot of the advice I have read in Josh's newsletter, on the Interview Cheat Sheet, and in his Kalzumeus podcast episode, and it the positioning material—how I could provide value to the company, how I could become effective the day I started—that got companies fired up about me the most.</p>
	<p class="u-left">Once I got this offer, I even used his lowball salary negotiation technique to significantly improve it. Thank you from my two kids, my fiancee, and I 🙂</p>
	{% endunless %}

  <cite class="quote__byline">Jeremy, Front End Web Developer</cite>
</div>