<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/john_li.jpeg" class="quote__image" alt="John Li, Android Software Engineer" class="author__image"></p>
    <p class="quote__text"><strong>I needed a plan to request a raise at my current company, but I wasn't sure where to start.</strong></p><br><br>

		<p class="u-left">This class walked me through a simple process to prepare my case and ask for a raise. Each module had specific action items for me to make steady progress, and I got feedback on my work plus great answers to my questions every step of the way.</p>

		<p class="u-left">I needed a push and a process, and this class gave me both. I'm definitely recommending the class to my friends.</p>

    <cite class="quote__byline">John Li, Android Software Engineer</cite>
  </div>
</blockquote>