<a name="john_li"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/john_li.jpeg" alt="John Li, Senior Android Engineer, Twitter">

	<div class="testimonial-content">
	{% if include.short == true %}
		<p><strong>Josh’s course helped me practice and get comfortable with salary negotiation and has really changed my life for the better.</strong> I needed a push and a process, and this course gave me both. When I started the course, I was earning $75k. I’ve used what I learned in this course again and again over the last four years to <strong>negotiate several compensation increases ranging between $15k and $40k/year</strong>. It’s been a huge part of reaching where I am today—<strong>earning 400% more in total compensation</strong> than when I first took the course.</p>
		{% else %}
		<p>I’ve used the skills and techniques I learned in this course <strong>again and again over the last four years</strong>. It’s been a huge part of reaching where I am today<strong>—earning 400% more in total compensation</strong> than when I first took the course.</p>

		<p>When I first started the course, I was earning $75k. <strong>I wanted a raise, but didn’t know where to start.</strong> Josh’s course walked me through a simple process to prepare my case and ask for a raise. Each lesson had specific action items for me to make steady progress, and I got feedback on my work plus great answers to my questions every step of the way.</p>

		<p>Since taking the course, <strong>I’ve negotiated several compensation increases ranging between $15k and $40k/year at different companies</strong>. At one role, negotiating helped me reach $210k/year in total compensation, which was the top-of-band salary and stock offered. Most recently, I negotiated for an extra $40k in RSUs before accepting an offer with Twitter.</p>

		<p><strong>Josh's course has helped me practice and get comfortable with salary negotiation and it has really changed my life for the better.</strong> I needed a push and a process, and this course gave me both.</p>
	{% endif %}
	</div>

  <p class="quote__byline">John Li, Senior Android Engineer, Twitter</p>
</div>