<a name="jordan_l"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p lass="quote__text"><strong>I followed all of your advice to the letter, and it really paid off.</strong></p>
	{% else %}
	<div class="testimonial-content">
		<p>Hello Josh,</p>

		<p>I know this email is a bit out of the blue, as I've actually never spoken to you before, but I just felt compelled to reach out to you and say thank you so much. For what, you ask? For providing amazing, free content.</p>

		<p>I'm not in a position right now to hire you for your services, but I read every email you send out and have to say that every one is worthwhile. You to a great job providing quality content!</p>

		<p>Because of your emails, I had the courage to ask my boss for a raise. I was the lowest paid developer on staff (63,000) and I knew my work was worth much more. So I made my case, and when my boss asked what I wanted raised to, I told him I wanted 100% of the mid market value for my position. A couple weeks later, I got notification that a raise was approved for the amount I asked for, which was a 23% increase! <strong>I followed all of your advice to the letter, and it really paid off.</strong></p>

		<p>So thank you so much for being awesome. This is the only mailing list I have ever been glad to be on ☺️.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Jordan L.</p>
</div>