<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/JoshKaufman-profile-2.jpg" class="quote__image" alt="Josh Kaufman" class="author__image"></p>
    <p class="quote__text">Salary negotiation doesn't have to be scary - it's a skill you can learn, practice, and improve. Read Fearless Salary Negotiation, take notes, then follow Josh Doody's step-by-step negotiation process. Your future self will thank you.</p>
    <cite class="quote__byline"><a href="http://twitter.com/joshkaufman">Josh Kaufman</a>, best selling author of <a href="https://personalmba.com"><em>The Personal MBA</em></a> and <a href="https://first20hours.com"><em>The First 20 Hours</em></a></cite>
  </div>
</blockquote>