<a name="josh_thompson"></a>
<div class="testimonial">
	<img src="{{ site.baseurl }}/images/josh_thompson.jpg" alt="Josh Thompson">
  <p class="quote__text"><strong>They came back with an almost $25,000 per year raise, which was way more than I would have even imagined would have happened.</strong></p>

	{% unless include.short == true %}
	<p class="u-left">I got a promotion at work, but when I asked about a raise attached to it, didn’t get a clear answer. So, I set up a quick meeting with our head of HR, and using Josh’s framework for finding a range of salaries for similar roles at other companies, I just presented that to our HR director. I even said “I know the role I fill differs from the exact roles associated with these salaries, so I’m eager for your insight and direction on how to make sure that I’m at market rates for the work I’m doing.”</p>

	<p class="u-left">I made a case for how projects I’ve worked on and accomplished showed outsized impact in the work I was doing, and pretty much copied Josh’s email scripts word for word. I never even explicitly asked for a raise - I just discussed “total compensation”, and “market rates for the work I’m doing”.</p>
	
	<p class="u-left">After a week or two of discussing internally, they came back with an almost $25,000 per year raise, which was way more than I would have even imagined would have happened. </p>
	
	<p class="u-left">All thanks to Josh and the framework he gave me. So, the ROI of his book, in my life, is something like 428,000%.</p>
	{% endunless %}
	
  <p class="quote__byline">Josh Thompson</p>
</div>