<a name="josh_j"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p><strong>The value added by working with Josh is clearly more than the cost of his service.</strong> I negotiated a higher compensation package with $8,000 in additional base salary. The company also set the expectation that I would be promoted (performance pending) within a year to a staff engineer position with a higher pay band ranging from $175,000 to $195,000. </p>
	{% else %}
		<p>I wondered whether $3,000 of additional compensation would be added to my offer, beyond what I could negotiate myself using the tips in Josh’s book. </p>

		<p><strong>The value added by working with Josh is clearly more than the cost of his service.</strong> I negotiated a higher compensation package with $8,000 in additional base salary. The company also set the expectation that I would be promoted (performance pending) within a year to a staff engineer position with a higher pay band ranging from $175,000 to $195,000. </p>

		<p><strong>Having someone with more experience walk me through the process has given me the confidence to do this on my own next time and be more aggressive than I would have been otherwise.</strong></p>

		<p>During our kick-off call, Josh said something to the effect of "I can't control how much money they will pay you, but we will definitely find out the maximum they are willing to pay you". I found that very compelling. I was able to learn the pay band of a staff engineer during the negotiation. Recruiters and employees made several other disclosures regarding market conditions in Los Angeles that were not obvious to me at the outset, including what a reasonable base salary is for a larger company and how competitive the market for software engineers is right now. </p>

		<p>I’d recommend working with Josh. I'm unaware of any competitors with Josh’s reputation as a salary negotiation coach. </p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Josh J., Senior Software Engineer</p>
</div>