<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/josh_c_thumbnail.jpg" class="quote__image" alt="Josh Kaufman" class="author__image"></p>
    <p class="quote__text">Using techniques from Fearless Salary Negotiation—along with the included email templates and worksheets—I accepted a new job after getting <strong>my salary increased by $20K</strong> from the original offer <strong>along with an extra week of vacation</strong>! I had <strong>the confidence to go in with a strong negotiating position</strong> based on the knowledge I gained from the book.</p>
    <cite class="quote__byline">Josh C., Senior Business Development Executive</cite>
  </div>
</blockquote>