<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/JoshKaufman-profile-2.jpg" class="quote__image" alt="Josh Kaufman" class="author__image"></p>
  <p class="quote__text">Salary negotiation doesn't have to be scary - it's a skill you can learn, practice, and improve. Read Fearless Salary Negotiation, take notes, then follow Josh Doody's step-by-step negotiation process. Your future self will thank you.</p>
  <cite class="quote__byline">Josh Kaufman, best selling author of <em>The Personal MBA</em> and <em>The First 20 Hours</em></cite>
</div>