    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/josh_c_thumbnail.jpg" style="border-radius: 100%" height="100" width="100" alt="Josh Kaufman" class="author__image"></p>
        <p class="quote__text">Using techniques from Fearless Salary Negotiation—along with the included email templates and worksheets—I accepted a new job after getting <em class='u-highlight'>my salary increased by $20K</em> from the original offer <em class='u-highlight'>along with an extra week of vacation</em>! I had <strong>the confidence to go in with a strong negotiating position</strong> based on the knowledge I gained from the book.</p>
        <cite class="quote__byline">Josh C., Senior Business Development Executive</cite>
      </div>
    </blockquote>