<a name="josh_c"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/josh_c_thumbnail.jpg" alt="Josh C.">
  <p class="quote__text">Using techniques from Fearless Salary Negotiation—along with the included email templates and worksheets—I accepted a new job after getting <strong>my salary increased by $20K</strong> from the original offer <strong>along with an extra week of vacation</strong>! I had <strong>the confidence to go in with a strong negotiating position</strong> based on the knowledge I gained from the book.</p>
  <p class="quote__byline">Josh C., Senior Business Development Executive</p>
</div>