<a name="julian_diaz"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/julian_diaz.jpg" alt="Julian Diaz, Software Engineer, Google">
  
	{% if include.short == true %}
	<p>The $3000 upfront fee was my biggest concern about hiring Josh. I was worried that maybe Google would be unwilling to negotiate or perhaps even rescind the offer and I would end up with nothing. <strong>I ended up negotiating more equity</strong> (and it more than covered the coaching fee). I know that I got the best possible offer. I also learned about negotiation strategy and how to handle this situation in the future. </p>
	{% else %}
	<div class="testimonial-content">
		<p>I had no experience with negotiating. I felt that Google had the upper hand since they have more data and I need the job more than they need me. I didn't know what to expect from the negotiation and was unsure how I would respond to my recruiter's questions.</p>
		
		<p>The $3000 upfront fee was my biggest concern about hiring Josh. <strong>I was worried that maybe Google would be unwilling to negotiate or perhaps even rescind the offer and I would end up with nothing.</strong> I understand that this is extremely unlikely, but it was still a fear that I had.</p>
		
		<p>Working with Josh went well! <strong>I ended up negotiating more equity</strong> (and it more than covered the coaching fee). Although Google was unable to budge as much as I expected, <strong>I know that I got the best possible offer</strong>. It was the first time I was able to increase my total compensation, so that's a big stepping stone as I know I have a long career ahead and will need to do this again at some point. I learned about negotiation strategy and how to handle this situation in the future. I also found that I learned more about the value I will bring to the company and what I'm valued within the market.</p>
		 
		<p>I liked that <strong>Josh viewed things from Google's perspective</strong> when deciding how to negotiate and what to ask for. <strong>I also liked that he was strategizing all along and was prepared for whatever scenarios could come up.</strong> I would definitely recommend Josh to other software engineers that have offers from tech companies.</p>
		
	</div>
	{% endif %}
	
  <p class="quote__byline">Julian Diaz, Software Engineer, Google</p>
</div>