    <blockquote class="quote">
      <div class="container container--widened">
				<p><img src="{{ site.url }}/images/Abrahms-color-200px-square.jpg" style="border-radius: 100%" height="100" width="100" alt="Justin Abrahms" class="author__image"></p>
        <p class="quote__text">Thanks to <strong>Fearless Salary Negotiation</strong>, I was able to <em class='u-highlight'>earn another $11,000</em> with a single email. This is the most valuable email I've ever sent, and I wouldn't have sent it if it wasn't for Fearless Salary Negotiation.</p>
        <cite class="quote__byline">Justin Abrahms, Senior Software Engineer</cite>
      </div>
    </blockquote>