<a name="justin_abrahms"></a>
<div class="testimonial">
	<img src="{{ site.baseurl }}/images/Abrahms-color-200px-square.jpg" alt="Justin Abrahms, Senior Software Engineer">
  <p class="quote__text">Thanks to Fearless Salary Negotiation, I was able to <strong>earn another $11,000</strong> with a single email. This is the most valuable email I've ever sent, and I wouldn't have sent it if it wasn't for Fearless Salary Negotiation.</p>
  <p class="quote__byline">Justin Abrahms, Senior Software Engineer</p>
</div>