<a name="taylor"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/justin_garrison.jpg" alt="Justin Garrison, L6, Amazon">
  
	{% if include.short == true %}
	<p>I've never negotiated an extra dollar for myself in any job offer or raise, and I had tried a couple times before. <strong>The fact that Josh helped me get an additional $74,000 was amazing.</strong> It wasn't unexpected to get more money, but it was unexpected to get that much more money.</p>
	
	{% else %}
	<div class="testimonial-content">
		<p>I've never negotiated an extra dollar for myself in any job offer or raise, and I had tried a couple times before.</p>

		<p>Having a third party actually validate my concerns was more helpful than I expected. I couldn't get that from most of my friends and family because they are either co-workers or people not familiar with the industry.</p>

		<p><strong>There's a lot of anxiety and it can feel like there's deadlines and urgency to making decisions and communicating back, even if it's not necessarily the case.</strong> With Josh, there was a lot of strategic planning around how to time responses properly and when to take a phone call versus send an email. Both of those things I think worked out to help me get the best outcome.</p>

		<p><strong>The fact that Josh helped me get an additional $74,000 was amazing. It wasn't unexpected to get more money, but it was unexpected to get <em>that much</em> more money.</strong> I definitely would not have been able to get the offer I did without Josh's help.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Justin Garrison, Software Development Advocate, Amazon </p>
	<br>
	<div class='guide-link'>
		<p><strong>Read the complete case study to see how we did it</strong></p>
		<p><a href="/case-studies/amazon-l7-justin/">Case Study: Helping Justin get an enticing L6 offer from Amazon  →</a></p>
	</div>
</div>