<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/Abrahms-color-200px-square.jpg" class="quote__image" alt="Justin Abrahms" class="author__image"></p>
    <p class="quote__text">Thanks to Fearless Salary Negotiation, I was able to <strong>earn another $11,000</strong> with a single email. This is the most valuable email I've ever sent, and I wouldn't have sent it if it wasn't for Fearless Salary Negotiation.</p>
    <cite class="quote__byline">Justin Abrahms, Senior Software Engineer</cite>
  </div>
</blockquote>