<a name="k_k"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="K.K., Software Engineer, Google">
  
	{% if include.short == true %}
	<p class="quote__text"><strong>I wanted to negotiate without the risk of getting an offer rescinded.</strong> I had successful negotiations with two companies (one of which was Google) to raise the offers past what was originally offered – $2000 more in salary at one and a $10,000 signing bonus at the other. Having Josh as a coach gave me <strong>reassurance after every engagement with a company that everything was going alright despite my own perceptions</strong>. </p>
	
	{% else %}
	<div class="testimonial-content">
		<p><strong>I reached out to Josh because I wanted to negotiate without the risk of getting an offer rescinded.</strong> There was some implicit “stranger danger” in hiring a random person on the internet with a website that could say anything in terms of reviews from others.</p>

		<p>I gained meaningful experience in seeing how negotiations work across different companies (provided they're willing) as well as a review-able history to perform the same actions again. I am now less worried of negotiating for future opportunities.</p>

		<p>In the end, <strong>I had successful negotiations with two companies (one of which was Google) to raise the offers past what was originally offered</strong> – $2000 more in salary at one and a $10,000 signing bonus at the other. I ended up happily accepting Google’s offer. </p>

		<p>Having Josh as a coach gave me <strong>reassurance after every engagement with a company that everything was going alright despite my own perceptions</strong>. </p>

		<p>Having someone else there who's as dedicated to the result as you are of this uncommon occurrence of negotiating (especially someone who's seen many varied situations) is essential just so you aren't left to your own thoughts and methods.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">K.K., Software Engineer, Google</p>
</div>