<a name="k_s"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="K.S., Software Engineering Manager">
  
	{% if include.short == true %}
	<p class="quote__text"><strong>I wanted to maximize offer value and come off as a professional when asking for more money.</strong> I wasn't sure if I'd get an ROI from hiring Josh, given the high cost.</p>
	
	<p>Josh gave me great email drafts and talking points. <strong>I negotiated $75k more in salary and a $25k bonus.</strong> It’s good to know I’m valued at the company and helps with my motivation.</p>
	
	{% else %}
	<div class="testimonial-content">
		<p><strong>I wanted to maximize offer value and come off as a professional when asking for more money.</strong> I wasn't sure if I'd get an ROI from hiring Josh, given the high cost; probably wouldn't have done it if not for Patrick McKenzie (patio11) recommending Josh's service.</p>
		
		<p>I'm glad I did. Josh gave me great email drafts and talking points. <strong>I negotiated $75k more in salary and a $25k bonus.</strong> It’s good to know I’m valued at the company and helps with my motivation.</p>
		
		<p>I'd recommend Josh’s service. <strong>I think it has a good EV (expected value) for high earners.</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">K.S., Software Engineering Manager</p>
</div>