<a name="leonardo"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">

	<div class="testimonial-content">	
	{% if include.short == true %}
		<p>I weighed the cost/benefit of hiring Josh. <strong>There are other far less expensive options and I believe I could have done pretty well negotiating myself, but you tend to “get what you pay for”.</strong></p>

		<p>The process was enjoyable, Josh was quick to help, and the results were strong.  I ended up with <strong>a $50k+ increase in compensation year one</strong> and I have a good four-year outlook that I’m happy with.</p>
	{% else %}
		<p>I was switching industries and was worried about dealing with a totally different comp package at Amazon.</p>

		<p>I weighed the cost/benefit of hiring Josh. <strong>There are other far less expensive options and I believe I could have done pretty well negotiating myself, but you tend to “get what you pay for”.</strong> In our preliminary calls, Josh added a lot of value and insight at no cost, which showed who he was as a person and ultimately made me want to work with him.</p>

		<p>It went great! The process was enjoyable, Josh was quick to help, and the results were strong. <strong>I ended up with a $50k+ increase in compensation year one and I have a good four-year outlook that I’m happy with.</strong></p>

		<p>I'd recommend hiring Josh to help with salary negotiation because of his knowledge, approach, and depth of experience with Amazon.</p>
	{% endif %}
	</div>
	
  <p class="quote__byline">Leonardo, Senior Manager, Amazon</p>
</div>