<a name="mark_o"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p>Josh’s pricing was significantly higher than anyone else, but it turned out to be just what I was looking for. <strong>With his advice, I negotiated $28,000 more salary and $30,000 more signing bonus.</strong> His responsiveness was really great during this process and probably one of the key reasons I'd recommend him as a coach.</p>
	{% else %}
		<p>I looked for salary negotiation coaching after I received an initial job offer that was significantly below anything acceptable to me. <strong>Josh’s pricing was significantly higher than anyone else, but it turned out to be just what I was looking for.</strong></p>
		<p>Josh gave me a comprehensive strategy for approaching the negotiation and support deploying this strategy through email and verbal communication. His responsiveness was really great during the process and probably one of the key reasons I'd recommend him.</p>
		<p><strong>With Josh’s advice, I negotiated $28,000 more salary and $30,000 more signing bonus.</strong></p>
		<p>I had a great experience working with Josh and would absolutely recommend him to others. Why? Speaking for myself, I am an Engineer and I am good at that. Salary negotiation is a skill that I do not possess and though I might be able to develop it, <strong>soliciting the help of an experienced professional gave me an ally with tremendous knowledge</strong> of the ins and outs of the process. <strong>It took the stress out of the process for me</strong> and gave me confidence that I would get the best out of the negotiation.</p>		
	{% endif %}

  <p class="quote__byline">Mark O.</p>
</div>