<a name="mark_girgis"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/mark_girgis.jpg" alt="Mark Girgis, Federal Contracts Manager">
  <p class="quote__text"><strong>Your book helped me negotiate an additional $10k to my salary offer!</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>Hi Josh,</p>
		
		<p>I wanted to take the opportunity to thank you!</p>
		
		<p>Last year, I transitioned from the Marine Corps after 21 years of service. I was seeking my first corporate job and had no idea what to expect in terms of salary negotiations and was also concerned whether or not I'd receive an offer that truly valued my experience as a leader and my skills as a Federal Contracts Manager.</p>
		
		<p><strong>Your book not only helped me with expectations during my transition, but it also contributed to a $10k salary increase when I received my first offer letter, plus an additional $2k sign on bonus.</strong> And it didn't stop there! Because I was able to negotiate what I felt was a reasonable salary at the time, I've since moved on to another opportunity where an offer was made higher than my original salary and it was because the company knew that they wanted to hire me and I wouldn't take anything less than what I was already making. But don't worry...........I never revealed my salary during negotiations. Your book taught me how to play cat & mouse in a way where I leveraged the opportunity to my advantage and succeeded in not only getting the job I wanted, but also being paid fairly for it.</p>
		
		<p><strong>I have been recommending your book to all of my fellow Veterans who are in the midst of making the same transition that I did. When asked, "what was the best advice you received during your transition", my reply is always to read <em>Fearless Salary Negotiation</em></strong>.</p>
		
		<p>Thank you,</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Mark Girgis, Federal Contracts Manager</p>
</div>