<a name="martin"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p>I’d heard the company I wanted to join made strong but fairly inflexible offers, and so I thought there may not be enough room to negotiate to make up for the up-front coaching fee. But I decided to work with Josh anyway and got a great outcome. The company made a strong initial offer and <strong>with Josh's help, we added an additional $100k in bonuses — a $50k signing bonus and a $50k second-year bonus</strong>.</p>
	{% else %}
	<div class="testimonial-content">
		<h3 class='u-center'>"I was feeling uncertain..."</h3>
		<p>I was feeling uncertain about establishing a fair market price for my fairly senior and specialized skill set. The market seems pretty strong but just how strong is hard to tell. My other concern was whether I should make the significant investment of time and energy to bring multiple prospects to the point of making an offer or instead concentrate first on my preferred choice.</p>
		
		<p><strong>I'd heard that my most preferred option made strong but fairly inflexible offers, and so I thought there may not be enough room to negotiate to make up for the up-front coaching fee.</strong> And, where the company tended to move, it seemed to be primarily through a signing bonus, which would make Josh's performance fee relatively more expensive compared to, for example, an improvement in ongoing salary. I had also previously read Josh's book and it was good but most of the advice was not new to me, although I found the formula for counteroffers was novel and very good.</p>

		<h3 class='u-center'>A $100k improvement</h3>
		<p>Despite these hesitations, I decided to work with Josh and got a great outcome. The company we negotiated with made a strong initial offer: over the next 4 years it may be worth $1M+ more than my current job. <strong>With Josh's help, we added an additional $100k in bonuses — a $50k signing bonus and a $50k second-year bonus.</strong></p>
		
		<p>I think given their strong need for someone with my skill set and information that I previously had about how they structured their offers, I might have got the second-round offer (+$80k) out of them without Josh's assistance. But <strong>I don't think I would have had the confidence to stick in for the third round</strong>, which gave an additional $20k improvement. So one way to look at it is that I paid Josh $8k to get a $20k improvement beyond the likely alternative case, which is still very positive.</p>
		
		<p>I appreciated a lot of things about Josh's coaching, including:</p>
		
		<ul>
			<li>His <strong>insights into the likely mindset or position of our counterparty</strong> and additional information about other offers he had seen from the company.</li>
			<li><strong>Getting assurance</strong> that my current employer was a reasonable BATNA and therefore it was not necessary to do the more complicated work of trying to get multiple simultaneous offers.</li>
			<li>Josh's <strong>positive, reassuring, competent</strong> manner.</li>
			<li>The <strong>prompt to restate my qualifications</strong> for the job when asking for an improved offer, which probably worked well but definitely felt uncomfortably immodest to me.</li>
			<li>The <strong>structure of suggested emails</strong> that I could rewrite into my own voice.</li>
		</ul>
		
		<p>Now that it's all settled, I think this will be a very good, energizing and refreshing step in my career. I had some hesitation about walking away from my current job, but <strong>knowing that I got a good deal and having additional compensation for RSUs I'm walking away from helped me decide to make the change</strong>.</p>
		
		<p>I would recommend Josh to a friend, for all the reasons I mentioned. <strong>In higher pay ranges, the fee is moderate compared to the amounts at stake.</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Martin, Staff Software Engineer, a fintech unicorn</p>
</div>