<a name="mike"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p lass="quote__text">Before I hired Josh, I thought, "I've watched all of his Youtube videos, what's the value add of actually working with him?" <strong>I doubt I would have had the confidence to make a 20% counteroffer without walking through Josh's process with him.</strong> On top of gaining more financial freedom and the freedom to relocate, I'm confident that I'm not leaving money on the table.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I wasn't sure how to effectively counteroffer. Before I hired Josh, I thought, <strong>"Why don't I just use his free email templates? I've watched all of his Youtube videos, what's the value add of actually working with him?"</strong></p>
 
		<p>It went great! It was very helpful to rehearse and bounce ideas off of someone else. <strong>I doubt I would have had the confidence to make a 20% counteroffer without walking through Josh's process with him.</strong> Josh provided excellent and thorough service, and I appreciated how organized he was.  I was juggling a few different timelines, and Josh worked with me on each of the positions and gave me the language to help expedite the different timelines.</p> 
 
		<p><strong>With Josh's help, I negotiated $5K more base salary, $5K more annual bonus, and the freedom to relocate.</strong> I know that I'm not leaving money on the table, and I'm confident to help friends negotiate their own job offers. </p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Mike, Software Engineer</p>
</div>