<a name="mike"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p lass="quote__text">Before I hired Josh, I thought, "Why don't I just use his free email templates? Is it really going to be worth it?" <strong>I doubt I would have had the confidence to counter at 20% without walking through Josh's process with him.</strong> On top of gaining more financial freedom and the freedom to relocate, I don't feel like I'm leaving any money on the table.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I wasn't sure how to effectively counteroffer. Before I hired Josh, I thought, <strong>"Why don't I just use his free email templates? Is it really going to be worth it?"</strong></p>
 
		<p>It went great! It was very helpful to rehearse and bounce ideas off of someone else. <strong>I doubt I would have had the confidence to counter at 20% without walking through Josh's process with him.</strong> I really appreciated the service as I juggled multiple timelines (especially around the holidays). Josh worked with me on each of the positions I was considering and helped expedite the different timelines.</p> 
 
		<p><strong>I negotiated 5K more base salary and 5K more annual bonus. Josh also continued to work with me to secure relocation.</strong> On top of gaining more financial freedom and the freedom to relocate, I don't feel like I'm leaving any money on the table and I now have the confidence to negotiate and help others do the same.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Mike, Software Engineer</p>
</div>