<a name="mithila_n"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p lass="quote__text"><strong>Using your template and modifying it to suit me, I was able to get 22k more than what they offered.</strong></p>
	{% else %}
	<div class="testimonial-content">
<p>Hi Josh,</p>

<p>I wanted to let you know, your email template helped me land a job. I was a small business owner for past 6 years and since last year was on the downfall and Covid 19 was the final nail. I started applying for jobs because I have business line of credit loan and office building construction loan. <strong>Getting this job was necessary.</strong></p>

<p>I started applying for jobs and had an interview last week. I got an offer on Monday which was 20k below my expected range. I was not sure how to respond back, so I googled for counter offer letter and your link came up. <strong>Using your template and modifying it to suit me, I was able to get 22k more than what they offered.</strong> I start my new job next week.</p>

<p>So from the bottom of my heart THANK YOU. You are providing a great service.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Mithila N.</p>
</div>