<a name="natalie_m"></a>
<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/natalie_m.jpg" class="quote__image" alt="Natalie M., Manager of Administration and Finance" class="author__image"></p>
    <p class="quote__text"><strong>At first it seemed pricey, but it was absolutely worth it.</strong></p><br><br>

		<p class="u-left">It was a breeze scheduling my strategy session with Josh. And it gave me a sense of confidence I've never had before when going into both a job interview and negotiation process. We were able to touch on everything from very small, specific questions I had, to large questions that have implications on my overall career and reputation.</p>

		<p class="u-left">Three great benefits of my strategy session were:</p>
		
		<ol class="u-left">
			<li>Josh validated some of the decisions I've made up to this point.</li>
			<li>Josh empowered me to be able to make my own decisions about the negotiation process when it comes.</li>
			<li>Josh didn't sugar coat his feedback to me when I answered a practice interview question, which was great.</li>
		</ol>
		
		<p class="u-left"><strong>I'd strongly recommend working with Josh.</strong> I'm glad I did so relatively early on in my career so I can apply what I learned throughout my career. That being said, I'm confident that even the most seasoned professional could stand to learn something from a session with him.</p>

    <cite class="quote__byline">Natalie M., Manager of Administration and Finance</cite>
  </div>
</blockquote>