<a name="nick_c"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businessman.png" alt="Placeholder image"><p class="quote__text"><strong>I was able to negotiate up from an original offer for a contract position at $30/hr (about $62,000/yr) with no benefits to a direct-hire Senior Chemist position paying $76,000/year plus overtime.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
	<p>I must thank you for the email templates. I am not your typical client, but I have been able to use many of your templates during my job search and they have been very helpful. </p>

	<p>I have had to <strong>decline a few offers</strong>, <strong>respond to a low-ball offer</strong>, and <strong>negotiate an offer while another offer was on the table</strong>--all using advise from your articles and email templates. </p>

	<p>I will recommend your help to friends!</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Nick C., Pharmaceutical Chemist, B.S. in Biochemistry</p>
</div>