<a name="p_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  <p class="quote__text"><strong>My employer adjusted my comp today to $160k. So $123k to $160k = $37k raise overnight.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>So thank you for creating Get Your Next Raise. Obviously I brought the goods in terms of bringing value to my employer. But, when I saw Get Your Next Raise it immediately made sense how it would improve how I communicate that value. All I needed to do was follow the plan, and see what they had to say.</p>
		
		<p><strong>It felt particularly empowering to have everything prepared in advance.</strong> I smiled inside when my manager asked me to send her an email with evidence to support my request, and I already had it queued up and ready to go. Also, doing market research was valuable so that I wasn’t just basing my request on what I want or think I’m worth, but that I was actually in line with the same numbers they would see in their own research.</p>

		<p>Also, I can’t be certain of this, but I’m pretty confident that the raise they would have given me as part of the normal review cycle is nowhere near what I got by making the request and backing it up.</p>

		<p><strong>Get Your Next Raise was easy to follow</strong>, and like I said, it made sense to me. <strong>I spent less than two hours doing the work to prepare everything. That’s an insane return :)</strong></p>

		<p>Best of all, I feel valued and respected not just by the individuals within the organization (which I’ve always felt), but also by the organization itself. I’m really looking forward to growing my contributions there... especially now that I have a system for recording and communicating the value I bring.</p>
		
		<p>Thank you again.</p>
	</div>
	{% endunless %}

  <p class="quote__byline">P.M., Software Developer</p>
</div>