<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/patrick_mckenzie.jpg" style="border-radius: 100%" height="100" width="100" alt="Josh Kaufman" class="author__image"></p>
    <p class="quote__text"><em>Fearless Salary Negotiation</em> is so good I bought a copy for everyone our company places.</p>
    <cite class="quote__byline">Patrick McKenzie (AKA <a href="http://twitter.com/patio11">@patio11</a>), CEO of <a href="http://starfighters.io">Starfighter</a></cite>
  </div>
</blockquote>