<a name="queen_r"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	{% if include.short == true %}
		<p lass="quote__text"><strong>IT WORKED!! 😊 I counteroffered $12,000 more than what they offered and we met right in the middle for salary and they gave a $5000 signing bonus!!</strong></p>
	{% else %}
	<div class="testimonial-content">
		<p>I researched how to make a counter offer and your suggestions with a calculator came up. I had been working as a temp contractor at a Big Pharma company through an agency for a little over a year. The current manager posted the position I was in internally, and I applied. Now, while working temp, I had a pretty substantial hourly rate but no benefits and no pay for vacation. My manager made it obvious that she wanted me for the position.</p>

		<p>I had been in communication with their HR person and was given an offer for me to consider over the weekend. <strong>I chose to follow your "Counter High" principle</strong> based on the initial offer, calculation of how much the offer was, how much they wanted you, and how much you needed the job. I used your counteroffer calculated number when I spoke to HR again yesterday. <strong>IT WORKED!!</strong> 😊</p>

		<p>I knew my worth and years of experience for the role. I knew having moved to California, my family and I needed a substantial amount to navigate this new place due to cost of living being here. Long story short, <strong>I counteroffered $12,000 more than what they offered and we met right in the middle for salary and they gave a $5000 signing bonus!!</strong></p>
		
		<p>Thanks providing helpful information. Truly helpful.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Queen R., Regulatory Affairs Business Operations Specialist</p>
</div>