<a name="r_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>I gave <em>Fearless Salary Negotiation</em> to my sister. She’s not a SWE, but still works in tech companies and goes through a similar interviewing process. <strong>She just started her new job today with a $50k raise over her last salary, ~$25k of that was unexpected / negotiated.</strong> Thanks, as always!</p>
		
		<p>Thanks, as always!</p>
	</div>

  <p class="quote__byline">R. M.</p>
</div>