<a name="rachael"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	<div class="testimonial-content">
		<p>Thank you for the email resources! I just accepted a job in the non-profit industry. I was expecting a serious pay cut coming from the engineering world, but <strong>I was able to use your email templates and website to negotiate an additional $15,000 in base salary and a $3,000 relocation bonus</strong>! I worked on my counter email all weekend and the team thanked me for "a very thoughtful response" before accepting my counter offer! Thank you so much, I can't wait to start my new job!</p>
	</div>
	
  <p class="quote__byline">Rachael</p>
</div>