<a name="robbie_ouzts"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/robbie_ouzts.jpg" alt="Robbie Ouzts, Georgia Institute of Technology Graduate Career & Co-op Advisor">
  <p class="quote__text"><strong>Josh's talk is one of the best I have heard on salary negotiation, and our students gave him rave reviews! He is a dynamic speaker, with clear ideas that students can easily remember and apply as a student and continue to apply his negotiation principals as a professional.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>His talk was just before our Fall Career Fair and provided some great information that many students have already used. Just today a student came by the office and wanted to reconfirm salary ranges. The student said, “I am already using some of Josh’s tips because I anticipate an offer on Wednesday.”</p>

		<p>Josh spoke to our students about how to estimate their market value, stand out in their job interviews, get offers and negotiate their starting salary! Josh stressed preparation and practice for interviews, illustrated ways to find “your real market value” and understand your value before starting the interview process. Josh then provided his step-by-step process to avoid “giving the first number” and rationale behind his negotiation tactics. He also reminded students to look at the overall package considering other items other than salary.</p>

		<p><strong>Josh has so much credibility as an engineer, recruiter and entrepreneur.</strong> The student audience appreciated his personal story of how as a new graduate he failed to negotiate his first salaries, learned from his mistakes, recovered and doubled his salary in three years! Josh‘s story provided evidence that application of the <em>Fearless Salary Negotiation</em> steps work. It also assured the student audience that lessons would be learned along their career path.</p>
	
		<p>Josh was generous with his time after his presentation and spent over 1.5 hours answering individual student questions. He provided some customized advice for individual questions that was direct and gave students tips they can immediately apply as well as some ideas to navigate the negotiation process. <strong>The talk, once again, was one of the best I have heard on negotiation!</strong></p>
	
		<p><strong>I would recommend him as a speaker and coach! Josh’s ability to connect with the audience and provide great information is amazing. He adds value because he is willing to go the extra mile after the presentation answering individual questions.</strong></p>
	
		<p>As confirmation of Josh’s work, we plan to bring Josh back for our spring graduate student signature event the Career, Research, and Innovation Development Conference (CRIDC).</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Robbie Ouzts, Georgia Institute of Technology Graduate Career & Co-op Advisor</p>
</div>