<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/robbie_ouzts.jpg" class="quote__image" alt="Robbie Ouzts, Georgia Institute of Technology Graduate Career & Co-op Advisor" class="author__image"></p>
    <p class="quote__text"><strong>Josh's talk is one of the best I have heard on salary negotiation, and the students gave him rave reviews! He is a dynamic speaker, with clear ideas that students can easily remember.</strong></p><br><br>

		<p class="u-left">Josh spoke to our students about how to stand out in their job interviews, and how to negotiate their starting salary, even for their first job out of school. He is a dynamic speaker, with clear ideas that students can easily and remember.</p>

		<p class="u-left">He was so gracious with his time, taking almost 1.5 hours to answer individual student questions. He was direct and gave students tips they can immediately apply as well as some ideas to navigate the negotiation process as a student and continue to apply his negotiation principals as a professional. The talk was one of the best I have heard on Negotiation!</p>

		<p class="u-left">The students gave Josh rave reviews—he has so much credibility as an engineer, recruiter and entrepreneur. They appreciated that he shared his personal story of how he failed to negotiate his first salaries, learned from his mistakes, recovered and doubled his salary in three years! That illustrated a great recovery story and application of lessons learned in addition to revealing his authentic self and assuring students lessons would be learned along their career path.</p>
		
		<p class="u-left">I would recommend him as a speaker and coach because of his ability to connect with the audience, provide great information and because of his willingness to go the extra mile after the presentation in order to answer individual questions.</p>
		
		<p class="u-left">We are working with administrators to bring Josh back to Georgia Tech as our keynote speaker for our spring graduate student signature event the Career Research, and Innovation Development Conference (CRIDC).</p>

    <cite class="quote__byline">Robbie Ouzts, Georgia Institute of Technology Graduate Career & Co-op Advisor</cite>
  </div>
</blockquote>