<a name="robert_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">	
	<div class="testimonial-content">		
		<p>I used the materials earlier today to help counter a job offer for my wife. <strong>We used the information to get her an additional $7,000 in salary using your counter off email.</strong> She’s one happy camper tonight with the additional salary that we negotiated.</p>

		<p>Thank you. I look forward to using the materials to increase my salary moving forward.</p>
	</div>

  <p class="quote__byline">Robert M.</p>
</div>