<a name="robert_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">	
	
  <p class="quote__text"><strong>We used the information to get my wife an additional $7,000 in salary using your counter offer emails.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">		
		<p>I used the materials earlier today to help counter a job offer for my wife. We used the information to get her an additional $7,000 in salary using your counter offer emails. She’s one happy camper tonight with the additional salary that we negotiated.</p>

		<p>Thank you. I look forward to using the materials to increase my salary moving forward.</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Robert M.</p>
</div>