<a name="ryan_w"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Placeholder image">
  <p class="quote__text"><strong>I am glad to have found your quick salary negotiation tool kit; it was well worth it.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p><strong>I would’ve left several thousand on the table without it.</strong> I researched my market value and made the appropriate counteroffers utilizing some of your email templates. <strong>At the end of the day, I made two counter offers that resulted in an additional $20k per annum.</strong> This gets me in the range where I should be based on my CV and associated job role duties.</p>
	</div>
	{% endunless %}
	
  <p class="quote__byline">Ryan W.</p>
</div>