<div class="testimonial">
	<p><img src="{{ site.baseurl }}/images/s_l.jpg" class="quote__image" alt="S. L., Google Site Reliability Engineer" class="author__image"></p>
  <p class="quote__text"><strong>Compelling testimonials from people like Patrick McKenzie convinced me to give the coaching a try, and I'm glad I did. I found that it's possible to ask for more and go further than I'm used to.</strong></p><br><br>

	<p class="u-left">I had an opportunity to move to Europe as a <strong>Google</strong> Site Reliability Engineer (SRE) and I knew I should negotiate, but wasn't sure exactly how to do it.</p>

	<p class="u-left">Josh prepared me for every call and every email. His help repositioning and rephrasing emails not only helped with this negotiation, but helped me see how rephrasing an email can paint it in a much different light.</p>

	<p class="u-left">Now I have greater confidence to negotiate other job offers in the future.</p>

  <cite class="quote__byline">S.L., Google Site Relatiability Engineer</cite>
</div>