<a name="s_l"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="{{ site.baseurl }}/images/s_l.jpg" alt="S. L., Google Site Reliability Engineer">
  <p class="quote__text"><strong>Josh prepared me for every call and every email during my salary negotiation. His help repositioning and rephrasing emails not only helped with this negotiation, but helped me see how rephrasing an email can paint it in a much different light.</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>I had an opportunity to move to Europe as a <strong>Google</strong> Site Reliability Engineer (SRE) and I knew I should negotiate, but wasn't sure exactly how to do it.</p>

		<p>I'm glad I worked with Josh. Now I have greater confidence to negotiate other job offers in the future, and I found that it's possible to ask for more and go further than I'm used to.</p>
	</div>
	{% endunless %}
	
  <p class="quote__byline">S.L., Google Site Relatiability Engineer</p>
</div>