<a name="sarah_m"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businesswoman.png" alt="Placeholder image">
  <p class="quote__text"><strong>"Thanks so much for the email templates! They helped me figure out what my goal was: to not leave money on the table!"</strong></p>
	
	{% unless include.short == true %}
	<div class="testimonial-content">
		<p>As I negotiated, I almost felt bad pushing, but then I realized that was my goal: to not leave money on the table.</p>

		<p>Thanks to your <strong>"Ask for Time to Consider a Job Offer" Template</strong>, I knew to ask for time to consider their offer.</p>

		<p>Then I used your <strong>"Low-Ball Offer"" Template</strong>" to pull their offer up before negotiating. When I finally sent a counter offer, they replied with a heart-felt reply about how 'over-the-top it was'.</p>

		<p>They said I had already overshot their original max when they upped the lowball offer. Then I realized that I had made my goal: to find their max so I didn't leave any money on the table.</p>

		<p><strong>It was fun negotiating up from their original lowball offer and I was thrilled that they improved their initial offer by 25%</strong>. Thanks to your other <strong>"Counter Offer" templates</strong>, I know to make sure I ask more details about perks and benefits and negotiate those too.</p>

		<p>Thanks for all the help your emails have been! I now understand better why negotiating happens.</p>

		<p>Thanks,</p>
	</div>
	{% endunless %}

  <p class="quote__byline">Sarah M.</p>
</div>