<blockquote class="quote">
  <div class="container container--widened">
		<p><img src="{{ site.baseurl }}/images/ShannonColor.jpg" class="quote__image" alt="Shannon Long" class="author__image"></p>
    <p class="quote__text">I applied Josh's salary negotiation method and got a much better job where I'm paid what I'm worth. In less than a week, I interviewed for and negotiated a new job with <em class='u-highlight'>a base salary increase of $15,000!</em></p>
    <cite class="quote__byline">Shannon Long, Physical Therapist</cite>
  </div>
</blockquote>