<a name="steve"></a>
<div class="testimonial">
  <p class="quote__text"><strong>I felt like I had a secret weapon for job interviews and salary negotiation.</strong></p><br><br>
	
	{% unless include.short == true %}
	<p class="u-left">I was concerned about the cost of coaching, but I ended up getting two job offers that each paid nearly 20% above my old position. Now I'm considering buying a house in California.</p>
	<p class="u-left">I learned what I was missing during interviews and why I sometimes didn't get called back. Now I know how to get to the next level and get job offers by positioning myself as the ideal candidate in my interviews.</p>
	<p class="u-left">It was great having a professional coach in my corner, working with me on interviewing technique, reviewing all of my emails, and consulting on all of my decisions throughout the job search process and salary negotiation processes.</p>
	<p class="u-left">With Josh's help, I was able to maximize my job offers by using sound techniques and professionally-worded scripts to negotiate my salary. He typically works with Software Developers, but he helped me find a Mechanical Engineering job at a company where I have a lot of room to grow.</p>
	<p class="u-left">I would <em>absolutely</em> recommend working with Josh! He is very helpful, very easy to work with, and <em>super</em> responsive.</p>
	{% endunless %}

  <cite class="quote__byline">Steve, Senior Mechanical Engineer</cite>
</div>