<blockquote class="quote">
  <div class="container container--widened">
    <p class="quote__text"><strong>I wasn't sure there was more value in working with Josh than just doing it myself.</strong></p><br><br>

		<p class="u-left">I was expecting job offers from <strong>Amazon</strong> and <strong>Tesla</strong>, and I wanted to be confident I got the best offer from each company so I could make the right decision. <strong>I considered just handling it myself, but decided I would rather work with an experienced coach and expert with whom I could discuss all aspects of the positions and corresponding offers.</strong></p>
		<p class="u-left">What a great decision!</p>
		<h3 class="u-left">Approachable, knowledgeable, available</h3>
		<p class="u-left">Josh is very approachable and knowledgeable about the entire process and was able to provide possible next steps that were very accurate. <strong>He made himself available for calls and was very quick responding to emails with thorough, specific guidance on what to write or say at each stage in the negotiations.</strong> He was there to answer even the smallest of questions.</p>
		<p class="u-left">Josh took time to research specific questions related to both positions and the intricacies of the salary and total compensation discussions for both companies. The offers I got were <em>very</em> different offers, and he took the time to break them down into components so we could negotiate effectively and do an apples-to-apples comparison so I could make the best decision.</p>
		<h3 class="u-left">A great investment</h3>
		<p class="u-left"><strong>I would highly recommend Josh as a salary negotiation coach because has the knowledge and experience of what it takes to maximize your salary and total compensation.</strong> He is also highly approachable and made himself available on very short notice.</p>
		<p class="u-left">Josh added value by making me confident when performing salary negotiations and showing me how to take the right steps in the process. He was professional and honest during the entire process.</p>
		<p class="u-left">This was a great investment.</p>

    <cite class="quote__byline">T., Tesla Staff Design Engineer</cite>
  </div>
</blockquote>