<a name="taylor"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/businessman.png" alt="Taylor, Executive, Alphabet">
  
	{% if include.short == true %}
	<p><strong>Negotiating with Alphabet to get an additional $160k in annual compensation</strong></p>
	<p>It's like professional sports — if you don't have film on your opponent and you go into a game without any scouting report, you're in big trouble. <strong>Josh has 'the film' on Alphabet and other tech companies. He knows who you're dealing with and that's a huge advantage.</strong></p>
	<p>Bringing on Josh made a huge difference for me — no way I would have ended up with that number without his help. <strong>Whether you're a mid-level engineer or an executive — to me it's a no brainer to work with Josh.</strong></p>
	
	{% else %}
	<div class="testimonial-content">
		<p style="text-align: center !important;"><strong>Negotiating with Alphabet to get an additional $160k in annual compensation</strong></p>
		<p>Alphabet is obviously one of the biggest in the world, the division I'd be working with is dealing with a lot of very novel technology, and I also happen to have a very unique skillset in the industry. <strong>So all of that was creating a lot of angst on my part about what am I really worth in this situation?</strong> I can't really compare it to a lot of things.</p>
		<p>It's like professional sports — if you don't have film on your opponent and you go into a game without any scouting report, you're in big trouble. <strong>Josh has 'the film' on Alphabet and other tech companies. He knows who you're dealing with and that's a huge advantage.</strong> Even when Alphabet came up with some surprises, Josh was still able to pretty well predict what they were doing and why. It takes a lot of the anxiety out of the process.</p>
		<p>Bringing Josh on made a huge difference for me — no way I would have ended up with that number without his help. <strong>Whether you're a mid-level engineer or an executive — to me it's a no brainer to work with Josh.</strong></p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Taylor, Executive, Alphabet</p>
	<br>
	<div class='guide-link'>
		<p><strong>Read the complete case study to see how we did it</strong></p>
		<p><a href="/case-studies/alphabet-executive-taylor/">Case Study: Negotiating an additional $160,000 in annual compensation as an executive joining Alphabet →</a></p>
	</div>
</div>