<a name="thai_wood"></a>
<div class="testimonial">
	<img src="{{ site.baseurl }}/images/thai.jpg" alt="Thai, Senior Software Engineer">
  <p class="quote__text"><strong>I wasn’t sure if the value was there but now that I’ve taken it I can say that EVERYONE should take this course.</strong></p>

	<p class="u-left">I wanted to make sure I wasn’t leaving money on the table and that I knew what my manager and company were looking for to give me a raise. This course taught me <em>exactly</em> what I needed to know, and Josh gave great answers to all of my questions about my specific situation.</p>

	<p class="u-left">Now I know that preparing for a raise is not difficult or overwhelming with the right guidance and the systemic process I learned in this course.</p>

  <p class="quote__byline">Thai, Senior Software Engineer</p>
</div>