<a name="thelia"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
  <img src="/images/businesswoman.png" alt="Placeholder image">
	
	{% if include.short == true %}
	<p class="quote__text"><strong>Thank you for the counteroffer email template. I received an initial offer from a company for $125K. We settled on $135K. Thank you so much!!</strong></p>
	{% else %}
	<div class="testimonial-content">
		<p>I wanted to take the time to say, “Thank you”, for the counteroffer email template. <strong>I received an initial offer from a company for $125K.</strong> Using your template, I counter-offered with $145K. <strong>We settled on $135K</strong>, with the potential for an increase in 90 days based on performance!</p>

		<p><strong>Without your template, I would not have had the words to effectively demonstrate my value, nor the knowledge to effectively craft my counter-offer.</strong> Thank you so much!!</p>
		
		<p>Sincerely,</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Thelia</p>
</div>