<a name="tiffani_w"></a>
<div class="testimonial">
  <p class="quote__text"><strong>I negotiated a $5,000 base salary increase, a $5,000 sign-on bonus and a 9:45–4:00 work schedule.</strong></p>
	
	{% unless include.short == true %}
	<p class="u-left">I signed up for a strategy session when I had an offer in hand to strategize about. I was initially focused on increasing my base but I realized through the process that work-life balance and a shorter commute were more important to me. So I negotiated in a way that would give me more work-life balance.</p>
	<p class="u-left">I appreciated having someone to discuss negotiation strategies with and someone to get feedback on what I was thinking. And our conversations made me more confident in the negotiation process and more realistic about what I could achieve from the situation.</p>
	<p class="u-left">I recommend working with Josh as a Salary Negotiation Coach because he has more experience negotiating salary and it helps to get expert insight into how to best negotiate a particular outcome.</p>
	{% endunless %}

  <p class="quote__byline">Tiffani W., Director of Human Resources</p>
</div>