<a name="tim_e"></a>
<div class="testimonial {% if include.short == true %}short{% endif %}">
	<img src="/images/tim_eccleston.jpg" alt="Tim E.">
  
	{% if include.short == true %}
	<p>Letting the company name the first number led to an offer of 2x what I currently make and negotiating quickly increased it by another $10k. I was looking for more flexibility in scheduling, which didn't happen, but I felt Josh gave me the best chance of realizing that if it were an option. Knowing I gave it my best, now I can let the job go and be more confident sticking to my values and commitments in future job searches and negotiations.</p>
	{% else %}
	<div class="testimonial-content">
		<p>I liked talking to someone who's done a lot of hiring and negotiated a bunch on both sides. <strong>It gave me confidence I had my best opportunity of success.</strong> It also helped to have someone to talk to besides my partner (who is probably less knowledgeable than me about tech hiring so we can just stress each other out in these situations).</p>
		
		<p>Letting them name the first number led to the company offering 2x what I currently make and negotiating quickly got them to add another $10k on top of it. I was looking for more flexibility in scheduling, which didn't happen, but I felt Josh gave me the best chance of realizing that if it were an option. Knowing I gave it my best, now I can let the job go and be more confident sticking to my values and commitments in future job searches and negotiations.</p>
		
		<p>I would recommend hiring a salary coach in general to help people to make important decisions without putting as much stress on their families. <strong>I would recommend Josh primarily for people trying to boost their salary.</strong> I could see how Josh's methods would be very effective there — we were just doing something else.</p>
	</div>
	{% endif %}
	
  <p class="quote__byline">Tim E.</p>
</div>