<a name="vanessa_m"></a>
<div class="testimonial">
  <p class="quote__text"><strong>I negotiated $8,000 more salary, and I can confidently walk through the door on my first day knowing that my employer values me and that I am an asset to the company. </strong></p><br><br>
	
	{% unless include.short == true %}
	<p class="u-left">Josh has a passion for his craft and is not out just to "get another client." I could see this from our very first free introduction call, where he clearly had my best interest in mind.</p>
	
	<p class="u-left">He had a genuine interest in trying to help me reach my salary goals, and offered one-on-one attention throughout the process.</p>
	
	<p class="u-left">I found out what the market median was for my current skill set and experience. I also learned why it's important to negotiate your salary and how it affects your figure income and raises.</p>
		
	<p class="u-left">I negotiated my salary salary in a way that was not offensive, rude, or egotistical. And had the confidence to remain poised and confident as the negotiation moved from email to phone. </p>
			
	<p class="u-left">Salary Negotiation Coaching is one of the best investments you can make for yourself, your career, and one of the best things you can do to help close the pay gap. </p>
	{% endunless %}

  <cite class="quote__byline">Vanessa M., Integrations Project Manager </cite>
</div>