---
layout: squeeze
title: Thank you!
tagline: Keep an eye on your inbox!
excerpt: Here's how to get started with Fearless Salary Negotiation
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">	
	<p>Congratulations on taking a big first step toward getting paid what you're worth! Since you've taken that first step, I have something to show you...</p>
	
	<h2 class="u-center">Stop Leaving Money on The Table.<br>Start Getting Paid What You're Worth.</h2>

	<div class="offering-item">
		<div class="image">
			<a href="{{ site.baseurl }}/get-started/" data-track-click="true" data-event-action="Click /thanks page product image" data-event-label="Get Started"><img src="{{ site.baseurl }}/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle"></a>
		</div>
		<div class="description">
		  <p><strong><em>Fearless Salary Negotiation</em> is your step-by-step guide to getting paid what you're worth throughout your career.</strong></p>
			<p><strong>If you have a job offer in hand</strong>, this is your step-by-step guide to negotiating your offer without leaving anything on the table.</p>
			<p><strong>If you're interviewing for a new job</strong>, this is your playbook for saying the right things to ace your interviews to get the strongest job offer possible.</p>
			<p><strong>If you're staying put</strong>, this is your guide to building the best case for your next raise or promotion by looking at things from a manager's perspective.</p>
		</div>
	</div>

	<p><a href="/get-started/" class="guide-btn large" data-track-click="true" data-event-action="Click /thanks page CTA" data-event-label="Get Started">
		Get Started Now →
	</a></p>

	{% include testimonials/justin_abrahms.html %}
	
	{% include featured_logos.html %}
</div>