---
layout: squeeze
title: Learn what a hiring manager is looking for on your résumé
excerpt: Use these tactics to improve your résumé
excerpt: Your résumé doesn't have to stink. Watch to hear what your hiring manager is looking for on your résumé, and learn what to avoid.
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	<p>It's not just HR who is looking at your résumé! I sit down with Eric, to dissect this résumé from an HR and Developer perspective.<p>
	<p>Learn what hiring managers are looking for when they review your résumé!</p>

	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/9t6Fs-1tEQI?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
		
	<h2 class="u-center">Your interview answers will be so good, they'll wonder if you got the questions ahead of time</h2>
	
	<div class="offering-item">
		<div class="image">
			<a href="/get-started/" data-track-click="true" data-event-action="Click /thanks page product image" data-event-label="Get Started"><img src="/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle"></a>
		</div>
		<div class="description">
		  <p><strong><em>Fearless Salary Negotiation</em> is your your playbook for saying the right things to ace your interviews to get the strongest job offer possible.</strong></p>
			<p>Get a framework for acing your job interviews and a step-by-step guide to negotiating your job offers so you don't leave anything on the table.</p>
		</div>
	</div>

	<p><a href="/get-started/" class="guide-btn large" data-track-click="true" data-event-action="Click /thanks/interview page CTA" data-event-label="Get Started">
		Get Started Now →
	</a></p>
	
	{% include testimonials/holly_stewart.html %}
	
	{% include featured_logos.html %}
</div>