---
layout: squeeze
title: Thank you!
headline: Thank you!<span class="sub-h1">Your email templates are on the way!</span>
tagline: Need to respond to your job offer right now? Keep reading!
excerpt: Your salary negotiation email templates are on their way. Here's how you can learn everything you need to negotiate your salary like a pro in the next 90 minutes.
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Salary Negotiation Crash Course</p>
		<p class="item__description">Learn to negotiate your salary like a pro in 90 minutes</p>
		<span class="image"><img src="/images/SalaryNegotiationCrashCourse.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><strong>How to negotiate your starting salary</strong> video course and companion guide</li>
			<li><strong>10 email templates</strong> to ask for time to consider your offer, negotiate your offer, and communicate your final decision</li>
			<li><strong>Salary negotiation worksheet</strong> to make the math easy</li>
			<li><strong>The 15-Minute Counter offer</strong> to make writing your counter offer easy</li>
			<li><strong>BONUS: "How to estimate your market value" video course</strong></li>
			<li><strong>BONUS: Market Value Estimation worksheet</strong></li>
			<li><strong>BONUS: "How companies determine their salary structures" video course</strong></li>			
    </ul>
		
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="/salary-negotiation-video-course/" class='guide-btn large'>Get Instant Access →</a>
			</span>
		</div>
	
		<div class="item__happy-customer-guarantee">
			<img src="/images/HappyCustomerGuarantee.png" width=30/>
			<p class="guarantee"><span class="guarantee-headline">Happy Customer Guarantee</span><span class="guarantee-sub-head">If you're not happy, I'll refund your money.</span></p>
		</div>
  </section>
</div>

<div class="container container--normal">
	<h2 class='u-center'>What's it like? Here's a sample lesson!</h2>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/effQltGYtF8?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="container container--widened">	
	<h2 class='u-center'>What people are saying...</h2>
	<div class="testimonial-series">
		{% include testimonials/allie.html short=true %}

		{% include testimonials/arthur.html short=true %}

		{% include testimonials/deborah.html short=true %}
	</div>
	<br><br>
	<p><a href="/salary-negotiation-video-course/" class="guide-btn large">
		Get Instant Access →
	</a></p>
</div>

{% include featured_logos.html %}

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">