---
layout: squeeze
title: Your email templates are on the way!
headline: Your email templates are on the way!
tagline: Need to respond to your job offer right now?<br>Keep reading!
excerpt: Your salary negotiation email templates are on their way. Here's how you can learn everything you need to negotiate your salary like a pro in the next 90 minutes.
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
{% include featured_logos.html %}

<div class="container container--normal">
	<h2 class="u-center">Wait! Don't send your counter offer just yet!</h2>
	<p>The absolute first thing you should do is ask for more time to consider your offer so you have a chance to learn more about what to expect and how to negotiate.</p>
	<p>Over the next few days, you'll get several valuable lessons to show you how to get the most out of your salary negotiation and make sure you don't leave anything on the table.</p>
	
	<h2 class='u-center'>In a hurry? I'll show you how to negotiate your salary in less than 90 minutes!</h2>
	<p>Your salary negotiation is important and there's a lot on the line. If your job offer is for $50,000, a 5% improvement is worth $2,500! And that's <em>before</em> negotiating non-salary benefits like vacation or a signing bonus.</p>
	
	<p>But you need to respond <em>now</em>—where do you start?</p>
	
	<p>My coaching clients use a step-by-step process to improve their job offers by an average of 8%. You can learn that same process in less than 90 minutes with <em>Fearless Salary Negotiation</em>.</p>
</div>
	
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Fearless Salary Negotiation</p>
		<p class="item__description">The Complete Bundle</p>
		<span class="image"><img src="/images/CompleteBundleImage.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<ul>
			<li><strong><em>Fearless Salary Negotiation</em></strong> PDF, ePub, mobi</li>
			<li><strong>4 Valuable Worksheets</strong> to walk you through your negotiation</li>
			<li><strong>Over 20 Email templates</strong> with the exact words to say</li>
			<li><strong>Counter offer email video walkthrough</strong> showing you <em>exactly</em> how to compose <em>your</em> counter offer email</li>
			<li><strong>5 Video courses</strong> to show you valuable key concepts</li>
			<li><strong>PLUS:</strong> Case studies, expert interviews, and more</li>
    </ul>

		<div class="item__cta">
				<a href="/get-started/" class='guide-btn large' data-track-click="true" data-event-action="Click thanks/negotiate CTA" data-event-label="Get Started">Get Instant Access →</a>
		</div>
  </section>
</div>

<div class="container container--widened">	
	<h2 class='u-center'>What people are saying...</h2>
	<div class="testimonial-series">
		{% include testimonials/allie.html short=true %}

		{% include testimonials/arthur.html short=true %}

		{% include testimonials/deborah.html short=true %}
	</div>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">