---
layout: squeeze
title: Your email templates are on the way!
headline: Your email templates are on the way!
tagline: Need to respond to your job offer right now?<br>Keep reading!
excerpt: Your salary negotiation email templates are on their way. Here's how you can learn everything you need to negotiate your salary like a pro in the next 90 minutes.
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	<h2 class='u-center'>Get help negotiating your salary right now</h2>
	<p>I want you to succeed in your salary negotiation because there's so much on the line. If your job offer is for $50,000 and you improve it by just 5%, that's another $2,500!</p>
		
		<p>But you're in a time crunch and might not know where to start. So here's an offer to get you up to speed on everything you need to negotiate your salary in less than 90 minutes. These are the same techniques my coaching clients use to improve their job offers by an average of 8%.</p>
</div>
	
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Salary Negotiation Crash Course</p>
		<p class="item__description">Learn to negotiate your salary like a pro in 90 minutes</p>
		<span class="image"><img src="/images/SalaryNegotiationCrashCourse.png" class="package__feature-details-img" alt="Fearless Salary Negotiation Complete bundle" width=150></span>
		<!-- <ul>
			<li><strong>How to negotiate your starting salary</strong> video course and companion guide</li>
			<li><strong>10 email templates</strong> to ask for time to consider your offer, negotiate your offer, and communicate your final decision</li>
			<li><strong>Salary negotiation worksheet</strong> to make the math easy</li>
			<li><strong>The 15-Minute Counter offer</strong> to make writing your counter offer easy</li>
			<li><strong>BONUS: "How to estimate your market value" video course</strong></li>
			<li><strong>BONUS: Market Value Estimation worksheet</strong></li>
			<li><strong>BONUS: "How companies determine their salary structures" video course</strong></li>
    </ul> -->
		
		<div class="item__cta">
			<span class="fsn-full-price">
				<a href="/salary-negotiation-video-course/" class='guide-btn large'>Get Instant Access →</a>
			</span>
		</div>
  </section>
</div>

<div class="container container--normal">
	<h2 class='u-center'>Here's the next thing you need to do...</h2>
	<p>To help you get started right now, here's a lesson from <em>The Salary Negotiation Crash Course</em>. In this lesson you'll learn how to set your "walk away" number before you negotiate so you are guaranteed a successful result.</p>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/effQltGYtF8?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="container container--widened">	
	<h2 class='u-center'>What people are saying...</h2>
	<div class="testimonial-series">
		{% include testimonials/allie.html short=true %}

		{% include testimonials/arthur.html short=true %}

		{% include testimonials/deborah.html short=true %}
	</div>
	<br><br>
	<p><a href="/salary-negotiation-video-course/" class="guide-btn large">
		Get Instant Access →
	</a></p>
</div>

{% include featured_logos.html %}

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">