---
layout: squeeze
title: Thank you!
headline: Thank you!<span class="sub-h1">Your salary negotiation email template is on the way!</span>
excerpt: Your email template is on the way - get 9 more templates plus help writing your counter offer email
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	<h2 class="u-center">Wait! Don't send your counter offer just yet!</h2>
	<p>Your counter offer email could be the most valuable email you ever send, so you want to take your time and make sure you get it <em>just right</em>.</p>
	<p>The <strong>Essential Salary Negotiation Email Pack</strong> includes an 11-minute video walkthrough where I show you <em>exactly</em> how to write your counter offer with this template, <em>plus</em> it includes 9 more email templates you can use to negotiate your job offer and make your final decision.</p>
</div>
	
<div class="pricing-table">
  <section class='item'>
    <p class="item__header">Essential Salary Negotiation Email Pack</p>
		<p class="item__description">Send your counter offer email with the help of a salary negotiation expert</p>
		<span class="image"><a href="/essential-counter-offer/" data-track-click="true" data-event-action="Click /thanks/negotiate/ product image"><img src="/images/HowToWriteSalaryNegotiationEmailImage.png" class="package__feature-details-img" alt="15-Minute Conter Offer thumbnail" width=150></a></span>
				<a href="/essential-counter-offer/" data-track-click="true" data-event-action="Click /thanks/negotiate/ CTA" class='guide-btn large'>Learn more →</a>
  </section>
</div>

<div class="container container--normal">
	{% include testimonials/sarah_m.html %}
</div>

{% include featured_logos.html %}

<div class="container container--widened">		
	<div class="testimonial-series">
		{% include testimonials/t_k.html short=true %}

		{% include testimonials/allie.html short=true %}

		{% include testimonials/robin.html short=true %}
		
		{% include testimonials/deborah.html short=true %}
		
		{% include testimonials/kaylea.html short=true %}
		
		{% include testimonials/robert_m.html short=true %}		
		
		{% include testimonials/penny.html short=true %}
	</div>
</div>

<div class="container container--normal">
	<p class='u-center'><a href="/essential-counter-offer/" data-track-click="true" data-event-action="Click /thanks/negotiate/ CTA"><strong>&gt;&gt; Learn more about the Essential Salary Negotiation Email Pack</strong></a></p>
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">