---
layout: squeeze
title: Thank you!
headline: Thank you!
tagline: Check your inbox in 5 to 10 minutes!
excerpt: Your email template is on the way - get 9 more templates plus help writing your counter offer email
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
{% include featured_logos.html %}

<div class="container container--normal">
	<h2>You could just accept that job offer, but you’re thinking about negotiating for more. So what’s holding you back?</h2>
	<p>Maybe you imagine yourself a couple days after sending a counter offer, frantically refreshing your inbox while you wait to hear a response from the recruiter.</p>
	<p>Every email notification sends your heart racing, hoping it’s a yes but almost expecting that they’ll say no.</p>
	<p>Or worse - what if they never even respond? What if the offer just … goes away?</p>
	<p>You start to think that it’s less risky to just accept the initial offer and move on. Better than starting a whole new job search, right?</p>
	<p>You’ve seen (or at least heard rumors) of other people getting a higher salary or a big pile of equity. But what do you even say and how do you say it to avoid sounding greedy? The last thing you want to do is say one wrong thing and mess it all up.</p>
	<h2>You can find the confidence of a seasoned negotiator</h2>
	<p>What if you could confidently navigate the back and forth of your next salary negotiation like a seasoned pro (even if it’s your first time)? Not only land that dream job, but with a higher salary and an extra week of vacation?</p>
	<p>How great will it feel to read <strong>that</strong> confirmation email when it arrives?</p>
	<p>It’s true that an inexperienced negotiator can get tripped up in the complicated back and forth of asking a prospective employer for more, but it doesn’t have to be that way.</p>
	<p>And once you’ve negotiated successfully the first time, you’ll feel ready to do it again when it’s time for your next raise or job transition.</p>
	<h2>You can learn to negotiate your job offer like a pro with my Salary Negotiation Crash Course</h2>
	<p>Time is of the essence, so <strong>in this focused series of 8 of videos I’ll show you exactly what to expect during the negotiation process.</strong> Instead of wondering what happens next you’ll be able to anticipate the recruiter’s every move.</p>
	<p>There’s no crystal ball necessary when you understand how the entire negotiation process works.</p>
	<p><strong>Once you understand the negotiation process, you’ll be able to save even more time drafting the “perfect” email by using my battle-tested negotiation scripts and templates.</strong> Instead of searching for the right words (or accidentally saying the wrong ones), you can know exactly what words to say when they push back on the phone and what to write in every email with battle-tested negotiation scripts and email templates.</p>
	<p>Ready to get started? Get your my entire Salary Negotiation Crash Course right now and confidently send your counter-offer email within 90 minutes.</p>
	
	{% include testimonials/oliver_nolte.html %}
</div>
	
	{% include pricing_grid_flexbox_negotiate.html %}
	
<div class="container container--normal">
	{% include testimonials/candas_barnes.html %}
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">