---
layout: squeeze
title: Thank you!
headline: Thank you!<span class="sub-h1">Keep an eye on your inbox!</span>
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	<h2 class="u-center">Finally get the raise you deserve</h2>
	<p>Asking for a raise can feel pretty scary, so you keep putting it offer for later.</p>
	<p><strong>Get Your Next Raise</strong> includes 7 short lessons where I show <em>exactly</em> how to build your case for your next raise, <em>plus</em> it includes worksheets and email templates to walk you through the process of asking for your raise.</p>
	<p>This simple process will make it simple instead of scary to ask for the raise you deserve.</p>
</div>
	
{% include get_your_next_raise/get_your_next_raise_offer.html %}

<div class="container container--normal">
	{% include testimonials/john_li.html %}
</div>

{% include featured_logos.html %}

<div class="container container--normal">
	{% include testimonials/thai_wood.html %}
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">