---
layout: squeeze
title: Thank you!
headline: Thank you!<span class="sub-h1">Keep an eye on your inbox!</span>
context: sales-page
metatags: noindex
sitemap: false
fb-event: CompleteRegistration
---
<div class="container container--normal">
	<h2 class="u-center">You want to ask for a raise, but <em>how</em>?</h2>
	<p>Asking for a raise can feel pretty scary, so you keep putting it offer for later.</p>
	<p>Even if you could figure out <strong>how to ask for a raise</strong>, you would still need to figure out so many other things...
	<ul>
		<li>When should you ask for a raise?</li>
		<li>Do you even deserve a raise?</li>
		<li>How much should you ask for?</li>
		<li>What if they say no?</li>
	</ul>
	<p><strong>Get Your Next Raise</strong> includes 7 short lessons where I show <em>exactly</em> how to answer those questions and more. <em>Plus</em> it includes worksheets and email templates to walk you through the process of asking for your raise.</p>
	<p>Here's what you'll learn in each lesson:</p>
	<ul class="checkbox-list">
		<li class="checkbox-list__item"><strong>Lesson 1: Start now</strong>—How <em>Get Your Next Raise</em> will get you un-stuck.</li>
		<li class="checkbox-list__item"><strong>Lesson 2: Estimate your market value</strong>—The first step to determine how much to ask for.</li>
		<li class="checkbox-list__item"><strong>Lesson 3: Set your goal</strong>—Now that you know your market value, you can set your goal—your target salary—so you ask for the right amount.</li>
		<li class="checkbox-list__item"><strong>Lesson 4: Build your case</strong>—Show your boss you <em>deserve</em> a raise.</li>
		<li class="checkbox-list__item"><strong>Lesson 5: Put your case in writing</strong>—Combine your target salary, accomplishments and accolades into a single email template to make your case for your next raise.</li>
		<li class="checkbox-list__item"><strong>Lesson 6: Ask for your raise</strong>—How to ask your boss for the raise you deserve and follow up to get a definitive result.</li>
		<li class="checkbox-list__item"><strong>Lesson 7: Plan your next steps</strong>—Learn exactly how to respond if your boss says no or asks you to wait a little longer.</li>
	</ul>
</div>
	
{% include get_your_next_raise/get_your_next_raise_offer.html %}

<div class="container container--normal">
	{% include testimonials/john_li.html %}
</div>

{% include featured_logos.html %}

<div class="container container--normal">
	{% include testimonials/thai_wood.html %}
</div>

<link rel="stylesheet" href="/css/flexbox_pricing_grid.css">