<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
		{% include fsn_banner.html %}
    <div class="page-content">
      <div class="wrapper">
				<section class="blue hero">
			    <div class="container container--normal">
			      <h1>{% if page.headline %}{{ page.headline }}{% elsif page.title %}{{ page.title }}{% else %} Fearless Salary Negotiation {% endif %}</h1>
			      {% if page.tagline %}
						<h2>{{ page.tagline }}</h2>
						{% else %}
						<br><br>
						{% endif %}
			    </div>
				</section>
				
				<section class="white">
				  {{ content }}
				</section>
			</div>
    </div>

    {% include footer.html %}
		
		{% include additional_js_and_css.html %}
  </body>
</html>