---
layout: default
title: Get better candidates, close more placements
tagline: Help your candidates ace their interviews and avoid common salary negotiation mistakes
excerpt: Help your candidates get better job offers and negotiate higher salaries and they won't forget it.
---
<div class="container container--normal">
  <p>You found the perfect opportunity for the right candidate and scheduled an interview. Then you got the call: "Sorry, but we're not interested in moving forward with this candidate."</p>
	<p><strong>What happened?</strong></p>
	<p>You know they're the right candidate, so something must have gone wrong in the interview.</p>
	<p>Or maybe the interview goes well, so you call your client to talk about compensation only to find out the candidate already set the bar really low.</p>
	<p><strong>Why did they do that?</strong></p>
	<p>There's just no way you can work with every single candidate to prepare for every single interview. But you <em>need</em> them to be prepared and to stand out.</p>

	<h2>Your candidates can excel in every interview while avoiding salary negotiation mistakes</h2>
	<p><strong>Job interviews and salary negotiations don't have to be pitfalls for your candidates.</strong> Instead, they can be opportunities to shine and become great placements with a great salary.</p>
	<p>And when you provide better candidates who become great placements, your clients and candidates will call you first the next time they're looking for a match.</p>

	<h2>Fearless Salary Negotiation will get you better candidates and help you close more placements</h2>
	<p>How? Not only will they become better interviewers and negotiators, they'll have everything they need to pursue their next raise or promotion in their new roll. They will literally become better by working with you.</p>
	<p>And because <em>you</em> gave them the tools to improve, they'll come back to you next time they want to make a change.</p>
	<p>You'll close more placements because your candidates will be exceptional in their interviews and negotiations. Your clients will call you first when they have new openings to fill.</p>

	{% include testimonials/patrick_mckenzie_short.html %}

	{% include book_contents.html %}

	<h2>Common questions and answers about <em>Fearless Salary Negotiation</em></h2>
	<p><strong>What if I'm handling the salary discussion?</strong> No problem. Just tell your candidate to avoid common pitfalls like discussing salary requirements without your input, and let them shine in the interview so you can negotiate the best salary for them.</p>
	<p>And <em>Fearless Salary Negotiation</em> will give you more tools to negotiate the best compensation package possible for all of your candidates.</p>
	<p><strong>Does <em>Fearless Salary Negotiation</em> work?</strong> It works extremely well. You can read all about it in the success stories on the <a href="{{ site.baseurl }}/testimonials/">testimonials</a> page.</p>
	<p>Josh C. is a Senior Business Development Executive and Harrison is a recent college grad:</p>

	{% include testimonials/josh_c.html %}
	
	<p><strong>When should I give my candidates <em>Fearless Salary Negotiation</em>?</strong> The earlier, the better. There are two main reasons:</p>
	<ol>
		<li>By giving your candidates something so valuable early in your relationship, you'll stand out as someone who is doing everything you can to set them up for success.</li>
		<li>The earlier they can start preparing, the better they'll perform in their interviews and salary negotiations.</li>
	</ol>
	<p>Better candidates. More placements.</p>
	<p><strong>Do I get a discount if I buy in bulk?</strong> Yes! I offer discounts on bulk orders of 100 or more copies. Click <a href="{{ site.baseurl }}/recruit/order">Prefer to buy in bulk (100+ copies)?</a> to learn more.</p>
	<p>Justin didn’t even read the whole book—he just skimmed two chapters—and he made another $11,000.</p>

	{% include testimonials/justin_abrahms.html %}
</div>
    
<a name="purchase"></a>
<div class="dark individual">
  <div class="container container--normal">
    
    <h2 class="packages__title">Fearless Salary Negotiation</h2>
    <p class="packages__subtitle">Get better candidates, close more placements</p>
		
      <a href="{{ site.baseurl }}/amazon/" class="button button--bright package__button">
        <span class="package__button-price"><i class="fa fa-amazon"></i></span>
        <span class="package__button-text">Buy on Amazon</span>
      </a>
			
			<br><p class="u-center"><strong><a href="{{ site.baseurl }}/recruit/order">Prefer to buy in bulk (100+ copies)?</a></strong></p>
  </div> 
</div>

<div class="container container--normal">
	<h2>Who are you and why should I buy from you?</h2>
	<p><img src="{{ site.baseurl }}/images/josh-doody-200px-circle.png" style="padding-right: 10px;" width="125" alt="Josh Doody headshot" class="author__image" align="left"><strong>I'm Josh Doody</strong>—a Computer & Electrical Engineer, MBA, author, and consultant. I didn't negotiate my salary at my first few jobs, but quickly realized I had left a lot of money on the table. <strong>I began negotiating and I doubled my salary in three years.</strong></p>
	<p>With the experience and confidence I gained from doubling my own salary, I began helping others make thousands more dollars as well. You can read their stories on the <a href="{{ site.baseurl }}/testimonials" target="_blank">testimonials page</a>.</p>
	<p>I took everything I learned from my own experience and helping others and wrote <strong><em>Fearless Salary Negotiation</em>, a #1 Best Seller on Amazon</strong>. My book, courses and 1-on-1 coaching have helped many people earn tens of thousands more dollars, and <em>Fearless Salary Negotiation</em> can help you too!</p>

	{% include testimonials/jared_allen.html %}

	<h2>PS Ready to get better candidates and close more placements?</h2>
	<p><em>Fearless Salary Negotiation</em> will make your candidates better interviewers and negotiators. And both your clients <em>and</em> your candidates will thank you for finding such great matches.</p>
	<p><a href="#purchase">Click here to order now.</a></p>
</div>